[2017-10-30 17:03] #834 closed, assigned to nobody

[2017-10-30 18:08] matthewp opened #1045 "Verify donejs-chat and place-my-order guides work with donejs@beta"
Go through the guides making sure they still work. When prompted use `donejs@beta` instead of `donejs` in the npm install. Everything else should remain the same.

[2017-10-31 12:20] matthewp commented on #787
@frank-dspeed this is not the issue to bring up such questions.

[2017-10-31 17:14] frank-dspeed opened #1046 "Networking with incremental Rendering?"
# Question about Networking
I have a little design Question as a Network Engineer i am wondering about how you overcome this fact
That a Stream that not ends will simply make the Site load as long as you stream.

## Little Importent base knowleg about TCP/IP -> HTTP Implamentation
Dependencys inharitance the express -> http -> net

## The Problem with write Streams
When you write out some data via

[2017-10-31 17:17] matthewp commented on #1046
Is your question about the browser `load` event? The html request is ended before the incremental rendering is complete. The streams don't all have to end at the same time. html request ends, page's load event is fired, and mutations continue until they are finished.

[2017-10-31 17:55] matthewp commented on #1041
I will fix the steal issue as part of my current sprint.

[2017-10-31 17:56] matthewp commented on #1039
Thanks, hope to look into this one soon.

[2017-10-31 17:57] #1038 closed, assigned to nobody

[2017-10-31 17:57] matthewp commented on #1036
Does this happen in dev? I'm thinking about adding a timeout and debug information to done-autorender when in dev mode. That would have hopefully surfaced this problem.

[2017-10-31 18:00] matthewp commented on #1032
Not sure when this stopped happening but doesn't appear to be a problem any more.

[2017-10-31 18:00] #1032 closed, assigned to nobody

[2017-10-31 18:01] matthewp commented on #1046
Going to close because I don't see a feature request or a bug report here, happy to continue discussing in the closed thread though.

[2017-10-31 18:01] #1046 closed, assigned to nobody

[2017-10-31 18:05] matthewp commented on #787
# Release process

All of these need to be released, along with release notes

* [x] - done-ssr
* [x] - done-ssr-middleware
* [x] - done-serve
* [x] - done-autorender
* [x] - donejs-cli
* [x] - [bit-docs-donejs-theme](https://github.com/donejs/bit-docs-donejs-theme) (including updating the dropdown to include the ssr react guide)
  * [x] - update donejs/donejs to use the new theme version
* [x] -

[2017-10-31 18:23] matthewp commented on #1005
@James0x57 @justinbmeyer My above comment is the only actionable thing I got from this. I'm going to create an issue in can-zone about adding that warning. Let me know if there's anything else than can be done to aid with this.

[2017-10-31 18:24] matthewp commented on #1007
This is complete.

[2017-10-31 18:24] #1007 closed, assigned to nobody

[2017-10-31 18:28] Sinjhin commented on #1045
# Quick start guide
- [ ] Getting a warning right after app generator runs on first load
[code]

- [x] Getting this warning when switching tabs immediately after adding the tabs in the "Update the Page" section of the quick start
[code]
- [ ] Getting these warning all the time:
  - `can-log.js:105 WARN: The helper isProduction has already been registered.`
  - `WARN: Custom tag: chat-messages is a

[2017-10-31 18:34] matthewp commented on #1001
You can add this metadata in your `index.stache` already. How do you think donejs should assist with this?

[2017-10-31 18:52] matthewp commented on #1000
@roemhildtg where did you get with this? Do you like the solution you came up with or do you have something more for this general issue?

[2017-10-31 19:17] green3g commented on #1000
I am pretty happy with what I came up with for the moment. I've moved all of my internal apps to use the can-navigate package and have added a lot of updates...I haven't updated the github version with my latest changes, but since I've posted that, I've incorporated a better navigation system, authentication, and other features. I gotta say having everything in a client side canjs based app is qui

[2017-10-31 19:21] matthewp commented on #998
We're not going to restrict the names people can use for donejs repositories, nor do github repository names interfere with generators.

[2017-10-31 19:21] #998 closed, assigned to nobody

[2017-10-31 19:22] matthewp commented on #1000
Great to hear!

[2017-10-31 19:25] matthewp commented on #983
@chasenlehara do you still plan on working with a designer on this? Otherwise I might take this myself and do option #2.

[2017-10-31 19:26] matthewp commented on #996
What are you suggesting exactly? What would `done-release` do?

[2017-10-31 19:28] #975 closed, assigned to nobody

[2017-10-31 19:37] chasenlehara commented on #983
@matthewp I don’t have any plans to work on this right now, so please feel free to take it and ask a designer for help. 😊

[2017-10-31 19:39] #971 closed, assigned to nobody

[2017-10-31 19:47] matthewp commented on #962
Issue moved to [donejs/donejs-firebase #21](https://github.com/donejs/donejs-firebase/issues/21) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-31 19:47] #962 closed, assigned to nobody

[2017-10-31 19:51] matthewp commented on #983
![screen shot 2017-10-31 at 3 49 10 pm](https://user-images.githubusercontent.com/361671/32245722-04f98b80-be53-11e7-82bb-0b92435f54c6.png)

@adrifolio @tomgreever @ryangwilson Any ideas on how to make it more obvious that the Android button above is a download link?

[2017-10-31 19:53] andrejewski commented on #983
Maybe use a [download symbol](https://www.google.com/search?q=download+symbol&sa=X&tbm=isch&tbo=u&source=univ&ved=0ahUKEwj-4c3O0ZvXAhUI7YMKHfsdDhEQsAQIJw&biw=1440&bih=826)?

[2017-10-31 19:57] matthewp commented on #948
Is this issue reporting a generator issue or something else? If this is reporting a model issue, the generator no longer puts it in the static props: https://github.com/donejs/generator-donejs/blob/33cdf07aeacd6303abdd91572466d6effeca35ce/supermodel/templates/model.js#L18

[2017-10-31 19:58] adrifolio commented on #983
Yes, download icon and "For" at the beginning. Like this:

<img width="197" alt="screen shot 2017-10-31 at 2 57 47 pm" src="https://user-images.githubusercontent.com/950214/32246118-f250ac9a-be4b-11e7-9e11-de9f23f3e5a1.png">

[2017-10-31 20:04] adrifolio commented on #983
And for the other cases:
<img width="896" alt="screen shot 2017-10-31 at 3 04 28 pm" src="https://user-images.githubusercontent.com/950214/32246410-db8a45ce-be4c-11e7-98cb-5488a6522eaf.png">

[2017-10-31 20:09] matthewp commented on #944
Created https://github.com/donejs/generator-donejs/issues/271 to fix it in the generator first, then can update the guide.

[2017-10-31 20:10] matthewp commented on #983
Awesome suggestions @adrifolio! Do we have those two icons available anywhere?

[2017-10-31 20:15] matthewp commented on #941
yesh, we should either remove that line or link to an updated version of that sort of guide.

[2017-10-31 20:22] matthewp commented on #1045
The `@isActive` warning is coming from bit-tabs, issue: https://github.com/bitovi-components/bit-tabs/issues/26

Think you can take this one @Sinjhin ?

[2017-10-31 20:24] matthewp commented on #1045
Electron issue: https://github.com/donejs/donejs-electron/issues/18

[2017-10-31 20:40] adrifolio commented on #983
@matthewp the "open in a new window" icon yes. Right here:
https://github.com/donejs/bit-docs-donejs-theme/blob/master/static/img/icon-open-in-new-white.svg

The download icon, I didn't find it in that location, so I doubt it anywhere else, but I can post here the .svg asset right in here.

[2017-10-31 20:44] Sinjhin commented on #1045
# In-Depth Guide
- [ ] Getting these warnings
  - `extend ' .clearfix' has no matches`
  - `can-log.js:105 WARN: "state" is not in the current scope, so it is being read from the parent scope.`... Same with `slug`, `statusTitle`, `action`, `emptyMessage`
  - `WARN: can-component: Assigning a DefineMap or constructor type to the viewModel property may not be what you intended. Did you mean ViewMode

[2017-10-31 20:49] adrifolio commented on #983
@matthewp I can't post an `.svg` here. But I can open a PR on that repo with the new icon. Let me know if that works.

[2017-10-31 21:01] matthewp commented on #983
@adrifolio that works very well, thanks!

[2017-11-01 08:48] frank-dspeed commented on #1000
@roemhildtg i will update you in some weeks when its more polished i got can-webcomponet done and i am now able to combine any app can. angular vue as webcomponent.

Also did some helpers to use donejs modlet structure and stuff like can-define-webcomponent, and can-stache elements.

It allows Ultra Fast Inital SSR and also allows to return diffrent inital state then attached.

For Example Render

[2017-11-01 08:54] frank-dspeed commented on #998
@phillipskevin but you remember that the donejs binary will auto install and download packages called donejs-* ?

but ok its fine for me as i don't rellay on that tooling feel free

[2017-11-01 08:55] frank-dspeed commented on #1001
@matthewp i propose to do that for the donejs sites so they are share able? i tryed sometimes to share and got no good results thats why i stoped sharing i think the whole community will have the same issue :)

[2017-11-01 08:57] frank-dspeed commented on #1046
@matthewp where will that mutation happen who is sender and reciver?

[2017-11-01 08:58] frank-dspeed commented on #1046
@matthewp is this only about incremental rendering of ndjson or incremental rendering in general?

[2017-11-01 09:08] frank-dspeed commented on #1000
i think this can be closed in favor of using webcomponents and alternativ routing solutions
https://github.com/canjsx/canjsx will have some code examples about that

[2017-11-01 09:08] #1000 closed, assigned to nobody

[2017-11-01 12:50] matthewp opened #1047 "donejs@beta - styles not appended to head in production mode"
https://github.com/donejs/donejs/issues/787

Going through the chat guide, when in production mode the `<link>` tags are not appended in production mode.

[2017-11-01 12:50] matthewp commented on #1047
Will create an issue in done-ssr when I find the actual problem there.

[2017-11-01 14:33] matthewp commented on #1047
https://github.com/donejs/done-ssr/issues/416 is the underlying issue, will track the fix there.

[2017-11-01 14:33] #1047 closed, assigned to nobody

[2017-11-02 13:09] matthewp commented on #1045
@Sinjhin I made that change to donejs-electron and release it, didn't help. I think the issue might be with donejs-cli now, because when it fails, donejs-electron is not installed.

[2017-11-02 17:21] matthewp commented on #1045
@Sinjhin is testing out a fix. The fix is to remove the `--no-shrinkwrap` flag here: https://github.com/donejs/cli/blob/99110c91b14b823f4b37fdfca30a4695572d2c07/lib/utils.js#L65

[2017-11-02 18:03] matthewp commented on #1001
Oh ok, for the donejs website, got it.

[2017-11-02 18:19] matthewp opened #1048 "Improvements to debugging zone issues"
This issue seeks to improve the debugging experience when you encounter zone related issues.

# The Problem

When a donejs application doesn't complete loading in the browser it can be a head-scratching experience. The application might *appear* done, the UI is there (from ssr) but you can't interact with this. This is often caused by the fact that rendering did not complete within [done-autorende

[2017-11-02 19:02] matthewp commented on #1039
@Psykoral are you still encountering issues with can-dynamic-imports and live-reload?

[2017-11-02 19:49] matthewp opened #1049 "SSR Tips and Tricks guide"
tldr; create a guide for SSR best practices to help with common needs and with debugging problems.

# The Problem

Server-side rendering is one of donejs' best features. This is because it runs your application in a virtual dom that looks like a real dom, and uses zones to know when it completes. However there are times when you need to do things slightly different when in ssr, or you have a libra

[2017-11-02 22:22] Psykoral commented on #1039
I am. Have there been any updates to it that I should be aware of that would resolve it? Has anyone else been able to reproduce it?

[2017-11-03 15:00] justinbmeyer opened #1050 "Proposal: Rapid Prototyping with Scaffolding (can-crud)"
__tldr;__ Create some custom elements that help prototype Creating, Updating, Reading, and Deleting (CRUD) model and other observable data.  This will make both bootstrapping an application and creating demo pages easier.

[Related Proposal: generate bidirectionally bound html form from map](https://github.com/donejs/donejs/issues/1010)

## Proposal

We propose 5 components:

- `<can-create Type:f

[2017-11-03 21:00] tracer99 opened #1052 "Configuring xhr cache keys differently for client vs. server."
This is a feature request.

Our paths on the server are different than the client.

Meaning, our hostnames on the server are behind a load balancer and use internal names. This is problematic because the XHR cache uses the full url as the key, including the hostname. Once on the client, the hostname is the publicly visible hostname which doeesn't match our internal name. Rendering the XHR cache us

[2017-11-06 13:16] matthewp commented on #1045
These are passing now: https://travis-ci.org/donejs/donejs/jobs/296979454

[2017-11-06 13:16] #1045 closed, assigned to Sinjhin

[2017-11-08 13:46] matthewp commented on #787
This was released.

[2017-11-08 13:46] #787 closed, assigned to nobody

[2017-11-08 17:32] matthewp commented on #1039
There haven't been, just making sure before I tackled it.

[2017-11-08 21:35] imaustink commented on #1039
Closed via https://github.com/stealjs/steal/pull/1296

[2017-11-08 21:37] #1039 closed, assigned to imaustink

[2017-11-08 21:44] imaustink commented on #1039
Hi @Psykoral, this issue has been fixed and we will be releasing a new version tomorrow.

[2017-11-08 21:56] Psykoral commented on #1039
Fantastic! You guys rule, as usual. Thanks so much!

[2017-11-09 22:40] chasenlehara commented on #1039
This was released in [steal 1.5.17](https://github.com/stealjs/steal/releases/tag/v1.5.17)

[2017-11-10 16:40] Sinjhin opened #1054 "Live Reload Breaks on LESS Error"
__How often can you reproduce it?__

- [X] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__
When a LESS error occurs live reload will break and a full reload is needed after fixing the error in order to have live reload start working again.

__Steps to reproduce:__
- Start a new DoneJS app with the generator and get the hello world page loaded and changing with

[2017-11-10 16:42] Sinjhin commented on #1054
Actually it looks like this will completely break and not allow a page reload (even after the less error is fixed) until `done-serve` is relaunched with `donejs develop`.

[2017-11-10 17:48] Sinjhin opened #1055 "Live Reload does not update code in Dev Tools source"
__How often can you reproduce it?__

- [X] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__
When you are debugging code using Chrome Dev Tools' source tab and have live reload enabled it will not show the new code after changes. This is especially noticeable when putting in `debugger` statements.

__Steps to reproduce:__
- With a new donejs generated app, open

[2017-11-10 18:59] matthewp commented on #1055
I think this is only true of ES modules, because of source maps.

[2017-11-12 14:12] frank-dspeed commented on #996
@matthewp it would create symantic releases that means it would allow to more frequently update canjs/canjs and automatic handle versioning based on commit tags this is a ideal fit to spead up overall development and make it all more solid

watch here:
https://github.com/canjs/canjs/issues/3428

[2017-11-15 00:47] frank-dspeed opened #1056 "Help me to integrate feathers 3"
I am a bit confused i have in package.json
 "feathers-client": "https://github.com/feathersjs/client#master",
Could that be the error that this don't get right parsed?

[code]

[2017-11-15 17:57] chasenlehara commented on #1055
Related issue: https://github.com/stealjs/steal-tools/issues/832

[2017-11-15 18:05] matthewp commented on #1055
Is it? I think that issue doesn't require live-reload.

[2017-11-15 18:22] chasenlehara commented on #1055
Sure, but it’s the “same” issue in that source maps aren’t working in ES modules, right? I’d kind of expect https://github.com/stealjs/steal-tools/issues/832 to be fixed before we could fix this one.

[I left that comment because I wanted to be able to find both issues easier from each other. 😊]

[2017-11-15 18:31] matthewp commented on #1055
No, source maps do work for ES modules in general, they don't work in one particular scenario though.

[2017-11-16 17:17] matthewp commented on #1056
Not sure if this is feathers related... if you point to master like that for *any* module does it work? A steal bug perhaps?

[2017-11-17 21:54] frank-dspeed commented on #1056
@matthewp oh sorry forgotten that i opened that here it was a feathers bug they did set main wrong i simply don't expected that from them as they are running automated tests and that will in future not depend on the code of them anymore did forks.

[2017-11-17 21:56] matthewp commented on #1056
Ok, so it sounds like this was resolved, thanks.

[2017-11-17 21:56] #1056 closed, assigned to nobody

[2017-11-20 16:33] #1054 closed, assigned to Sinjhin

[2017-11-21 13:43] matthewp opened #1057 "Tests currently failing in CI"
https://travis-ci.org/donejs/donejs/builds/305017798

[2017-11-21 13:46] frank-dspeed opened #1058 "PR: Unikernel Support"
This informs you about my upcoming PR for unikernel support for DoneJS Applications

## Short info about unikernel
Its Compiling a DoneJS Application into a Unikernel Application with direct HyperVisor support.
That means simply we abstract Linux Away :+1:  this is needed for some performance gains in production and allows us better to run on custom network stacks that are none standart like the M

[2017-11-21 13:54] matthewp commented on #1058
I find this difficult to believe.

[2017-11-21 13:59] matthewp commented on #1057
`npm run document` is failing, I think it's the cause here. Running a test without to see if it is the cause, in the meantime will try and figure out what it's issue is. https://travis-ci.org/donejs/donejs/builds/305290085

[2017-11-21 14:31] matthewp commented on #1057
Yeah, so `npm run document` *is* the cause. Looking into why.

[2017-11-21 14:49] frank-dspeed commented on #1058
@matthewp its simply supplying a extra compilation step like done-nw
done-unikernel

unikernels as virtual machines on OpenStack, VirtualBox, QEMU, AWS, vSphere, ukvm, and Xen. Unikernel incorporates work from the Rumprun, OSv, IncludeOS, and MirageOS projects

[2017-11-21 14:53] matthewp commented on #1057
The cause is this: https://github.com/canjs/can-stache/blob/2252d8ec4f7dd88acffa5486d523daf14430ce1d/src/expression.js#L313 This is removed in builds, leaving a dangling comma. I think it's the older version of esprima that has issues with this, going to try upgrading transpile.

[2017-11-21 14:53] frank-dspeed commented on #1058
@matthewp google about it nodejs unikernel or look into moby/linuxkit which is even a prestate of unikernel containers maybe that is of interrest for you but on the long run we want to encapsulate OS + Software and run it without additions. We call that Unikernel its simply something you can directly boot.

[2017-11-21 15:33] frank-dspeed commented on #1058
## Motivation for this is
- The Raise and Fall of the Operating System => http://www.fixup.fi/misc/usenix-login-2015/login_oct15_02_kantee.pdf

[2017-11-21 16:43] justinbmeyer commented on #1058
@frank-dspeed cool ... do you have plans to run an app in one of those environments?

[2017-11-21 17:38] frank-dspeed commented on #1058
@justinbmeyer yes sure i do that always i was one of dockers first adopters i am much into devops and deployments i will run for example custom vending machines and ATM's with that. As Also pos systems and other Hardware Based Terminals that Offer User Input.

[2017-11-21 17:39] frank-dspeed commented on #1058
@justinbmeyer its a general fit for every Company desktop that needs to run a single application or for single application servers. That means This Will also be the final ChromeOS when we simply have a unikernel Chrome version

[2017-11-21 17:40] frank-dspeed commented on #1058
A Later future vision is to have a WebApplication including remote web Applications as Components so you have all apps in place on custom desktops

[2017-11-21 18:41] matthewp commented on #1057
Fixed by https://github.com/canjs/can-stache/pull/385

[2017-11-21 18:42] #1057 closed, assigned to nobody

[2017-11-22 02:30] chasenlehara opened #1059 "Regression loading Bootstrap & jQuery"
__Steps to reproduce:__

1. Clone https://github.com/riescorp/jquery-fail
2. `npm install && donejs develop`
3. Load http://localhost:8080/ in your browser

__Expected results:__

Page would load without errors.

__Actual results:__

SSR error in the console:

[code]

__Notes:__

If I pin these three dependencies to exact versions and reinstall all modules, it starts working correctly:

[code]

[2017-11-22 13:31] matthewp commented on #1059
I'm looking into it.

[2017-11-22 13:36] matthewp commented on #1059
Underlying issue: https://github.com/donejs/done-ssr/issues/434

[2017-11-22 19:06] matthewp commented on #1059
Fixed by https://github.com/donejs/done-ssr/releases/tag/v1.3.1

[2017-11-22 19:06] #1059 closed, assigned to matthewp

[2017-12-11 08:29] frank-dspeed opened #1061 "PR: GPU Support - Please Add Locations that are worth"
I would like to perform as much operations that are array like in the GPU now i need to collect places that would benefit from that Please.

## Current State
- can-queue (Always)
- can-define (if type array like list)

[2017-12-11 09:43] frank-dspeed commented on #1061
Awww found out this needs to get into a extra module CUDA Converting is to expensive

[2017-12-11 09:43] #1061 closed, assigned to nobody

[2017-12-13 19:19] tracer99 opened #1062 "The new console warnings have a huge amount of false positives"
__How often can you reproduce it?__

- [ X ] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__
The console warnings are drowning us in useless errors like:

` title="" is deprecated. Use title:from="''" instead`

Thousands of lines of warnings for every prop that is not a stache binding.

Note, that the above is a custom tag and not a standard HTML tag.

__Envir

[2017-12-13 19:56] matthewp commented on #1062
@justinbmeyer @chasenlehara @phillipskevin Anyway we can check to see if the ViewModel contains the property before we give this warning? Multiple people have complained about it being too verbose.

[2017-12-13 20:02] phillipskevin commented on #1062
Perhaps we should just remove this warning for now until we find a better solution.

[2018-01-02 17:46] #1062 closed, assigned to chasenlehara

[2018-01-02 18:51] chasenlehara commented on #1062
@tracer99 & @jeroencornelissen, as of [can-stache-bindings 3.11.9](https://github.com/canjs/can-stache-bindings/releases/tag/v3.11.9), the warning should only appear when that property is defined in your viewmodel, so I don’t think there will be any false positives. Please let me know if you’re still seeing any false positives. 🙂

[2018-01-04 18:50] ilyavf opened #1064 "Live reload gets broken after browser refresh"
__How often can you reproduce it?__

- [x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__

I just generated a new app project with DoneJS@1.1.0. Live reload works well for the 1st time in browser, but when I hit browser refresh it stops working (till I restart DoneJS server).

__Steps to reproduce:__

1. Generate DoneJS app
2. Run `donejs develop`
3. Open `lo

[2018-01-04 18:55] matthewp commented on #1064
Thanks, I'll look at it.

[2018-01-04 19:21] matthewp commented on #1064
The socket now emits an `error` event when the connection gets disconnected. I'm not sure if this is caused by some change in our websocket library `ws`, or a change in Node, or a change in Chrome. Looking more into it to figure out what the best solution is.

[2018-01-04 19:32] matthewp commented on #1064
It looks like if we close the websocket in the `beforeunload` window event it will prevent this error from occurring.

It still feels to me like this should be handled on the server though. Like what will happen if the connection is interrupted for some other reason.

[2018-01-04 19:38] matthewp commented on #1064
I think what I'm going to do is handle the event on the server and check if it is this type of error (connection abuptly ended as the socket not in "open" readyState).

[2018-01-04 19:40] matthewp commented on #1064
Underlying bug: https://github.com/stealjs/steal-tools/issues/912

[2018-01-04 19:56] matthewp commented on #1064
It was caused by a change in `ws`: https://github.com/websockets/ws/issues/1256#issuecomment-352337313

And also a bug in Chrome 63.

[2018-01-04 21:24] matthewp commented on #1064
This is fixed by https://github.com/stealjs/steal-tools/releases/tag/v1.10.1

![proof](https://user-images.githubusercontent.com/361671/34584924-a9dd4cc2-f16b-11e7-8263-4599970d33a4.gif)

[2018-01-04 21:24] #1064 closed, assigned to nobody

[2018-01-11 20:26] m-mujica commented on #1036
tried a few things and could not replicate, will leave open in case anyone has a breaking example I could use.

[2018-01-11 20:35] matthewp commented on #1036
Let's close for now until we get something reproducible, this has sat long enough.

[2018-01-11 20:35] #1036 closed, assigned to nobody

[2018-01-16 17:03] justinbmeyer opened #1065 "Chat Guide updates for CanJS 4.0"
- `route()` should be `route.register()`
[code]
- use `default` instead of value on:
[code]
- Prompt yes / no? ![donejs-chat_ _node_ _node____nvm_versions_node_v8_5_0_bin_donejs_add_supermodel_message_ _93x48](https://user-images.githubusercontent.com/78602/35016669-4d66f3a8-fadf-11e7-8b2f-20238b45138e.png)

[2018-01-16 23:15] justinbmeyer opened #1066 "DoneJS Chat real-time not working in FF"
The real-time behavior of donejs@pre doesn't seem to work in Firefox.

[2018-01-16 23:16] justinbmeyer commented on #1066
looks like it might be event handlers .. investigating ...

[2018-01-16 23:18] justinbmeyer commented on #1066
![donejs-chat](https://user-images.githubusercontent.com/78602/35017159-434379f8-fae1-11e7-85ef-f7763b1ac78d.png)

[2018-01-16 23:25] justinbmeyer commented on #1066
seems like a problem caused by `can-view-callbacks`. `processImport` is called with the wrong arguments `tagHandler(node, tagName, {})` ... no where do I see `tagName` as being passed?

[2018-01-16 23:43] justinbmeyer commented on #1066
Ok, so this seems like it is caused by one minor problem, and potentially a larger one.

The small problem is that `can-view-callbacks` calls with the wrong arguments as mentioned in the previous comment.

The larger problem is that SSR-rendered elements should __not__ be mounted via the  "automount" behavior.

Lets say I have a `my-element` custom element registered via `can-component`:

[code]

[2018-01-16 23:53] justinbmeyer commented on #1066
In case it's not clear.  Stache needs to do the mounting.  If had had a CanJS stache template like:

[code]

This might result in something SSR-ed like:

[code]

This can not be "element" mounted.  It needs to be mounted by stache to have the right bindings and such.

[2018-01-17 13:20] matthewp commented on #1066
We add a data attribute when incremental rendering as a way to configure reattachment. `<html data-incrementally-rendered>`: https://github.com/donejs/done-ssr/blob/2919952f2166cec5b2582b8ff648e57e7a5a2b0c/zones/push-mutations/reattach.js#L72

So I think adding something similar for this usecase makes sense. I think it would be better if can-view-callbacks did this itself. It could detect that it

[2018-01-17 13:22] matthewp commented on #1066
Alternatively it wouldn't be too bad if this were done in the canjs zone plugin in done-ssr: https://github.com/donejs/done-ssr/tree/master/zones/canjs

I don't prefer this though, because ideally it would be nice if done-ssr could no longer depend on canjs so that in the future it wouldn't need to ever upgrade when canjs has a major version bump. There are already only a few things that it does w

[2018-01-17 13:51] justinbmeyer commented on #1066
Yeah, sounds good. Can you make this change?

Sent from my iPhone

[2018-01-17 14:04] matthewp commented on #1066
Yeah, just trying to decide how best it is to detect when to add this configuration. Doing a `isNode` check feels slightly wrong to me. But then I can't think of a better way.

[2018-01-17 14:05] matthewp commented on #1066
It *might* make sense for done-autorender to do the setting. It is the thing that knows that it doesn't want the automount behavior.

[2018-01-17 14:12] matthewp commented on #1066
I think I'm going to do it that way for now, have done-autorender add the attribute and can-view-callbacks use it.

[2018-01-17 14:24] matthewp commented on #1066
Part 1/2: https://github.com/donejs/autorender/pull/109

[2018-01-17 14:40] matthewp commented on #1066
Part 2/2: https://github.com/canjs/can-view-callbacks/pull/80

[2018-01-17 18:59] justinbmeyer commented on #1065
- ![donejs-chat_ _node_ _node____nvm_versions_node_v8_5_0_bin_donejs_add_cordova_1_ _93x25](https://user-images.githubusercontent.com/78602/35061234-3ac93272-fb86-11e7-8abd-60a596432ef7.png) We should show the previously configured URL as the default.

[2018-01-17 19:29] #1066 closed, assigned to matthewp, phillipskevin

[2018-01-17 20:44] matthewp opened #1067 "2.0-pre - live-reload causes a Zone timeout when using can-connect"
Using can-connect will trigger a Zone timeout when live-reload occurs. I haven't gotten to the root of the problem yet. It seems like the fact that there are 2 zones running inside of done-autorender is causing the problem. There's a timeout that is set and later cleared. It is set by the child zone but cleared by the parent zone. How this mistake happens I'm not sure yet.

[2018-01-17 21:53] matthewp commented on #1067
This is a somewhat layered problem.  We have a couple of problems here:

1. When live-reload occurs that results in the `index.stache` being reloaded (which is most changes, since we reload all the way up to the root), we wind up rendering *twice*. One is the rendering that the index.stache kicks off itself... and another happens in done-autorender/init which sets up a live-reload listener.
2. can

[2018-01-17 22:06] matthewp commented on #1067
Underlying bug: https://github.com/donejs/autorender/issues/110

[2018-01-18 01:18] misternu opened #1068 "Typo in DoneJS Next Quick Start Guide"
Typo in the guide...
this:
[code]

maybe should be this:
[code]

[2018-01-18 01:18] misternu commented on #1068
https://donejs.github.io/next/Guide.html

[2018-01-18 01:22] matthewp commented on #1068
Ah, yes, thanks for catching

[2018-01-18 01:23] misternu commented on #1068
#1069

[2018-01-18 01:34] misternu commented on #1068
Probably disregard, apparently I was wrong about this

[2018-01-18 01:35] #1068 closed, assigned to nobody

[2018-01-18 02:46] justinbmeyer commented on #1065
- use `~/` for generated names instead of `donejs-chat/`.  Soooo many people used other names and then tried cut and pasting the code which didn't work.

[2018-01-18 15:31] matthewp commented on #1067
This was fixed.

[2018-01-18 15:31] #1067 closed, assigned to matthewp

[2018-01-18 17:16] matthewp commented on #1058
Closing this as there is no proposed change to DoneJS. Let us know if you build something like this though. Thanks.

[2018-01-18 17:16] #1058 closed, assigned to nobody

[2018-01-18 17:21] matthewp commented on #1048
This was completed some time ago.

[2018-01-18 17:21] #1048 closed, assigned to nobody

[2018-01-18 17:25] matthewp commented on #1040
@chasenlehara Can you do a release to get this fix in? Otherwise can you give me npm permissions on that repo?

[2018-01-18 17:26] matthewp commented on #1025
Do you remember what the astericks are even about @moschel ? What is their purpose?

[2018-01-18 17:35] matthewp commented on #1041
So in a 2.0-pre app we still get this:

<img width="460" alt="screen shot 2018-01-18 at 12 35 05 pm" src="https://user-images.githubusercontent.com/361671/35112432-043b2e10-fc4c-11e7-8f2b-eb7a8736cb99.png">

Not sure what to do about this one.

[2018-01-18 17:49] matthewp commented on #1055
Here's the underlying Chromium issue: https://bugs.chromium.org/p/chromium/issues/detail?id=438251 . Going to close as we can't do anything on our end to fix it.

[2018-01-18 17:49] #1055 closed, assigned to nobody

[2018-01-18 17:51] matthewp commented on #1021
Hey @imaustink, sorry for taking so long to reply. So, what donejs actually does it defer to donejs-cli. donejs-cli will look in `node_modules/.bin/` and then package.json's `.scripts`, for, in this case `app`. So the fact that it doesn't warn when it finds something is something we can (hopefully) fix in donejs-cli. Going to move this issue there.

[2018-01-18 17:51] matthewp commented on #1021
Issue moved to [donejs/cli #96](https://github.com/donejs/cli/issues/96) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-18 17:51] #1021 closed, assigned to nobody

[2018-01-18 19:08] matthewp commented on #1041
Blocked by https://github.com/canjs/can-reflect/issues/96

[2018-01-18 20:20] justinbmeyer commented on #1065
- Is `git` needed?  Does install work w/o git?

[2018-01-18 20:31] matthewp opened #1071 "Use bootstrap@3 in the guide - major branch"
This was fixed in master, need to fix in major.  https://github.com/donejs/donejs/pull/1070

[2018-01-19 14:11] matthewp commented on #806
The fundamental problem with 404s in DoneJS is the fact that can-route doesn't have a concept of 404s. To can-route *everything* is a valid route. So I don't think we can fix this in a non-kludgey way until we first fix can-route.

[2018-01-19 20:07] chasenlehara commented on #1040
I think I already released it (but I added you as an owner anyway). https://github.com/donejs/survey-ad/releases/tag/v0.2.0

[2018-01-22 13:06] matthewp commented on #1071
Fixed by https://github.com/donejs/donejs/pull/1072

[2018-01-22 13:06] #1071 closed, assigned to nobody

[2018-01-23 21:13] justinbmeyer commented on #800
Another thing might be adding `can-debug` so it loads only in dev-mode.

[2018-01-23 22:33] matthewp commented on #800
How would that work?

[2018-01-24 03:35] justinbmeyer commented on #800
@matthewp one of the two ways @m-mujica suggested in CanJS debugging guide:

<img width="691" alt="canjs_-_debugging_guide" src="https://user-images.githubusercontent.com/78602/35313321-542fd0aa-0085-11e8-8f8a-594477f8c5e5.png">

[2018-01-25 17:15] matthewp opened #1073 "Proposal: Improved error messages and handling"
__tldr;__ put some effort into improving our error messaging across the board in DoneJS, but especially in StealJS and done-ssr.

# The Problem

*live-reload* is a fantastic tool for helping with rapid development of application. But if your app gets into an awkward state, like when you have a syntax error, it can be difficult to understand what the problem is and figure out how to fix it.

# The

[2018-01-25 17:22] justinbmeyer commented on #1073
Could we switch to `development.html` automatically, or provide a link if there's an error?

[2018-01-30 13:23] matthewp commented on #800
@justinbmeyer I wasn't asking so much how would can-debug be loaded but what does the user experience feel like here. Does merely loading can-debug have some side-effect that is desirable? Do users have to call any methods? If so, do those methods go away when can-debug is not part of the production build?

Probably better to discuss this idea in a separate issue.

[2018-01-30 15:22] phillipskevin commented on #800
`can-debug` sets `window.can` with the `can-namespace` and debug methods.

[2018-01-30 15:55] justinbmeyer commented on #800
Yeah, and it warns if people access the global `can` object's properties so people don't mistakingly use them in their modules.

[2018-01-30 17:56] matthewp opened #1074 "Including can-debug in dev mode"
There's some interest in seeing this, I would like to discuss what that looks like from a user's perspective. How will they be using this?

[2018-01-30 17:56] matthewp commented on #1074
Adding it to the donejs 2 release, provided we can figure out the use-case. If not it can wait for a minor release (as it's not breaking).

[2018-01-30 17:56] matthewp commented on #800
I created https://github.com/donejs/donejs/issues/1074

[2018-02-06 17:45] justinbmeyer commented on #1050
[code]

[2018-02-08 18:41] matthewp commented on #1074
@justinbmeyer @phillipskevin You both commented about this in another issue. What is the *goal* for this feature? Are we including it for the sake of it being on `window.can`?

Should we include a bigger debugging guide in donejs for this some how? I'm thinking that when you launch the app for the first time it includes a message in the console that tells you about `window.can` and maybe points to

[2018-02-08 19:58] phillipskevin commented on #1074
The goal I had in mind was setting up `window.can`, yes.

[2018-02-09 13:56] matthewp commented on #1041
Newest release of donejs@pre doesn't have any warnings now:

![screen shot 2018-02-09 at 8 55 25 am](https://user-images.githubusercontent.com/361671/36030956-276bd02e-0d77-11e8-9e05-d9dd83fc998d.png)

[2018-02-09 13:56] #1041 closed, assigned to matthewp

[2018-02-10 22:10] 0joshuaolson1 commented on #728
For testing accessibility, [plenty of tools](https://github.com/collections/web-accessibility) are a good starting point to fix that.

They would, however, miss more manual/design QA problems like the website's approach to feedback. ("This unlabelled logo looked like a contrast toggle, so I accidentally visited another website; also there's no direct link to an issue tracker.")

This seems like a

[2018-02-14 15:53] matthewp commented on #1065
Git dep issue: https://github.com/donejs/done-ssr/issues/493

[2018-02-14 20:10] matthewp commented on #1065
These issues have all been resolved.

[2018-02-14 20:10] #1065 closed, assigned to nobody

[2018-02-14 20:11] matthewp commented on #1074
Let's go with using steal-conditional if possible.

[2018-02-15 13:28] matthewp commented on #655
Fixed in 4335f313a0450544b62d7a50ac61cf6ff0f8b52e

[2018-02-15 13:28] #655 closed, assigned to nobody

[2018-02-15 13:47] matthewp commented on #640
@m-mujica Link to this issue when you do the guide updates for this.

[2018-02-15 13:48] matthewp commented on #1074
@m-mujica This will be yours when you finish the generator stuff. I think trying for using steal-conditional would be nice. You'd have to update generator-donejs to include steal-conditional in the configDependencies and donejs/cli's package.json.donejs deps to include it there as well.

[2018-02-15 21:04] #640 closed, assigned to m-mujica

[2018-02-15 23:28] m-mujica commented on #1074
- https://github.com/donejs/cli/pull/99
- https://github.com/donejs/generator-donejs/pull/278

![screen shot 2018-02-15 at 4 23 59 pm](https://user-images.githubusercontent.com/724877/36286482-36de950a-126d-11e8-9306-10bb2c5fc06e.png)

(I also tried the built version and it works as expected)

[2018-02-16 15:55] matthewp commented on #1074
@m-mujica do any of the guides need to be updated (the code samples) to reflect this change? I would think the app.js' would, right?

[2018-02-16 16:19] matthewp opened #1078 "Change names of travis-to generators"
Update the donejs generators that do CD to: donejs-travis-deploy-to-heroku and donejs-travis-deploy-to-firebase

Update the guides where appropriate.

[2018-02-16 20:25] matthewp opened #1079 "DoneJS 2.0 Migration Guide"
Create a migration guide similar to the 1.0 one that mostly points to the CanJS 4.0 migration guide.

[2018-02-18 12:59] justinbmeyer commented on #1050
https://forums.donejs.com/t/help-to-get-started/811/2

The [previous live stream (49:09)](https://youtu.be/ieZJrPwSZYQ?t=49m09s).

[2018-02-19 15:00] matthewp commented on #535
Now that there are codemods in canjs we could have that as part of this.

Probably by default? Can't see why not.

[code]

Without codemods:

[code]

[2018-02-20 13:03] matthewp commented on #535
Fixed in #1080

[2018-02-20 13:03] #535 closed, assigned to nobody

[2018-02-20 16:43] matthewp commented on #1078
@m-mujica don't forget this one :D

[2018-02-20 17:09] matthewp commented on #1079
Closed by #1081

[2018-02-20 17:09] #1079 closed, assigned to matthewp

[2018-02-20 20:20] matthewp commented on #800
Packages:

- [x] - done-component
- [x] - done-autorender
- [x] - done-ssr
- [x] - done-ssr-middleware
- [x] - done-serve
- [x] - generator-donejs
- [x] - steal-conditional (release as 1.0)
- [x] - donejs-cli (update steal-conditional)
- [x] - donejs

[2018-02-21 19:26] matthewp commented on #1078
Fixed by https://github.com/donejs/donejs/pull/1082

[2018-02-21 19:26] #1078 closed, assigned to m-mujica

[2018-02-21 20:19] #1074 closed, assigned to m-mujica

[2018-02-22 17:50] matthewp commented on #800
Just went donejs-chat and it works fine. Will do PMO next.

[2018-02-22 19:21] #819 closed, assigned to m-mujica, phillipskevin

[2018-02-26 16:28] matthewp commented on #1073
## Errors

| Scenario    | File missing                                                                                                                           | Syntax error |
| ----------- | -------------------------------------------------------------------------------------------------------------------------------------- | ------------ |
| Loading     | https://github.com/stealjs/steal/issu

[2018-02-26 18:54] matthewp commented on #957
This was completed.

[2018-02-26 18:54] #957 closed, assigned to nobody

[2018-02-27 14:21] justinbmeyer commented on #1073
Another stealjs one that I’m not sure is already reported, what happens if package.json isn’t valid, is missing a main, etc.

[2018-02-27 15:27] matthewp commented on #1073
Thanks, i'll do that one as well.

[2018-02-27 15:33] matthewp commented on #1073
As far as architecting error messaging, this is what I'm currently thinking (mostly steal, but application elsewhere in donejs as well):

* Error detection can happen any where in the codebase.
  * Where errors are detected, they should *not* be logged (warnings should though).
  * Instead they should be passed up the chain using `Promise.reject(err)`.
* Errors should have clear `message` properti

[2018-03-01 12:09] matthewp opened #1087 "Upgrade the guides to use the new raw binding"
Our guides, in particular the PMO guide, pass string values in templates. We should use the new `<my-element prop:raw="value">` syntax introduced in can-stache-bindings 4.1: https://github.com/canjs/can-stache-bindings/releases/tag/v4.1.0.

[2018-03-01 19:05] matthewp opened #1088 "Improved error messaging for JSON"
When someone imports a JSON file that contains errors you see this currently:

<img width="477" alt="screen shot 2018-03-01 at 2 05 17 pm" src="https://user-images.githubusercontent.com/361671/36864076-9c183da8-1d59-11e8-81da-c09aa56a9261.png">

We should provide a better error than this. Hopefully we can figure out where the problem is and show the problematic code and update the stack trace.

[2018-03-01 19:19] matthewp commented on #1088
This should have been filed in stealjs, moved to https://github.com/stealjs/steal/issues/1344.

[2018-03-01 19:19] #1088 closed, assigned to nobody

[2018-03-05 15:31] matthewp commented on #1073
Errors during done-ssr should:

* [ ] - Forward to the client.
* [ ] - Only log in done-serve, and only in production mode.
* During a reload it should:
  * [ ] - Forward the error to the client for each request once an error occurs.
  * [ ] - Work once the error is fixed.

[2018-03-05 19:34] matthewp commented on #1073
| Scenario                                                 | Server response   | Problems                                                                                                                               | Issues |
|----------------------------------------------------------|-------------------|---------------------------------------------------------------------------------------------

[2018-03-08 20:39] phillipskevin opened #1091 "donejs upgrade shouldn't modify images"
Right now, `donejs upgrade` passes `**/*.*` to  `can-migrate`.

If you have images in your project, they all get modified:
![image](https://user-images.githubusercontent.com/5851984/37175218-79a6a70c-22de-11e8-9594-32217be2cd62.png)

We should restrict the file types that are passed to `can-migrate`.

[2018-03-08 20:41] matthewp commented on #1091
blah, that sort of makes the whole thing less flexible, but I guess since we know can-migrate only deals with JavaScript and stache, we can restrict to those extensions.

[2018-03-09 12:40] phillipskevin commented on #1091
I'll try to figure out which codemods are modifying the images. Maybe we can fix this in `can-migrate` instead.

[2018-03-09 21:57] phillipskevin commented on #1091
This is fixed by https://github.com/canjs/can-migrate/releases/tag/v2.1.8 which prevents unchanged files from being written.

[2018-03-09 21:57] #1091 closed, assigned to nobody

[2018-03-10 17:56] chasenlehara opened #1092 "donejs upgrade should update known ecosystem packages too"
After running `donejs upgrade` in my project, I expected packages such as `can-connect-feathers@4` to be updated/installed for me.

[2018-03-13 12:54] matthewp commented on #1092
That would be cool. I wonder how we could make it work though? How it upgrades the core ones is by looking at donejs-cli/package.json 's donejs.dependencies/devDependencies fields.

[2018-03-20 02:25] greenkeeper[bot] opened #1093 "An in-range update of commander is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **2.15.1** of [commander](https://github.com/tj/commander.js) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/donejs/donejs/compare/greenkeeper%2Fcommander-2.15.1">Build failing

[2018-03-21 17:30] #1073 closed, assigned to nobody

[2018-03-27 01:39] chasenlehara opened #1094 "Give each website page a unique description"
[Google’s Search Console](https://www.google.com/webmasters/tools/html-suggestions?hl=en&siteUrl=https://donejs.com/&probtype=10&pl=eyJ0YXJnZXRJZCI6Imh0bWwtc3VnZ2VzdGlvbnMiLCJwYXJhbXMiOnsic2l0ZVVybCI6Imh0dHBzOi8vZG9uZWpzLmNvbS8iLCJobCI6ImVuIn19) complains that all our pages have duplicate meta descriptions.

[2018-03-27 02:29] chasenlehara opened #1095 "Improve DoneJS.com’s SEO"
- [Give each website page a unique description](https://github.com/donejs/donejs/issues/1094)
- Set up a redirect for `/docs.html` or create a useful 404 page

Queries we should try to rank higher for (current position in brackets):

- [client side rendering](https://www.google.com/search?q=client%20side%20rendering) [79.3]
- [client side vs server side rendering](https://www.google.com/search?q=c

[2018-03-28 10:27] #1087 closed, assigned to nobody

[2018-04-02 15:38] justinbmeyer opened #1098 "DoneJS 3.0"
- CanJS 5.0 with Treeshaking and can-query
  - docs
  - Wrap `//steal-remove-start` with `if(ENV === prod)` stuff
- Steal w/ Treeshaking
- DoneJS 3.0
   - [x] incremental rendering
   - [ ] example apps
   - [x] generators
   - [x] guides updated, tested, etc (show new routing stuff)
   - [x] features, APIs

[2018-04-02 17:37] #800 closed, assigned to nobody

[2018-04-12 17:11] green3g opened #1099 "SSR Rendering HTML Error"
__How often can you reproduce it?__

- [x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__

Running into this error during ssr:
TypeError: attrValue.replace is not a function
html-serializer.js:26
- feathers\node_modules\can-simple-dom\dist\cjs\simple-dom\html-serializer.js:26:22

Okay. attrValue is the number 10 and stepping up to HTMLSerializer.attr, the att

[2018-04-12 17:13] matthewp commented on #1099
Probably the bug is that `value` is saved as a number, attributes should always be strings.

[2018-04-12 17:14] matthewp commented on #1099
https://github.com/canjs/can-simple-dom/blob/90b26787597472b153d8cd0df9973d85e7b428b1/lib/simple-dom/document/element.js#L51

I think this should be converting the attribute `value` to a string. Might changing this locally in your node_modules and see if that fixes it?

[2018-04-12 18:26] green3g commented on #1099
Yup, adding
[code]
does it

[2018-04-12 18:43] matthewp commented on #1099
awesome, can you submit an issue in can-simple-dom then?

[2018-04-13 12:42] #1099 closed, assigned to nobody

[2018-04-19 18:03] chasenlehara opened #1100 "Upcoming Events links broken"
__Steps to reproduce:__

1. Go to the [Upcoming Events](https://donejs.com/community.html#events) section.
2. Click on one of the events.

__Expected result:__ a new tab opens with the Meetup page.

__Actual result:__ a new tab opens to the wrong URL.

[2018-04-19 18:28] chasenlehara commented on #1100
I managed to fix this by editing the calendar event. I’m not sure what I changed to fix it—I was having a lot of issues with making the description plain text and making sure the timezone was set correctly. Closing this, albeit the code could use some testing to make sure it can handle whatever’s thrown at it.

[2018-04-19 18:28] #1100 closed, assigned to nobody

[2018-05-11 17:29] Sylk commented on #66
Close or update?

[2018-05-11 18:09] matthewp commented on #66
Still something we might do.

[2018-05-30 14:39] matthewp commented on #1098
Should we use [can-zone-jsdom](https://github.com/canjs/can-zone-jsdom) as the default DOM implementation?

[2018-06-01 01:33] chasenlehara opened #1101 "Automate publishing new package versions and release notes"
**TLDR:** use [semantic-release](https://semantic-release.gitbooks.io/semantic-release/) in all our projects to automate publishing to npm, writing release notes, and updating the main `can` package.

## Problem

As a CanJS user (and hopefully contributor 😃), you’ve probably run into at least one of the following:

1. Going to a project’s Releases page on GitHub and not finding release notes for a

[2018-06-01 19:31] green3g commented on #1050
Related: https://github.com/roemhildtg/spectre-canjs/tree/sp-admin-component/sp-admin

[2018-06-03 10:22] frank-dspeed commented on #996
This is related to the current donejs survey #1101 also related to https://github.com/canjs/canjs/issues/3606

[2018-06-03 10:27] frank-dspeed commented on #1101
this is related to https://github.com/canjs/canjs/issues/3606

[2018-06-07 13:41] justinbmeyer opened #1102 "Alternate mounting ideas"
I'd like to change bitballs to attach `can-route.data` to an observable object w/i the application view model.

Currently, I don't think this is possible with `done-autorender` as it sets `route.data` directly to the _export-as_ `viewModel` [here](https://github.com/donejs/autorender/blob/master/src/template.txt#L57):

[code]

The _export-as_ is setup here:

[code]

How could we make this possible

[2018-06-07 13:57] justinbmeyer commented on #1102
## Idea: Set `route.data` once

If something sets `route.data`, (or calls `route.start()`) then `done-autorender` should not set it automatically. If I define my VM like:

[code]

`done-autorender` should see that `route.data` is still not the default, so avoid setting it itself.  Similarly, as `route.start()` was called, it should not call it again.

[2018-06-07 15:59] matthewp commented on #1102
@justinbmeyer I'm not sure the route.data idea will work with multiple requests taking place in ssr.

Instead of changing done-autorender it might make more sense to replace it for this new world of automounted components. With can-zone-jsdom you can use an HTML file as your entry point. Maybe the solution is in there...

[2018-06-07 16:48] matthewp commented on #1102
So here's the idea. With done-ssr you provide an HTML file as the main:

[code]

**development.html**

[code]

**main.js**

[code]

done-ssr already supports reexecuting the main module if it doesn't export a function. So in this case we would:

1. Create a new Document using the __development.html__ as the inner HTML.
2. Execute the __main.js__ module.
3. Automounting kicks in.
4. All the normal

[2018-06-08 14:31] matthewp commented on #1102
Thinking about the `<head>` problem, this could be achieved with a component that moves stuff into the head. Something like:

[code]

[2018-06-11 12:48] janat08 commented on #318
Getting same error after importing: import dropin from 'braintree-web-drop-in'
and then trying to init it in connectedCallback:
[code]

[2018-06-11 13:43] justinbmeyer commented on #318
Can you paste your error?

[2018-06-11 15:48] janat08 commented on #318
I don't know how I managed to get ``custom tag already registered`` error. This dropin package just breaks stealjs once imported, unless scrip tag is used instead of npm. I also have very brittle build currently with 8012 disconnecting and not hot-module-swapping. https://github.com/donejs/done-serve/issues/113

error:
[code]

[2018-06-11 16:05] justinbmeyer commented on #318
Don't worry about the `custom tag already registered` warning (it's a warning, not an error).  It will happen with live-reload as it re-defines your components.

Regarding the `document.querySelectorAll`, you need to make sure that code does not run while SSR is running.  SSR runs against a minimal DOM.  Methods like `document.querySelector` are not supported.

This part of the bitballs guide show

[2018-06-26 16:30] janat08 opened #1103 "Importing aws-amplify errors"
__How often can you reproduce it?__

- [x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__
Apparently occurs on windows or chrome with default stealjs build. Produces 404 errors for amplify libraries. Previously I was able to produce trace stacks that came with 404s, this time they're not provided, with top level error being ERR_BLOCKED_BY_CLIENT for analytics

[2018-06-26 16:33] janat08 commented on #1103
Initial 0 error, the one that gets blocked in app.js, taken from .stache.
[code]

[2018-06-26 16:37] janat08 commented on #1103
don't know if I'm using development.html right, but that doesn't work either:
![screenshot 5](https://user-images.githubusercontent.com/11337345/41926559-837e8844-7991-11e8-9ea4-0d4648bcd1f1.png)

[2018-06-26 17:41] matthewp commented on #1103
Try turning off your ad blocker. It might be blocking that script because it is called `Analytics.js`.

[2018-06-26 17:46] janat08 commented on #1103
Ye, I got the warning about 404 after disabling. I guess this will go south just the same in production with adblocker, with window assignment not working and such?

[2018-06-26 17:49] janat08 commented on #1103
using ublock origin

[2018-06-26 18:14] matthewp commented on #1103
I don't know for sure, but my guess is that the adblocker is blocking requests for the work `Analytics` in the URL. Since it will be bundled into your project I don't think it will cause any issues in production.

[2018-06-26 21:27] #1103 closed, assigned to nobody

[2018-07-06 21:02] matthewp opened #1106 "can 5 with steal@pre doesn't tree-shake in development mode"
I'm putting this issue in donejs until I nail down the problem in steal. I think perhaps that we are not correctly walking up the parents when there are multiple levels of re-exports. Thanks to @pYr0x for finding this one. Reproducible case: https://github.com/pYr0x/canjs5

[2018-07-10 20:06] matthewp commented on #1106
Fixed in stealjs pre.12

[2018-07-10 20:06] #1106 closed, assigned to matthewp

[2018-07-11 18:36] tracer99 commented on #619
@matthewp this this ever get released?

[2018-07-11 18:51] matthewp commented on #619
@tracer99 Yep.

[2018-07-11 19:18] tracer99 commented on #619
@matthewp which version of steel got it? We just updated to what we thought was the latest, but the issue still exists. We see the console show that it's detected the change of an imported less file, but the UI doesn't update until we restart the server.

[2018-07-20 18:08] matthewp opened #1107 "Explore deprecating the donejs cli in favor of npx"
npx provides many of the same features that the donejs cli is used for. I'm not as familiar as some other people so I'd like to get their feedback. @BigAB @justinbmeyer have discussed the idea. Some of the commands we have:

* donejs add x (generator)
* donejs serve (running scripts)
* donejs upgrade

I think that's it... can we provide all of this through `npx _` types of commands?

Also, what do

[2018-07-20 18:09] matthewp commented on #1107
Closing in favor of https://github.com/donejs/cli/issues/84#issuecomment-406682957

[2018-07-20 18:09] #1107 closed, assigned to nobody

[2018-07-20 20:12] matthewp opened #1108 "Proposal: Provide an HTML file to be server rendered"
Currently we rely on done-autorender, a steal extension, to make server rendering and reattachment work. What if instead you could simply do:

[code]

__development.html__

[code]

__package.json__

[code]

__main.js__

[code]

This is nice because you have more control over when stuff happens, don't rely on special done-autorender behavior.

We'd need to provide a mechanism to do the swapping beh

[2018-07-20 20:30] justinbmeyer commented on #1108
How would `<title>` work?

[2018-07-20 21:05] matthewp commented on #1108
I'm not sure, what's the common way of doing this in CanJS apps outside of done-autorender? Back in the day I would do something like `$('head').html(template(data))`.

In other frameworks it's common to define components that project their DOM somewhere else.. [this project](https://github.com/nfl/react-helmet) is a react component that sets the `<head>` contents.

There's also the long-standing

[2018-08-01 21:57] pYr0x commented on #941
hey @CleverOscar you can make PR against https://github.com/donejs/donejs/blob/master/docs/guides/place-my-order.md

[2018-08-02 00:06] CleverOscar commented on #941
@pYr0x I made the PR, hopefully, you can help me out.

[2018-08-15 12:30] matthewp commented on #1108
I like the idea of using an attr, I think it's a bit cleaner this way:

[code]

Then to use:

[code]

The problem here is passing data. How do you pass data into this component? It has to be part of its ViewModel most likely.  You could use can-bind to mix two ViewModels together (the main component and this one's), but that would be pretty advanced.

----------------

So, with that being the case

[2018-08-22 15:01] #1093 closed, assigned to nobody

[2018-08-22 21:05] matthewp commented on #1098
This can be used to get a local ssl certificate, which we need for h2: https://github.com/davewasmer/devcert/

[2018-08-24 20:40] mjstahl commented on #1098
In regards to the local ssl cert stuff, if we plan to force HTTPS, we should make accommodations for anyone using proxies like ngrok.

This can be a simple check for the existence of the `'x-forwarded-proto'` header or `req.connection.encrypted` (where `req` is a NodeJS Http Request). If either are true don't redirect to HTTPS.

[2018-08-26 08:41] frank-dspeed opened #1110 "Fix: NPM Issues caused by testee"
node latest +
npm latest +

-------
# from 0.7 current
npm install --save-dev testee@0.8.1
# testee needs to get updated see https://github.com/bitovi/testee/issues/177

[2018-08-26 14:01] matthewp commented on #1110
Please file this against donejs/cli. If you want to make a PR, do it to the major branch.  https://github.com/donejs/cli/blob/5d26882238ebe1f16196d19ef90011f3dd26349d/package.json#L76

[2018-09-04 17:04] matthewp opened #1111 "Reconciling http2' encryption requirement with easy local development"
DoneJS 3 plans to have http2 be used by default, as it makes incremental rendering better. However, http2 requires an encrypted connection, so a certificate must be provided by the web server.

For local development you can create a self-signed certificate, but the browser will give you an ugly message when you try to navigate to your page:

<img width="1054" alt="screen shot 2018-09-04 at 12 49 0

[2018-09-10 19:22] frank-dspeed commented on #1110
I think individual packages will need updates and PR's for testee i will even need to replace unmaintained packages from daffl

[2018-09-17 13:32] pprogrammingg opened #1112 "After localhost shows, error is produced"
__How often can you reproduce it?__

- [x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__

__Steps to reproduce:__

1. Include a JS Bin (or equivalent) link if possible
2. Detail the exact steps taken to produce the problem
3. Include a gif if possible; you can use LICEcap to make a gif: http://www.cockos.com/licecap/

__Expected results:__

__Actual results:

[2018-09-17 13:33] matthewp commented on #1112
Can you provide more information than this please?

[2018-09-17 13:36] pprogrammingg commented on #1112
Running Node 8.12.0 on Windows 10

Ran:

then

said server is up and checkout localhost:8080. Went there. After about 7-10 seconds of white blank screen, Hello World! appears, then error is thrown. Log below:

file:/mnt/c/tutorials/donejs-chat/node_modules/can-dom-mutate/can-dom-mutate.js:261
        return subscription(function _addNodeListener(target, listener) {
               ^

TypeError: sub

[2018-09-17 13:38] pprogrammingg commented on #1112
Software | Version
-- | --
donejs -V |  2.1.0
node -v |  8.12.0
npm -v |  6.4.1
Browser |  Updating Google Chrome Version 69.0.3497.81 (Official Build) (64-bit)
Operating system | Windows 10

[2018-09-17 15:21] matthewp commented on #1112
I just ran it and didn't receive this problem. Any chance you can try again? Wonder if npm was having issues or something at the time you ran it.

[2018-09-24 17:20] matthewp commented on #1111
I'm heavily leaning towards allowing HTTP1 to be used with incremental rendering via https://github.com/donejs/done-ssr/issues/582

[2018-09-25 14:37] gpetrioli commented on #928
Just a note for the above PR.

The problem was not an invisible `div`. The overlapping element was the container of the help/upcoming/contribute links, which has a top padding. Converting that to margin and zeroing the padding pushed the container down enough to allow the links to be interactive and maintained the initial look.

[2018-09-25 16:37] matthewp commented on #928
Wow! Thank you for fixing this, what an awesome contribution!

[2018-09-25 20:27] matthewp commented on #928
Going to keep this open until we deploy the fix.

[2018-09-26 12:27] matthewp commented on #928
This was deployed. Thanks again @gpetrioli

[2018-09-26 12:27] #928 closed, assigned to nobody

[2018-09-26 16:15] justinbmeyer commented on #928
Yes, thanks @gpetrioli !!!

[2018-09-27 19:46] matthewp commented on #941
Where's the PR

[2018-09-30 01:27] nriesco opened #1113 "Problems with styles / less on a basic donejs project"
__How often can you reproduce it?__

- [x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__

Creating a basic donejs app will result in a strange behaviour while running it on develop mode (`donejs develop`).

**IMPORTANT NOTE:** I managed to make it work by commenting in `index.stache` this line: `<can-import from="~/styles.less" />`.

Also if I add a componen

[2018-09-30 01:30] matthewp commented on #1113
Thanks, will check this out soon...

[2018-09-30 01:30] nriesco commented on #1113
[Screen Recording 2018-09-29 at 2.35.46 PM.mov.zip](https://github.com/donejs/donejs/files/2431134/Screen.Recording.2018-09-29.at.2.35.46.PM.mov.zip)

This is how the issue looks like

[2018-09-30 01:40] nriesco commented on #1113
if you take a look at the video, it will fail not when styles.less loads but when `/node_modules/can-component/package.json` loads

[2018-09-30 12:04] nriesco opened #1114 "Problems with routing based on the quick start guide"
__How often can you reproduce it?__

- [x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__

I have issues creating a basic project and adding basic routing. I followed the guides but couln't make it work. I created a small video showing the error, but routes work only I cannot read the `page` value within the stache file.

I included a project that has a video

[2018-09-30 20:10] matthewp commented on #1113
I see that too now. Really strange. Investigating....

[2018-09-30 20:14] matthewp commented on #1113
Something is injecting
<img width="439" alt="screen shot 2018-09-30 at 4 13 59 pm" src="https://user-images.githubusercontent.com/361671/46262195-d5d96700-c4cb-11e8-9f69-379413c886ea.png">

Trying to figure out where that is coming from...

[2018-09-30 20:19] matthewp commented on #1113
Less is the cause here. We recently updated less. I think we brought in some weird behavior by doing that. Looking into a solution.

[2018-09-30 20:24] matthewp commented on #1113
Looks like we can enforce async mode and it won't do this. Can't see a downside to going async anyways, so I'll try that.

[2018-09-30 20:30] #1113 closed, assigned to matthewp

[2018-09-30 20:32] matthewp commented on #1113
Should be fixed by steal-less 1.3.3. I'm confirming now...

[2018-09-30 20:35] matthewp commented on #1113
Looks good with a new app now. Thanks for reporting!

[2018-09-30 20:40] matthewp commented on #1114
So this is working when you use `localhost:8080/development.html` which uses the hash based routing. Maybe something with can-route-pushstate. Investigating.

[2018-09-30 20:43] matthewp commented on #1114
@justinbmeyer I'm thinking this might be related to the fix you did here: https://github.com/canjs/can-route-pushstate/commit/1896603972ef31705635fe986ef31a4a75eeac49

This probably needs a 4.x release, right?

[2018-09-30 20:46] matthewp commented on #1114
I can probably cherry-pick that commit into a 4.x branch.

[2018-09-30 20:52] matthewp commented on #1114
Working on a release now...

[2018-09-30 20:57] matthewp commented on #1114
Ok, confirmed this fixes it. Upgrading to can-route-pushstate 4.1.2 fixes the problem. Thanks for reporting!

[2018-09-30 20:57] #1114 closed, assigned to matthewp

[2018-10-01 08:19] nriesco commented on #1113
Working fine now, thanks @matthewp

[2018-10-01 08:20] nriesco commented on #1114
Back to normal, thanks again @matthewp

[2018-10-10 14:11] matthewp opened #1115 "Using properties on route.data in the template do not server render"
In a default generated app we attempt to use:

[code]

 But that property doesn't server render. In the console you get a message:

[code]

[2018-10-10 15:03] matthewp opened #1116 "Error in can-route-pushstate on live-reload"
This happens when you live-reload, probably related to teardown.

[code]

[2018-10-10 15:19] justinbmeyer opened #1117 "PROPOSAL: Create mix-ins for drag, drop, & swipe events"
__TLDR__ We should make it easy to use swipe events and drag and drop events in CanJS.

These events are available in [jQuery++](https://github.com/bitovi/jquerypp/tree/master/event), but there is not a modern solution to these in CanJS.

We should make these events available to use in CanJS without requiring a dependency on jQuery. These will be available as mixins similar to the `enter` and `rad

[2018-10-10 18:00] matthewp commented on #1116
This is caused by the fact that done-ssr no longer keeps a global document around always. Probably we should enable this in devMode.

[2018-10-11 12:05] #1116 closed, assigned to nobody

[2018-10-11 14:58] matthewp commented on #1115
Fixed by https://github.com/donejs/autorender/pull/188

[2018-10-11 14:58] #1115 closed, assigned to nobody

[2018-10-11 15:02] matthewp commented on #1112
Pinging you on this @pprogrammingg  :) If you wouldn't mind retrying again and letting me know it would be appreciated.

[2018-10-11 15:10] matthewp opened #1118 "Update the Quick Start guide for donejs3"

[2018-10-11 15:11] matthewp opened #1119 "Update the In Depth guide for donejs3"

[2018-10-11 15:12] matthewp opened #1120 "Update the features and api pages for donejs3"

[2018-10-11 19:31] frank-dspeed commented on #1111
@matthewp maybe we should simply write into the guides how to set a Chrome flag to ignore certificate warnings for localhost.

go to: chrome://flags/#allow-insecure-localhost in your browser and done

[2018-10-11 19:33] frank-dspeed commented on #1111
@matthewp and if we then additional supply pre generated ssl certs thats totall okay i think

[2018-10-15 07:20] frank-dspeed commented on #1095
@chasenlehara use more often the term Reactive JS as there exists a identical framework to CanJS DoneJS thats called Reactive JS

in the javascript community this is called often Reactiv Coding and Reactiv Module as it Reacts to input and events and actions.

[2018-10-15 07:23] frank-dspeed commented on #1095
@chasenlehara https://ractive.js.org/ here you can look into it
@justinbmeyer and @matthewp should also look into it

its a similar framework using same technic as canjs they call it Reactiv Mustache. They got also all the list and connect stuff simply watch it

It exists because no one knows CanJS because they use own Terms for this stuff :D

The Project and all of the Open Source core Team are u

[2018-10-15 07:26] frank-dspeed commented on #1095
@chasenlehara importent terms
- ReactivJS
- Reactiv ViewModel
- Reactiv Map
- Reactiv Stream
- Reactiv Programming
- Reactiv Code
- Realtime Applications
- Realtime Observeable Objects

and many more so to make it short Realtime Stream Reactiv are the keys to get users.

[2018-10-17 01:58] moschel opened #1121 "DoneJS Dashboard"
This is a proposal/idea for a slightly different direction with DoneJS.

__TLDR__

Developers really like games, and they really like points. I wonder if we can build a dashboard into DoneJS development that incorporates all the best technical aspects of the [Bitovi checklist](http://bitovi.github.io/checklist/), and codifies many of the best practices that CanJS/DoneJS encourage. Some things migh

[2018-10-17 17:27] matthewp commented on #1112
Let me know if you are able to do this and I'll reopen.

[2018-10-17 17:27] #1112 closed, assigned to nobody

[2018-10-19 13:12] matthewp commented on #1121
I like this idea a lot.  I would de-emphasize the game aspect of this, personally. I don't see it as much of a game as validation (for yourself and your bosses) that your application is in good shape.

I like the idea of running the generators through some UI a lot as well. Cool idea.

[2018-10-24 06:21] leoj3n commented on #987
Created the following to help track progress: https://github.com/bit-docs/bit-docs/issues/47#issuecomment-432345026

[2018-10-24 09:52] leoj3n commented on #1032
@matthewp This stopped because you reverted the PR that caused it (#1033). So, technically this PR is still not merged (and should probably be re-submitted as a new PR).

However, I've since figure out why that PR broke generation in the first place.

It's because the `bit-docs-donejs-theme` doesn't use [the default layout template](https://bit-docs.github.io/bit-docs-website/bit-docs-generate-htm

[2018-10-27 12:20] leoj3n commented on #1049
:+1: for this guide. The `can-zone` code is very intimidating but I think what it does and how you use it is probably pretty straightforward. I know I'm just one user, but I would appreciate a high-level explanation of how `can-zone` works and more specifically what hoops it has to jump through to achieve its effect.

Not understanding how it works makes it scary to use. 👻

EDIT:

What I'm thinkin

[2018-11-01 14:02] matthewp commented on #1118
This is what I'm working on now.

[2018-11-02 16:16] justinbmeyer opened #1122 "Proposal: server-side stache templates that support incremental rendering"
__TLDR;__  Create an incremental rendering template engine for NodeJS.

### Summary

Incremental rendering is awesome.  It shouldn't work for only `Single Page Apps` when it would work great for `Multi Page Apps` too. And while there are other server-side templates that support streaming, afaik, nothing else supports incremental rendering.

A basic express app might look like this:

[code]

This w

[2018-11-02 23:43] dawnwages commented on #576
I'm having issues and seeing this error on Windows.

[2018-11-05 20:56] mjstahl commented on #1122
I think this would be really cool!

I think the part to really focus on with this is how the client gets those "mutation instructions".

Personally I would work backwards from "the developer shouldn't have to do /anything/. Maybe some JavaScript gets added to the `<head></head>` and just automagically hooks things up."

[2018-11-06 14:02] matthewp opened #1125 "Routing for file: protocol environments in DoneJS 3"
Cordova and Electron use the file: protocol. In CanJS 3.0 can-route-pushstate would detect this and not register itself. With changes in 5.0 we can't do this any more because the user calls `new RoutePushstate()` in their code.

So we need another way of switching to Hashchange.

I propose we update the generators to create a map in the build like:

[code]

Or something to that effect.

[2018-11-06 15:19] matthewp commented on #1125
PR for electron: https://github.com/donejs/donejs-electron/pull/25

[2018-11-06 18:33] matthewp commented on #1125
This is working now.

[2018-11-06 18:33] #1125 closed, assigned to nobody

[2018-11-06 18:40] matthewp commented on #1118
Fixed by #1124

[2018-11-06 18:40] #1118 closed, assigned to matthewp

[2018-11-08 18:52] matthewp commented on #1119
This is done.

[2018-11-08 18:52] #1119 closed, assigned to nobody

[2018-11-08 19:05] matthewp commented on #1111
For 3.0 we are just going to default to http/1 with `<link preload>` to speed up fetching of the IR instructions. H2 is supported if you pass `--cert` and `--key` though.

[2018-11-08 19:05] #1111 closed, assigned to nobody

[2018-11-08 19:46] matthewp opened #1127 "Update DoneJS setting up page for donejs 3"
https://donejs.github.io/next/SettingUp.html

[2018-11-13 03:46] losingkeys opened #1128 "Tutorial issues list and questions for 3.0"
## Description

Typos, potential issues or confusion, and questions I had when going through the tutorial. I'm opening this early so we can work in parallel, but will fix remaining typos and straightforward issues myself when I've finished going through [the 3.0 tutorial](https://donejs.com/place-my-order.html).

## Possible issues

1. Re-loading a specific restaurant page with cmd+r gives the fol

[2018-11-13 13:16] matthewp commented on #1128
Thanks for the detailed report!

[2018-11-13 14:34] losingkeys commented on #1128
No problem! I'll try to expand any vague parts (the stuff near the end of the tutorial could use more investigation on my part) and make typo PRs as I have time. I'm on a different project today though. Ping me in slack if you have questions though :)

[2018-11-13 18:42] matthewp commented on #1098
# Release list

## Merge to master

- [x] [done-ssr](https://github.com/donejs/done-ssr/pull/606)
- [x] [done-ssr-middleware](https://github.com/donejs/done-ssr-middleware/pull/66)
- [x] [done-serve](https://github.com/donejs/done-serve/pull/143)
- [x] [generator-donejs](https://github.com/donejs/generator-donejs/pull/298)
- [x] donejs-cli
- [ ] donejs

## Release

- [x] done-ssr
- [x] done-ssr-mi

[2018-11-14 15:34] chasenlehara commented on #1110
Closing this because it seems like https://github.com/bitovi/testee/issues/177 is more specific. @frank-dspeed please feel free to reopen with more info if I’m misunderstanding this issue.

[2018-11-14 15:34] #1110 closed, assigned to nobody

[2018-11-14 17:26] matthewp commented on #1121
@moschel We talked about this with DoneJS contributors. We like this idea a lot, but it's also quite a big project. Is there an MVP of this that would be a little easier to accomplish but still solve your core goal? With the idea of course that if the MVP is successful that more can be added to later.

[2018-11-14 17:28] matthewp commented on #1050
@justinbmeyer can this be closed? I believe can-crud is basically this.

[2018-11-14 18:19] moschel commented on #1121
Yes, definitely. I think we can lay out a simple MVP that adds value with just a sprint or two of work.

I think we'd need a "discovery phase" with a designer in order to properly set goals, prioritize features, sketch designs, and create an MVP scope.

My suggestion if there's interest in this idea, is to prioritize a 2 week discovery phase with a designer.

In my opinion, the goal of the MVP wou

[2018-11-14 20:36] matthewp commented on #1120
This is done.

[2018-11-14 20:36] #1120 closed, assigned to nobody

[2018-11-15 18:51] phillipskevin commented on #1117
@justinbmeyer's original description:

__TLDR__ jQuery++ still has some good stuff, but the project is no longer actively maintained.  We should:

- Pull out the useful stuff into CanJS or standalone projects.
- Remove jQuery as a dependency
- Let people know where to find the new files
- For the custom events, allow folks to make those jQuery events with https://canjs.com/doc/can-dom-events/helpe

[2018-11-16 01:55] justinbmeyer commented on #1122
@mjstahl yes, this is how done-ssr@3 works already! done-ssr inlines a script tag that begins fetching the mutation stream and apply mutations.

I think this would be a good opportunity to share our tech with folks outside the `SPA` world.

[2018-11-26 05:42] frank-dspeed commented on #1122
@justinbmeyer i think that there is a reason why it not exists :)
i don't want to write now a public benchmark for that but i am really sure there is a reason i talked about that as you started with that idea.

Only for your Info a HTML Response gets Incremental Rendered by the Browser while he streams the html file it don't needs to be there complet on the client.

[2018-11-26 05:44] frank-dspeed commented on #1122
The `response` object is a writable stream.  Just write to it, and Express will even set up chunked encoding for you automatically.

    response.write(chunk);

You can also pipe to it if whatever is creating this "file" presents itself as a readable stream.  http://nodejs.org/api/stream.html

and with that + deffered async stuff in html we even replace http push

    <script type="module">,
    <

[2018-11-26 13:12] justinbmeyer commented on #1122
Frank, you have to write out in document order. Incremental rendering has no such limitation.

The reason it doesn’t exist is likely because you would need a DOM-based rendering template engine. Those don’t exist server-side.

[2018-11-27 06:47] frank-dspeed commented on #1122
@justinbmeyer nodejs has many dom based rendering engines 1 that would work is chromium headless firefox headless and so on but you would need the right rendering engine for the right request header this will not be performant.

I have runned tests with caching prerendered pages per engine rendered serverside by the engine on request and that was not performant and also not a good idea as the rend

[2018-11-27 07:02] frank-dspeed commented on #1122
@justinbmeyer maybe i should also point out about The google Material Design Expirences that show the fact  that slow loading but right timed is better then Instand loading!

Examples: Click Image Fade Slow so the user Expirence is smooth
All the stuff about Emotions on loading

Summary:
Render out Ordered HTML with a Skeleton https://blog.iamsuleiman.com/wp-content/uploads/2017/02/linkedin-skelet

[2018-11-28 14:19] Mattchewone commented on #1102
In reference to the `<head>` problem, I've used Vue's Nuxt and they have allow you to edit the head from within **page** component. I'm not sure if that's something we could look to do to structure an SSR project into more page level components and util components.

Not sure how familiar anyone is with the structure but here is a link - https://nuxtjs.org/guide/views#document

You can also define

[2018-11-30 17:21] matthewp commented on #1128
@losingkeys I was able to fix the first issue you found. Thanks for that.  I haven't been able to recreate the others. Do you still have the code? If so can you push your latest to github so I can take a look?

[2018-11-30 17:40] losingkeys commented on #1128
Yes ([here](https://github.com/losingkeys/place-my-order/)), but I ended up making a couple of copies in hopes of fixing some of the issues. Let me know if you still can't reproduce the issues, and I'll push up some other versions.

[2018-11-30 18:54] matthewp opened #1132 "Update donejs upgrade to work with donejs 3"
In addition to what it already does it should also fetch "can" and upgrade any dependencies we have in common with that.

[2018-11-30 19:52] #1132 closed, assigned to matthewp

[2018-11-30 20:08] matthewp commented on #1092
This was fixed in donejs 3.1.0.

[2018-11-30 20:08] #1092 closed, assigned to nobody

[2018-12-03 20:29] matthewp commented on #1128
These were all taken care of.

[2018-12-03 20:29] #1128 closed, assigned to matthewp

[2018-12-07 16:59] matthewp opened #1136 "Migration guide notes"
Change "Reach out for help" to "Getting help". "Getting help" sounds more welcoming.

[2018-12-10 14:14] #1136 closed, assigned to nobody

[2018-12-10 14:14] matthewp commented on #1127
Fixed by #1137

[2018-12-10 14:14] #1127 closed, assigned to nobody

[2018-12-10 15:12] matthewp opened #1138 "Move incremental rendering into its own package"
Currently incremental rendering occurs within done-ssr and is somewhat difficult to set up. See the [React instructions](https://donejs.com/ssr-react.html) for an example.

I don't think we should remove the low-level APIs but I do think we should provide an easier solution.

My proposal is adding a new package under the Bitovi scope on npm:

[code]

This presents 2 APIs, one for JavaScript and th

[2018-12-10 17:04] justinbmeyer opened #1139 "Place My Order Pass (3)"
- [ ] We should remove some of the space under the expand icon.
     ![image](https://user-images.githubusercontent.com/78602/49748447-4a1e4c80-fc6b-11e8-848b-298aec17b15f.png) __p3__
- [ ] https://github.com/donejs/donejs/issues/533 __p2__
- [x] warning about link-preload in chrome __p2__
- [ ] We should probably point people at CanJS's debugging guide / tools
- [ ] Upon adding `place-my-order-as

[2018-12-11 17:06] justinbmeyer commented on #1139
## Steal improvement:

I created _pages/order/new/new.js_ with:

[code]

There's no indication of the file that it's in:

![image](https://user-images.githubusercontent.com/78602/49817052-da749400-fd34-11e8-994e-5c859e4e0ad6.png)

[2018-12-13 15:23] matthewp commented on #1139
@justinbmeyer can you push your PMO where I can take a look. Need that in order to figure out your cordova / electron issues.

[2018-12-13 19:23] matthewp commented on #1139
Never mind, I was able to recreate and no what's happening.

[2018-12-13 19:40] matthewp commented on #1139
Cordova and Electron issues were caused by a server problem on place-my-order.com. That's been resolved now, see below:

![natives](https://user-images.githubusercontent.com/361671/49963074-ffa80480-fee4-11e8-9fbd-b483850748b1.gif)

[2018-12-13 20:02] matthewp opened #1141 "Less warning when adding place-my-order-assets"
Originally in: https://github.com/donejs/donejs/issues/1139

![49761529-ffadc780-fc8c-11e8-835d-d4e60c76439c](https://user-images.githubusercontent.com/361671/49964238-fec4a200-fee7-11e8-947d-5016b079bbf5.png)

[2018-12-13 20:05] matthewp opened #1142 "Handle errors from pageComponent"
In the place-my-order guide we have:

[code]

We should handle in case the promise is rejected.

[2018-12-13 20:45] matthewp opened #1143 "Use restaurantsPromise in the PMO guide for consistency"
Should we rename `restaurants` to `restaurantPromise`

[code]

[2018-12-13 20:45] matthewp opened #1144 "Add a copy button to guide examples."

[2018-12-13 20:49] matthewp commented on #1139
* https://github.com/donejs/donejs/issues/1141
* https://github.com/donejs/donejs/issues/1142
* https://github.com/donejs/generator-donejs/issues/299
* https://github.com/donejs/generator-donejs/issues/300
* https://github.com/donejs/donejs/issues/1143
* https://github.com/donejs/donejs/issues/1144
* https://github.com/donejs/donejs/issues/1145
* https://github.com/donejs/donejs/issues/1146
* http

[2018-12-13 20:50] matthewp opened #1145 "Consider showing a simpler use of fixture.store"
No need to get queryLogic on the connection, you can pass the Model type.

[code]

[2018-12-13 20:53] matthewp opened #1146 "Use a simpler method for demo pages"
Instead of:

[code]

We could use the constructors like so:

[code]

[2018-12-13 20:53] matthewp commented on #1146
Note that this would first necessitate a change in the generators.

[2018-12-13 20:54] justinbmeyer commented on #1146
I think we should change this to a P1 or P2. On good projects, I see a lot of demo pages.   This is a pattern we should establish for folks before too many DoneJS 3 apps start.

[2018-12-13 20:57] matthewp opened #1147 "Make it possible to import RoutePushstate from the can package"
Currently it is not possible due to the needs for mapping in development.html.

Ideally we should change this:

[code]

to:

[code]

This might require some changes to steal to make this work (or maybe not).

[2018-12-13 20:59] matthewp opened #1148 "Remove unnecessary use of the config option when changing build.js"
Currently it is shown as:

[code]

But the first option can be an empty object.

[2018-12-14 15:17] matthewp opened #1149 "PMO: Request from Electron/Cordova get URL encoded"
I'm not sure what layer the problem is yet, so starting off filing this issue.

Here's an example request:

[code]

[2018-12-14 15:17] matthewp commented on #1139
A bug when using Electron/cordova. https://github.com/donejs/donejs/issues/1149

[2018-12-14 16:04] #1146 closed, assigned to nobody

[2018-12-14 19:37] matthewp commented on #1149
Fixed by __5.19.1__:

<img width="524" alt="screen shot 2018-12-14 at 2 37 16 pm" src="https://user-images.githubusercontent.com/361671/50023630-c9828780-ffad-11e8-8b47-6fca7d88476c.png">

[2018-12-14 19:37] #1149 closed, assigned to nobody

[2018-12-14 19:37] matthewp commented on #1139
#1149 is fixed.

[2018-12-18 07:22] frank-dspeed opened #1152 "PR: Guide how to Preserve State during browser reload"
I am not sure if this is a donejs or canjs issue but i think i should also test it with donejs because of the live-reload case and xhr cache that possible exists.

this is related #1151

- will write up a guide how to save browser state inside the browser to localstorage to enable to preserve state during reload and opening in new tabs. (multiple tabs)

[2018-12-18 07:24] frank-dspeed commented on #1152
- create a helper module can-store-localhost that saves a value on change to localstorage to enable saving of state while reloading or revisting a site

[2018-12-20 13:43] matthewp opened #1153 "Proposal: A tool to make it easier to resolve multiple versions issues"
*tldr;* create a utility to help resolve multiple versions of can package problems.

## The problem

Talking to donejs developers that utilize package-lock.json, they often run into issues when upgrading one dependency such as `can`. The issue is caused because when you update `can`, and for example can-observation version has changed, it will upgrade the version in `node_modules/can/node_modules/

[2018-12-20 16:50] justinbmeyer opened #1154 "PMO: SSR doesn't include the `href`s on the navigation links"
If you look at the network tab and scroll to the navigation HTML, you see:

![image](https://user-images.githubusercontent.com/78602/50298498-e6530b00-0444-11e9-83e9-8692f4c4012f.png)

Looks like `.href` attributes/properties are not being serialized.

[2018-12-20 16:57] justinbmeyer opened #1155 "Proxy or data server is down"
[code]

![image](https://user-images.githubusercontent.com/78602/50298955-00d9b400-0446-11e9-852a-aa3cf1611ae2.png)

[2018-12-20 16:58] justinbmeyer commented on #1155
I didn't have the proxy server running ... we might need a better warning, suggestion what to do

[2018-12-20 17:02] justinbmeyer opened #1156 "Add data to page source is broken"
Looks like similar source was pasted twice

https://donejs.com/place-my-order.html#add-data-to-the-page

![image](https://user-images.githubusercontent.com/78602/50299225-b6a50280-0446-11e9-9955-fd7bf18aa5ad.png)

[2018-12-20 17:06] justinbmeyer opened #1157 "Error with live reload in SSR (document undefined)"
Following the guide to this section: https://donejs.com/place-my-order.html#add-data-to-the-page

And updating `list.js` with:

[code]

Breaks in the following way:

[code]

[2018-12-20 17:11] justinbmeyer commented on #1157
I also noticed that if I make changes to the template and then refresh the browser, I get the same error.

[2018-12-20 18:50] matthewp commented on #1154
Does stache prefer setting `.href` rather than the attribute perhaps?

[2018-12-20 18:52] justinbmeyer commented on #1154
That’s what I was thinking. It would be in can-attribute-observable

[2018-12-20 18:53] matthewp commented on #1154
Looks like this is in prod on `www.place-my-order.com` so this has likely been happening for a while.

[2018-12-20 19:06] matthewp commented on #1154
https://github.com/canjs/can-attribute-observable/blob/a822ee6aa7940920143069079a0515caf5902af1/behaviors.js#L480 .

That is truthy so it sets the property. That's truthy because there is an empty string href.  I'm not sure what actually adds the property initially.

Not sure what the best solution is yet, one possibility is for can-simple-dom to add a setter for href so that it reflects back onto

[2018-12-21 15:17] matthewp commented on #1154
can-simple-dom assigns the href property on initialization. I think adding a setter that reflects onto attributes is the best approach here.

[2018-12-22 15:22] matthewp commented on #1154
https://github.com/canjs/can-simple-dom/pull/90

[2018-12-26 17:45] chasenlehara commented on #1016
I don’t see this error on donejs.com anymore.

[2018-12-26 17:45] #1016 closed, assigned to nobody

[2018-12-27 16:20] matthewp commented on #1154
This is fixed: view-source:http://www.place-my-order.com/

<img width="573" alt="screen shot 2018-12-27 at 11 19 31 am 1" src="https://user-images.githubusercontent.com/361671/50486745-5cb5b700-09c9-11e9-86a4-f50523793816.png">

[2018-12-27 16:20] #1154 closed, assigned to matthewp

[2018-12-27 16:27] matthewp commented on #1155
Trying to think how this should work exactly. done-serve is the thing that sets up the proxy. I suppose it could catch when a 500 occurs and provide a better error message within the console.

In the context of this bug, however, you might not notice this just from looking at the browser console. Perhaps a "better" fix would come from something like https://github.com/donejs/done-serve/issues/22 a

[2018-12-27 16:37] #1156 closed, assigned to matthewp

[2018-12-27 16:59] justinbmeyer commented on #1155
I was thinking in the guide we just say something like:

[2018-12-27 19:10] matthewp commented on #1155
Ah ok,that's easy enough then.

[2018-12-27 19:57] matthewp opened #1160 "can-debug error shows in the console"
Hard to track down the exactly conditions. I see this in PMO. It happens after I restart the server. Where, I'm not sure. But it happens, so it's a bug.

[code]

[2018-12-28 13:03] matthewp commented on #1157
This is fixed.

[2018-12-28 13:03] #1157 closed, assigned to matthewp

[2018-12-28 13:03] matthewp commented on #1157
PR: https://github.com/canjs/can-view-callbacks/pull/107

[2018-12-28 14:06] #1160 closed, assigned to matthewp

[2018-12-28 17:31] cherifGsoul opened #1162 "requirePackage is not a function"
__How often can you reproduce it?__

- [x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__
Generating a new app or new plugin throws this error
[code]

__Steps to reproduce:__
```donejs add app myapp``` or ```donejs add plugin myplugin```

__Expected results:__
Install deps and scaffold application or plugin

__Actual results:__
Error:
```TypeError: require(..

[2018-12-28 17:35] matthewp commented on #1162
Yeah, I know about this. It's caused by a downstream dependency. Appears to be worked on currently: https://github.com/bevry/errlop/issues/2

[2018-12-28 19:36] matthewp commented on #1162
This was fixed.

[2018-12-28 19:36] #1162 closed, assigned to nobody

[2018-12-28 21:02] matthewp opened #1163 "Portals in DoneJS apps"
can-stache recently added support for the `{{#portal(el)}}` helper. This makes it easy to insert DOM into an element other than where the template itself is rendering. One example is to insert things into the `document.head` from within a component.

However it currently doesn't work with DoneJS apps. This is due to the way done-autorender works. When done-autorender attaches the app after SSR it

[2018-12-28 21:10] matthewp opened #1164 "Dependency updates and package-lock"
DoneJS 3 apps have a problem where an update to any canjs package can result in multiple versions of certain packages when using package-lock (or even in newly generated apps).

The cause is that because `can` has pinned versions, but other donejs projects such as `done-autorender` and `done-component` do not, those packages might load a newer version of can-stache, but `can` itself depends on an

[2018-12-28 21:51] matthewp commented on #1164
Downside to the `can.js` option is that some people already have projects using `can`. How do we migrate those?

[2018-12-29 02:23] chasenlehara commented on #1164
I think the “easiest” solution might be the best one. It’s what we recommend in our setup guide anyway, and I feel like the idea is somewhat validated in that it’s what’s being recommended in Ryan Dahl’s [Deno](https://deno.land) project:

From https://github.com/denoland/deno/blob/master/Docs.md#linking-to-third-party-code

[2018-12-29 10:06] matthewp commented on #1164
A local can.js doesn't help people who already switched to can 5 though. :-(

[2018-12-31 13:38] #1163 closed, assigned to nobody

[2018-12-31 15:14] matthewp commented on #1164
I'm a little torn on this. More and more it feels to me like `can` pinning versions is just the wrong choice. It will break any time a user uses an external package that loads before `can`.  For example this could easily break:

[code]

Using package-lock.json. It seems like as it is today, `can` is only useful if used by itself.

[2019-01-02 15:45] matthewp commented on #1164
From a high level I think we need to decide:

* Should DoneJS (including CanJS) use pinned or semver versions.
    * If pinned versions then DoneJS should do the same. Maybe people should be importing from donejs instead of can. This could also cause problems when the user users any 3rd party libraries.

----

Stop-gaps:

* Push done-autorender and done-component into can, give rid of their usage

[2019-01-03 18:43] matthewp opened #1165 "Proposal: Move to native modules"
__tldr;__ Make native web modules the primary way we show usage of CanJS and DoneJS.

# Problem

Using Steal for *development* has the following problems:

* __Slowness__: Loading any large app can take a significant amount of time for each page load (10+ seconds often).
* __Version compatibility__: Steal follows the Node module resolution, which is not built for client-side loading. As such it wi

[2019-01-03 18:44] matthewp commented on #421
I no longer support this proposal.

[2019-01-03 18:44] #421 closed, assigned to nobody

[2019-01-03 18:45] matthewp commented on #830
I still like this idea in theory but don't think it would help generate interest in DoneJS so I don't think it's worth the time investment needed.

[2019-01-03 18:45] #830 closed, assigned to nobody

[2019-01-04 07:26] frank-dspeed commented on #1165
@matthewp i have worked exactly on this since 1,5 years :) i am happy that you join this effort

[2019-01-04 07:31] frank-dspeed commented on #1165
we should drop steal complet and replace it with rollup i know you love steal but rollup already produces the needed SystemJS Packages and also iife and umd we should make that tool chain work as best and easy as possible via ```rollup-plugin-canjs``` to allow a easy migration we have only a few cases that are not handled already but can easy be handled even importing stache files and css works si

[2019-01-04 11:52] frank-dspeed commented on #1164
i am for a alternate option and that is maybe not what you like but i think its the best
we rename the donejs packages to can namespace then we do a extra donejs util or canjs util that automates the version stuff like checking for redundant versions and we call this tool simply as postinstall hook from every package.

i am not for the reexport method as this leads to some other bugs with tree sha

[2019-01-04 14:45] matthewp commented on #1139
Closing as the remaining issues have been moved into their own issues.

[2019-01-04 14:45] #1139 closed, assigned to matthewp

[2019-01-04 16:04] matthewp commented on #1138
This is being worked on here: https://github.com/bitovi/incremental

[2019-01-04 16:04] #1138 closed, assigned to nobody

[2019-01-04 17:12] justinbmeyer commented on #1165
Does this form of addressing preclude modules installed anywhere other than the top-level `node_modules` folder?

To be developed individually, projects would need to have their code moved (or some other solution):

[code]

How does native modules solve these problems?

[2019-01-04 20:18] frank-dspeed opened #1167 "ROADMAP for Move to nativ Modules including Backward Compat"
###### NOTE: this issue is still in Progress please don't close it will get big :)

# Roadmap for https://github.com/donejs/donejs/issues/1165
~~This transition cannot occur until some proper tool is developed to make it possible:~~
We got rollup already as tool that makes all that possible and lets us even use the old CJS base and convert it step by step

-  ~~Create a CommonJS ES module transile

[2019-01-10 17:37] justinbmeyer commented on #830
What about interest on its own terms?

[2019-01-10 17:54] matthewp commented on #830
I personally am interested in such a thing, but I don't think preprocessors where the main advantage is working client-side is much of a selling point in the community, unfortunately.

[2019-01-11 05:37] #1167 closed, assigned to nobody

[2019-01-11 05:39] #1152 closed, assigned to nobody

[2019-01-11 14:12] justinbmeyer commented on #830
Do you think this changes with native module loading?

[2019-01-11 14:55] matthewp commented on #830
When it's more extensible, maybe.

[2019-02-05 11:39] greenkeeper[bot] opened #1169 "An in-range update of jshint is breaking the build 🚨"
## The devDependency [jshint](https://github.com/jshint/jshint) was updated from `2.9.7` to `2.10.0`.

🚨 [View failing branch](https://github.com/donejs/donejs/compare/master...donejs:greenkeeper%2Fjshint-2.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

jshint is a devDependency of this project. It **might not brea

[2019-02-06 16:50] #1169 closed, assigned to nobody

[2019-02-26 18:36] chasenlehara opened #1173 "Replace mentions of IE9 with IE11"
There are at least a few mentions of IE9 still left in the repo: https://github.com/donejs/donejs/search?q=ie9&unscoped_q=ie9

These (and any others) should be updated to mention IE11.

[2019-03-22 00:00] JaneOri opened #1175 "adding a component with same name as app"
__How often can you reproduce it?__

- [x ] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__ / __Steps to reproduce:__ / __Actual results:__
donejs v 3.1.0
just started a new project
creating my first component with the same name as the app:
`donejs add component components/project-name project-name` -> component created directly in src/* (`src/project-name.js`

[2019-03-26 19:42] cherifGsoul commented on #1175
@James0x57 it is fixed https://github.com/donejs/generator-donejs/releases/tag/v3.3.0

[2019-03-26 19:42] #1175 closed, assigned to cherifGsoul

[2019-03-28 02:32] justinbmeyer opened #1176 "plugin generator support scoped projects"
The plugin generator should support namespaces.  Giving a plugin name of `@bitovi/snapshot-test` makes a package of `bitovi-snapshot-test`.

Also, when a scoped name is provided, the generator should ask if it is public or private.  If public, ` npm publish --access public` should be used.

[2019-04-03 17:09] justinbmeyer commented on #1098
@matthewp this can be closed right?

[2019-04-03 17:29] matthewp commented on #1098
Yep.

[2019-04-03 17:29] #1098 closed, assigned to nobody

[2019-04-23 14:32] justinbmeyer commented on #1176
This works:

[code]

This doesn't:

[code]

[2019-04-23 14:40] justinbmeyer commented on #1176
Work should be done here: https://github.com/donejs/generator-donejs

[2019-04-24 14:00] Mattchewone commented on #1176
This is fixed in `generator-donejs` and `donejs`.

[2019-04-24 14:00] #1176 closed, assigned to nobody

[2019-05-02 19:22] chasenlehara opened #1178 "Fix the Upcoming Events calendar"
https://donejs.com/community.html#events

Right now the spinner keeps spinning because an error’s thrown:

<img width="401" alt="Screen Shot 2019-05-02 at 12 21 32 PM" src="https://user-images.githubusercontent.com/10070176/57100910-ec9ba280-6cd4-11e9-9959-2f8ccf036158.png">

Here’s the broken code:

<img width="504" alt="Screen Shot 2019-05-02 at 12 21 48 PM" src="https://user-images.githubuserco

[2019-05-22 18:35] justinbmeyer commented on #1178
use bit-calendar?

[2019-05-22 18:48] justinbmeyer commented on #1178
https://github.com/bitovi/calendar-events

[2019-05-22 18:50] justinbmeyer commented on #1178
[code]

[2019-05-22 18:50] justinbmeyer commented on #1178
https://github.com/bitovi/academy/blob/master/package.json#L49

[2019-05-23 15:08] cherifGsoul commented on #1178
<img width="1098" alt="donejs_-_community" src="https://user-images.githubusercontent.com/109013/58263945-e8fbb880-7d74-11e9-839e-ffc59bd9945d.png">
Which style to use?

[2019-05-29 13:39] matthewp commented on #1165
An alternative I've been thinking about is to embrace using unpkg directly which side-steps the version problem with using locally installed node modules.  Maybe a steal-tools export build that produces:

[code]

instead of:

[code]

The version numbers inserted into the URL would be taken from the package.json.

----

As a compliment to the above I'd want a service worker for development usage th

[2019-06-10 18:16] chasenlehara opened #1181 "Add better metadata for SEO"
Implement the same/similar changes to as what’s in these two PRs:

- https://github.com/canjs/bit-docs-html-canjs/pull/535
- https://github.com/canjs/canjs/pull/5022

[2019-06-13 16:06] mikeebowen opened #1183 "donejs add app hangs when creating new app with node 10.16.0 on Windows 10"
__How often can you reproduce it?__

- [ x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__

With node 10.16.0, npm 6.9.0 and donejs 3.2.0 if you run `donejs add app my-new-app` the cli runs until you answer the questions about your app (`? Project name`,  `? Project main folder` etc.) until it gets to `? NPM version used 6` where it just hangs and never compl

[2019-06-13 17:04] mikeebowen commented on #1183
I found the same issue occurs when running `donejs add component my-component` with node 10.

[2019-06-13 20:05] chasenlehara commented on #1183
Thanks for filling this issue @mikeebowen!

@cherifGsoul, I think this issue is specific to Windows 10.

I’ve opened some PRs to add Node 10 to our AppVeyor config:

- https://github.com/donejs/cli/pull/119/files
- https://github.com/donejs/generator-donejs/pull/306/files
- https://github.com/donejs/donejs/pull/1182/files

You can push fixes to those PRs. I _think_ it’d be good to fix the generato

[2019-06-13 22:16] cherifGsoul opened #1184 "Code highlighting is broken"
The code highlighting is broken a cross the site

![Pasted_Image_6_13_19__11_14_PM](https://user-images.githubusercontent.com/109013/59470857-0cc09480-8e31-11e9-892d-42e8ae19efd9.png)

<img width="1435" alt="donejs_-_In-depth_guide" src="https://user-images.githubusercontent.com/109013/59470941-45f90480-8e31-11e9-9112-ae6d22a58d20.png">

[2019-06-14 17:33] #1184 closed, assigned to nobody

[2019-06-14 22:47] cherifGsoul commented on #1183
This might be related to Node v10 on MS Windows 10 in general, as discussed in the yeoman generator [issue](https://github.com/yeoman/generator/issues/1098)
The quick work around for now is to [cygwin](https://www.cygwin.com/) (I tested and works perfectly).

[2019-06-18 14:10] cherifGsoul commented on #1183
This is fixed in `donejs-cli` [3.2.1](https://github.com/donejs/cli/releases/tag/v3.2.1) .
Run: `npm i -g donejs` to update `donejs`.
cc @mikeebowen

[2019-06-18 14:10] #1183 closed, assigned to cherifGsoul

[2019-06-19 14:15] cherifGsoul opened #1186 "Upgrade website dependencies"
The following bit-docs dependencies are outdated:

- bit-docs-tag-package
- bit-docs-generate-html
- bit-docs-prettify
- bit-docs-html-highlight-line
- bit-docs-tag-demo

The upgrade might broke the following issue that need to be checked and fixed:
- [x] Build with minification
- [x] Code Highlighting

[2019-06-21 22:55] #1181 closed, assigned to cherifGsoul

[2019-07-02 18:00] cherifGsoul commented on #1186
Fixed in https://github.com/donejs/bit-docs-donejs-theme/pull/79

[2019-07-02 18:00] #1186 closed, assigned to nobody

[2019-07-04 03:20] chasenlehara commented on #1178
@cherifGsoul Can this be closed now?

[2019-07-04 13:21] cherifGsoul commented on #1178
Yeah, fixed in https://github.com/donejs/bit-docs-donejs-theme/pull/75

[2019-07-04 13:21] #1178 closed, assigned to cherifGsoul

[2019-08-08 17:48] hurgleburgler opened #1188 "Removing 'live-reload' from package.json config does not turn off Live Reload"
__How often can you reproduce it?__

- [X] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__
Removing 'live-reload' from the package.json config and running in 'donejs develop' does not turn off live-reload.

__Steps to reproduce:__

1. Remove 'live-reload' from configDependencies in package.json
2. Restart app with 'donejs develop'
3. Make a change to index.sta

[2019-08-08 18:01] matthewp opened #1189 "live-reload on demo pages"
Currently demo pages do not live-reload as you would want. This is caused by a couple of problems:

1. We do not reload inline modules defined inside of `<script type="steal-module">` tags.
1. The new(er) format for demo pages that simply create a new instance and append to the page aren't torn down during a live-reload. We could inline the necessary `reload(() => element.remove())` code to make t

[2019-08-08 18:02] matthewp commented on #1188
Is this the bug you intended to report? I thought it was about `donejs start`. The reason that live-reload is not disabled is because `--develop` always turns on live-reload. So what you want to do is change your package.json scripts "develop" and remove that flag.

[2019-08-08 18:04] hurgleburgler opened #1190 "When running in 'donejs start' mode, errors are not shown properly"
__How often can you reproduce it?__

- [x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__
When running in 'donejs start' mode, with 'live-reload' removed from package.json.configDependencies, less errors are not shown on the server's command line.  Instead, a generic ```UnhandledPromiseRejectionWarning: Unhandled promise rejection.``` is shown.

__Steps to re

[2019-08-08 18:10] hurgleburgler commented on #1188
The other issue has been logged.  Is the proper way to turn off 'live-reload' to remove it from the configDependencies, or rather to just run the serve command with ```--no-live-reload```?

[2019-08-08 18:16] hurgleburgler commented on #1188
Per the documentation on done-serve , at [https://github.com/donejs/done-serve#-l---no-live-reload](https://github.com/donejs/done-serve#-l---no-live-reload)

[code]
Even when I update the package.json 'develop' command with this option, it is still live-reloading.

[2019-08-08 20:10] matthewp commented on #1188
I'm going to look into this, that's surprising. I'm not sure why there is both a `--no-live-reload` and a `--develop` option, as the primary thing that `--develop` does is not load a live-reload server.

You can disable it by not passing the `--develop` flag.

[2019-08-14 18:23] hurgleburgler opened #1192 "Missing Less Imports fail with misleading error"
__How often can you reproduce it?__

- [X] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__
Importing a file that doesn't exist in Less doesn't result in a helpful error, instead you receive a ```index.stache:8: Unable to find key "this.routeData.page".```

__Steps to reproduce:__

1. `npm install -g donejs@3`
2. `donejs add app place-my-order --yes`
3. `cd pla

[2019-08-16 12:18] matthewp commented on #1192
Thanks, once CanJS 6 is out I hope to have a little time to work on DoneJS bugs, and I'm keeping a list of these. Thanks again for reporting.

[2019-08-21 00:20] hurgleburgler opened #1194 "Bypassing Programatic Page Loading app.js logic in Guide results in a default promise value of 'falsetrue'"
__How often can you reproduce it?__

- [x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__
I prefer to put the page view logic of my app in the index.stache.  The guide is doing this programmatically through the viewmodel in app.js.  When I back out this logic and return it to the stache, I am seeing a strange state toggle on the {{ this.restaurants.isResolved

[2019-08-21 02:31] #1194 closed, assigned to nobody

[2019-08-21 02:32] hurgleburgler commented on #1194
Unable to reliably recreate.  Will reopen when I can.

[2019-08-23 20:24] cherifGsoul opened #1195 "In-depth guide select order items issue"
## The problem
In the in-depth (place my order), following the guide steps a user found an issue that when removing (uncheck) a menu item the price goes up instead of goes down:

![pmo](https://user-images.githubusercontent.com/109013/63621553-1d894580-c5ec-11e9-87a1-d6b0eabd312a.gif)

## Why?
This [line](https://github.com/donejs/place-my-order/blob/14401d83c6ea6882135f1220a5a4412b0bfa325b/src/mo

[2019-08-27 21:35] chasenlehara opened #1196 "Update generator templates to support Xenial on Travis"
These files:

- https://github.com/donejs/generator-donejs/blob/master/plugin/templates/static/.travis.yml
- https://github.com/donejs/donejs-travis/blob/master/default/templates/travis.yml

…should be updated with the changes we made for https://github.com/canjs/canjs/issues/5001

[2019-09-04 17:01] matthewp opened #1198 "Upgrade to CanJS 6"
This is an initial issue for DoneJS 4 which includes CanJS 6. I would recommend keeping DoneJS 4 small and possible look forward to a DoneJS 5 for larger changes to the framework.

[2019-10-03 15:01] #1195 closed, assigned to cherifGsoul

[2019-10-16 20:17] matthewp commented on #1198
I did a spike on this in the last few days. Things done:

* Upgrading major packages such as done-autorender, done-component, done-ssr.

Not done:

* Made can-stache-element work (this requires a new custom elements shim sort of like the MutationObserver one created for DoneJS 3).
* Upgraded donejs-cli / generators.
* Updated demo apps.

I would expect this to be a 3+ week project to complete if w

[2019-10-20 03:33] #582 closed, assigned to nobody