[2010-11-18 16:50] moschel commented on #2
Follow the installation guide here:

http://javascriptmvc.com/#&who=install

I fixed the old reference you found to javascriptmvc.git in the README. Thanks for pointing that out!

[2010-11-18 16:56] danielhunt commented on #2
Excellent - cheers for clearing that up! :)

[2010-11-24 16:48] jupiterjs commented on #3
This won't work unless you're in a main controller or put an element controller on the document.Element.  A controller can only listen to elements 'within' it's element.  The body is outsite almost everyone.

if you want to listen to the window being clicked, there might be windowclick as an action, or at lease you can do :

this.bind(document.body,"bodyClick")

in your controller's init.

Please

[2010-12-01 14:23] lastzero commented on #4
This makes sense, as you want a common behaviour on the different platforms/filesystems. If you allow uppercase, I am sure some windows/virtualbox user will check this in as "working perfectly" and because some include uses lowercase, the code will break on a normal Linux (that means on the Web server, in the worst case).

Is there any reason why you provide an absolute path rather doing this?

./

[2010-12-01 14:40] daredevildave commented on #4
Well, I have the jmvc installed somewhere like:
    /home/dave/Projects/jmvc
and I want to create the app in:
    /home/dave/Projects/mvcapp

From the first folder if I run:
    ./js jquery/generate/app ../mvcapp
I get a FileNotFound exception from java

So I'm using the full path, however, on Ubuntu it doesn't get created where I specify as it changes the path to all lowercase.

[2010-12-01 15:10] lastzero commented on #4
Works for me:

<pre>./js jquery/generate/app mvcapp</pre>

Why do you use ../ ?

[2010-12-01 15:12] daredevildave commented on #4
I don't want the app to be created in a sub-directory of the jmvc folder.

[2010-12-01 17:24] jupiterjs commented on #4
Why don't you want it there?  It's how most apps are organized.  I could probably make ../ work.

[2010-12-01 17:25] jupiterjs commented on #4
Btw, if you want it to work real quick, you can generate an app in your folder, move it where you want, then you just have to change the path to steal in the .html files.

[2010-12-01 17:35] daredevildave commented on #4
I've been working with it in a sub-folder. It wasn't clear at the start that the created app would be dependent on files in the jmvc folder. My usual folder structure is:

[code]

I thought that would be more logical, but I I'll rename my jmvc folder to appname and have:
    ~/Projects/appname/appname/...
                       jquery/...
                       steal/...
                       etc

[2010-12-01 17:41] jupiterjs commented on #4
yeah, I'll work on this sometime this week hopefully.

[2011-07-10 08:17] michaelchart commented on #8
I think this is fixed in the latest version of jquerymx

[2011-07-15 18:19] mindscratch commented on #9
...i thought I had some problem with passing an "id", but it turns out it's the "class" property. Once I changed it from "class" to something else, such as "buttonClass", the compression/build worked fine.

[2011-09-19 18:12] justinbmeyer commented on #9
this works in development mode?  It shouldn't.  Class is a reserved word in JS.  There's nothing we can do about this.

[2011-09-19 18:12] justinbmeyer commented on #11
this should be reported in steal

[2011-09-20 08:12] stefannygard commented on #11
issue is now reported in steal

[2011-09-29 20:44] daffl commented on #14
This is not an issue it is a change in organizing applications (read the latest guide to that here: http://edge.javascriptmvc.com/docs.html#!organizing) starting at version 3.1 and fully implemented in 3.2 which will be relased shortly.

There is not really a controllers folder anymore, each plugin (like a controller) has it's own directory with it's own views subfolder. I think the 3.1 generator

[2011-09-30 09:16] anvio commented on #14
Thanks for the explanation!

[2011-10-18 04:49] justinbmeyer opened #18 "AMD support"
Create a steal/amd plugin that supports AMD modules ontop of steal's API.

http://wiki.commonjs.org/wiki/Modules/AsynchronousDefinition

Things to think about:
- steal currently does not support cycles.  Is this supported in AMD / CommonJS?

[2011-10-18 05:00] justinbmeyer opened #19 "Steal supports packages"
Steal will be able to declare packages like:

[code]

This tells the builder to build contacts, login, and filemanager packages that can be progressively loaded later.  In **development**, when code runs like:

[code]

Steal will simply steal `contacts/contacts.js` and anything it steals that hasn't already been stolen.

But in **production**, instead of stealing `contacts/contacts.js`, it will st

[2011-10-18 05:15] justinbmeyer opened #20 "ECS - A coffeescript version of EJS"
I'd like to make EJS more powerful

Functions are likely to become more popular w/i EJS.   But they are cumbersome.

I'd like to make a coffeescript version of ejs. It could look like:

[code]

The problem is indention.  I'm thinking tags like `<%+` and `<%-` could be used to control indention.

[2011-10-18 05:20] justinbmeyer opened #21 "FuncUnit able to use Jasmine (and JSTestDriver)"
FuncUnit should be able to use Jasmine or other testing solutions.  And JSTestDriver should work as a steal.browser.

References:
- https://github.com/jupiterjs/funcunit/issues/12
- http://forum.javascriptmvc.com/#Topic/32525000000224009/32525000000667494

[2011-10-18 05:22] justinbmeyer opened #22 "NodeJS support"
Have StealJS (and by extension everything else) able to run from node.

we can have substitute js scripts that run node if present.

Why
- Much better performance
- JS community man

[2011-10-18 05:24] justinbmeyer opened #23 "MXUI documentation"
Clean up and document MXUI.

Things to think about ...

A lot of the API needs to get cleaned up, but we should prioritize what is most useful:
- fill
- accordion
- grid
- list
- slider

etc

[2011-10-18 05:25] justinbmeyer opened #24 "FuncIt"
Get FuncIt working.  I can help get the basics going again.

[2011-10-18 06:15] justinbmeyer opened #25 "JavaScriptMVC Community Gamification"
I've been inspired by http://www.codinghorror.com/blog/2011/10/the-gamification.html and would like to do something similar with JavaScriptMVC.

We can have a points system and give away prizes for achieving a certain level of points.  Points can be earned for:
- Setting up an account (we probably need to know github and forums user).
- Viewing a documentation page for 1 min a scrolling to the bot

[2011-10-18 15:14] daffl commented on #23
Totally up for it. I was thinking of using the jQuery UI CSS framework for the markup (should be easy to make it configurable of course). You said a lot of it is already in use. How would we do that with a cleanup? Develop it on a separate branch? Oh and write access to the MXUI repository would be great :)

[2011-10-18 15:35] moschel commented on #23
write access = done

[2011-10-18 20:05] polgfred commented on #20
You can assume that certain constructs will create an additional level of indentation: a function decl, if/else/do/while, etc. As for when to end an indentation block, you can do it with some kind of 'end' token. The convention in Django templates is to use "endxxx" where xxx is whatever begins the loop:

[code]

Since there is no `end` keyword in CS, you can probably just always use `end` to deno

[2011-10-18 20:09] justinbmeyer commented on #20
I'm not sure if that will work ... how would we know where the indent begins (w/o a lot of work in ejs)?

[2011-10-18 20:09] polgfred commented on #18
https://github.com/amdjs/amdjs-api/wiki/AMD is the official doc.

[2011-10-18 20:18] polgfred commented on #20
Like I said, certain constructs always create an indent. Yes, you'd actually have to parse it. The only other way is to make the indentation of the ECS file itself significant, which really sucks IMO.

[2011-10-18 20:29] polgfred commented on #20
Sam Stephenson just published Eco for this. Worth taking a look for inspiration at least.

https://github.com/sstephenson/eco

I like the idea of using the colon to denote indentation, and `end` to dedent.

[2011-10-18 20:35] justinbmeyer commented on #20
Ah, it also supports blocks and capturing, another feature I wanted ....

[2011-10-19 09:28] addyosmani commented on #26
Not an urgent question at all, but how does JMVC compare size-wise to other MVC-like JS frameworks? I remember Brian LeRoux making a comparison chart against frameworks for TodoMVC but this wasn't really reflective of the framework components alone :)

[2011-10-20 03:27] justinbmeyer commented on #26
IMO, this is not a good question.  It's the one simple, tangible value that people can easily compare so its importance gets far overblown.  Size is important, but only when standing along-side an understanding of features.

With that being said, I think BB is 5 KB with it's underscore dependency.  I'm not sure about other frameworks.

But also with that being said .. BB has nothing like $.Class,

[2011-10-20 03:31] justinbmeyer commented on #26
Oh, and the fact that you can just use $.Controller or $.Class ...

[2011-10-24 22:32] justinbmeyer commented on #20
EJS now supports blocks and capturing.

[2011-11-08 23:19] justinbmeyer commented on #29
This isn't a bug with JMVC so please ask it on the forums.  thanks.

[2011-11-14 08:15] leedorian commented on #30
I replaced "funcunit/java/" to "funcunit/selenium/"  in several files and regenerated the cookbook app, it's work.

[2011-12-03 13:02] justinbmeyer commented on #26
In a branch, I am able to get:
- Class: .627
- Controller: 1.3
- Observe: 1.8

I did this by removing unessential features.  For example, this._super, this.proxy, $.fn.controller, controller's plugin helper.  And a very thin layer on $.Observe to do ajax requests the way model does (a model with no validations, getter / setters, defaults / serialization, etc)

This would make the total about: 5.5k

[2011-12-05 00:48] justinbmeyer commented on #26
Another iteration:

## Model 3.04KB (Δ +0.22 KB) 2.88KB (+0.04)

Break Down:
- Model Core -> 1.12KB -> 1.09KB
- Observe -> 1.92KB -> 1.74KB

Plus
- Based on $.Observe
- $.Observe.List

Minus
- setters
- serialize (attributes)
- elements
- basic validation (needs tests) (attributes)

## Class 0.66KB ( Δ -0.32 KB )

Minus
- proxy
- _super

## Controller 1.33KB ( Δ -0.4 KB )

minus:
- jQuery helper,

[2011-12-05 04:52] justinbmeyer commented on #26
So BB (4.6KB) and it's Underscore dependency (3.74KB) are 8.33KB.

Currently, the MVC parts are 6.92.  This does not include route ( 1.16KB ) and hashchange ( .5kb ).

So, MVC + R+H = 8.58.

$.View and $.route will have to come up with the remaining 0.25.

[2011-12-05 06:29] justinbmeyer commented on #27
Brian?

[2011-12-11 08:06] justinbmeyer commented on #26
I have the small mvc parts down to 5.79KB.  Awesome.

[2011-12-11 23:22] justinbmeyer commented on #26
So now, with hashchange, deparam, $.route, and controller/route, JMVC comes to:

7.33 KB!

controller/route lets you bind to specific routes like:

[code]

We could use an html5 converter ...

[2011-12-11 23:24] addyosmani commented on #26
Great job, Justin! :)

[2011-12-12 02:59] asavoy commented on #26
Wow, that's tiny!

[2011-12-21 07:55] justinbmeyer commented on #32
this belongs in jquerymx

[2011-12-21 07:56] justinbmeyer commented on #27
Brian?

[2011-12-21 08:03] moschel commented on #27
no one should  be starting selenium this way anymore (it starts automatically in funcunit) so I removed this dead path

[2011-12-21 08:45] justinbmeyer commented on #19
A short example of what could be done is:
1.  The initial code loads with some basic understanding of routing, if the user is logged in, and the initial data requested for most routes.
2.  The initial code checks the route and user, decides that they are wanting to view a filemanager, they can request the code and the data for the filemanager.
3.  When the data, and the filemanager code are ready,

[2011-12-28 01:40] justinbmeyer commented on #19
Here's the test app:

https://github.com/jupiterjs/steal/blob/packages/build/packages/test/app.js

It progressively loads the accordion or table scroll as app.

[2011-12-31 10:27] wclr commented on #22
Don't you think to migrate from rhino and envjs to node for the build process?

[2012-01-11 05:53] justinbmeyer commented on #19
## Dealing with large numbers of packages

If the number of packages are large, say 7, there could be many sub-packages that need to get loaded for a single package.  This is not ideal as the overhead would not be worth loading all the scripts.

What's needed is a DEPTH value that is used to limit the number of sub-packages any package needs to load.

Here's one way we can do it ... for each sub-p

[2012-01-17 15:45] jtsoi commented on #19
Not sure if this is the right place for this, but as JMVC gets traction and is used more and more in production, there is a clear need for cache busting in steal.

What do you guys think about this approach:

Current way to load an app in prod is:
`<script type="text/javascript" src="steal.production.js?myApp"></script>`

What if there would be an option to add:
`<script type="text/javascript" src

[2012-01-17 18:37] justinbmeyer commented on #19
I agree this is needed, but I think Brian has a way to do this.  Brian?

[2012-01-17 18:38] justinbmeyer commented on #19
Oh, can you move this to another issue, also one for steal.  This is about packages.

[2012-02-01 20:29] justinbmeyer commented on #26
It's now 9.16KB with EJS (and EJS's new live-templating).

Without EJS, it's about 7.4k (excluding hashchange).

It will be about 1k bigger for Zepto because it brings deferred support.

[2012-02-01 21:41] justinbmeyer commented on #26
Here's the breakdown ...  You can see that EJS is now a fat ass ...

[2012-02-01 21:42] justinbmeyer commented on #26
combined, EJS + View is 3.5k ... much too big.

[2012-02-14 00:36] justinbmeyer commented on #26
Total is now 8.8k.

[code]

You an see that EJS+View has blown (3.3k) up b/c of live templating.  However, this is largely equivalent to Knockout now.

[2012-02-14 09:07] addyosmani commented on #26
@justinbmeyer really great work on this. Are there plans on making the improvements more visibly documented somewhere?

[2012-02-23 14:08] polgfred commented on #38
I'll try to take a look at this today.

[2012-02-24 19:50] ecentinela commented on #38
Is there any jupiterjs repository that I can observe to see when this issue is resolved?

[2012-02-25 03:26] polgfred commented on #38
These changes would go into jupiterjs/javascriptmvc-site.

[2012-02-28 05:03] polgfred commented on #38
I'm not seeing this. I just downloaded the complete JavascriptMVC and a custom bundle from the jQueryMX download builder. Both are showing jQuery 1.7.1.

[2012-02-28 06:11] ecentinela commented on #38
Now is fine.
Seems someone updated the site this weekend.

[2012-04-19 17:40] justinbmeyer commented on #26
This has been accomplished via CanJS

[2012-04-19 17:44] justinbmeyer commented on #4
I'm moving this to steal's issues where it belongs:

https://github.com/jupiterjs/steal/issues/77

[2012-04-19 17:46] justinbmeyer commented on #16
This is done in CanJS.

[2012-04-19 17:46] justinbmeyer commented on #17
This is done-ish in CanJS.  I find that sorting isn't that important.  You almost always get it sorted from the server.

[2012-11-11 22:25] ev45ive commented on #18
https://forum.javascriptmvc.com/#Topic/32525000001044065 - thoughts on Steal/AMD

**Problems:**
- $.Class() - register new Classes in global scope or return in module exports?
- How to pass dependencies from module to Classes inside? by defaults object?
- How not to "bloat" code with AMD and not confuse less advanced users
- How to decouple module contents from rest of app for reusability (possibl

[2013-05-29 09:37] totty90 opened #43 "Your tutorials about get started are outdated if using the bat file! (Installing with a script)"
1) Here [http://v3.javascriptmvc.com/docs.html#&who=developwithgit] go to "Installing with a script" and click on the "Windows". The link is dead - page not found: https://github.com/jupiterjs/javascriptmvc/raw/master/scripts/getjmvc.bat

Please update this.

2) If you change "jupiterjs" to "bitovi", because your project migrated you will get: https://github.com/bitovi/javascriptmvc/raw/master/scr

[2013-05-29 12:56] justinbmeyer commented on #43
We just updated to a new version (3.3) in master last night, we deployed the docs and a new release today so everything should be fixed.

Sent from my iPhone

On May 29, 2013, at 5:37 AM, TT TY notifications@github.com wrote:

[2013-05-29 13:52] alexisabril commented on #43
- we are deploying today(future tense)

[2013-05-29 14:20] totty90 commented on #43
Thanks.. I really thought it was not supported anymore (I checked the last commit and didn't seemed to be so) because of those problems in the documentation...

[2013-05-30 08:53] totty90 opened #44 "Creating an app with 2 words camel cased like: "MyApp" will make scaffold not to work..."
For example if you make an app:

   PublicRelations

Then run the scaffold for a model like Dog

  it will work for the first ~10 files, shows the path PublicRelations/.../...
  but then it will throw an error saying that the folder public_relations doesn't exists.

I think that the script that generates some part of the code is incoherent.. This looks like a DRY problem.. I don't know, just test

[2013-10-15 03:32] lihan commented on #45
Re-reported to steal repo
https://github.com/bitovi/steal/issues/169

[2015-05-28 17:41] #19 closed, assigned to alexisabril

[2015-05-28 17:41] #22 closed, assigned to nobody

[2015-05-28 17:41] #20 closed, assigned to nobody

[2015-05-28 17:43] justinbmeyer opened #1 "Generators"
Make sure that model generators work: https://forum.javascriptmvc.com/#Topic/32525000001714003

[2015-06-02 22:18] justinbmeyer opened #2 "Create a place-my-order server."

[2015-06-02 22:19] justinbmeyer opened #3 "Create a SSR + Proxy"

[2015-06-04 21:31] matthewp opened #4 "donejs cli"
I wonder if we should have a cli tool like ember-cli.  It could include generators and a dev server.  This would make the "getting started" story much simpler and make donejs easier to sell.

[2015-06-04 21:41] daffl commented on #4
That's what I started working on today. I think the main donejs repository can be the CLI app. So we'd do:

`donejs init` will initialize everything including a `package.json` with all dependencies in that folder and the basic folder structure and files. Because `donejs init` will create your own package.json it can use the most up-to-date dependencies so we don't have to update the CLI every time

[2015-06-08 14:04] gazlu opened #47 "Can-Value not included in version 3.3"
How to include canjs binding in JavaScriptMVC version 3.3. on CanJS master checkout it gives following warning and does not load controls.

can/construct/construct.js: extending a can.Construct without calling extend

[2015-06-08 16:32] justinbmeyer opened #6 "Show using live-reload in the guide"
perhaps right after "Setting up server side rendering".

Link to or a brief stealjs introduction.

[2015-06-11 17:35] daffl commented on #2
This has been released as https://github.com/bitovi/place-my-order-api

[2015-06-11 17:35] #2 closed

[2015-06-11 17:36] daffl commented on #3
Implemented in https://github.com/canjs/can-ssr and in place my order via https://github.com/bitovi/place-my-order/pull/58

[2015-06-11 17:36] #3 closed

[2015-06-12 19:54] matthewp opened #8 "Specify a base url for ajax requests"
For Cordova and NW.js builds we need to specify a base url for all ajax requests.  A couple of ideas:

## Steal configuration

Cordova apps need their own html file anyways so it could be configured in the script tag:

[code]

And then in models:

[code]

### Good

* This works today.

### Bad

* A bit nasty to have to do this for each model (you could have a lot).
* You have to have a default for

[2015-07-09 14:12] Alfredo-Delgado opened #9 "Had to add system config to get production working."
- [package.json](https://github.com/bitovi/levis/blob/b6341132862a86264e9e52540b56c823748367fb/package.json#L41-L43)
- [system-config.js](https://github.com/bitovi/levis/blob/b6341132862a86264e9e52540b56c823748367fb/system-config.js)

[2015-07-22 21:53] daffl commented on #4
This should be closed via #10 and the 0.1.0 release. We will continue improving the CLI tool where necessary.

[2015-07-24 21:54] daffl opened #11 "Guide with generator updates"
Notes for the https://github.com/donejs/donejs/tree/generators-guide branch:

- [ ] `pmo/` folder needs to be changed to `src` (needs help from @matthewp to make sure that the mapping works)
- [ ] use generator to create supermodel (connection)
- [ ] explain the generated components and models and application

[2015-07-27 14:21] mjstahl opened #12 "donejs develop needs to be donejs start based on the generated package.json"
The guide references using `donejs develop` to start up `can-serve`, but the package.json uses `start` in its scripts section.

[2015-07-27 14:35] mjstahl opened #14 "Create a better error message for when package.json has an error in it."
If you create an error in your `package.json` (i.e. add a comma where it doesn't belong) and then try and run a donejs command.  You get the following error message:

`No local package.json found. Please run "donejs init"`

This is only true when the file cannot be found.  But the user can inspect their filesystem and see the file is there, but may not understand (based on our error message) that

[2015-07-27 15:15] mjstahl opened #15 "donejs generator needs usage text (and a help option)"
Currently if you do `donejs` you get the following output:

`Command "undefined" is not available`

We need set a default to `donejs` where if the command is not found we display the usage text to the user.

[2015-07-27 15:17] #12 closed

[2015-07-27 15:21] mjstahl opened #16 ""donejs"

[2015-07-27 15:23] mjstahl opened #17 ""donejs generate" should create files based on "npm prefix" not the current directory"
When going through the guide, `cd` into the `src` directory and do:

`donejs generate component home.component`

This will give you the following error:

`Cannot find module 'yeoman-environment'`

Therefore any generate commands should start from the `npm prefix` directory and not the current directory.

[2015-07-27 16:05] #16 closed

[2015-07-29 13:21] mjstahl commented on #18
[code]

Where the script tag would only include the `src` when the `when` attribute is not falsey.

Here environment is a built-in function that compare `NODE_ENV` to argument provided.

[2015-07-29 13:22] matthewp commented on #18
Maybe `include-when`

[2015-08-02 03:25] justinbmeyer commented on #19
what does `Ynaxdh` mean?

[2015-08-02 03:26] justinbmeyer commented on #19
once generator is done ... can it start a server and open the main page?

[2015-08-03 21:14] phillipskevin commented on #20
Also, after installing place-my-order-api as a dependency, this is what I see in package.json:

[code]

[2015-08-04 15:24] matthewp commented on #20
Thanks, donejs init is replacing our use of peerDependencies. I think we can remove them from the package.json, agree @daffl ?

[2015-08-07 13:34] matthewp commented on #25
Need to update the guide to explain "envs" configuration.

[2015-08-07 15:43] matthewp commented on #25
These are all done, leaving this issue open while I finish going through the guide.

[2015-08-07 18:24] matthewp opened #26 "donejs deploy doesn't find node_modules/.bin/donejs-deploy"
Any ideas on this one @daffl ?

[2015-08-07 18:24] matthewp commented on #25
- [ ] https://github.com/donejs/donejs/issues/26

[2015-08-07 21:43] #26 closed

[2015-08-07 22:46] phillipskevin opened #27 "DoneJS Component Generator sets filename incorrectly"
Generating a new component as described in the DoneJS Guide

[code]

creates a file called "home.component.component".

[2015-08-07 23:16] matthewp commented on #25
Closing, will reopen issues as they are found.

[2015-08-08 04:23] justinbmeyer opened #28 "using package name breaks production loading"
instead of

[code]

I had

[code]

[2015-08-09 05:35] justinbmeyer opened #29 "Unable to find "extension"'s helpers"
I get a bunch of warnings like:

2can.js:262 WARN: can/view/stache/mustache_core.js: Unable to find helper "asset".
can.js:262 WARN: can/view/stache/mustache_core.js: Unable to find key or helper "isProduction".

looking into `extensions.js` it's not clear how this is supposed to be used.  A config dependency?

[2015-08-09 21:40] justinbmeyer opened #30 "Getting Started Guide Notes"
## space before folder name

[2015-08-09 23:23] justinbmeyer commented on #30
# Creating custom elements

I'll be doing this later tonight.

[2015-08-10 03:16] justinbmeyer commented on #30
# Setting up routing

## Create Routes

##### from a URL string to properties in our application state

__application view-model__

##### export default AppState; (p0)

`export default AppState;` is listed twice.

[2015-08-10 03:50] justinbmeyer commented on #30
# Getting and Displaying Data from the Server

## Creating a restaurants connection.

##### "Creating a restaurants connection." has a period at the end of it.

We should be consistent everywhere.  Please check.

##### Answer the question about the URL endpoint

We need a better way to show what the answers should be.  Perhaps a screen shot?

[2015-08-10 04:09] justinbmeyer commented on #30
# Creating a unit-tested view model

[2015-08-10 05:11] justinbmeyer commented on #30
# Setup automated tests and continuous integration (CI)

## Creating a global test page

##### inaccurate title

We don't create this test page.

##### test.html

Part of me feels this should be in the root folder so I can just go to `localhost/test.html`.

## Using a test runner

##### Color? (p3)

I thought the test output would be reported in color?

## Setting continuous integration (Travis CI

[2015-08-10 05:24] justinbmeyer commented on #30
## Nested routes

##### Is defaults object necessary?

[code]

[2015-08-10 13:54] matthewp commented on #28
I think this is fixed in steal-tools 0.11.0-pre.8.  Previously steal-tools was producing bad bundle names when the main is an npm name.

Note that the main in the script tag here should match what is used in pkg.system.main. So if you're using directories.lib both should include the package name.

[2015-08-10 13:59] matthewp commented on #30
Thanks for the feedback. As to live-reload, I believe the problem is [here](https://github.com/donejs/generator-donejs/blob/master/app/index.js#L114).  I don't believe it's possible to run 2 servers with the same command like that.  THe `&` will cause `npm start` to run in the background which we definitely don't want.

[2015-08-10 14:02] matthewp commented on #29
`asset` and `isProduction` are helpers that only exist in server side rendering.  I'm not sure what the best solution is to make these warnings go away.

[2015-08-10 19:01] matthewp opened #31 "Changing less breaks live-reload (p0)"
##### Changing less breaks live-reload (p0)

<img width="953" alt="cursor_and_place-my-order_and_styles_less_ _place-my-order" src="https://cloud.githubusercontent.com/assets/78602/9157175/410b3e00-3eb9-11e5-9670-bc1d90774cbf.png">

Even refreshing does not fix this.  I have to restart the server.  cc @matthewp

[2015-08-10 19:02] matthewp commented on #31
Fixed in done-css 1.1.6 https://github.com/donejs/css/commit/1ec5153a8b3a0a2194f34fab2ef8b3def27375c5

[2015-08-10 19:03] #31 closed

[2015-08-10 19:03] matthewp commented on #30
Fixed one of the live-reload bug, starting from scratch again to confirm.  https://github.com/donejs/donejs/issues/31

[2015-08-10 19:14] matthewp commented on #30
cc @justinbmeyer

Was did you install it in a separate window?  Did the area occur with live-reload running or did this occur when you refreshed the page?

[2015-08-10 19:17] matthewp commented on #30
What is the suggestion here? Should we tell them to kill the server while installing things?

[2015-08-10 19:25] matthewp commented on #30
should the tag name field be required? If not, what is the default?

[2015-08-10 19:40] matthewp commented on #30
## Creating a restaurant list element

These links won't work unless you restaurant the server, I guess we should write this note in?)  cc @justinbmeyer

[2015-08-10 19:45] matthewp opened #32 "change AppState to AppViewModel"

[2015-08-10 19:49] matthewp commented on #32
Updated to the generator: https://github.com/donejs/generator-donejs/pull/16

[2015-08-10 19:51] matthewp commented on #32
https://github.com/donejs/donejs/pull/33  Waiting on a generator-donejs release to merge the guide change.

[2015-08-10 19:59] matthewp commented on #31
![lr1](https://cloud.githubusercontent.com/assets/361671/9182445/b8e29ada-3f78-11e5-8d45-f63e440e6454.gif)

[2015-08-10 20:02] matthewp commented on #32
This is merged, will confirm

[2015-08-10 20:27] matthewp commented on #30
Just confirming that live-reload did work when updating index.stache while working on this section.

[2015-08-10 20:28] #32 closed

[2015-08-10 20:36] matthewp commented on #30
## Test the connection

Just noting that live-reload works through this section.

<img width="699" alt="screen shot 2015-08-10 at 4 35 45 pm" src="https://cloud.githubusercontent.com/assets/361671/9183568/eb8c0174-3f7d-11e5-8b0b-ea056dec9cfe.png">

[2015-08-11 01:30] matthewp commented on #30
#### Loading error (p0)

[code]

This is because we are using the `~` helper. I think can-ssr should set a default baseURL for the server that can be overridden in the `envs` config (like we do to make cdn work in production).

[2015-08-11 01:40] matthewp commented on #30
## Add data to the page

 #### Live-reload is not working (p0)

It works now:

![lrbundle](https://cloud.githubusercontent.com/assets/361671/9188260/502cdf34-3fa8-11e5-8519-0a518037768f.gif)

Also the user should not need to set up `bundle` config for the build, I'll remove that section from the guide when I get there and can confirm.

[2015-08-11 19:52] matthewp commented on #30
Live-reload with tests is working now.

[2015-08-12 05:54] justinbmeyer commented on #30
# Importing other projects

- [ ] __installing bit-tabs blows up live-reload__ (p0)

<img width="945" alt="cursor_and_place_my_order" src="https://cloud.githubusercontent.com/assets/78602/9217389/aa2bf012-408c-11e5-9409-b02113f2ddce.png">

[2015-08-12 06:03] justinbmeyer commented on #30
# Creating data

## Updating the order model

- [ ] __We haven't created an order model yet so this title is strange__ (p3)

- [ ] __using forEach instead of .each__ (p1)

Does forEach live-bind?

[code]

- [ ] __Price should be assigned the "number" type so it doesn't have to be floated here__ (p1)

[2015-08-12 06:34] justinbmeyer commented on #30
# Set up a real-time connection

## Adding real-time events to a model

- [ ] __no --save__ (p0)

- [ ] __when npm install is run, we get warnings like:__ (p1)

<img width="790" alt="place_my_order" src="https://cloud.githubusercontent.com/assets/78602/9217852/392e3388-4092-11e5-86ff-7de97c783b45.png">

Do we need to tell them to restart?

[2015-08-12 12:04] matthewp commented on #30
live-reload of tests working:

![lrtests](https://cloud.githubusercontent.com/assets/361671/9223507/bdbeb39e-40c8-11e5-84ff-a9d1d8940a58.gif)

[2015-08-12 12:53] matthewp commented on #30
#### Adding real-time events to a model

This is happening because of live-reload. This project doesn't have a system-config, but can does, so there is a System.configDependencies array in the memory. When it tries to reload "package.json!npm" (which i'm still a little unsure is possible or not) it then wants to load "system-config" which doesn't exist.  I think the temporary solution here is to s

[2015-08-12 13:13] alexisabril commented on #30
<img src="http://content.screencast.com/users/alexis.abril/folders/Jing/media/799e1756-8bd0-445c-8539-ff2cf00f1043/00000190.png"/>

The above section produced the following error. I'm currently investigating, just noting here.

[code]

[2015-08-12 13:53] matthewp commented on #30
I get errors the first time I tried to run documentjs:

[code]

To fix I had to run:

[code]

and then run again.

[2015-08-12 14:40] alexisabril commented on #30
https://github.com/donejs/donejs/blob/master/docs/guide.md#test-the-connection currently returns a connection refused error.

Server trace:

[code]

[2015-08-12 14:42] matthewp commented on #30
@alexisabril did you restart the server when you got that error?

[2015-08-12 14:45] alexisabril commented on #30
@matthewp Sure did. There seems to be a catch somewhere that allows the server to stay running(vs EXIT 1), however the page doesn't actually update without stopping/restarting the server. It's left in a broken, but running state after the above error.

[2015-08-12 14:49] matthewp commented on #30
It's the way our "donejs develop" runs: https://github.com/donejs/generator-donejs/blob/master/app/index.js#L109  This launches the first command as a background task.  Sometimes killing the server doesn't kill the server task and i'm not sure why that is.

[2015-08-12 15:10] daffl commented on #30
The connection refused error happens if you don't have the API running (`donejs api`).

[2015-08-12 15:19] daffl commented on #30
Also, @alexisabril's `TypeError: undefined is not a function` error issue should be fixed now in the generator.

[2015-08-12 15:27] matthewp commented on #30
shouldn't you do a new donejs release to update the generator version?

[2015-08-12 15:37] matthewp commented on #30
found another bug in the generator, will do a release once i fix it

[2015-08-12 16:05] alexisabril commented on #30
@daffl "The connection refused error happens if you don't have the API running (donejs api)." - Server is running prior to the error:

[code]

"Also, @alexisabril's TypeError: undefined is not a function error issue should be fixed now in the generator." - Awesome! It sounds like there were some issues with the generator, I'll wait for the next merge and try this section again.

[2015-08-12 16:36] daffl opened #37 "Do not try to create if init folder already exists"
Right now we are getting a "can't create folder error"

[2015-08-13 18:46] matthewp opened #38 "Development server crashes during Getting data from the server"
http://donejs.com/Guide.html#section_GettingandDisplayingDatafromtheServer

User ran into this issue, would be good to track down the problem with him/her.

[2015-08-14 18:26] alexisabril commented on #30
- [ ] [Building To NW.js](https://github.com/donejs/donejs/blob/master/docs/guide.md#building-to-nwjs) should have a full build.js to be consistent with the rest of the guide
- [ ] Running tests produce an error: http://screencast.com/t/puIrCbO0fllu
- [ ] `donejs test` will fail if Firefox is already open or if not installed
- [ ] Cordova/NW.js references should be linked to those projects
- [ ] _

[2015-08-19 21:46] marshallswain opened #40 "donejs init generates files in the wrong folder"
When I create a folder ~/Sites/test and cd into the test folder, then run `donejs init`, it first installs the generator-donejs and yeoman-environment modules into a new node_modules folder inside the test folder.  Then it prompts for input:
![screen shot 2015-08-19 at 4 31 30 pm 1](https://cloud.githubusercontent.com/assets/128857/9369605/f2b2d914-468f-11e5-8fda-92a1d20b6413.png)
You can see in t

[2015-08-19 21:53] marshallswain commented on #40
Heh.  Then I read the message just above the Project name.  I removed .yo-rc.json from the Sites folder.

[2015-08-19 21:53] #40 closed

[2015-08-20 14:27] cklanac opened #41 "Check for Node 10"
Issue installing because it was using node 0.10.x. Use Joe's machine to recreate the issue

[2015-08-20 14:28] julia-allyce commented on #41
fwiw I'm using node v0.10.38 with no issues for init.

[2015-08-20 14:32] joe-crick opened #42 "Donejs Init Fails: Cannot find module 'yeoman-environment' (1)"
When running donejs init, initialization fails, with the error:

[code]

NOTE: This issue was resolved by installing yeoman globally - `npm i yo -g`

[2015-08-20 15:03] Macrofig opened #45 "donejs init on an already init-ed project"
When you run `npm init` on a project that was already init-ed, the prompt goes through it's files. It will only change a value that it prompted for, it won't affect the rest of the existing `package.json`.

When you do `donejs init`, we have to be careful because there are prompts from Yeoman that could potentially overwrite index files.  I get that it's more of a Yeoman issue but we could get aro

[2015-08-20 15:26] matthewp opened #46 "killing "donejs develop" somethings doesn't kill can-serve process"

[2015-08-24 13:45] matthewp commented on #57
## isEnv / isPlatform

to make this easier we should create helpers on System that check for the platform/env:

[code]

[2015-08-24 21:20] daffl commented on #1
That post is over a year old an talks about JMVC 3.3. I'm not sure what I'm supposed to do with this?

[2015-08-24 22:22] #4 closed

[2015-08-24 22:23] #11 closed

[2015-08-25 14:02] justinbmeyer commented on #1
Once you have the model generators tested, please close this issue.

[2015-08-25 14:05] #6 closed

[2015-08-25 14:07] justinbmeyer commented on #8
@matthewp this is resolved right? Can you write up the resolution?

[2015-08-25 14:07] justinbmeyer commented on #9
@matthewp pretty sure this is closed.  Please re-open if I'm wrong.

[2015-08-25 14:31] justinbmeyer commented on #20
Yes, they have been moved to within a "donejs" property name in package.json: https://github.com/donejs/donejs/blob/master/package.json#L44

[2015-08-25 14:39] justinbmeyer commented on #24
@phillipskevin does this section still exist?  I can't find it.  Thanks!

[2015-08-25 14:40] #27 closed

[2015-08-25 14:45] phillipskevin commented on #24
@justinbmeyer The section is [Add data to the page](http://donejs.com/Guide.html#section_Adddatatothepage) now and has the correct paths. Thanks!

[2015-08-25 14:50] justinbmeyer commented on #28
I will verify.

[2015-08-25 14:52] justinbmeyer commented on #29
I think we should have an `isProduction` at least.  Lets talk about `asset`.  We could simply add a dummy helper to make the warning go away.

[2015-08-25 14:54] justinbmeyer commented on #37
I think we should try to "update".  This should update the dependencies, and let people update any values we ask for (default should be existing values).

[2015-08-25 15:23] matthewp commented on #29
We can add a dummy helper but where?  The ssr extension is only applied on the server.  I guess done-autorender could make those be noops in the client.

[2015-08-25 15:24] matthewp commented on #8
We're using the baseUrl method, it's in the guide where we talk about the native app builds.

[2015-08-25 15:26] matthewp commented on #9
Not totally fixed, I need to redo the envs config as described in #57 and then put the vdom config in can's package.json.

[2015-08-25 16:16] justinbmeyer commented on #41
Closing for #60

[2015-08-25 16:16] #41 closed

[2015-08-25 16:33] justinbmeyer commented on #48
@cklanac any more details about this?  What environment was this running in?

[2015-08-25 16:35] justinbmeyer commented on #46
This has never happened to me.  Can you easily recreate it?  Can you capture what the output looks like?

[2015-08-25 16:36] justinbmeyer commented on #45
Closing for #59

[2015-08-25 16:36] #45 closed

[2015-08-25 16:37] justinbmeyer commented on #44
Closing for #59.

[2015-08-25 16:49] matthewp commented on #61
I don't think this requires live-reload to happen.

[2015-08-25 17:20] justinbmeyer commented on #60
node: 10, 12, and io.

[2015-08-25 17:24] justinbmeyer commented on #1
Check if there's weird input.

[2015-08-25 17:26] justinbmeyer commented on #8
Change to `service-base-url` or something similar.

[2015-08-25 17:30] justinbmeyer commented on #37
Closing for #59

[2015-08-25 17:30] #37 closed

[2015-08-25 17:44] justinbmeyer commented on #61
Related: #50

[2015-08-25 22:51] daffl commented on #62
This has been fixed via

- https://github.com/bitovi-components/bit-tabs/commit/e805c68ace630131e2a8ef49adc4f0005af15539
- https://github.com/donejs/donejs/commit/789f8c42989474747838002d20e67187c9dd7f5f
- https://github.com/donejs/place-my-order-assets/commit/02f9622b4a4b5a241995eb523dd45db28119fbe5

[2015-08-25 22:52] daffl commented on #62
We are now providing a bit-tabs module that does not load its styles. Turned out that overriding the LESS was not very reliable.

[2015-08-25 22:54] daffl commented on #60
https://github.com/donejs/donejs/pull/68 tests run on Node 0.10, latest and io.js on Linux and Windows (caught a bug that way, too). Working on setting the same up for the generator.

[2015-08-25 22:55] #15 closed

[2015-08-27 18:18] justinbmeyer commented on #60
Related DocumentJS issues:

- https://github.com/bitovi/documentjs/issues/104

[2015-08-27 21:03] daffl commented on #55
After some rather disappointing trial & error I think proxying websockets with our setup is not possible. We might be able to add it when we have the ability for can.route to define 404s which then gets passed to the proxy but that means that alls non-matching requests will be proxied.

[2015-08-31 18:03] matthewp commented on #60
steal-tools is now being tested in Node 0.10.x, 0.12.x, and IO.js 3.2.x in Travis and Appveyor (for Windows).  All tests passing in minor.

Going to update the docs on contributing with Windows.

[2015-09-01 12:27] matthewp commented on #57
These are project-specific issues needed to complete this task:

* [ ] - StealJS: https://github.com/stealjs/steal/issues/454
* [ ] - StealTools: https://github.com/stealjs/steal-tools/issues/295
* [ ] -

[2015-09-01 21:17] daffl commented on #17
Makes sense (we're assuming you're running commands from the root level). I'm wondering if there is a way to find that out. Just go up paths until you find a `package.json`?

[2015-09-01 21:50] mjstahl commented on #17
You could definitely do that!

I figured it would be easier to just call `npm prefix`.  I realize there is a performance implication, but it is a command so it won't be running often enough to warrant concerns about executing an extra process.

[2015-09-02 15:09] matthewp commented on #57
This is done.

[2015-09-02 15:46] matthewp commented on #46
@daffl is this fixed by your can-serve changes?

[2015-09-02 17:43] #42 closed

[2015-09-03 12:26] matthewp commented on #67
Have a pull request that fixes this issue: https://github.com/bitovi/canjs/pull/1879

[2015-09-03 12:28] matthewp commented on #9
Fixed by #57

[2015-09-03 12:28] #9 closed

[2015-09-03 12:28] matthewp commented on #29
Going to add the dummy helper in done-autorender on the client.

[2015-09-03 13:23] matthewp commented on #29
This is fixed by https://github.com/donejs/autorender/issues/2 and https://github.com/donejs/donejs/commit/679bb4a8b0721a30fb4f307edeb419700bd94eed

[2015-09-03 13:23] #29 closed

[2015-09-03 13:57] matthewp commented on #47
## Orphaned modules

This problem has to deal with orphaned modules.  Let's say you have a module **A** that depends on **B** and **C**.  If A reloads and now only depends on B, C is an orphan, it doesn't get removed from the page like it should.

### Solution

1. Currently the server only sends the string name of the module that changed like **A**.  The first solution I can think of is to have th

[2015-09-03 14:53] matthewp commented on #66
Biggest problem I foresee here is that we need a web socket client in Node to connect to the server.  But since we are running in the context of the user's problem we can't simply require() one.  Probably what we'll need to do is find a simple one and include it in Steal's `ext/` folder and require it using require.resolve() to find the path.

[2015-09-03 15:52] matthewp commented on #47
I think I'm going to go with solution 2, maintain a childMap in live-reload so that when modules are reloaded we will know what modules changed and delete the orphans.

[2015-09-03 16:02] daffl commented on #66
Couldn't we just shim the global `WebSocket` that's used in https://github.com/stealjs/live-reload/blob/master/live.js#L243 (like we already do with `XMLHttpRequest`)?

[2015-09-03 16:06] matthewp commented on #66
By putting the shim code in can-ssr?  Could do that, but then this would only work if you are using can-ssr (maybe that's ok).

[2015-09-03 16:35] daffl commented on #66
You mean when running `can-serve`? I would think that's ok since we already do that with XMLHttpRequest (although we might just be able to add that to the middleware).

[2015-09-03 18:26] matthewp commented on #47
Changed my mind, 1 is the way to go. We can't reliably know what a module's dependencies are in the client. So we'll send a message from the server that includes modules that were removed.

[2015-09-03 21:55] matthewp commented on #57
I think there are still some issues here, will take a look next week.

[2015-09-08 16:27] justinbmeyer commented on #47
Why?

[2015-09-08 16:29] #46 closed

[2015-09-08 16:30] justinbmeyer commented on #38
@matthewp what user?  @daffl could not reproduce.

[2015-09-08 17:07] marshallswain commented on #38
Maybe this was the issue where if the API server wasn't running it would crash the development server as soon as the client requested data from the API.

[2015-09-09 00:45] matthewp commented on #38
@justinbmeyer The person that emailed you a month ago.

[2015-09-09 18:30] daffl commented on #71
Closed via https://github.com/donejs/generator-donejs/commit/2ce5b2978ab1e9d048d2a988d289e8664bc9324f

[2015-09-10 15:05] mjstahl commented on #17
Based on:
https://github.com/donejs/donejs/blob/master/bin/donejs#L12

Root is currently `cwd()` I believe this is where we could make this change... whatever that change is.

[2015-09-10 15:23] daffl commented on #17
I briefly looked into this but couldn't seem to find a way to use it programatically. So the only option I can think of would be to run `npm prefix` in `process.cwd()` and get the output folder.

[2015-09-10 15:29] daffl commented on #14
I think this can be closed. Not sure if it should throw an error but now when the `package.json` has an error it just can't run any of the commands that are loaded dynamically (`scripts`, `.bin/`).

[2015-09-10 15:29] #14 closed

[2015-09-10 15:33] daffl commented on #70
Related: https://github.com/canjs/can-ssr/issues/37

[2015-09-10 20:37] daffl commented on #65
Closed via https://github.com/donejs/place-my-order-assets/pull/1

[2015-09-11 22:22] daffl commented on #70
This has been fixed in can-ssr 0.6.0 via https://github.com/canjs/can-ssr/pull/48

[2015-09-14 16:56] #1 closed

[2015-09-15 17:45] daffl commented on #59
It already does by reading the initial package.json at https://github.com/donejs/generator-donejs/blob/master/app/index.js#L12 and then merging it with the generator content at https://github.com/donejs/generator-donejs/blob/master/app/index.js#L139. Prompts for fields will also only be shown when the field isn't present in the original package.json.

[2015-09-15 17:46] daffl commented on #48
I couldn't reproduce this. It looks like an older version of Node which we don't test with. We are supporting latest 0.10 and upwards.

[2015-09-16 12:36] matthewp commented on #47
Fixed by #73

[2015-09-16 14:46] matthewp commented on #66
Working on this now:

Notes:

* [ ] - Need to have a way to toggle live-reload off (probably a config option).  This will require a minor bump.
* [ ] - Need to provide the host name so that live-reload connects to the correct place.

[2015-09-16 16:11] #38 closed

[2015-09-17 15:08] matthewp commented on #74
Working on this done.

[2015-09-17 15:31] #8 closed

[2015-09-17 19:23] matthewp commented on #80
This was fixed.

[2015-09-22 17:07] matthewp commented on #74
Status:

* Did not figure out the database issue. place-my-order.com is running on Heroku but the database is still on the old host.  I think we should just run it all on Heroku and who cares of the database is not maintained between deployments.

* Not submitted to the App Store, going to wait for it to look nicer before trying that.  I did add instructions on how to deploy it to your iOS device

[2015-09-22 21:36] James0x57 commented on #74
Downloads on the homepage are all set up!

[2015-09-22 22:24] matthewp commented on #74
Thanks!

[2015-09-23 14:45] matthewp commented on #91
This is probably the offending css:

[code]

I bet the regex [here](https://github.com/stealjs/steal-bundler/blob/master/lib/css.js#L4) is not detecting the `#` and `?` symbols.

[2015-09-23 18:23] matthewp commented on #89
Transpile PR: https://github.com/stealjs/transpile/pull/39

[2015-09-24 13:15] matthewp commented on #89
This should be fixed now, but I need to verify.

[2015-09-24 14:16] matthewp commented on #94
This is fixed now.

![lr](https://cloud.githubusercontent.com/assets/361671/10075721/548a682e-62a5-11e5-81ec-a5dd880fe75c.gif)

[2015-09-24 14:19] matthewp commented on #91
I'm working on this now.

[2015-09-24 14:45] matthewp commented on #91
Being tracked at: https://github.com/stealjs/steal-bundler/pull/5

[2015-09-24 15:03] matthewp commented on #91
This is fixed, verified in donejs-chat.

<img width="990" alt="screen shot 2015-09-24 at 11 03 42 am" src="https://cloud.githubusercontent.com/assets/361671/10076924/ee943f7a-62ab-11e5-9834-edcc6475f592.png">

[2015-09-24 15:46] matthewp commented on #89
This is working.

[2015-09-24 15:47] matthewp commented on #96
Same issue as https://github.com/donejs/donejs/issues/89 just need to update the guide.

[2015-09-24 15:51] matthewp commented on #96
This is working now.

[2015-09-24 15:57] matthewp opened #98 "create a steal-socket.io"
That does the nasty config for you.

[2015-09-24 18:14] matthewp commented on #98
This could also stub when running in Node so you don't have to do the `typeof io` check.

[2015-09-24 19:02] matthewp commented on #96
Verified in nw.js app as well.

[2015-09-24 19:05] matthewp commented on #88
Being tracked at https://github.com/donejs/generator-donejs/pull/41

[2015-09-24 19:09] matthewp commented on #90
Adding this myself.

[2015-09-24 19:10] #17 closed

[2015-09-24 19:11] matthewp commented on #28
I'm going to close this because it's how all of our apps are [written now](https://github.com/donejs/chat/blob/master/src/index.stache#L44).  This is the commit that fixed the issue: https://github.com/stealjs/steal-tools/commit/80f4190240e8b232554f8d26d74e71483d2cac43

[2015-09-24 19:11] #28 closed

[2015-09-24 19:43] daffl commented on #18
DoneJS repository migration.

[2015-09-24 19:43] #18 closed, assigned to nobody

[2015-09-24 19:43] daffl commented on #21
DoneJS repository migration.

[2015-09-24 19:43] #21 closed, assigned to nobody

[2015-09-24 19:43] daffl commented on #23
DoneJS repository migration.

[2015-09-24 19:43] #23 closed, assigned to daffl

[2015-09-24 19:43] daffl commented on #24
DoneJS repository migration.

[2015-09-24 19:43] #24 closed, assigned to nobody

[2015-09-24 19:43] daffl commented on #25
DoneJS repository migration.

[2015-09-24 19:43] #25 closed, assigned to nobody

[2015-09-24 19:43] #43 closed, assigned to nobody

[2015-09-24 19:44] #44 closed, assigned to nobody

[2015-09-24 19:44] #47 closed, assigned to nobody

[2015-09-24 20:39] justinbmeyer commented on #98
+1

Sent from my iPhone

[2015-09-25 12:19] matthewp commented on #88
This was fixed in https://github.com/donejs/generator-donejs/commit/d109736a4d8b0237559c63bd466d4dddeb5c75ce

[2015-09-25 13:10] matthewp commented on #97
I tried this out and it doesn't work.  I'm not sure if named defines work with meta deps but it doesn't matter because jQuery doesn't wrap their code in a `define` anyways. They do it like this:

[code]

Whether meta deps work or not, we could fix that by inlining the deps in transpile.  But fixing the way they structure their code is the harder problem.

[2015-09-25 13:21] justinbmeyer commented on #97
I wrote a version of amd that works with this. I'm not sure why wrapping the define is a problem.

Sent from my iPhone

[2015-09-25 13:39] matthewp commented on #97
Because in production this code will be in a bundle. When the `System.main` is imported it will throw an error when `document` doesn't exist. Effectively a DOM is a dependency of the bundle itself, not just jQuery.  If jQuery wrapped its DOM code in a define that wouldn't be the case.

[2015-09-25 14:46] matthewp opened #100 "Race condition between can-serve and live-reload"
Being tracked here: https://github.com/canjs/can-ssr/issues/62

[2015-09-25 15:11] justinbmeyer commented on #97
Arg.  Understood.

[2015-09-25 20:20] matthewp commented on #98
This is done.  https://github.com/stealjs/steal-socket.io

[2015-09-25 20:20] #98 closed

[2015-09-25 20:20] matthewp commented on #101
This is fixed.

[2015-09-28 18:13] matthewp commented on #100
This is fixed now.

[2015-09-28 18:13] matthewp commented on #97
Moving this to 0.5.1.

[2015-09-28 18:14] #100 closed

[2015-09-28 18:18] matthewp commented on #102
This is the list of things needed to make this work. I'm not sure which are currently working or not, will create subissues for things that are not working:

* [ ] - CanJS parser needs to work with conditional comments
* [ ] - vdom serializer needs to serialize conditional comments to string correctly.
* [ ] - can-ssr should support an `html5-upgrade` asset type. https://github.com/canjs/can-ssr/i

[2015-09-28 21:39] atomgroomdesign opened #103 "HomePage - Responsive Refactor"
Update the home page graphics, markup and css to implement a responsive implementation.

[2015-09-28 21:44] atomgroomdesign commented on #103
Mobile

![donejs-mobilexs-001](https://cloud.githubusercontent.com/assets/5687712/10149561/00904c3a-6600-11e5-9416-fac8a0612ba9.png)

* * *

Mobile Menu

![donejs-mobilexs-menu-001](https://cloud.githubusercontent.com/assets/5687712/10149564/0f00ada0-6600-11e5-9da2-39654ee548e5.png)

* * *

Tablet Portrait

![donejs-tabletsm-001](https://cloud.githubusercontent.com/assets/5687712/10149569/17a46398

[2015-09-29 06:43] moschel opened #105 "guides link broken"
If you click "Guides" at the top it bring up a 404: http://donejs.com/guides.html

That should be an overview of guides or not clickable

[2015-09-29 13:11] matthewp opened #106 "IE8 support"
This is a parent issue.

* [ ] - https://github.com/donejs/css/issues/16

[2015-09-29 14:36] matthewp commented on #105
@James0x57 the Guides link probably shouldn't be clickable if it's just a dropdown now. Change it to an div maybe?

[2015-09-29 14:38] daffl commented on #105
There needs to be a guides overview page I just didn't make one yet. We should explain what is going on and what each guide is for (esp. since there will be more eventually anyway).

[2015-09-29 20:49] marshallswain opened #109 ""Folder `donejs-chat` already exsits.""
There's a typo if the folder already exists:

"Folder `donejs-chat` already exsits."

[2015-09-29 20:59] daffl commented on #109
It's Canadian English for exists :maple_leaf:

[2015-09-29 21:00] #109 closed

[2015-09-30 12:18] matthewp commented on #105
This link is still not working.

[2015-09-30 13:24] #103 closed

[2015-09-30 13:28] matthewp opened #112 "live-reload stops working when adding a dynamically imported module"
This is a parent issue for 2 issues that will be in steal-tools and system-trace.

When going through the donejs quickstart guide this problem will occur when you add the "home.component" dynamically imported module.

The problem happens because an optimization in steal-tools only reloads the dependency graph if a module's dependencies have changed.  In this case it's (the index.stache module) sta

[2015-09-30 14:12] matthewp commented on #112
Have a pull request for the steal-tools issue [here](https://github.com/stealjs/steal-tools/pull/314).

[2015-09-30 14:20] matthewp commented on #105
The link just needs to be capitalized, should be http://donejs.com/Guides.html

[2015-09-30 14:21] matthewp commented on #112
Pull request for system-trace is [here](https://github.com/stealjs/system-trace/pull/9).

[2015-09-30 15:48] daffl commented on #105
We should probably keep it open until @James0x57 added the styling for that page and I updated it with the final version.

[2015-09-30 15:57] matthewp commented on #112
These are all fixed, just doing the necessary releases.

[2015-09-30 16:08] justinbmeyer opened #114 "Update guide with latest CanJS release and binding syntax"

[2015-09-30 16:14] justinbmeyer opened #115 "Add HTML5 Shiv to generators"

[2015-09-30 17:51] matthewp commented on #112
I need to verify this, but is probably fixed.

[2015-09-30 18:13] julia-allyce opened #116 "Menu Overflow donejs.com"
<img width="516" alt="screen shot 2015-09-30 at 2 07 15 pm" src="https://cloud.githubusercontent.com/assets/1000574/10202121/565bb04a-677d-11e5-9491-1524dc374f33.png">
Long menu items are overflowing the menu.

Should we wrap or truncate?

[2015-09-30 18:55] atomgroomdesign opened #117 "Write JS for HomePage Section Nav Feature"
I need a dev to write some JS for the DoneJS.com home page.  This is for viewports smaller than 768px.

Branch:
https://github.com/donejs/donejs/tree/homepage-section-nav

Overall Goal:
As the user scrolls up the view port and reaches the end of the `hero` div, the three buttons should morph into a navigation.  Here's a screenshot of that:

![screen shot 2015-09-30 at 1 43 47 pm](https://cloud.git

[2015-09-30 22:14] #116 closed

[2015-10-01 13:30] matthewp commented on #102
This is added now.

[2015-10-01 14:49] James0x57 commented on #117
Hey Atom,

This is all set on this branch:
https://github.com/donejs/donejs/commit/da10eea5f845f8e3c50e3f1070eb12f384a281f1

I'm also going to hijack the scroll jumps so they go to the correct position and animate there, per our convo.

Please let me know when you're happy with the design tweaks you're looking into, I'll commit my scroll jumps after I pull your tweaks, and we'll get 'er live!

Tha

[2015-10-01 15:00] atomgroomdesign opened #121 "Remove Logo Style in the Head"
Remove the logo `<style>` in the head and replace with less override.

[2015-10-01 15:01] atomgroomdesign commented on #123
Closed in #120

[2015-10-01 15:58] daffl opened #127 "donejs CLI should pass command line arguments"
Just like npm something like `donejs build -- cordova` pass the arguments after the `--` to the script it is running. In the case of NPM scripts we want to run `npm run build -- cordova`.

[2015-10-01 16:16] #121 closed

[2015-10-01 16:48] #117 closed

[2015-10-01 17:48] James0x57 commented on #126
Done

[2015-10-01 17:49] atomgroomdesign opened #129 "Split Usability Section into 4 Quadrants for Small Viewports"
![screen shot 2015-10-01 at 12 31 02 pm](https://cloud.githubusercontent.com/assets/5687712/10228887/cc92dc76-683a-11e5-96bb-4c8d4fb4852d.png)

[2015-10-01 18:22] atomgroomdesign opened #132 "Hide Scrollbars in the Graph Area"

[2015-10-01 18:31] #129 closed

[2015-10-01 18:47] daffl opened #133 "Detect if on the filesystem and disable pushstate"
CanJS pushstate routing doesn't make sense on the file system

[2015-10-01 18:54] justinbmeyer commented on #134
- Setup
- Add bootstrap
  - Add bootstrap / update html
  - __Checkout Hot module swapping__
- Setup Routing
  - create pages (generator stuff)
  - setup basic routes that point at each other
  - __Checkout SSR__
- Finish homepage
  - can-tabs + homepage
  - __Custom elements
  - __ease of install__
- Finish Messages
  - __Real-time__
  - __live list__

[2015-10-01 19:04] James0x57 commented on #105
As soon as I merge in PR 135 we'll have a place to style that page specifically. I put a couple little things in there just to make it work, plus added the links in the guides parent page for now. ( to actually link to the other guides in the mean time )

I also addressed the problem of having to add classes to that shared one but made sure it didn't step on home page or this new guides page.

Thi

[2015-10-01 19:07] #105 closed

[2015-10-01 19:50] atomgroomdesign opened #137 "Add Play Icons over Videos for better Usability"

[2015-10-01 20:11] matthewp commented on #133
Is this for the native apps? Same as https://github.com/donejs/donejs/issues/92 ?

[2015-10-01 20:13] #132 closed

[2015-10-01 20:33] atomgroomdesign opened #138 "Play Videos on Tap for Mobile Devices"

[2015-10-01 20:58] daffl commented on #133
Yes it is. Closing this one.

[2015-10-01 20:58] #133 closed

[2015-10-01 20:59] daffl commented on #92
I'm looking into this one.

[2015-10-01 21:07] matthewp commented on #92
@daffl I think we can detect if on the file protocol here: https://github.com/bitovi/canjs/blob/master/route/pushstate/pushstate.js#L16

[2015-10-02 13:02] #137 closed

[2015-10-02 13:10] justinbmeyer commented on #141
Export-as I think.

Sent from my iPhone

[2015-10-02 13:36] matthewp opened #142 "Trying to load fonts from file protocol in dev"
This is due to the less plugin rewriting the urls. We should do it differently on the server.

<img width="1256" alt="screen shot 2015-10-02 at 9 34 50 am" src="https://cloud.githubusercontent.com/assets/361671/10247740/0de0a312-68e9-11e5-9ada-7e2589ead674.png">

[2015-10-02 13:49] matthewp commented on #142
Probably should be using the renderingLoader in this case.

[2015-10-02 14:11] atomgroomdesign opened #143 "Update Mobile Graph with Condensed Graphics"
![done-graph-005](https://cloud.githubusercontent.com/assets/5687712/10248504/8cf94ea0-68e5-11e5-9a7f-64019cb3b41b.gif)

[2015-10-02 14:55] #143 closed

[2015-10-02 15:33] daffl commented on #114
The guide is up to date with the new binding syntax. Working on the other changes in #134

[2015-10-02 15:33] #114 closed

[2015-10-02 15:33] daffl commented on #115
Closed via https://github.com/donejs/generator-donejs/commit/7913bc5b06daa1f67dcc254b19e3af4067879b11 and updated in the chat guide.

[2015-10-02 15:33] #115 closed

[2015-10-02 15:59] matthewp commented on #142
Have a PR for this: https://github.com/donejs/css/pull/17

[2015-10-02 16:18] #112 closed

[2015-10-02 16:22] matthewp opened #149 "Don't need to detect typeof io"
[code]

steal-socket.io stubs it in the server.  Can remove this from the guide.

[2015-10-02 17:23] matthewp commented on #142
This is fixed in done-css 1.1.9

[2015-10-02 17:23] #142 closed

[2015-10-02 17:32] matthewp commented on #141
canjs issue: https://github.com/bitovi/canjs/issues/1966

[2015-10-02 19:57] atomgroomdesign opened #152 "Guide - Sidebar Heading Consistency"
The headings in the Quick Start and Place My Order sidebars are not consistent.

Please match everything up consistently with the Place My Order sidebar.

** make sure to leave the features page alone ** 🔪

[2015-10-02 23:24] #127 closed

[2015-10-03 00:17] daffl commented on #149
Closed via 90dddd1712373d006288e941654bde4af53eefad

[2015-10-03 00:17] #149 closed

[2015-10-03 00:18] daffl commented on #148
Closed via 90dddd1712373d006288e941654bde4af53eefad and https://github.com/canjs/can-ssr/pull/72

[2015-10-03 00:18] daffl commented on #141
Closed via https://github.com/bitovi/canjs/pull/1967

[2015-10-03 00:22] daffl commented on #134
The guide on donejs.com is updated and verified with the technology changes we discussed. I was able to remove all unnecessary configuration and code (like creating `app.html`, using `steal-platform` to disable routing or checking for `io`).
It is still in the old structure though. The restructured version should be ready for review on Monday.

[2015-10-05 12:15] James0x57 commented on #119
Hey @atomgroomdesign, branch mobile-menu is up with my changes and ready to be styled.

If you choose to do the css, please do not flatten it. The files are organized, separated, and explicitly set up to keep the outside body class wrapper. It prevents stepping on other work and makes it clear where to find styles, which is all necessary for preventing tech-debt in the future.

If you want me to d

[2015-10-05 15:09] matthewp commented on #106
Need to verify with donejs-chat

[2015-10-05 15:12] #138 closed

[2015-10-05 19:58] James0x57 opened #160 "Short desktop screen height, auto scroll guide nav on top/bottom hover"
Like the menu does on http://bitovi.github.io/canjs/#can_ejs when the browser window is short ( or console is open )

[2015-10-05 20:19] #160 closed

[2015-10-06 01:33] justinbmeyer commented on #163
This was something I was trying to describe last week.  Thanks for creating an issue.

[2015-10-06 13:27] atomgroomdesign commented on #163
Yep! You found the bug originally, I only captured it in action. :smile:

[2015-10-06 14:17] atomgroomdesign opened #164 "Guide Menu: Display TOC as first item."
For the Features and Guides menu, nothing displays on page load.  Please put the title "Table of Content" in the annotated area.
![screen shot 2015-10-06 at 9 07 33 am](https://cloud.githubusercontent.com/assets/5687712/10311141/16177194-6c0b-11e5-94a1-fc37f06e9f8b.png)

[2015-10-06 17:10] #164 closed

[2015-10-06 19:57] atomgroomdesign opened #171 "Guide Menu: Dropdown Padding"
Please fix the padding in the guide menu, it currently uses text-indent and should instead use padding on the anchor for strings with multiple lines.

[2015-10-06 20:10] atomgroomdesign opened #172 "Main and Guide Menu - Disable Page Scrolling when Open"
When the main menu or guide menu is open, please disable page scrolling by applying overflow:hidden to the body.

[2015-10-06 20:14] James0x57 commented on #168
Just the sub items or main ones too?

[2015-10-06 20:17] atomgroomdesign commented on #168
Sub-Items only, not the accordion headers.

[2015-10-06 20:32] BigAB opened #173 "Quick Start Guide: Divshot Deployment is confusing"
So I was going through the *quick start guide* and I found this confusing:

In the **Deploy** section where it describes deploying to divshot it was *not clear* to me that we would only be deploying our *assets* to divshot, and my confusion was exacerbated by the terminal:

<pre>
$ donejs deploy
donejs - deploying to 'divshot

Uploading 24 files.
Uploading 14 files.
Finalizing build ... DONE.
Rele

[2015-10-06 20:37] daffl commented on #173
We could also include production.html and rename it to index.html. Then at least the chat app would technically load when going to that URL (albeit without server-side rendering). I think that would be good because people can actually see their own app in production.
And you are right, we should also mention that we are only deploying the production assets.

@matthewp Can we change bundleAssets to

[2015-10-06 20:41] matthewp commented on #173
The static version won't work unless configured to use hashchange routing.

Good points about the language, that should be clarified.

[2015-10-06 20:43] matthewp commented on #174
Thanks, that's a bug then.

[2015-10-06 20:49] #171 closed

[2015-10-06 20:49] #172 closed

[2015-10-06 20:51] daffl commented on #176
This was because of https://github.com/bitovi/canjs/pull/1975. CanJS 2.3.0-beta.2 should fix it.

[2015-10-06 20:52] daffl commented on #176
Can you submit a PR changing https://github.com/stealjs/steal-nw/blob/master/package.json#L25 to the correct dependency? /cc @matthewp

[2015-10-06 20:52] daffl commented on #173
The static version will work you just can't go directly to `/chat` which I think is fine.

[2015-10-06 20:53] daffl commented on #173
There's probably a way to configure Divshot to do that as well.

[2015-10-06 20:55] daffl commented on #162
I think currently we're never accessing it through a template. If we want to keep templates encapsulated we might want to prevent access to the root anyway.

[2015-10-06 20:56] justinbmeyer commented on #162
I'm not sure what that means.  All I know is can/component has:

initialScopeData = {
						"@root": componentTagData.scope.attr("@root")
					},

and that needs to change.

[2015-10-06 21:08] daffl commented on #179
Also tracked here: https://github.com/donejs/chat/issues/4
I'm wondering if it is this CSS:

[code]

[2015-10-06 21:48] justinbmeyer commented on #181
Yeah, we probably have to re-cut these videos.

[2015-10-06 21:50] justinbmeyer commented on #178
This is a bug.  It's supposed to take you to the site.  cc @matthewp @James0x57

[2015-10-06 21:51] moschel commented on #178
I'll fix it, I've got some other small changes locally

[2015-10-06 22:04] moschel opened #184 "Guides hover link"
![2015-10-06_1702](https://cloud.githubusercontent.com/assets/22180/10323978/2af24d96-6c4c-11e5-9a0b-a29b48905f3d.png)

For some reason Quick start is always given a gray background, so when you hover over place-my-order.com, they both have a gray background, which looks like a bug.

[2015-10-07 01:30] atomgroomdesign commented on #184
Fixed in the branch css-tweaks-v2.

[2015-10-07 13:41] atomgroomdesign commented on #107
![donejs-server-render-diagram](https://cloud.githubusercontent.com/assets/5687712/10339084/347c0f2c-6ccf-11e5-844e-e7627094df04.png)

[2015-10-07 13:45] James0x57 commented on #107
Cheers sir! Added to the page, will be live in a sec

[2015-10-07 13:52] #184 closed

[2015-10-07 14:36] atomgroomdesign commented on #180
@moschel @justinbmeyer - Here's my proposal for this section.

1. If the user clicks the video, it will launch a Modal window with video, or GIF (for now).
2. If the user clicks the "Learn More" button, it links to the guides or features (wherever really).

![donejs-maintain-blocks](https://cloud.githubusercontent.com/assets/5687712/10340684/f0032670-6cd6-11e5-9b79-f11685418de5.png)

[2015-10-07 14:37] atomgroomdesign opened #187 "Redesign Guide Landing Page"

[2015-10-07 14:49] atomgroomdesign opened #189 "Global Menu - Guide Active State"
The guide button in the menu should have a blue background when you are at that page, similar to the home button.

[2015-10-07 14:57] atomgroomdesign commented on #187
@justinbmeyer We don't currently have a design for this landing page.  Right now, it's just inheriting the design for the other sections -- which might be okay, but it does look odd.

Here's my proposed redesign of that page:

![donejs-guides-landing-page](https://cloud.githubusercontent.com/assets/5687712/10341295/c3b85d44-6cd9-11e5-827b-a4d536541262.jpg)

[2015-10-07 15:17] justinbmeyer commented on #187
Looks good.  Though I would add a screenshot or gif of each app.  I think @daffl is working on one for the chat app.

[2015-10-07 15:25] atomgroomdesign opened #191 "Paragraph Font Weight"
We have some user feedback that the font weight in the paragraph text is hard to read.  If we remove the anti-aliasing css, it becomes easier to read.  This points more toward font-weight, than the anti-aliasing property.

We should consider making it a bit bolder than it currently is.

[2015-10-07 15:32] atomgroomdesign opened #192 "Headings: White Space"
User feedback: There's a lot of white space in the headings with the black background, it seem excessive.

We should address this with the design team.

[2015-10-07 15:34] atomgroomdesign opened #193 "Home Page: Hero Font Size Consistency"
We have several different font sizes going on within the `hero` div on the home page.  Please go through and balance this out some.

[2015-10-07 15:54] atomgroomdesign commented on #187
Cool.  Here's iteration with a static screen shot of the app.

![donejs-guides-landing-page-002](https://cloud.githubusercontent.com/assets/5687712/10343057/a87a668c-6ce1-11e5-864d-ed26ccda35af.jpg)

[2015-10-07 16:18] matthewp commented on #162
can-ssr: https://github.com/canjs/can-ssr/blob/master/lib/extension.js#L157

[2015-10-07 17:55] daffl commented on #174
I think the reporting is just an error when concatenating the string at https://github.com/donejs/donejs/blob/master/lib/utils.js#L62. It does run the correct command but I've seen this error before. Strangely everything still works and other times I ran it worked fine.

[2015-10-07 18:16] daffl commented on #176
Fixed and verified.

[2015-10-07 18:37] skylerraytaylor opened #198 "Make background image fixed for homepage and headers"
add (background-attachment: fixed;) to the header background (div.hero) on the homepage and the H1’s on the guide and features pages

[2015-10-07 18:52] moschel opened #199 "menu broken"
![2015-10-07_1349](https://cloud.githubusercontent.com/assets/22180/10347666/a9641ff2-6cfa-11e5-8129-d1856d6abbba.png)

Happens at "medium" size, not small or large. On Chrome.

[2015-10-07 19:08] daffl commented on #179
This could be fixed with the change with https://github.com/donejs/chat/commit/7ac1c21344901363dad93b345d3a301489a22d7d and updated in the documentation via https://github.com/donejs/donejs/commit/81b67568e2c3f469695b3f52e38bd83b2f73b686.

[2015-10-07 19:14] moschel commented on #180
Sounds good to me

[2015-10-07 19:32] daffl commented on #174
Ok, the error reporting should be fixed in DoneJS v0.5.0-pre.14.
From what I could find out the process only exits unsuccessfully when the `build/` folder doesn't exist. Still investigating.

[2015-10-07 19:36] daffl commented on #174
Fixed via 756fa358a6fd92eb00f9626a371c1a3415f978f8 in v0.5.0-pre.15.

[2015-10-07 20:07] moschel opened #203 "Guides menu"
Right now, the guides menu shows "Quick start" and "place-my-order" as the two options, which semantically doesn't make sense. place-my-order is the application to be built (confusing to someone first visiting the site) and Quick start is more of a user-centric phrase.

To make this consistent, I propose changing "place-my-order" to "Deep dive tutorial" to show that the first one is for a quick in

[2015-10-07 20:16] moschel opened #206 "Get Started"
Minor, but possibly impactful....

In the homepage, it says Start Guide in the header. I think it would be better to say Get Started.

That's usually what people look for in a page like this, it requires less thinking, and its more encouraging.

[2015-10-07 20:18] #193 closed

[2015-10-07 20:18] #198 closed

[2015-10-07 20:18] #199 closed

[2015-10-07 20:21] daffl commented on #205
The binary is looking for `#!/usr/bin/env node`. So if you environment is set up properly it should work. This is what pretty much every other Node package binary does too.

[2015-10-07 20:22] tracer99 commented on #205
So this is a bug with the nodejs package in debian?

[2015-10-07 20:25] matthewp commented on #205
It's not really a bug I would say. Lots of code expects a `node` in the PATH.  Debian installs it as `nodejs`.  You'll find that most scripts in npm look for node.

The fix it to create a symlink:

[code]

[2015-10-07 20:27] matthewp commented on #205
@daffl actually we could probably make this be a normal .js file and get rid of the shebang.  npm will run it as an executable anyways I think.

[2015-10-07 20:30] daffl commented on #205
I think we should do it the way literally every other Node binary does it which is the way it is set up at the moment.

[2015-10-07 20:31] phillipskevin commented on #205
This talks about the issue with Debian and how different package managers install the node binary as nodejs: https://github.com/nodejs/node-v0.x-archive/issues/3911#issuecomment-12798913

[2015-10-07 20:31] tracer99 commented on #205
Maybe add a note in the documentation for debian/ubuntu users then? As without creating that symlink, it will not work.

[2015-10-07 20:37] phillipskevin commented on #180
@atomgroomdesign With the GIFs opening in a modal, do you think we will need to reshoot them so that they are easier to see? If you have an idea of what the modal will look like I can try it out and get a sense of how they look with the current resolution.

[2015-10-07 20:41] matthewp commented on #205
@tracer99 I would check what version of nodejs you have, we require at least 0.10, i'm not sure what version Debian has.  But there is a ppa for a more current version.

[2015-10-07 20:43] tracer99 commented on #205
10.2
The PPA is the same. I couldn't find one for 12. I could build from source, but the ops guys would kill me.

[2015-10-07 20:48] matthewp commented on #205
Actually my suggestion about making this a .js file wouldn't work, Node creates a symlink to the file directly, so the shebang is needed even if it has a .js extension.

[2015-10-07 20:51] tracer99 commented on #205
SO yeah, this is all sorts of fail as donejs installs node-gyp v0.12.2 and the debian binary is 0.10.29, so about 5 dependencies fail to load.

[2015-10-07 20:56] daffl commented on #205
What's the Node version that Debian comes with? We did test on Ubuntu but I was using NVM not the packaged binaries. From my Debian days I remember that using the default binaries for fast-moving software like Node basically guaranteed that you got an outdated version.

[2015-10-07 20:56] matthewp commented on #205
@tracer99 all of our projects are tested on Node 0.10. You might get build failures but those are optional dependencies. Everything should still work though.  If not please let us know what is failing.

[2015-10-07 20:59] tracer99 commented on #205
@daffl I listed the versions in my previous comment. Debian installs 0.10.29 in stable (and all future builds as well).

@matthewp I should not have jumped to conclusions. I will test.

[2015-10-07 21:01] daffl commented on #205
@matthewp is right, we are running the tests on Travis CI in 0.10 which I think runs on a 12.x Ubuntu LTS.

[2015-10-07 21:15] justinbmeyer commented on #180
Why a modal?  My hope was that theses would be little vignettes (like vines) that a developer could quickly skim.

[2015-10-07 21:17] atomgroomdesign commented on #180
@phillipskevin That's great thinking.  Yes, we will probably need to recapture them.  The main issue we have at the moment is being able to understand what is happening (regardless of a gif or video) it's very hard to see.  ~ Essentially, they are too small.  A modal overlay would make this easier and much larger.  If there are dislikes with the modal idea, we can just take them to a page with a m

[2015-10-07 21:19] justinbmeyer commented on #180
I think the size is fine.  We should zoom in to highlight what's important.

[2015-10-07 21:36] atomgroomdesign opened #209 "H2 - Increase Top Margin"
Increase the top margin of the headings so they are closer to the content they are heading vs the content that's above it.

[2015-10-07 21:52] skylerraytaylor opened #210 "Grey description text is too close to back ground color in "Community" section"
"If you’re looking for help the best place to start is the forums or our Gitter chatroom." is too light

[2015-10-07 21:57] daffl commented on #210
I was just going to submit an issue that the text should probably be removed, the other two sections just have three links each and with the text it looks really unbalanced. I think we're both talking about this:

![screen shot 2015-10-07 at 2 56 28 pm](https://cloud.githubusercontent.com/assets/338316/10352407/bd2fcc44-6d03-11e5-8e1b-b5317108d385.png)

[2015-10-07 22:03] daffl opened #211 "textarea shouldn't be resizable, change Twitter widget"
The textarea on the homepage shouldn't be resizable:

![screen shot 2015-10-07 at 3 02 42 pm](https://cloud.githubusercontent.com/assets/338316/10352534/8252f2f8-6d04-11e5-94da-91bfcc02cc49.png)

I'm also wondering if there is a way to configure the Twitter widget to not show `followers` after the number (we're migrating the old JMVC repo so the GitHub star count will take more space).

[2015-10-07 22:10] atomgroomdesign commented on #211
@daffl Good call, overlooked.  Yes, we can remove that with `data-show-count="false"`

[2015-10-07 22:15] atomgroomdesign commented on #211
@daffl Are you referring to just the word `followers`? - Because that to my knowledge is *not* possible.

[2015-10-07 22:28] daffl commented on #211
Can you customize the "Follow @donejs" text? I think it's worth showing the follower count but we might run out of room when showing the thousands of stars we will obviously get ;)

[2015-10-07 23:03] moschel commented on #191
The font in the code samples is still very pixelated and hard to read. The fix you applied didn't affect that text.

[2015-10-07 23:12] moschel commented on #192
It still feels like an excessive amount of whitespace IMO. Do we need all this space?

![2015-10-07_1811](https://cloud.githubusercontent.com/assets/22180/10353723/d62cd4ce-6d1e-11e5-9e20-e131576a3af1.png)

[2015-10-07 23:40] daffl commented on #134
Add images how the app looks after certain tages

[2015-10-08 00:04] atomgroomdesign commented on #211
We can remove the @donejs text as an option.

https://dev.twitter.com/web/follow-button

[2015-10-08 00:06] atomgroomdesign opened #214 "Code Block: Update Font Weight"
Please make the code block font weight consistent with the `p` font weights.

[2015-10-08 00:20] daffl opened #215 "Live-reload not working when updating .component syles"
In the guide, when changing the styles of `home.component` it does not live reload in the browser. It does on the server.

[2015-10-08 00:21] daffl opened #216 "Styles for list"
The styles for the list at http://donejs.com/Guide.html#section=section_Messagespage need to look the same.

[2015-10-08 00:36] atomgroomdesign commented on #216
@daffl Please link me to the list styles that they should be consistent with. I am not following "need to look the same" ~ same as what exactly? Thanks.

[2015-10-08 00:44] atomgroomdesign commented on #192
@moschel We reduced it by 100px as we felt that it was balanced and smaller than the main heading.

[2015-10-08 00:48] atomgroomdesign commented on #210
Updated in https://github.com/donejs/donejs/pull/208

[2015-10-08 00:48] #210 closed

[2015-10-08 00:53] daffl commented on #216
The same as the previous text

[2015-10-08 00:56] #211 closed

[2015-10-08 00:56] #214 closed

[2015-10-08 01:35] justinbmeyer commented on #192
It's fine. It works much better with the pmo guide that has longer sections.

Sent from my iPhone

[2015-10-08 01:43] atomgroomdesign commented on #192
I adjusted it just a little bit more. Hopefully this will satisfy all concerns.

[2015-10-08 01:51] #192 closed

[2015-10-08 01:51] #209 closed

[2015-10-08 01:51] #216 closed

[2015-10-08 01:52] atomgroomdesign commented on #191
Fixed in https://github.com/donejs/donejs/issues/214

[2015-10-08 01:53] #189 closed

[2015-10-08 02:45] justinbmeyer commented on #191
@moschel @atomgroomdesign what about making the font 16px instead of bold?

The reason is that if we were doing our code-highlighting right, JS keywords like `function` would probably be bold.  I'd like to reserve the ability to bold these in the future.  If 16px font looks readable, lets do that.

[2015-10-08 02:46] justinbmeyer commented on #192
@atomgroomdesign spacing looks good thanks!

[2015-10-08 04:00] moschel commented on #191
Yeah I didn't mean make it bold. Code blocks are harder to read now than they were before.

Remember when we first talked I showed you how just removing that antialiased property made code blocks noticeably more readable?

How they look after your change (can't distinguish syntax highlighting colors):

![2015-10-07_2256](https://cloud.githubusercontent.com/assets/22180/10357371/208de7c4-6d47-11e5-

[2015-10-08 06:42] alexisabril opened #48 "{{else}} in {{#each}} doesn't work"
_Issue by **[daffl](https://github.com/daffl)** from Thursday Oct 08, 2015 at 00:31 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/217_

---

See

[code]

[2015-10-08 06:44] alexisabril opened #49 "[CLOSED] Generators"
_Issue by **[justinbmeyer](https://github.com/justinbmeyer)** from Thursday May 28, 2015 at 17:43 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/1_

---

Make sure that model generators work: https://forum.javascriptmvc.com/#Topic/32525000001714003

[2015-10-08 06:44] alexisabril commented on #49
_Comment by **[daffl](https://github.com/daffl)** from Monday Aug 24, 2015 at 21:20 GMT_

---

That post is over a year old an talks about JMVC 3.3. I'm not sure what I'm supposed to do with this?

[2015-10-08 06:44] alexisabril commented on #49
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Tuesday Aug 25, 2015 at 14:02 GMT_

---

Once you have the model generators tested, please close this issue.

[2015-10-08 06:44] alexisabril commented on #49
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Tuesday Aug 25, 2015 at 17:24 GMT_

---

Check if there's weird input.

[2015-10-08 06:44] alexisabril opened #50 "[CLOSED] Create a place-my-order server."
_Issue by **[justinbmeyer](https://github.com/justinbmeyer)** from Tuesday Jun 02, 2015 at 22:18 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/2_

---

[2015-10-08 06:44] alexisabril commented on #50
_Comment by **[daffl](https://github.com/daffl)** from Thursday Jun 11, 2015 at 17:35 GMT_

---

This has been released as https://github.com/bitovi/place-my-order-api

[2015-10-08 06:44] alexisabril opened #51 "[CLOSED] Create a SSR + Proxy"
_Issue by **[justinbmeyer](https://github.com/justinbmeyer)** from Tuesday Jun 02, 2015 at 22:19 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/3_

---

[2015-10-08 06:44] alexisabril commented on #51
_Comment by **[daffl](https://github.com/daffl)** from Thursday Jun 11, 2015 at 17:36 GMT_

---

Implemented in https://github.com/canjs/can-ssr and in place my order via https://github.com/bitovi/place-my-order/pull/58

[2015-10-08 06:44] alexisabril opened #52 "[CLOSED] donejs cli"
_Issue by **[matthewp](https://github.com/matthewp)** from Thursday Jun 04, 2015 at 21:31 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/4_

---

I wonder if we should have a cli tool like ember-cli.  It could include generators and a dev server.  This would make the "getting started" story much simpler and make donejs easier to sell.

[2015-10-08 06:44] alexisabril commented on #52
_Comment by **[daffl](https://github.com/daffl)** from Thursday Jun 04, 2015 at 21:41 GMT_

---

That's what I started working on today. I think the main donejs repository can be the CLI app. So we'd do:

`donejs init` will initialize everything including a `package.json` with all dependencies in that folder and the basic folder structure and files. Because `donejs init` will create your own packa

[2015-10-08 06:44] alexisabril commented on #52
_Comment by **[daffl](https://github.com/daffl)** from Wednesday Jul 22, 2015 at 21:53 GMT_

---

This should be closed via #10 and the 0.1.0 release. We will continue improving the CLI tool where necessary.

[2015-10-08 06:44] alexisabril opened #53 "[CLOSED] Add a Gitter chat badge to README.md"
_Issue by **[gitter-badger](https://github.com/gitter-badger)** from Thursday Jun 04, 2015 at 21:32 GMT_
_Originally opened as https://github.com/donejs/donejs/pull/5_

---
### donejs/donejs now has a Chat Room on Gitter

@matthewp has just created a chat room. You can visit it here: [https://gitter.im/donejs/donejs](https://gitter.im/donejs/donejs?utm_source=badge&utm_medium=badge&utm_campaign=pr

[2015-10-08 06:44] alexisabril opened #54 "[CLOSED] Show using live-reload in the guide"
_Issue by **[justinbmeyer](https://github.com/justinbmeyer)** from Monday Jun 08, 2015 at 16:32 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/6_

---

perhaps right after "Setting up server side rendering".

Link to or a brief stealjs introduction.

[2015-10-08 06:44] alexisabril opened #55 "[CLOSED] Guide for setting up and starting the application."
_Issue by **[daffl](https://github.com/daffl)** from Monday Jun 08, 2015 at 22:59 GMT_
_Originally opened as https://github.com/donejs/donejs/pull/7_

---

Updated first part of the guide describing how to initialize and start your application.
Questions and issues:
- This donejs package needs a new release
- Automatic installation of `peerDependencies` will be gone in NPM 3
- `can-ssr` should pro

[2015-10-08 06:44] alexisabril commented on #55
_Comment by **[matthewp](https://github.com/matthewp)** from Monday Jun 08, 2015 at 23:01 GMT_

---

It should be useable for any canjs project in theory.

[2015-10-08 06:44] alexisabril commented on #55
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Monday Jun 08, 2015 at 23:03 GMT_

---

@daffl can you link to the discussion of peerDependencies?  Are they replacing it w/ something?

I suppose worst case is we go global CLI to create the package.json.

[2015-10-08 06:44] alexisabril commented on #55
_Comment by **[daffl](https://github.com/daffl)** from Monday Jun 08, 2015 at 23:07 GMT_

---

They mentioned it in this blog post: http://blog.npmjs.org/post/110924823920/npm-weekly-5

[2015-10-08 06:44] alexisabril opened #56 "[CLOSED] Specify a base url for ajax requests"
_Issue by **[matthewp](https://github.com/matthewp)** from Friday Jun 12, 2015 at 19:54 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/8_

---

For Cordova and NW.js builds we need to specify a base url for all ajax requests.  A couple of ideas:
## Steal configuration

Cordova apps need their own html file anyways so it could be configured in the script tag:

[code]

And then i

[2015-10-08 06:44] alexisabril commented on #56
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Tuesday Aug 25, 2015 at 14:07 GMT_

---

@matthewp this is resolved right? Can you write up the resolution?

[2015-10-08 06:44] alexisabril commented on #56
_Comment by **[matthewp](https://github.com/matthewp)** from Tuesday Aug 25, 2015 at 15:24 GMT_

---

We're using the baseUrl module method, it's in the guide where we talk about the native app builds.

[2015-10-08 06:44] alexisabril commented on #56
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Tuesday Aug 25, 2015 at 17:26 GMT_

---

Change to `service-base-url` or something similar.

[2015-10-08 06:44] alexisabril opened #57 "[CLOSED] Had to add system config to get production working."
_Issue by **[Alfredo-Delgado](https://github.com/Alfredo-Delgado)** from Thursday Jul 09, 2015 at 14:12 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/9_

---
- [package.json](https://github.com/bitovi/levis/blob/b6341132862a86264e9e52540b56c823748367fb/package.json#L41-L43)
- [system-config.js](https://github.com/bitovi/levis/blob/b6341132862a86264e9e52540b56c823748367fb/syste

[2015-10-08 06:44] alexisabril commented on #57
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Tuesday Aug 25, 2015 at 14:07 GMT_

---

@matthewp pretty sure this is closed.  Please re-open if I'm wrong.

[2015-10-08 06:44] alexisabril commented on #57
_Comment by **[matthewp](https://github.com/matthewp)** from Tuesday Aug 25, 2015 at 15:26 GMT_

---

Not totally fixed, I need to redo the envs config as described in #57 and then put the vdom config in can's package.json.

[2015-10-08 06:44] alexisabril commented on #57
_Comment by **[matthewp](https://github.com/matthewp)** from Thursday Sep 03, 2015 at 12:28 GMT_

---

Fixed by #57

[2015-10-08 06:44] alexisabril opened #58 "[CLOSED] Adding small DoneJS CLI wrapper"
_Issue by **[daffl](https://github.com/daffl)** from Wednesday Jul 22, 2015 at 21:32 GMT_
_Originally opened as https://github.com/donejs/donejs/pull/10_

---

This is a small DoneJS CLI tool that calls to [generator-donejs](donejs/generator-donejs), npm scripts or locally installed DoneJS CLI tools.

---

_**[daffl](https://github.com/daffl)** included the following code: https://github.com/donej

[2015-10-08 06:44] alexisabril opened #59 "[CLOSED] Guide with generator updates"
_Issue by **[daffl](https://github.com/daffl)** from Friday Jul 24, 2015 at 21:54 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/11_

---

Notes for the https://github.com/donejs/donejs/tree/generators-guide branch:
- [ ] `pmo/` folder needs to be changed to `src` (needs help from @matthewp to make sure that the mapping works)
- [ ] use generator to create supermodel (connectio

[2015-10-08 06:44] alexisabril opened #60 "[CLOSED] donejs develop needs to be donejs start based on the generated package.json"
_Issue by **[mjstahl](https://github.com/mjstahl)** from Monday Jul 27, 2015 at 14:21 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/12_

---

The guide references using `donejs develop` to start up `can-serve`, but the package.json uses `start` in its scripts section.

[2015-10-08 06:44] alexisabril opened #61 "[CLOSED] Fixes #12. References start not develop"
_Issue by **[mjstahl](https://github.com/mjstahl)** from Monday Jul 27, 2015 at 14:23 GMT_
_Originally opened as https://github.com/donejs/donejs/pull/13_

---

---

_**[mjstahl](https://github.com/mjstahl)** included the following code: https://github.com/donejs/donejs/pull/13/commits_

[2015-10-08 06:44] alexisabril opened #62 "[CLOSED] Create a better error message for when package.json has an error in it."
_Issue by **[mjstahl](https://github.com/mjstahl)** from Monday Jul 27, 2015 at 14:35 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/14_

---

If you create an error in your `package.json` (i.e. add a comma where it doesn't belong) and then try and run a donejs command.  You get the following error message:

`No local package.json found. Please run "donejs init"`

This is only

[2015-10-08 06:44] alexisabril commented on #62
_Comment by **[daffl](https://github.com/daffl)** from Thursday Sep 10, 2015 at 15:29 GMT_

---

I think this can be closed. Not sure if it should throw an error but now when the `package.json` has an error it just can't run any of the commands that are loaded dynamically (`scripts`, `.bin/`).

[2015-10-08 06:44] alexisabril opened #63 "[CLOSED] donejs generator needs usage text (and a help option)"
_Issue by **[mjstahl](https://github.com/mjstahl)** from Monday Jul 27, 2015 at 15:15 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/15_

---

Currently if you do `donejs` you get the following output:

`Command "undefined" is not available`

We need set a default to `donejs` where if the command is not found we display the usage text to the user.

[2015-10-08 06:44] alexisabril opened #64 "[CLOSED] "donejs"
_Issue by **[mjstahl](https://github.com/mjstahl)** from Monday Jul 27, 2015 at 15:21 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/16_

---

[2015-10-08 06:44] alexisabril opened #65 "[CLOSED] "donejs generate" should create files based on "npm prefix" not the current directory"
_Issue by **[mjstahl](https://github.com/mjstahl)** from Monday Jul 27, 2015 at 15:23 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/17_

---

When going through the guide, `cd` into the `src` directory and do:

`donejs generate component home.component`

This will give you the following error:

`Cannot find module 'yeoman-environment'`

Therefore any generate commands should s

[2015-10-08 06:44] alexisabril commented on #65
_Comment by **[daffl](https://github.com/daffl)** from Tuesday Sep 01, 2015 at 21:17 GMT_

---

Makes sense (we're assuming you're running commands from the root level). I'm wondering if there is a way to find that out. Just go up paths until you find a `package.json`?

[2015-10-08 06:44] alexisabril commented on #65
_Comment by **[mjstahl](https://github.com/mjstahl)** from Tuesday Sep 01, 2015 at 21:50 GMT_

---

You could definitely do that!

I figured it would be easier to just call `npm prefix`.  I realize there is a performance implication, but it is a command so it won't be running often enough to warrant concerns about executing an extra process.

[2015-10-08 06:45] #49 closed, assigned to nobody

[2015-10-08 06:45] #50 closed, assigned to nobody

[2015-10-08 06:45] #51 closed, assigned to nobody

[2015-10-08 06:45] #52 closed, assigned to nobody

[2015-10-08 06:45] #53 closed, assigned to nobody

[2015-10-08 06:45] #54 closed, assigned to nobody

[2015-10-08 06:45] #55 closed, assigned to nobody

[2015-10-08 06:45] #56 closed, assigned to nobody

[2015-10-08 06:45] #57 closed, assigned to nobody

[2015-10-08 06:45] #58 closed, assigned to nobody

[2015-10-08 06:45] #59 closed, assigned to nobody

[2015-10-08 06:45] #60 closed, assigned to nobody

[2015-10-08 06:45] #61 closed, assigned to nobody

[2015-10-08 06:45] #62 closed, assigned to nobody

[2015-10-08 06:45] #63 closed, assigned to nobody

[2015-10-08 06:45] #64 closed, assigned to nobody

[2015-10-08 06:45] #65 closed, assigned to nobody

[2015-10-08 06:46] alexisabril opened #66 "donejs add app opens main page"
_Issue by **[justinbmeyer](https://github.com/justinbmeyer)** from Sunday Aug 02, 2015 at 03:24 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/19_

---

once generator is done ... can it start a server and open the main page?

[2015-10-08 06:46] alexisabril opened #67 "Getting Started Guide Notes"
_Issue by **[justinbmeyer](https://github.com/justinbmeyer)** from Sunday Aug 09, 2015 at 21:40 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/30_

---
# Closed Issues
- changing less breaks live-reload: https://github.com/donejs/donejs/issues/31
- changed AppState to AppViewModel: https://github.com/donejs/donejs/issues/32
- warn about route changes needing a server restart: h

[2015-10-08 06:46] alexisabril commented on #67
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Sunday Aug 09, 2015 at 23:23 GMT_

---

# Creating custom elements
- [ ] **A bit of overview and see examples quicker.**

In general, this section seems to not "show" the developer anything.  I might suggest simply putting the elements in `index.stache` so they can see them.

Also, a bit of overview of how these elements will con

[2015-10-08 06:46] alexisabril commented on #67
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Monday Aug 10, 2015 at 03:16 GMT_

---

# Setting up routing

## Create Routes
- [ ] **from a URL string to properties in our application state**

use _application view-model_.
- [x] **export default AppState; (p0)**

`export default AppState;` is listed twice.  Change `AppState` to `AppViewModel`.
- [x] **URL changes to `http://

[2015-10-08 06:46] alexisabril commented on #67
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Monday Aug 10, 2015 at 03:50 GMT_

---

# Getting and Displaying Data from the Server

## Creating a restaurants connection.
- [ ] __"Creating a restaurants connection." has a period at the end of it. __

We should be consistent everywhere.  Please check.
- [ ] **Answer the question about the URL endpoint**

We need a better way

[2015-10-08 06:46] alexisabril commented on #67
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Monday Aug 10, 2015 at 04:09 GMT_

---

# Creating a unit-tested view model

## Identify view model state
- [x] **Restaurant list model state image missing (p1)**

restaurant-list-state.png
- [ ] **Wrong quotes on code.**

Use `"` not `”` copied from ppt.

## Create dependent models
- [ ] **available states**

This doesn't have t

[2015-10-08 06:46] alexisabril commented on #67
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Monday Aug 10, 2015 at 05:11 GMT_

---

# Setup automated tests and continuous integration (CI)

## Creating a global test page
- [ ] **inaccurate title**

We don't create this test page.
- [ ] **test.html**

Part of me feels this should be in the root folder so I can just go to `localhost/test.html`.

## Using a test runner
- [

[2015-10-08 06:46] alexisabril commented on #67
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Monday Aug 10, 2015 at 05:24 GMT_

---

## Nested routes
- [ ] **Is defaults object necessary?**

[code]
- [ ] **Trim down content**

I think there's a lot here that could be said more tersely.

## Create additional components
- [x] **Fix with generator fix (p0)**

## Add to the main template
- [ ] **Had to restart the server for

[2015-10-08 06:46] alexisabril commented on #67
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Wednesday Aug 12, 2015 at 05:54 GMT_

---

# Importing other projects
- [x] **installing bit-tabs blows up live-reload** (p0)

<img width="945" alt="cursor_and_place_my_order" src="https://cloud.githubusercontent.com/assets/78602/9217389/aa2bf012-408c-11e5-9409-b02113f2ddce.png">
- [x] **hitting dinner menu causes pushstate error

[2015-10-08 06:46] alexisabril commented on #67
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Wednesday Aug 12, 2015 at 06:03 GMT_

---

# Creating data

## Updating the order model
- [ ] **We haven't created an order model yet so this title is strange** (p3)
- [x] **using forEach instead of .each** (p1)

Does forEach live-bind?

[code]
- [ ] **Price should be assigned the "number" type so it doesn't have to be floated he

[2015-10-08 06:46] alexisabril commented on #67
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Wednesday Aug 12, 2015 at 06:34 GMT_

---

# Set up a real-time connection

## Adding real-time events to a model
- [x] **no --save** (p0)
- [x] **when npm install is run, we get warnings like:** (p1)

<img width="790" alt="place_my_order" src="https://cloud.githubusercontent.com/assets/78602/9217852/392e3388-4092-11e5-86ff-7de97

[2015-10-08 06:46] alexisabril commented on #67
_Comment by **[alexisabril](https://github.com/alexisabril)** from Friday Aug 14, 2015 at 18:26 GMT_

---
- [ ] [Building To NW.js](https://github.com/donejs/donejs/blob/master/docs/guide.md#building-to-nwjs) should have a full build.js to be consistent with the rest of the guide
- [ ] Running tests produce an error: http://screencast.com/t/puIrCbO0fllu
- [ ] `donejs test` will fail if Firefox is

[2015-10-08 06:46] alexisabril opened #68 "can-serve dies when place-my-order-api isn't running on page load"
_Issue by **[marshallswain](https://github.com/marshallswain)** from Thursday Aug 20, 2015 at 18:59 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/49_

---

Server has to be restarted.

![screen shot 2015-08-20 at 1 55 29 pm 1](https://cloud.githubusercontent.com/assets/128857/9392635/7ef415ce-4743-11e5-95d5-9354ea6a3747.png)

Text version:

[code]

[2015-10-08 06:46] alexisabril opened #69 "error occurred when accessing Restaurant.getList({}) from commandline"
_Issue by **[cklanac](https://github.com/cklanac)** from Thursday Aug 20, 2015 at 20:16 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/50_

---

[2015-10-08 06:46] alexisabril opened #70 "Update guide section "Add to the main template""
_Issue by **[cklanac](https://github.com/cklanac)** from Thursday Aug 20, 2015 at 21:23 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/51_

---

The change only shows the change to the file, where everywhere else it shows the whole file contents

[2015-10-08 06:46] alexisabril opened #71 "can-serve is not correctly proxying (1)"
_Issue by **[matthewp](https://github.com/matthewp)** from Thursday Aug 20, 2015 at 22:34 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/55_

---

We had to do:

[code]

The proxying is not working

[2015-10-08 06:46] alexisabril commented on #71
_Comment by **[daffl](https://github.com/daffl)** from Thursday Aug 27, 2015 at 21:03 GMT_

---

After some rather disappointing trial & error I think proxying websockets with our setup is not possible. We might be able to add it when we have the ability for can.route to define 404s which then gets passed to the proxy but that means that alls non-matching requests will be proxied.

[2015-10-08 06:46] alexisabril opened #72 "Update guide with can-connect isSaving"
_Issue by **[daffl](https://github.com/daffl)** from Friday Aug 21, 2015 at 18:19 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/56_

---

Instead of `saveStatus`

[2015-10-08 06:46] alexisabril opened #73 "donejs init generate README.md"
_Issue by **[justinbmeyer](https://github.com/justinbmeyer)** from Tuesday Aug 25, 2015 at 16:55 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/64_

---

It would be great if the `donejs init` created a READEME with the basic commands used to develop, test, deploy, build, document the app.

[2015-10-08 06:46] alexisabril opened #74 "Remove the need for the user to set the defaultBinding for can.route with native apps"
_Issue by **[matthewp](https://github.com/matthewp)** from Tuesday Sep 22, 2015 at 20:35 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/92_

---

This can problem be done in canjs itself. the pushstate plugin can detect if it is running on the file protocol and not add itself.

[2015-10-08 06:46] alexisabril commented on #74
_Comment by **[daffl](https://github.com/daffl)** from Thursday Oct 01, 2015 at 20:59 GMT_

---

I'm looking into this one.

[2015-10-08 06:46] alexisabril commented on #74
_Comment by **[matthewp](https://github.com/matthewp)** from Thursday Oct 01, 2015 at 21:07 GMT_

---

@daffl I think we can detect if on the file protocol here: https://github.com/bitovi/canjs/blob/master/route/pushstate/pushstate.js#L16

[2015-10-08 06:46] alexisabril opened #75 "See if jQuery can be left as an AMD module."
_Issue by **[matthewp](https://github.com/matthewp)** from Thursday Sep 24, 2015 at 15:39 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/97_

---

[2015-10-08 06:46] alexisabril commented on #75
_Comment by **[matthewp](https://github.com/matthewp)** from Friday Sep 25, 2015 at 13:10 GMT_

---

I tried this out and it doesn't work.  I'm not sure if named defines work with meta deps but it doesn't matter because jQuery doesn't wrap their code in a `define` anyways. They do it like this:

[code]

Whether meta deps work or not, we could fix that by inlining the deps in transpile.  But fixing

[2015-10-08 06:46] alexisabril commented on #75
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Friday Sep 25, 2015 at 13:21 GMT_

---

I wrote a version of amd that works with this. I'm not sure why wrapping the define is a problem.

Sent from my iPhone

[2015-10-08 06:49] alexisabril opened #76 "IE8 support"
_Issue by **[matthewp](https://github.com/matthewp)** from Tuesday Sep 29, 2015 at 13:11 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/106_

---

This is a parent issue.
### Bugs
- [x] - https://github.com/donejs/css/issues/16
- [x] - https://github.com/stealjs/steal/pull/488
- [x] - https://github.com/bitovi/canjs/issues/1969
- [x] - https://github.com/stealjs/transpile/issue

[2015-10-08 06:49] alexisabril commented on #76
_Comment by **[matthewp](https://github.com/matthewp)** from Monday Oct 05, 2015 at 15:09 GMT_

---

Need to verify with donejs-chat

[2015-10-08 06:49] alexisabril opened #77 "donejs add app, skip folder creation if it's the same name ~5"
_Issue by **[daffl](https://github.com/daffl)** from Thursday Oct 01, 2015 at 18:19 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/131_

---

If you try to init an application with a name in the same folder it should use the current folder instead.

[2015-10-08 06:49] alexisabril opened #78 "DoneJS quick start guide notes"
_Issue by **[daffl](https://github.com/daffl)** from Thursday Oct 01, 2015 at 18:51 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/134_

---
- [ ] Introduction explain all used features and link to them
- [ ] Make video with browser window
- [ ] After... to more detail what guide does
- [ ] Link everywhere to the features page
- [ ] Show pre- and after-production network tab, e

[2015-10-08 06:49] alexisabril commented on #78
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Thursday Oct 01, 2015 at 18:54 GMT_

---
- Setup
- Add bootstrap
  - Add bootstrap / update html
  - **Checkout Hot module swapping**
- Setup Routing
  - create pages (generator stuff)
  - setup basic routes that point at each other
  - **Checkout SSR**
- Finish homepage
  - can-tabs + homepage
  - __Custom elements
  - **ease of

[2015-10-08 06:49] alexisabril commented on #78
_Comment by **[daffl](https://github.com/daffl)** from Saturday Oct 03, 2015 at 00:22 GMT_

---

The guide on donejs.com is updated and verified with the technology changes we discussed. I was able to remove all unnecessary configuration and code (like creating `app.html`, using `steal-platform` to disable routing or checking for `io`).
It is still in the old structure though. The restructured ver

[2015-10-08 06:49] alexisabril commented on #78
_Comment by **[daffl](https://github.com/daffl)** from Wednesday Oct 07, 2015 at 23:40 GMT_

---

Add images how the app looks after certain tages

[2015-10-08 06:49] alexisabril opened #79 "Guide - Sidebar Heading Consistency"
_Issue by **[atomgroomdesign](https://github.com/atomgroomdesign)** from Friday Oct 02, 2015 at 19:57 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/152_

---

The headings in the Quick Start and Place My Order sidebars are not consistent.

Please match everything up consistently with the Place My Order sidebar.

*\* make sure to leave the features page alone *\* 🔪

[2015-10-08 06:49] alexisabril opened #80 "Configure steal.production.js to know the main ~3"
_Issue by **[matthewp](https://github.com/matthewp)** from Sunday Oct 04, 2015 at 22:25 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/153_

---

Correctly production looks like:

[code]

We could configure this so you don't have to specify the main in the script tag.

[2015-10-08 06:51] alexisabril opened #81 "@root should be %root"
_Issue by **[justinbmeyer](https://github.com/justinbmeyer)** from Tuesday Oct 06, 2015 at 00:10 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/162_

---

[2015-10-08 06:51] alexisabril commented on #81
_Comment by **[daffl](https://github.com/daffl)** from Tuesday Oct 06, 2015 at 20:55 GMT_

---

I think currently we're never accessing it through a template. If we want to keep templates encapsulated we might want to prevent access to the root anyway.

[2015-10-08 06:51] alexisabril commented on #81
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Tuesday Oct 06, 2015 at 20:56 GMT_

---

I'm not sure what that means.  All I know is can/component has:

initialScopeData = {
                        "@root": componentTagData.scope.attr("@root")
                    },

and that needs to change.

[2015-10-08 06:51] alexisabril commented on #81
_Comment by **[matthewp](https://github.com/matthewp)** from Wednesday Oct 07, 2015 at 16:18 GMT_

---

can-ssr: https://github.com/canjs/can-ssr/blob/master/lib/extension.js#L157 - This will be a breaking change and need a 0.10.0 release.

[2015-10-08 06:51] alexisabril opened #82 "Quick Start Guide: Divshot Deployment is confusing"
_Issue by **[BigAB](https://github.com/BigAB)** from Tuesday Oct 06, 2015 at 20:32 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/173_

---

So I was going through the _quick start guide_ and I found this confusing:

In the **Deploy** section where it describes deploying to divshot it was _not clear_ to me that we would only be deploying our _assets_ to divshot, and my confusio

[2015-10-08 06:51] alexisabril commented on #82
_Comment by **[daffl](https://github.com/daffl)** from Tuesday Oct 06, 2015 at 20:37 GMT_

---

We could also include production.html and rename it to index.html. Then at least the chat app would technically load when going to that URL (albeit without server-side rendering). I think that would be good because people can actually see their own app in production.
And you are right, we should also me

[2015-10-08 06:51] alexisabril commented on #82
_Comment by **[matthewp](https://github.com/matthewp)** from Tuesday Oct 06, 2015 at 20:41 GMT_

---

The static version won't work unless configured to use hashchange routing.

Good points about the guide language, that should be clarified.

[2015-10-08 06:51] alexisabril commented on #82
_Comment by **[daffl](https://github.com/daffl)** from Tuesday Oct 06, 2015 at 20:52 GMT_

---

The static version will work you just can't go directly to `/chat` which I think is fine.

[2015-10-08 06:51] alexisabril commented on #82
_Comment by **[daffl](https://github.com/daffl)** from Tuesday Oct 06, 2015 at 20:53 GMT_

---

There's probably a way to configure Divshot to do that as well.

[2015-10-08 06:51] alexisabril opened #83 "Maintainable section"
_Issue by **[moschel](https://github.com/moschel)** from Tuesday Oct 06, 2015 at 21:27 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/180_

---

Each of the big boxes, like Documentation and Testing, should be a link target to more details on the features page

[2015-10-08 06:51] alexisabril commented on #83
_Comment by **[atomgroomdesign](https://github.com/atomgroomdesign)** from Wednesday Oct 07, 2015 at 14:36 GMT_

---

@moschel @justinbmeyer - Here's my proposal for this section.
1. If the user clicks the video, it will launch a Modal window with video, or GIF (for now).
2. If the user clicks the "Learn More" button, it links to the guides or features (wherever really).

![donejs-maintain-blocks]

[2015-10-08 06:51] alexisabril commented on #83
_Comment by **[moschel](https://github.com/moschel)** from Wednesday Oct 07, 2015 at 19:14 GMT_

---

Sounds good to me

[2015-10-08 06:51] alexisabril commented on #83
_Comment by **[phillipskevin](https://github.com/phillipskevin)** from Wednesday Oct 07, 2015 at 20:37 GMT_

---

@atomgroomdesign With the GIFs opening in a modal, do you think we will need to reshoot them so that they are easier to see? If you have an idea of what the modal will look like I can try it out and get a sense of how they look with the current resolution.

[2015-10-08 06:51] alexisabril commented on #83
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Wednesday Oct 07, 2015 at 21:15 GMT_

---

Why a modal?  My hope was that theses would be little vignettes (like vines) that a developer could quickly skim.

[2015-10-08 06:51] alexisabril commented on #83
_Comment by **[atomgroomdesign](https://github.com/atomgroomdesign)** from Wednesday Oct 07, 2015 at 21:17 GMT_

---

@phillipskevin That's great thinking.  Yes, we will probably need to recapture them.  The main issue we have at the moment is being able to understand what is happening (regardless of a gif or video) it's very hard to see.  ~ Essentially, they are too small.  A modal overlay would

[2015-10-08 06:51] alexisabril commented on #83
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Wednesday Oct 07, 2015 at 21:19 GMT_

---

I think the size is fine.  We should zoom in to highlight what's important.

[2015-10-08 06:51] alexisabril opened #84 "Videos for Maintainability section"
_Issue by **[moschel](https://github.com/moschel)** from Tuesday Oct 06, 2015 at 21:30 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/181_

---

Some thoughts on the video boxes in the maintainability section. Disregard this if they're still being worked on:
- The Testing GIF is way too small to see what's going on
- The NPM packaging GIF is very slow, could we speed that up?
-

[2015-10-08 06:51] alexisabril commented on #84
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Tuesday Oct 06, 2015 at 21:48 GMT_

---

Yeah, we probably have to re-cut these videos.

[2015-10-08 06:51] alexisabril opened #85 "Redesign Guide Landing Page"
_Issue by **[atomgroomdesign](https://github.com/atomgroomdesign)** from Wednesday Oct 07, 2015 at 14:37 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/187_

---

[2015-10-08 06:51] alexisabril commented on #85
_Comment by **[atomgroomdesign](https://github.com/atomgroomdesign)** from Wednesday Oct 07, 2015 at 14:57 GMT_

---

@justinbmeyer We don't currently have a design for this landing page.  Right now, it's just inheriting the design for the other sections -- which might be okay, but it does look odd.

Here's my proposed redesign of that page:

![donejs-guides-landing-page](https://cloud.githubuserc

[2015-10-08 06:51] alexisabril commented on #85
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Wednesday Oct 07, 2015 at 15:17 GMT_

---

Looks good.  Though I would add a screenshot or gif of each app.  I think @daffl is working on one for the chat app.

[2015-10-08 06:51] alexisabril commented on #85
_Comment by **[atomgroomdesign](https://github.com/atomgroomdesign)** from Wednesday Oct 07, 2015 at 15:54 GMT_

---

Cool.  Here's iteration with a static screen shot of the app.

![donejs-guides-landing-page-002](https://cloud.githubusercontent.com/assets/5687712/10343057/a87a668c-6ce1-11e5-864d-ed26ccda35af.jpg)

[2015-10-08 06:51] alexisabril opened #86 "Paragraph Font Weight"
_Issue by **[atomgroomdesign](https://github.com/atomgroomdesign)** from Wednesday Oct 07, 2015 at 15:25 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/191_

---

We have some user feedback that the font weight in the paragraph text is hard to read.  If we remove the anti-aliasing css, it becomes easier to read.  This points more toward font-weight, than the anti-aliasing prope

[2015-10-08 06:51] alexisabril commented on #86
_Comment by **[moschel](https://github.com/moschel)** from Wednesday Oct 07, 2015 at 23:03 GMT_

---

The font in the code samples is still very pixelated and hard to read. The fix you applied didn't affect that text.

[2015-10-08 06:51] alexisabril commented on #86
_Comment by **[atomgroomdesign](https://github.com/atomgroomdesign)** from Thursday Oct 08, 2015 at 01:52 GMT_

---

Fixed in https://github.com/donejs/donejs/issues/214

[2015-10-08 06:51] alexisabril commented on #86
_Comment by **[justinbmeyer](https://github.com/justinbmeyer)** from Thursday Oct 08, 2015 at 02:45 GMT_

---

@moschel @atomgroomdesign what about making the font 16px instead of bold?

The reason is that if we were doing our code-highlighting right, JS keywords like `function` would probably be bold.  I'd like to reserve the ability to bold these in the future.  If 16px font looks readable, lets

[2015-10-08 06:51] alexisabril commented on #86
_Comment by **[moschel](https://github.com/moschel)** from Thursday Oct 08, 2015 at 04:00 GMT_

---

Yeah I didn't mean make it bold. Code blocks are harder to read now than they were before.

Remember when we first talked I showed you how just removing that antialiased property made code blocks noticeably more readable?

How they look after your change (can't distinguish syntax highlighting color

[2015-10-08 06:51] alexisabril opened #87 "Guides menu"
_Issue by **[moschel](https://github.com/moschel)** from Wednesday Oct 07, 2015 at 20:07 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/203_

---

Right now, the guides menu shows "Quick start" and "place-my-order" as the two options, which semantically doesn't make sense. place-my-order is the application to be built (confusing to someone first visiting the site) and Quick sta

[2015-10-08 06:51] alexisabril opened #88 "DoneJS support for Debian/Ubuntu"
_Issue by **[tracer99](https://github.com/tracer99)** from Wednesday Oct 07, 2015 at 20:14 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/205_

---

The NodeJS package in Debian/Ubuntu creates a /usr/bin/nodejs executable as node is already taken by an older package.
DoneJS is hardcoded to look for /usr/bin/node which on these systems doesn't exist.

a simple simplink makes it

[2015-10-08 06:51] alexisabril commented on #88
_Comment by **[daffl](https://github.com/daffl)** from Wednesday Oct 07, 2015 at 20:21 GMT_

---

The binary is looking for `#!/usr/bin/env node`. So if you environment is set up properly it should work. This is what pretty much every other Node package binary does too.

[2015-10-08 06:51] alexisabril commented on #88
_Comment by **[tracer99](https://github.com/tracer99)** from Wednesday Oct 07, 2015 at 20:22 GMT_

---

So this is a bug with the nodejs package in debian?

Edit: this was a fresh Install of Debian Stable. node was installed through debians package manager.

[2015-10-08 06:51] alexisabril commented on #88
_Comment by **[matthewp](https://github.com/matthewp)** from Wednesday Oct 07, 2015 at 20:25 GMT_

---

It's not really a bug I would say. Lots of code expects a `node` in the PATH.  Debian installs it as `nodejs`.  You'll find that most scripts in npm look for node.

The fix it to create a symlink:

[code]

[2015-10-08 06:51] alexisabril commented on #88
_Comment by **[matthewp](https://github.com/matthewp)** from Wednesday Oct 07, 2015 at 20:27 GMT_

---

@daffl actually we could probably make this be a normal .js file and get rid of the shebang.  npm will run it as an executable anyways I think.

[2015-10-08 06:51] alexisabril commented on #88
_Comment by **[daffl](https://github.com/daffl)** from Wednesday Oct 07, 2015 at 20:30 GMT_

---

I think we should do it the way literally every other Node binary does it which is the way it is set up at the moment.

[2015-10-08 06:51] alexisabril commented on #88
_Comment by **[phillipskevin](https://github.com/phillipskevin)** from Wednesday Oct 07, 2015 at 20:31 GMT_

---

This talks about the issue with Debian and how different package managers install the node binary as nodejs: https://github.com/nodejs/node-v0.x-archive/issues/3911#issuecomment-12798913

[2015-10-08 06:51] alexisabril commented on #88
_Comment by **[tracer99](https://github.com/tracer99)** from Wednesday Oct 07, 2015 at 20:31 GMT_

---

Maybe add a note in the documentation for debian/ubuntu users then? As without creating that symlink, it will not work.

[2015-10-08 06:53] alexisabril opened #89 "Get Started"
_Issue by **[moschel](https://github.com/moschel)** from Wednesday Oct 07, 2015 at 20:16 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/206_

---

Minor, but possibly impactful....

In the homepage, it says Start Guide in the header. I think it would be better to say Get Started.

That's usually what people look for in a page like this, it requires less thinking, and its more e

[2015-10-08 06:53] alexisabril opened #90 "Live-reload not working when updating .component syles"
_Issue by **[daffl](https://github.com/daffl)** from Thursday Oct 08, 2015 at 00:20 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/215_

---

In the guide, when changing the styles of `home.component` it does not live reload in the browser. It does on the server.

[2015-10-08 06:53] alexisabril opened #91 "{{else}} in {{#each}} doesn't work"
_Issue by **[daffl](https://github.com/daffl)** from Thursday Oct 08, 2015 at 00:31 GMT_
_Originally opened as https://github.com/donejs/donejs/issues/217_

---

See

[code]

[2015-10-08 06:53] #91 closed, assigned to nobody

[2015-10-08 06:54] alexisabril opened #92 "fixes guide naming"
_Issue by **[moschel](https://github.com/moschel)** from Wednesday Oct 07, 2015 at 23:53 GMT_
_Originally opened as https://github.com/donejs/donejs/pull/213_

---

fixes #203 and some other small language changes

---

_**[moschel](https://github.com/moschel)** included the following code: https://github.com/donejs/donejs/pull/213/commits_

[2015-10-08 06:54] #92 closed, assigned to nobody

[2015-10-08 13:25] atomgroomdesign commented on #191
@moschel @justinbmeyer

Here are the updated styles.  I felt that 16px was just a bit too large, so I went with 15px, instead.  If this looks better to you both, please let me know.

![screen shot 2015-10-08 at 8 21 05 am](https://cloud.githubusercontent.com/assets/5687712/10367430/16c4ccea-6d96-11e5-9128-690ab10bb281.png)

[2015-10-08 15:55] atomgroom opened #93 "Mobile Headings: Fix Layout"
Margins are off due to all the positioning and two, or more lines really complicates things!

[2015-10-08 15:57] atomgroom opened #94 "Mobile Hero: GitHub Stars is Hidden"

[2015-10-08 15:58] atomgroom opened #95 "Footer: Twitter Link is Not Directed Properly to DoneJS Account"

[2015-10-08 16:00] atomgroom opened #96 "Footer: Remove Paragraph Text to Balance 3 Columns"

[2015-10-08 16:46] atomgroom opened #97 "Table Portrait: Fix Guide Menu Dropdown"

[2015-10-08 16:51] moschel commented on #191
@atomgroomdesign yeah that looks better. You'll have to apply this change to the new donejs repo

[2015-10-08 17:25] #93 closed, assigned to atomgroomdesign

[2015-10-08 17:25] #94 closed, assigned to atomgroomdesign

[2015-10-08 17:25] #96 closed, assigned to atomgroomdesign

[2015-10-08 17:25] #97 closed, assigned to atomgroomdesign

[2015-10-08 17:46] JaneOri opened #101 "Hijacked Page Jumps on guides & features offset is wrong now"
Look into making this dynamic in case the style changes again

[2015-10-08 17:47] atomgroom commented on #101
Ack. Sorry James. This is probably from all the change requests to the headings :/

[2015-10-08 17:48] atomgroom commented on #95
Fixed.

[2015-10-08 17:48] #95 closed, assigned to atomgroomdesign

[2015-10-08 17:48] atomgroom commented on #86
Completed.

[2015-10-08 17:48] #86 closed, assigned to nobody

[2015-10-08 17:49] atomgroomdesign commented on #152
Completed.

[2015-10-08 17:49] #152 closed

[2015-10-08 17:49] atomgroom commented on #79
Done.

[2015-10-08 17:49] #79 closed, assigned to nobody

[2015-10-08 17:51] tomgreever commented on #79
"Done" <-- good one @atomgroomdesign

[2015-10-08 17:53] atomgroom commented on #79
:+1:

[2015-10-08 17:57] akagomez opened #102 ""Better Performance" call to action copy"
Currently the "Better Performance" section on the http://donejs.com landing page reads as:

I would think this would be better said as:

[2015-10-08 18:55] justinbmeyer commented on #87
If you make this change, update the guides page: http://donejs.com/Guides.html

[2015-10-08 18:56] moschel commented on #87
@daffl already did that

[2015-10-08 19:41] moschel opened #107 "header cut off"
I think @James0x57 is fixing this

![2015-10-08_1436](https://cloud.githubusercontent.com/assets/22180/10377724/943ee6b8-6dca-11e5-9af0-57f0a2672575.png)

[2015-10-08 19:57] #89 closed, assigned to atomgroomdesign

[2015-10-08 19:59] #101 closed, assigned to JaneOri

[2015-10-08 20:02] JaneOri commented on #107
Fixed as part of this PR: https://github.com/donejs/donejs/pull/108

[2015-10-08 20:02] #107 closed, assigned to JaneOri

[2015-10-08 21:00] atomgroom opened #110 "Global Menu - Guide Hover State"
Please correct this hover interaction with the gray background on the Guides button, so that it is consistent with the rest of the menu items.

![donejs-guides-hover](https://cloud.githubusercontent.com/assets/5687712/10379739/9d2d4a3e-6dd5-11e5-9228-b11a43895af9.gif)

[2015-10-08 21:15] atomgroom opened #113 "Home Page: Hero CTA Block Semi-Colons"
Please fix the color of the semi colons in each block pictured below between the links.
![screen shot 2015-10-08 at 4 12 34 pm](https://cloud.githubusercontent.com/assets/5687712/10380155/cfccfb0e-6dd7-11e5-9efe-7b2cad5fb221.png)

[2015-10-09 03:51] justinbmeyer opened #118 "In production, home.js loads when I go to the messages page."
![donejs-chat](https://cloud.githubusercontent.com/assets/78602/10385467/0b5f4906-6e0f-11e5-8dd7-8870cbe23db0.png)

[2015-10-09 05:19] moschel opened #119 "semicolons not visible"
In Usability and Maintainable, the semicolons aren't visible with the background, which causes separate features to look like they're one big phrase. For example, "Supports All Browsers, even IE8; Real time Connected;" just ends up looking like Supports All Browsers, even IE8 Real time Connected" - all one nonsensical phrase.

![2015-10-09_0017](https://cloud.githubusercontent.com/assets/22180/103

[2015-10-09 05:19] #113 closed, assigned to atomgroomdesign

[2015-10-09 05:20] #102 closed, assigned to atomgroomdesign

[2015-10-09 05:20] #110 closed, assigned to atomgroomdesign

[2015-10-09 05:20] #87 closed, assigned to nobody

[2015-10-09 05:22] #119 closed, assigned to atomgroomdesign

[2015-10-09 05:22] moschel commented on #119
you already had a PR for this :)

[2015-10-09 12:13] matthewp commented on #118
This is because of https://github.com/stealjs/steal-tools/issues/298, it's fixed but not released in a pre.

[2015-10-09 13:05] atomgroom commented on #119
Ah, thank you for closing. I didn't see this issue. It's _done_ :)

[2015-10-09 13:14] matthewp commented on #118
So that's fixed now:

<img width="1357" alt="screen shot 2015-10-09 at 9 13 14 am" src="https://cloud.githubusercontent.com/assets/361671/10394554/0c239336-6e66-11e5-9db4-dbf6598c9941.png">

However as you can see home.css is loaded, so there's another bug.

[2015-10-09 15:42] daffl commented on #81
Closing since all related PRs are merged.

[2015-10-09 15:42] #81 closed, assigned to nobody

[2015-10-09 16:12] #85 closed, assigned to nobody

[2015-10-09 16:45] julia-allyce opened #122 "Features - IE8 Usage stats"
Get better stats on IE8 to support why you want to support IE8. Such as stats from a large website/webapp.

[2015-10-09 16:45] JaneOri opened #123 "Grey-out the area outside of the mobile menu when it's open"
and make it close the menu if you click in the grey area

[2015-10-09 16:46] julia-allyce opened #124 "Features - Cleanup Graphics for Builds"
Create a better graphic to demonstrate desktop, mobile and web builds.

[2015-10-09 16:46] julia-allyce opened #125 "Features - Cleanup Real Time Connected Video"
Speed up and add voice overs to real time connected video.

[2015-10-09 16:50] JaneOri opened #126 "Homepage, desktop, 3 blocks at the top"
The interactions here need to be tweaked:

1) The full block should work as a page jump to the corresponding section.
-- The "better performance" block doesn't jump at all right now

2) The page scrolls to the wrong position (should be an offset). This was previously fixed so style might have changed.

[2015-10-09 19:00] atomgroom opened #131 "Tablet Landscape: Include Sidebar Nav"
The current breakpoint for tablets starts a little too early.  Please adjust the breakpoint so that the sidebar is included up to "small" viewport sizes, then the guide navigation should display instead.

[2015-10-09 19:57] #123 closed, assigned to JaneOri

[2015-10-09 20:00] atomgroom opened #134 "Better Images and Spacing"
Update the following images with improved graphics:

http://donejs.com/static/img/place-my-order.png

http://donejs.com/static/img/restaurant-list.png

Also center the images automatically for smaller viewports and apply vertical margin for all viewports.

[2015-10-09 20:18] #131 closed, assigned to atomgroomdesign

[2015-10-09 20:19] atomgroom opened #136 "Guides and Features: Title Case for Headings"
Please make sure all the headings use title case patterns. Also, pray that CSS does this for you one day.

[2015-10-09 20:37] #134 closed, assigned to atomgroomdesign

[2015-10-09 20:46] matthewp commented on #76
I've had this all working locally now, just have some clean-up to do:
1. Push a new version of donejs-chat to Heroku so that the API changes needed are there.
2. Do a new release of CanJS
3. Update the guide to:
   - install jquery 1.11 and the xdr transport
   - Add the prefilter to set crossDomain: true
   - Use loose mode on the build.

[2015-10-09 20:55] #126 closed, assigned to JaneOri

[2015-10-09 21:43] atomgroom opened #141 "Mobile - Reduce the font size for code blocks"

[2015-10-10 00:06] #83 closed, assigned to atomgroomdesign

[2015-10-10 00:06] #141 closed, assigned to atomgroomdesign

[2015-10-10 04:38] moschel opened #144 "mobile menu"
The menu shows all the bitovi links in bold and without hierarchy, which looks weird. It also seems to imply that the blog link is for DoneJS.

2 options.

1) We remove everything except one link to Bitovi.
2) We make the hierarchy clear with indentation.

I vote for nbr 1. Not sure the rest are needed on mobile.

![img_3073](https://cloud.githubusercontent.com/assets/22180/10409275/911eea72-6ede-

[2015-10-10 04:41] moschel opened #145 "Missing click targets"
The text and the image should be link targets that take you to each guide.

![2015-10-09_2333](https://cloud.githubusercontent.com/assets/22180/10409281/31010ed0-6edf-11e5-847d-768634e32574.png)

[2015-10-10 04:41] moschel commented on #145
Right now they don't do anything.

[2015-10-10 04:43] moschel opened #146 "hover text"
Super minor and probably not even worth the time it takes to write this, but its been bugging me. The font looks all pixelated and weird when you hover in the Bitovi menu. Not the same as the guides menu font for some reason. Shouldn't these be the same fonts?

![2015-10-09_2340](https://cloud.githubusercontent.com/assets/22180/10409284/4cd9b88c-6edf-11e5-957f-e03704c51735.png)

[2015-10-10 06:41] moschel opened #148 "modlet graphic"
I need some help making a graphic showing the modlet pattern. It should show the two alternatives for organizing files, maybe with a header for each (By Type and By Module).

[2015-10-10 08:54] moschel opened #151 "cropped title"
![2015-10-10_0353](https://cloud.githubusercontent.com/assets/22180/10410279/84454156-6f02-11e5-9484-d421dff83083.png)

[2015-10-10 19:55] matthewp commented on #90
Couple of issues here:
- [ ] - https://github.com/stealjs/live-reload/issues/21  orphan checking code cause unintended teardown of css modules.
- [ ] - https://github.com/donejs/css/issues/23 CSS always appends a style when live-reload is enabled, even if there is already one in the page.

[2015-10-10 20:18] matthewp commented on #90
This is a hard problem. The .component css is not supposed to be reloaded because the module that actually changes is the parent module (the .component module). That's the actual file that's changing.  So the teardown never happens for the style virtual module.

I think live-reload needs to expose it's teardown function so that done-component can do something like:

[code]

[2015-10-10 20:32] justinbmeyer commented on #90
I'm not sure how live-reload works exactly.  How are you matching paths and modules?

Could the mapping of path to module have multiple modules at that path address?

[code]

[2015-10-10 22:11] matthewp commented on #90
.components have a fake path so they all show up in the devtools

[2015-10-10 22:55] justinbmeyer commented on #90
Then another map of real paths to fake paths?

Sent from my iPhone

[2015-10-11 14:40] matthewp commented on #90
That wouldn't work though, we would then be doing `System.import("some.component!done-component/styles.less! $less")` and that's a virtual module so there'd be a 404.

The less is already being reloaded as a result of the .component being reloaded, we just need a way to make sure the virtual modules are torn down at the same time the .component module is torn down.  We already have the `dispose` c

[2015-10-11 19:05] moschel opened #153 "header colors"
IMO the h4 and h5s are kinda drab with a black font. I'd vote for making these match the h3 font color, or giving them another color so they stand out better.

![2015-10-11_1402](https://cloud.githubusercontent.com/assets/22180/10418443/ed16b196-7020-11e5-8ac9-a84066fb71eb.png)

[2015-10-11 22:00] moschel commented on #153
Looking back at this, it looks like they used to be the same as the h3 color, and this was recently changed to black. Was this intentional?

[2015-10-12 01:50] atomgroom commented on #153
Hi @Moschel

It was an intentional change. The link colors are also blue, so in many sections the headings looked like clickable links, that are not. So, we adjusted them as they are now.

[2015-10-12 04:46] moschel opened #156 "mvvm example animation"
I need help making an animated gif/video for the example in the MVVM section. It should look/work similar to the can.connect ones.

It should replace what's in the codeblock that has person.attr('first', 'Brian').

[2015-10-12 04:46] moschel opened #157 "mvvm diagram"
need help making it look better

I'm talking about the one in the mvvm features section

[2015-10-12 04:52] moschel opened #158 "broken sidebar"
It looks like one of my recent commits broke the sidebar. However, its not broken for me locally on latest master, so I'm not sure how to fix it.

![2015-10-11_2351](https://cloud.githubusercontent.com/assets/22180/10421709/11b46b0e-7073-11e5-8e53-0af11aa058e5.png)

[2015-10-12 04:53] moschel commented on #158
Even weirder, the sidebar in the guides is not expanding like it usually does. Though this, too, works fine locally for me.

![2015-10-11_2353](https://cloud.githubusercontent.com/assets/22180/10421714/4a4600ae-7073-11e5-95e9-49d0ecd2f3c2.png)

[2015-10-12 04:57] moschel opened #159 "missing image"
@julia-allyce, shouldn't there be an image here?

![2015-10-11_2356](https://cloud.githubusercontent.com/assets/22180/10421741/cd11c086-7073-11e5-9771-20fd5570027c.png)

[2015-10-12 13:14] matthewp commented on #90
## Issues
- [x] - https://github.com/stealjs/live-reload/issues/21
- [x] - https://github.com/stealjs/live-reload/issues/22
- [x] - https://github.com/stealjs/steal/issues/498
- [x] - https://github.com/donejs/css/issues/23
- [x] - https://github.com/donejs/done-component/issues/4

## Other
- [x] - Update donejs package.json

[2015-10-12 13:19] justinbmeyer opened #162 "DoneJS on windows"
lets make sure it's working again before release.  A comment from an assumed windows user:

I think we need some good instructions about how to get `node-gyp` running easily.

[2015-10-12 14:21] matthewp commented on #162
node-gyp errors can happen with optionalDependencies, but those are optional and don't mean installation has failed.  I think sometimes users see these errors and think it means the install failed but that's not the case.

Probably the first step would be to catalog all of the native modules we are using and see if there is a non-native alternative (I think there might be one for `ws` used for web

[2015-10-12 14:23] #76 closed, assigned to nobody

[2015-10-12 15:20] #125 closed, assigned to julia-allyce

[2015-10-12 15:21] moschel commented on #122
I think we're punting on this, right? If so, let's close it.

[2015-10-12 15:21] julia-allyce opened #163 "Routing Video"
create video to describe routing similar to the real time connected video

[2015-10-12 15:22] #122 closed, assigned to julia-allyce

[2015-10-12 15:59] #159 closed, assigned to julia-allyce

[2015-10-12 16:15] #48 closed, assigned to nobody

[2015-10-12 17:29] atomgroom commented on #146
@moschel I am not sure what you mean.  I looked into this and from what I can see all the dropdown menu items have the same font, font-size and hover interactions.

![screen shot 2015-10-12 at 12 27 18 pm](https://cloud.githubusercontent.com/assets/5687712/10434064/c6ab7908-70dc-11e5-924a-bd0db4285648.png)

[2015-10-12 18:57] #157 closed, assigned to atomgroomdesign

[2015-10-12 18:57] #145 closed, assigned to atomgroomdesign

[2015-10-12 19:27] atomgroom opened #168 "Home Page: MVVM Image"
Remove the word "reactive" from the MVVM Image in the maintainable section of the home page.

[2015-10-12 19:37] atomgroom opened #169 "HomePage: MVVM Animation"
In the maintainable section, create an animated gif with sequential order and animated arrows for the MVVM section.  It should play on hover like the other sections.

Please use this image: http://donejs.com/static/img/mvvm.png

[2015-10-12 20:44] atomgroom opened #170 "Lists"
Please look at the line height on ULs and also the spacing between each LI. They are both very tight.

[2015-10-12 21:35] phillipskevin opened #174 "Live-reload video is cut off on Feature page"
The end of the video on http://donejs.com/Features.html#section=section_LiveReload is cut off so it is very difficult to tell that the CSS reloads after it is changed.

[2015-10-12 21:57] #124 closed, assigned to julia-allyce

[2015-10-12 21:57] #174 closed, assigned to phillipskevin

[2015-10-12 23:38] atomgroom commented on #146
@moschel I can definitely see how some characters have a bit of blurring on them, but unfortunately I am unable to smooth them out any more.

I tried several different CSS tweaks to anti-aliasing and none of them do anything except make the font a bit more bold - but if you zoom in, they still have the same blurring.  I am going to assume that this is just the font itself, mostly because it's the

[2015-10-12 23:38] #146 closed, assigned to atomgroomdesign

[2015-10-13 00:00] atomgroom commented on #144
@moschel Yes, you're right it does look a bit off still.

I am normally against removing things from a responsive site, if the only reason is that it's the mobile view.  Rather, I like to design an alternative solution.   But in this particular case, I do think you're right and it can be removed.  I also think that we should remove the Bitovi.com link because all of that information is all availab

[2015-10-13 00:03] atomgroom commented on #158
This was resolved by @James0x57 today.

[2015-10-13 00:03] #158 closed, assigned to nobody

[2015-10-13 00:28] #136 closed, assigned to atomgroomdesign

[2015-10-13 06:21] #144 closed, assigned to nobody

[2015-10-13 06:21] #151 closed, assigned to atomgroomdesign

[2015-10-13 06:21] #153 closed, assigned to atomgroomdesign

[2015-10-13 06:21] #168 closed, assigned to atomgroomdesign

[2015-10-13 06:21] #170 closed, assigned to atomgroomdesign

[2015-10-13 06:27] moschel opened #176 "UL still not right"
@atomgroomdesign after your change, the ULs are TOO spaced out. Do you agree this looks strange?

![2015-10-13_0125](https://cloud.githubusercontent.com/assets/22180/10447372/7c08eb3e-7149-11e5-8d3e-f114c4a2fbb6.png)

[2015-10-13 06:28] moschel opened #177 "sidebar broken"
@James0x57 the sidebar is not working the way it used to. All the H4s under the current H3 are bold, which is not right:

![2015-10-13_0127](https://cloud.githubusercontent.com/assets/22180/10447406/bac27598-7149-11e5-83c6-d7ddc8f6a1e9.png)

[2015-10-13 06:30] moschel opened #178 "forum link"
@justinbmeyer do you have a preferred Forum in mind for DoneJS? The Forum link under Help is currently a broken link.

![2015-10-13_0130](https://cloud.githubusercontent.com/assets/22180/10447440/066b4eb6-714a-11e5-96d2-eece607a442a.png)

[2015-10-13 06:38] moschel opened #179 "Help and Github links"
Right now, the only way to find the help or github links is on the bottom of the homepage. Feature, guides, etc pages don't have any way to find those.

2 thoughts on this....

1) We could add a Community link at the top, and have a designed community page with those links instead of being in the homepage. That way its always accessible. We could also include a link to meetups.

2) I like Ember's

[2015-10-13 06:50] moschel opened #180 "docs and guides buttons"
@skylerraytaylor Justin was telling me that you made a design for the features page that included buttons that link to the guide and documentation for each feature. Could you point me to that?

I'd like @atomgroomdesign 's help adding those.

[2015-10-13 07:01] moschel opened #181 "node build vs donejs build"
I noticed that in several places throughout the guides, there's instructions to run `donejs build` and in other places, it says to run `node build`.

Very possible this is a stupid question, but is that right? Or is it always supposed to be donejs build?

In the quick start guide, it only refers to donejs build, but in the in depth guide, it says node build in a few places.

![2015-10-13_0159](htt

[2015-10-13 07:02] moschel opened #182 "mobile headers"
Pretty minor, but why are we cutting off the title after so few characters on mobile?

![2015-10-13_0202](https://cloud.githubusercontent.com/assets/22180/10447944/819e87b6-714e-11e5-959d-383cc4d80694.png)

[2015-10-13 07:06] moschel opened #183 "titles at the top"
@atomgroomdesign this is minor, but could you put the titles for the images below at the top? It is confusing with them at the bottom, I had to study it for a second to understand which was which.

![2015-10-13_0205](https://cloud.githubusercontent.com/assets/22180/10447991/10550c78-714f-11e5-9b74-4085f41f652b.png)

[2015-10-13 12:06] justinbmeyer commented on #183
Labels for images are usually at the bottom.

Sent from my iPhone

[2015-10-13 13:00] atomgroom commented on #182
Hey @moschel Good catch. It looks like the tablet (portrait) media query is kicking in too early.  I'll take a look today.

[2015-10-13 13:05] atomgroom commented on #176
@moschel I can see that you think they are too spaced out.  Although, I don't think they look strange -- I did design them to be this way as I felt that the spacing and margin was equal, balanced and flowed nicely when reading the page.

Here's a sample from Smashing Magazine, where they follow a similar pattern with spacing:
![screen shot 2015-10-13 at 8 12 27 am](https://cloud.githubusercontent.

[2015-10-13 13:10] atomgroom commented on #183
@moschel I can see how you think it's confusing with the label on the bottom.

Although, @justinbmeyer is correct, labels or captions are usually at the bottom.  Moving them to the top will only shift the same exact issue in the other direction for users that are familiar with this pattern.

I think the real issue here is spacing and separation between these two images. Do you think that will help

[2015-10-13 13:13] #177 closed, assigned to JaneOri

[2015-10-13 13:32] skylerraytaylor commented on #180
@moschel Here is the mockup I originally did. The idea was that there would be links to the guide/documentation/project for each feature. We ended up using a light background for the code examples instead of a dark background, so ignore that. ![donejs-features-page-02](https://cloud.githubusercontent.com/assets/3943219/10456063/baa7c276-7184-11e5-9fcb-edad6987ee16.jpg)

[2015-10-13 14:10] atomgroom commented on #180
@skylerraytaylor Thanks!

@moschel I think the best way to implement this would be to use a CSS class in the Markdown so that all of the other `<a>'s` don't inherit the button style.

`<a href="foobar.html" class="btn">View the Guide</a>`

[2015-10-13 15:26] atomgroom commented on #148
@moschel Here's my first iteration on this design. Please let me know your thoughts.

![donejs-modlet](https://cloud.githubusercontent.com/assets/5687712/10459400/fdf6cf76-7194-11e5-9327-9e43424d4003.png)

[2015-10-13 16:10] moschel commented on #183
Nah forget it, its minor. If you guys think its not confusing then its fine.

[2015-10-13 16:10] #183 closed, assigned to atomgroomdesign

[2015-10-13 16:11] moschel commented on #180
Thanks Skyler. @atomgroomdesign could you please implement this class? I'd like to add them

[2015-10-13 16:27] atomgroom commented on #169
@moschel @justinbmeyer - Here's the first solid iteration to look at.  Please review and provide your feedback.

![donejs-mvvm-animation-v2 1](https://cloud.githubusercontent.com/assets/5687712/10461071/32f8523c-719d-11e5-992a-d235cde50efe.gif)

[2015-10-13 16:51] moschel commented on #176
Ok you convinced me.

[2015-10-13 16:51] #176 closed, assigned to atomgroomdesign

[2015-10-13 17:15] moschel commented on #148
looks good, let's integrate it

[2015-10-13 17:30] julia-allyce opened #186 "Comparison Matrix"
Create a matrix comparing DoneJS Features with other libraries.

[2015-10-13 18:47] justinbmeyer commented on #148
Should tabs be open to sorta show apples to apples?

[2015-10-13 18:59] atomgroom commented on #148
@justinbmeyer That's not a bad idea either.  Here's what that looks like. Please let me know what you and @moschel would like to go with.

![donejs-modlet-v3](https://cloud.githubusercontent.com/assets/5687712/10465079/a8539144-71b2-11e5-931b-b5233cd5bd6c.png)

[2015-10-13 19:05] moschel commented on #148
Sure, let's go with that, but remove the cart folder one so its apples to apples.

[2015-10-13 19:06] #182 closed, assigned to atomgroomdesign

[2015-10-13 20:41] daffl commented on #181
`donejs build` is running `npm run build` which is set in the package.json as `scripts: { build: "node build" }`. It should be consistent though and probably be `donejs build` everywhere.

[2015-10-13 20:55] #180 closed, assigned to nobody

[2015-10-13 20:55] #148 closed, assigned to atomgroomdesign

[2015-10-13 21:11] matthewp commented on #90
![lrcss](https://cloud.githubusercontent.com/assets/361671/10468504/64ba509c-71cd-11e5-9175-7179732c1a50.gif)

[2015-10-13 21:11] #90 closed, assigned to matthewp

[2015-10-13 21:13] atomgroom commented on #186
Notes:
X-Axis: Frameworks
Y-Axis: Features

[2015-10-14 00:05] phillipskevin commented on #84
@moschel, here is the pull request for the final video: https://github.com/donejs/donejs/pull/193.

[2015-10-14 00:36] moschel commented on #84
Thanks @phillipskevin

[2015-10-14 00:36] #84 closed, assigned to phillipskevin

[2015-10-14 02:27] marshallswain opened #194 "Improve Navigation UX on donejs.com ~5"
While going through the guide, if you click on a link that takes you to an external page then press the browser's back button to go back to where you were reading in the guide, it auto-scrolls to the last URL.  Since the URLs don't update as you scroll through the page, this can be very disorienting.

One option for a fix would be to have the URL/route automatically update as you scroll to each he

[2015-10-14 02:32] marshallswain commented on #194
Another option would be to have all external links load in a new tab.

[2015-10-14 03:16] justinbmeyer commented on #194
Your original suggestion should only be done with replaceState.  You don't want to add a bunch of history entries.

But with the site being statically generated, this is more difficult. Does replaceState work with the hash?

[2015-10-14 04:36] moschel opened #195 "videos not full width"
The videos are not taking up the full container width. I'm not sure if that's a css issue or something with the video files themselves. @phillipskevin do you know?

![donejs_-_donejs](https://cloud.githubusercontent.com/assets/22180/10474953/0317dcf2-7203-11e5-8649-65116a5f8c7a.png)

[2015-10-14 04:40] moschel opened #196 "video zoom"
Even though they look good full width, at the smaller size on the homepage, some of the videos are too zoomed out to be legible.

At times its ok to show the whole browser (like in the start of running tests, to show QUnit's UI). But then I wonder if you could zoom in quickly so people could actually read the text. Speciflcally I noticed this in the testing, CI, and documentation videos.

The othe

[2015-10-14 05:22] moschel opened #197 "Feature buttons"
#180 shows the buttons floating next to each other. Could you please make that happen. I added buttons here: http://donejs.com/Features.html#section_ProgressiveLoading

![2015-10-14_0012](https://cloud.githubusercontent.com/assets/22180/10475471/990d4b42-7209-11e5-87ca-8dc7b8780bb4.png)

[2015-10-14 13:06] atomgroom commented on #197
Hrm. That's odd.  I actually tested that specifically and it worked. :-1:  I'll take a look and see what's going on.

[2015-10-14 13:08] atomgroom commented on #197
Ah, Okay. I see what it is. DocumentJS is wrapping them in a `<p>` tag because there are line breaks around it.  If we just remove the breaks, they will float.  I'll take care of it and link to the PR to show you.

[2015-10-14 14:18] atomgroom commented on #169
Completed here: https://github.com/donejs/donejs/pull/191

[2015-10-14 14:18] #169 closed, assigned to atomgroomdesign

[2015-10-14 14:21] atomgroom commented on #194
@marshallswain That's a great observation.  I did notice this as well, especially when developing.  I'll scroll to a certain part of the guide, then hit refresh and it takes me to the last #URL that I was at, rather than my new position on the page.

I think we should pursue this :+1:

[2015-10-14 14:39] marshallswain commented on #194
Looks like there is support for replaceState on the hash:
http://stackoverflow.com/questions/9235304/how-to-replace-the-location-hash-and-only-keep-the-last-history-entry

[2015-10-14 14:42] matthewp commented on #118
## Issues
- [x] - https://github.com/canjs/can-ssr/issues/74

[2015-10-14 14:58] phillipskevin commented on #195
This is because the `.background video` has a fixed height and the videos are not all the correct dimensions. I'll try to resize them.

[2015-10-14 16:35] #197 closed, assigned to atomgroomdesign

[2015-10-14 17:22] atomgroom commented on #186
@julia-allyce @moschel

Here's my first take at a comparison graph for the site.   I really like the idea of using Emoji's because I think so many people understand them today, regardless of demographics.  Additionally, they express more emotion than the consumer reports icons.  You can almost understand what the emoji means, without referencing the legend.

I started with regular emjoi's which is

[2015-10-14 17:30] matthewp commented on #118
Fixed and verified on chat.donejs.com:

<img width="1366" alt="screen shot 2015-10-14 at 1 30 17 pm" src="https://cloud.githubusercontent.com/assets/361671/10492038/bad0f35a-7277-11e5-85fa-fc084c638af6.png">

[2015-10-14 17:30] #118 closed, assigned to matthewp

[2015-10-14 18:22] matthewp opened #200 "Maintainable section images very wide in IE11"
<img width="1316" alt="screen shot 2015-10-14 at 2 21 14 pm" src="https://cloud.githubusercontent.com/assets/361671/10493405/f27866b0-727e-11e5-9fd2-be5412ae2dff.png">

[2015-10-14 18:23] matthewp commented on #200
This is true of just the images, not the videos. cc @atomgroomdesign @phillipskevin @moschel

[2015-10-14 18:24] atomgroom commented on #200
And so the IE fixing begins.  Maybe we also need a label, just for IE :)

[2015-10-14 18:25] matthewp opened #201 "Features: h1 and h2 backgrounds do not fill entire width on IE11"
<img width="1316" alt="screen shot 2015-10-14 at 2 25 19 pm" src="https://cloud.githubusercontent.com/assets/361671/10493481/723c044c-727f-11e5-8c4a-0133dcc825a9.png">

[2015-10-14 18:28] matthewp commented on #200
There's a "compatibility" label that is not just for the website but you could use it in conjuction with the "website" label.

[2015-10-14 18:31] matthewp commented on #201
This is probably related so I'll leave it here, the h1 texts can wrap:

![screen shot 2015-10-14 at 2 30 15 pm](https://cloud.githubusercontent.com/assets/361671/10493628/27075156-7280-11e5-8689-e1265363db24.png)

[2015-10-14 18:35] matthewp commented on #162
I think I'm going to reuse the guide on steal-tools, it's probably what is needed: http://stealjs.com/docs/guides.ContributingWindows.html

[2015-10-14 18:45] marshallswain commented on #186
@atomgroomdesign when I looked at the first one, I thought it would be nice if you used color, so you really came through immediately when I clicked on the second one.  Color is way better, imo.

Looking at the color one, I think it would be nice if you could use color boldness (I'm no designer, so this is what I'm calling it) to draw attention to the ones that perform the best.  Kinda like making

[2015-10-14 19:01] atomgroom commented on #186
@marshallswain
Cool. Thanks for the feedback.  Brian mentioned the same earlier today.  I'll have to play around with the colors a bit more.  Brian mentioned lowering the opacity of the middle tier colors so the extreme end colors get the attention you speak of.

Although, I would like to add a feature for when the user hovers an icon in the legend - that icon gets highlighted and all others lower

[2015-10-14 19:08] phillipskevin opened #202 "Support `donejs add` command"
User should be able to run commands like `donejs add cordova`.

This will:
1. Install the donejs "plugin" (such as `donejs-cordava`) if not already installed
2. Run any generators supplied by the plugin

[2015-10-14 19:11] phillipskevin commented on #202
`donejs add cordova` should run the default generator supplied by `donejs-cordova`.

`donejs add cordova foo` should run the `foo` generator supplied by `donejs-cordova`.

[2015-10-14 19:19] matthewp commented on #162
I think the issue the user ran into is `donejs develop` not starting because of a bug in can-serve.  Going to fix that first with a test.

[2015-10-14 19:19] matthewp commented on #162
## Issues
- [x] - https://github.com/canjs/can-ssr/issues/77
- [ ] - https://github.com/donejs/donejs/issues/212
- [x] - https://github.com/donejs/donejs/pull/211
- [x] - https://github.com/donejs/deploy/pull/34
- [x] - https://github.com/donejs/donejs/pull/214
- [x] - https://github.com/donejs/css/pull/27

[2015-10-14 20:19] julia-allyce opened #204 "Switch not working in CanJS"
https://github.com/bitovi/canjs/issues/1988

[2015-10-14 21:26] matthewp commented on #162
Fixed the donejs develop issue:

![win](https://cloud.githubusercontent.com/assets/361671/10498305/be5e26fc-7298-11e5-85e0-8fa17bbd1e20.gif)

Going to try and get through the entire guide.

[2015-10-14 21:48] atomgroom commented on #186
Here's another iteration with all the above feedback considered:

![donejs-features-page-v3](https://cloud.githubusercontent.com/assets/5687712/10498997/5d319634-7293-11e5-9f78-b7f6ee990cef.jpg)

[2015-10-15 00:26] moschel opened #205 "OL styles are inconsistent"
OLs have different font and spacing than the rest of the content, including ULs. Was this intentional?

<img width="686" alt="2015-10-14_1925" src="https://cloud.githubusercontent.com/assets/22180/10501661/5f1cde66-72a9-11e5-953e-2240607220e5.png">

[2015-10-15 03:26] marshallswain opened #207 "`donejs init` breaks when inside existing node project."
I'm putting together an article on using DoneJS with FeathersJS all on one server.  I'm creating a basic structure using what will probably become a very common workflow.
1. `mkdir test-app; cd test-app`
2. `touch server.js`
3. `npm init`
4. `donejs init app-ui`
5. Rename `app-ui` folder to `public`

If I run donejs init BEFORE creating a package.json for the server, there's no problem, but runnin

[2015-10-15 15:18] matthewp commented on #162
- [x] - Update the guide when talking about production to properly set the NODE_ENV on windows: http://stackoverflow.com/questions/9249830/how-can-i-set-node-env-production-in-windows
- [x] - Update the guide to make the NW.js section platform agnostic. To run: `.\build\donejs-chat\win32\donejs-chat.exe`
- [x] - Figure out what to do about the Cordova section. Do we switch this entire section to A

[2015-10-15 15:47] matthewp opened #212 "donejs doesn't pass stdin to child process"

[2015-10-15 16:06] matthewp commented on #212
Actually passing stdin isn't enough, the terminal has to be a tty.  This has to return true: `process.stdout.isTTY`.  I think the only way for this to happen is to use spawn.

[2015-10-15 16:16] matthewp commented on #212
Implementing the same fix done before: https://github.com/donejs/donejs/commit/67963a2a14b155edf4b82ed085f0a1bfbe249a38

[2015-10-15 16:36] daffl commented on #212
I've done this in `donejs-cli` at https://github.com/donejs/cli/blob/master/lib/utils.js#L37 already. We should use spawn as suggested and set `{ stdio: 'inherit' }` in the options.

[2015-10-15 16:47] matthewp commented on #212
So is bin/donejs here just going to call into donejs-cli then?

[2015-10-15 16:56] daffl commented on #212
The other way around.

[2015-10-15 16:57] matthewp commented on #212
I don't get it, the user installed donejs, doesn't it need to call donejs-cli?

[2015-10-15 17:01] #205 closed, assigned to atomgroomdesign

[2015-10-15 18:07] atomgroom commented on #195
Closing. This is completed here: https://github.com/donejs/donejs/pull/203

[2015-10-15 18:07] #195 closed, assigned to phillipskevin

[2015-10-15 18:52] atomgroom commented on #200
Closing, it worked itself out. Wow.

[2015-10-15 18:52] #200 closed, assigned to nobody

[2015-10-15 19:21] tracer99 commented on #88
So yes, after installing nodejs-legacy, everything seems to work fine. So this is less of an issue with Node/DoneJS and more an issue with Debian/Ubuntu. Seeing as these are really popular distros though, I suggest making this a documentation item.

[2015-10-15 19:29] matthewp commented on #88
We might want to have Platforms page that goes over the various quirks on different platforms (this, stuff you have to install on Windows, etc).

[2015-10-15 20:40] atomgroom opened #217 "Guide Menu: Nested List Spacing"
The first nested list within the guide menu needs a little extra spacing on the top to make it feel more balanced, especially when it is active with the bg-color.

![screen shot 2015-10-15 at 3 38 39 pm](https://cloud.githubusercontent.com/assets/5687712/10526899/0aca8516-7353-11e5-8491-b95091eb574b.png)

[2015-10-15 22:13] #201 closed, assigned to atomgroomdesign

[2015-10-16 12:27] matthewp commented on #88
@tracer99 I'm adding a page that goes over these things, which version of Node do you get when you install nodejs-legacy?  You can find out with `node -v`.

[2015-10-16 12:59] matthewp commented on #88
Nm, going to suggest using a PPA.

[2015-10-16 13:18] tracer99 commented on #88
@matthewp node-legacy is not a node package. You need nodejs installed, which is v0.10.29
The node-legacy package just sets up the symlink for node -> nodejs

[2015-10-16 13:19] #88 closed, assigned to nobody

[2015-10-16 13:21] matthewp commented on #88
@tracer99 I've added a page on using with Ubuntu/Debian, thanks for your suggestion on this.  http://donejs.com/OperatingSystems.html#section=section_Debian_Ubuntu

[2015-10-16 14:13] atomgroom opened #222 "Maintainable Videos in Docs / Guides"
When one of the maintainable videos is placed in the docs section it carries over styles from the home page. Please clean that up.

[2015-10-16 15:55] daffl opened #224 "Make donejs add pass the Yeoman environment"
`donejs add` should pass its yeoman environment so that we can implement functionality like prompts and make use of their virtual file system without having to install it separately.

[2015-10-16 16:03] #217 closed, assigned to atomgroomdesign

[2015-10-16 16:03] #222 closed, assigned to atomgroomdesign

[2015-10-16 19:13] atomgroom opened #225 "SVG Font Embed"
On the Features page, this SVG's font is not outlined and does not render properly. Please outline it and update.

Bad:
![screen shot 2015-10-16 at 2 14 26 pm](https://cloud.githubusercontent.com/assets/5687712/10551060/3ff843fa-7410-11e5-87fd-0acf208ef25d.png)

Good:
![screen shot 2015-10-16 at 2 12 32 pm](https://cloud.githubusercontent.com/assets/5687712/10551046/1c2aded8-7410-11e5-9387-cfd5aba

[2015-10-16 20:26] phillipskevin commented on #224
This should be resolved in https://github.com/donejs/donejs/pull/213.

[2015-10-16 22:45] #225 closed, assigned to nobody

[2015-10-16 23:31] moschel opened #229 "buttons not aligned"
At certain page widths, the buttons are on separate lines, but not left aligned. Their left edges should line up:

![2015-10-16_1830](https://cloud.githubusercontent.com/assets/22180/10555394/11e87470-7434-11e5-9f62-6b76bc9e021f.png)

[2015-10-17 04:40] moschel opened #230 "Make a "testing lifecycle" graphic ~3"
For this section's intro: http://donejs.com/Features.html#section_ComprehensiveTesting

I'm not exactly sure what it should look like so let's discuss

[2015-10-18 01:41] atomgroom commented on #229
Hrm.  Yes, that's not supposed to be that way.  The buttons are supposed to be 100% width at that viewport size, as well.

[2015-10-18 02:37] atomgroom opened #231 "Funny Pull Quote Design"

[2015-10-18 05:17] moschel opened #232 "caption text"
Please make caption text closer to the images. right now there's too big a gap, which causes confusion

![2015-10-18_0016](https://cloud.githubusercontent.com/assets/22180/10562668/a66d1336-752d-11e5-8b5b-0592dc6c5b90.png)

[2015-10-18 05:34] moschel opened #233 "ul spacing"
Too much space between ol's and ul's. Please decrease it.

![2015-10-18_0033](https://cloud.githubusercontent.com/assets/22180/10562726/e1fc9bd6-752f-11e5-833c-d0145aef92d2.png)

[2015-10-19 05:48] moschel commented on #231
Please talk to me about this before you work on it, I have some more details

[2015-10-19 05:51] moschel opened #234 "Make it possible to create h4 and h5 links"
http://donejs.com/Features.html#section=section_ComprehensiveTesting - for that section (and some others) it would be good to make H4s and H5s linkable like H2s and H3s are.

Not sure how the H2 and H3 ids are being created. @James0x57 or @atomgroomdesign do you know?

[2015-10-19 12:59] atomgroom commented on #233
@moschel I thought that we have already completed this here: https://github.com/donejs/donejs/issues/176

[2015-10-19 13:06] atomgroom commented on #232
@moschel Is this the desired spacing you're looking for?

![image-crop-2](https://cloud.githubusercontent.com/assets/5687712/10578524/58e7904e-7638-11e5-9626-18bf60ca7fab.gif)

[2015-10-19 13:20] atomgroom commented on #229
@moschel Actually, I can't replicate that on my end:

![donejs-btns](https://cloud.githubusercontent.com/assets/5687712/10578816/2e3bb576-763a-11e5-9bac-2fe5aa64f9c7.gif)

[2015-10-19 13:31] matthewp commented on #204
PR open for this bug: https://github.com/bitovi/canjs/pull/1999

[2015-10-19 14:36] atomgroom opened #237 "Mobile Hero: BG Image is too Big"
On the responsive mobile (xs) views the here background image, using `cover` is too large and fuzzy.  Please play with this to get it better looking.

Bad:
![img_1805](https://cloud.githubusercontent.com/assets/5687712/10580871/5c21c7f4-7645-11e5-86a5-fa70fe677ae2.PNG)

Good:

![img_1804](https://cloud.githubusercontent.com/assets/5687712/10580877/61a53cd8-7645-11e5-87cd-f67483cc92a0.PNG)

[2015-10-19 14:40] #163 closed, assigned to julia-allyce

[2015-10-19 15:53] #237 closed, assigned to atomgroomdesign

[2015-10-19 15:55] moschel commented on #233
@atomgroomdesign I know, but I asked others and they agreed with me that it seems strangely spacious on the Features page. Please tweak it a little.

[2015-10-19 15:55] moschel commented on #232
yeah that's better

[2015-10-19 16:08] moschel commented on #179
@justinbmeyer agreed with this in standup today. Not a top priority, but should get this stuff fixed.

[2015-10-19 16:12] matthewp opened #239 "Add OSX section to Setting Up"

[2015-10-19 16:50] moschel opened #240 "linkable headers"
Since Features is so long, it would be nice to have github wiki style links appear that allow you to link directly to a header of any level:

![2015-10-19_1147](https://cloud.githubusercontent.com/assets/22180/10584369/7e4925a4-7657-11e5-920e-4282be6bc2c1.png)

 cc @James0x57

[2015-10-19 17:09] matthewp opened #241 "Find an alternate CDN host"
Going to start with Firebase: https://github.com/donejs/deploy/issues/35

[2015-10-19 17:29] matthewp commented on #204
Merged into minor.

[2015-10-19 17:30] #204 closed, assigned to matthewp

[2015-10-19 18:28] atomgroom commented on #231
@moschel Here's the latest example.  I would pull an object from each video and put it where the truck currently is.  This would be a pretty quick project for each pull quote.

![donejs-pull-quote-funny-v4](https://cloud.githubusercontent.com/assets/5687712/10587109/41a451ec-7665-11e5-8375-c0d86cd87c13.jpg)

[2015-10-19 18:31] atomgroom opened #243 "Compare Chart: Code Markup and CSS for Devs"

[2015-10-19 18:53] atomgroom commented on #179
@moschel @justinbmeyer Here's a footer redesign option.  Please let me know what you think, I can get this done pretty quick.

![screen shot 2015-10-19 at 1 51 41 pm](https://cloud.githubusercontent.com/assets/5687712/10587837/b54a58e6-7668-11e5-9fa6-35667c1106f4.png)

[2015-10-19 18:54] atomgroom commented on #179
Also, on the community landing page, we need to add the MeetUp links by city too.

[2015-10-19 19:02] matthewp opened #244 "Rewrite the iOS getting started guide"

[2015-10-19 19:24] justinbmeyer opened #245 "Maintainable Videos and text changes"
## General

Videos should all  fade out their key-frame.
## Test
- Video content is too small to read
- needs to stick on `npm test` for 1/2 second longer
- text should reference more than event simulation.
## NPM + Custom Elements

npm + custom elements should show the tabs in the page to see the result.

It might need to link to both the npm and custom elements sections.
## MVVM Architecture

Di

[2015-10-19 19:32] justinbmeyer opened #246 "Homepage: Let people know to start on gitter"
previously, there was some text in the community section telling people to get started on gitter to get help.  I think we should bring that back for release.  We can put it here:

![donejs_-_donejs](https://cloud.githubusercontent.com/assets/78602/10588892/12c053ea-766e-11e5-8676-b2efc4568420.png)

[2015-10-19 19:58] atomgroom commented on #246
Text was: "If you’re looking for help the best place to start is the forums or our Gitter chatroom."

[2015-10-19 20:05] atomgroom opened #248 "Community Landing Page"
Design a community landing page that will be linked to from the global header button.

[2015-10-19 20:06] atomgroom commented on #248
![donejs-community-landing-v1](https://cloud.githubusercontent.com/assets/5687712/10589804/de0f0bdc-7672-11e5-9f1d-35098ce6ba68.jpg)

@moschel @justinbmeyer

[2015-10-19 20:09] atomgroom commented on #248
We should add a meetups section in there to and list the cities, then link to them individually.

[2015-10-19 20:15] moschel commented on #248
Yeah needs meetups, but other than that the design looks good to me. I think we should add some text at the top describing what this page is for, our commitment to community, and linking to http://donejs.com/About.html#section=section_Community

@justinbmeyer ?

[2015-10-19 20:16] moschel commented on #248
Also, should we have a bithub feed in here? Or another form of social media/updating content?

[2015-10-19 20:23] #244 closed, assigned to matthewp

[2015-10-19 20:46] #234 closed, assigned to JaneOri

[2015-10-19 20:46] #240 closed, assigned to JaneOri

[2015-10-19 20:46] #232 closed, assigned to atomgroomdesign

[2015-10-19 20:46] #233 closed, assigned to atomgroomdesign

[2015-10-20 07:33] moschel opened #252 "sub-links don't work"
1) go to http://donejs.com/Features.html#section=section_ComprehensiveTesting
2) click on one of the links in the intro, like Generators, which is like http://donejs.com/Features.html#section=section_ComprehensiveTesting__Howitworks__Generators

It should scroll to that section, but nothing happens. Probably something in the scroll JavaScript?

[2015-10-20 07:34] moschel commented on #252
Actually I'm betting something is intercepting link clicks and preventing default.

[2015-10-20 07:47] moschel opened #253 "update custom elements jsbin"
It needs to include latest canjs and be the same code as the example listed in the intro

[2015-10-20 07:48] moschel opened #254 "jsbin for Minimal DOM updates"
Need to add a JSBin spinning circles example that Justin worked on recently.

It should just compare us to React and Angular. We'll need to add Angular.

[2015-10-20 13:16] atomgroom opened #255 "Headers - Linkable Icon"
Please fix the icon for headers when you hover.  The image size is cut-off some in Chrome.  Top is correct, bottom is no good.

![screen shot 2015-10-20 at 8 14 16 am](https://cloud.githubusercontent.com/assets/5687712/10608020/c5001664-7702-11e5-80d3-5c1831902896.png)

[2015-10-20 13:37] atomgroom commented on #229
Closing for now. Please re-open and ping me if it's still a problem for you.

[2015-10-20 13:37] #229 closed, assigned to atomgroomdesign

[2015-10-20 14:17] #212 closed, assigned to matthewp

[2015-10-20 14:56] atomgroom commented on #248
![donejs-community-landing-v2](https://cloud.githubusercontent.com/assets/5687712/10611246/c865b850-7710-11e5-9772-58840d142d73.jpg)

[2015-10-20 15:46] atomgroom commented on #248
Here's another iteration based from feedback on the Meetup section (confusing, and hard to scan).  New version has alphabetical, tabular data, and a mock Bithub Feed a the bottom.

![donejs-community-landing-v3](https://cloud.githubusercontent.com/assets/5687712/10612739/c46682dc-7717-11e5-8762-a14e28535770.jpg)

[2015-10-20 15:50] atomgroom opened #258 "Home Page: Better Performance Links"
Please add guide/feature links to the various numeric bullet points that slide in and out of each section, appropriately.

Currently, these are svgs, so the fastest way might be to make "hot spots" that are positioned over the svg.  Otherwise, the entire graphic would need to be coded in html, css, with sliced up images.

![screen shot 2015-10-20 at 10 49 11 am](https://cloud.githubusercontent.com

[2015-10-20 15:59] moschel commented on #179
footer looks good to me

[2015-10-20 16:44] moschel opened #259 "talk about os x"
http://donejs.com/SettingUp.html

To avoid confusion, that page needs a mention of OS X - even if it says "OS X has no specific prerequisites, it comes with everything you need"

@matthewp said he was working on this

[2015-10-20 16:55] matthewp commented on #259
Yeah, added https://github.com/donejs/donejs/issues/239 for this.

[2015-10-20 16:55] #259 closed, assigned to nobody

[2015-10-20 18:08] Alfredo-Delgado commented on #253
http://donejs.com/Features.html#section=section_CustomHTMLElements

[2015-10-20 19:23] #179 closed, assigned to atomgroomdesign

[2015-10-20 19:23] #239 closed, assigned to matthewp

[2015-10-20 19:24] #246 closed, assigned to atomgroomdesign

[2015-10-20 19:24] #255 closed, assigned to atomgroomdesign

[2015-10-20 19:24] #252 closed, assigned to JaneOri

[2015-10-21 06:56] moschel opened #264 "NPM packaging buttons"
There are 2 features for the section below, so I added a second button

1) please align these (and test on other breakpoints)
2) I changed it from Learn More to the name of each feature. Any recommendations on how to make this more consistent with the pattern of the rest of the sections? Or should we just leave it like this.

![2015-10-21_0151](https://cloud.githubusercontent.com/assets/22180/1062

[2015-10-21 13:32] atomgroom commented on #264
@moschel I do think for that section that it makes sense to change up the naming convention of the buttons.  But, I wonder if it would be too much to follow that pattern in the other sections.

Documentation - For example:

1) You have the video image with the title: Documentation
2) Then the caption title: Documentation
3) Button Text: Documentation

That's the same word repeated three times in o

[2015-10-21 13:45] atomgroom opened #266 "Homepage: Update MVVM Animation"
Update the video with feedback from @moschel and @justinbmeyer

[2015-10-21 16:32] #264 closed, assigned to atomgroomdesign

[2015-10-21 16:32] #266 closed, assigned to atomgroomdesign

[2015-10-21 21:53] atomgroom commented on #243
![donejs-matrix](https://cloud.githubusercontent.com/assets/5687712/10651244/0ecbcb5a-7814-11e5-95c6-73ab42926502.gif)

@moschel @julia-allyce - This is already to go here.  Please pay close attention to class names in the markup to keep everything consistent.  Branch is here:

https://github.com/donejs/donejs/tree/matrix-design

*\* I will be working getting the table legend in the layout tomorro

[2015-10-21 21:55] atomgroom commented on #243
I am personally not a fan of how the fixed left column text is also scrollable (for small responsive), but I understand why it was designed like this in the example I used.  It's because every row would have a variable height and not line up with the rows that slide under it.  One way to achieve this would use JS .height to apply inline height to everything to ensure everything lines up.

[2015-10-22 02:36] justinbmeyer opened #270 "Homepage: Make different sections linkable"
I want to be able to link to the performance section.

[2015-10-22 15:39] matthewp opened #272 "Remove CORS requirement for CDN"

[2015-10-22 17:49] moschel commented on #254
http://donejs.com/Features.html#section_MinimalDOMUpdates

http://jsbin.com/pamodu/5/edit?html,css,js,output

https://github.com/bitovi/canjs/blob/master/view/stache/visual_benchmark.html

1) getting Justin's performance improvements visible
2) remove ember, adding Angular

[2015-10-22 17:52] moschel opened #273 "jsperf for minimal DOM requests"

[2015-10-22 18:44] moschel opened #274 "longevity on the homepage"
Creating an issue to track this.

We need a subtle way to show that DoneJS is not a "new" framework, but rather part of the JavaScriptMVC-->CanJS 8+ year lineage.

We haven't finalized how to show this, but a leading idea is to put some text under the description, above the npm installation steps. Maybe something that says "Not just another JavaScript framework" that links to http://donejs.com/Abo

[2015-10-22 18:48] moschel commented on #270
http://donejs.com/#performance - credit to @James0x57

[2015-10-22 18:48] moschel commented on #270
@justinbmeyer can we close this? or do you really want the clicking each section to add a hash?

[2015-10-22 18:53] moschel commented on #274
I think the text should be more explicit. Some options...
- 8 years in the making
- JavaScriptMVC's step child
- Steady, consistent improvements since 2007
- JavaScriptMVC + 8 years of evolution
- Innovating since 2007

[2015-10-22 19:02] moschel commented on #274
From @atomgroomdesign
- 8 years of JavaScript evolution

[2015-10-22 19:10] matthewp commented on #241
This is done.

[2015-10-22 19:10] #241 closed, assigned to matthewp

[2015-10-22 19:38] justinbmeyer commented on #270
it can be closed.

[2015-10-22 19:38] #270 closed, assigned to nobody

[2015-10-22 20:12] atomgroom commented on #243
![donejs-matrix-2](https://cloud.githubusercontent.com/assets/5687712/10676957/2a538b0e-78cf-11e5-9cad-8569772417f4.gif)

[2015-10-22 22:06] #243 closed, assigned to atomgroomdesign

[2015-10-22 23:02] atomgroom opened #277 "Home Page: JS Error"
I added some JS to the static.js file that is throwing an error on the home page.  I need some help getting that resolved, please.

`Uncaught TypeError: Cannot read property 'top' of undefined`

This is coming from: https://github.com/donejs/donejs/blob/master/docs/theme/static/static.js#L501

@James0x57 or @moschel - I get by with a little help from my friends :)

[2015-10-22 23:03] atomgroom commented on #277
As an added note, that JS is needed for somewhere within either Features, or guides, once the matrix design data is complete. Which, @moschel and @julia-allyce are working on.

[2015-10-22 23:06] moschel opened #280 "npmignore"
Let's ignore the docs folder, or at least the images/videos folder for anyone using npm. There are a lot of large videos only used on the website that will make the download too big.

[2015-10-22 23:14] #196 closed, assigned to phillipskevin

[2015-10-22 23:51] phillipskevin opened #282 "Document donejs add and how to create plugins"

[2015-10-22 23:54] phillipskevin opened #283 "Support passing arguments to donejs add"
Add support for `donejs add foo bar`
If foo is a function, instantiate the generator and pass `bar` as an argument.
If foo is an object, run the `bar` generator.

[2015-10-23 00:59] #277 closed, assigned to nobody

[2015-10-23 05:20] ccummings commented on #254
Here's the JSBin: http://jsbin.com/ducodekufe/edit?js,output

I added a feature that displays the last result for each framework when you finish running a test.

Here are my results:
`CanJS: 3.61 | React: 3.58 | Angular: 4.41`

Also created on using Mustache: http://jsbin.com/zusenesaho/1/edit?html,js,output
`CanJS: 8.34 |  React: 3.76 | Angular: 4.46`

UPDATE: I created a much nicer looking bin t

[2015-10-23 05:28] justinbmeyer commented on #254
Ugg.  Let's talk tomorrow about getting us faster then react.

Sent from my iPhone

[2015-10-23 13:05] matthewp commented on #282
I'm working on this this morning. https://github.com/donejs/cli/issues/1

[2015-10-23 15:07] matthewp opened #288 "donejs init fails"
[code]

Creates a foo directory and then dies. Investigating.

[2015-10-23 19:09] #156 closed, assigned to julia-allyce

[2015-10-23 19:19] moschel commented on #274
- DoneJS is JavaScriptMVC, reincarnated. We've been making steady, consistent improvements since 2007.
- DoneJS is JavaScriptMVC reincarnated, with 8 years of innovation.
- JavaScriptMVC, reincarnated, with 8 years of innovation.

[2015-10-23 21:09] matthewp commented on #288
This is fixed by https://github.com/donejs/donejs/pull/289

[2015-10-23 21:09] #288 closed, assigned to matthewp

[2015-10-23 21:14] skylerraytaylor opened #292 "Add "Est. 2007" graphic and link to homepage"
Clicking the graphic takes you to: http://donejs.com/About.html#section=section_Evolve

Use this mockup for implementation. The .svg of the graphic is here: https://drive.google.com/a/jupiterjs.com/file/d/0B4C0zjpcIF2fNDhyVUxqcjZRRnc/view?usp=sharing

![donjs-homepage-hero-revised](https://cloud.githubusercontent.com/assets/3943219/10705060/c13f4fc2-79a0-11e5-83d6-1952c9055045.jpg)

[2015-10-23 21:38] #292 closed, assigned to JaneOri

[2015-10-23 22:01] skylerraytaylor commented on #274
This mockup is approved and moving to implementation.

![donjs-homepage-hero-revised](https://cloud.githubusercontent.com/assets/3943219/10705954/b88db006-79a7-11e5-872c-8f0928e6992f.jpg)

[2015-10-23 22:02] moschel commented on #274
@James0x57 finished this and its been merged. Closing.

[2015-10-23 22:02] #274 closed, assigned to skylerraytaylor

[2015-10-23 22:04] matthewp commented on #186
I think a 1-5 rating is a bad idea. People are already skeptical about comparisons. Giving ratings will just make peoples' eyes roll.

Take the subjectivity out of the equation. Does the framework support the feature or not?  If the answer is "kinda" put an asterisks and explain it.

[2015-10-23 22:24] daffl commented on #274
No change in the text?

[2015-10-24 04:42] moschel opened #295 "Make a contribution guide"
I'm disabling the link on the homepage to the contribution guide for now. At some point we should make one and bring the link back.
- [ ] document sub projects like https://github.com/donejs/generator-donejs/issues/135

[2015-10-25 18:26] moschel opened #297 "Click to play videos, hide controls"
The videos in the caching section have controls that cover part of the video itself.

http://donejs.com/Features.html#section=section_CachingandMinimalDataRequests__Howitworks__Combiningrequests

They should have controls that hide, and that require click to play.

[2015-10-25 18:27] moschel commented on #297
![2015-10-25_1326](https://cloud.githubusercontent.com/assets/22180/10717091/163bae72-7b1c-11e5-9109-f318790db239.png)

[2015-10-26 15:36] #186 closed, assigned to chasenlehara

[2015-10-26 15:54] justinbmeyer opened #301 "Blog Article"
- [x] DoneJS logo
- [x] Node process behavior
- [ ] Performance from homepage.
- [x] Longevity
- [ ] Mountain climb
## Longevity

![image](https://cloud.githubusercontent.com/assets/78602/10735103/58aacbf4-7bd4-11e5-9af2-d89a3162409c.png)

I need this with JMVC stretching it's whole history and having CanJS, StealJS, jQuery++ sort of stretch out with it.
## Mountain climb

A more professional vers

[2015-10-26 15:54] justinbmeyer commented on #301
cc @atomgroomdesign @skylerraytaylor

[2015-10-26 15:55] moschel commented on #280
@phillipskevin did you already do this?

[2015-10-26 15:55] #245 closed, assigned to phillipskevin

[2015-10-26 15:55] phillipskevin commented on #280
@matthewp took care of it.

[2015-10-26 15:56] atomgroom commented on #301
Logo:

https://raw.githubusercontent.com/donejs/donejs/master/docs/theme/static/img/donejs-logo-ie.png

[2015-10-26 15:58] moschel commented on #178
Decided to use another forum after launch (can't remember the name)

[2015-10-26 15:59] #280 closed, assigned to nobody

[2015-10-26 16:24] justinbmeyer commented on #301
@atomgroomdesign thanks.  Should I use that or use one that fits perfectly within our blog's width?

[2015-10-26 16:29] moschel opened #302 "hot module swapping"
Let's remove all references to live reload and change them to say "hot module swapping" (unless it's explaining the difference between the two).

Links might need to change.

[2015-10-26 18:23] matthewp opened #305 "donejs init fails with no compatible version of donejs-cli"
[code]

[2015-10-26 18:30] matthewp commented on #305
The issue was donejs-cli was in a prerelease, so once it was released as 0.5.0 it started working.

[2015-10-26 18:30] #305 closed, assigned to nobody

[2015-10-26 19:00] moschel opened #306 "fix the legend"
The legend on the features page is visible all the time. It should hide if you scroll past the matrix.

[2015-10-26 19:01] moschel opened #307 "More tooltips"
We need more tooltips in the matrix. I think there should be one for every competitor section that isn't self-explanatory.

[2015-10-26 19:34] atomgroom commented on #301
@justinbmeyer That image should scale and look nice as it is. If you do have issues, just let me know and I'll correct.

[2015-10-26 19:36] skylerraytaylor commented on #248
Here's a layout based on this wireframe: https://docs.google.com/drawings/d/1WkrB51-t6WMXbm96mkeg4rfD4r_ccU7_hlJIoTQ8qQk/edit
![donejs-features-page](https://cloud.githubusercontent.com/assets/3943219/10740181/cb93c476-7bee-11e5-875b-35c07d5e1b78.jpg)

[2015-10-26 20:22] atomgroom opened #309 "External link with Icon"
Create an icon, css and markup example for an external link that shows the link text and icon to indicate that the link opens a new page and takes the user outside of the domain.

[2015-10-26 20:28] matthewp opened #310 "Chat messages are not posted in IE11"
![iemsg](https://cloud.githubusercontent.com/assets/361671/10741503/7fa120d0-7bfe-11e5-8c61-ea89bb75f8ec.gif)

[2015-10-26 20:30] matthewp opened #311 "Cordova app some times closes in iOS"
This happens when you run `donejs build cordova` and the simulator launches.

Cannot pin down what makes it happen vs not happen. I don't think it has anything to do with our code but perhaps something we are doing wrong with the Cordova options.

If you then launch it again from the home screen it works.

[2015-10-26 21:18] matthewp opened #313 "IE8 need to use loose mode"
Need to update the guide to add:

[code]

To the build script.

[2015-10-26 21:24] justinbmeyer commented on #311
@matthewp when you say:

it keeps working ... never closing again?

[2015-10-26 21:41] matthewp commented on #311
Until you rebuild, yes. But for me it might not work the first time you launch it from the home screen (might take a second attempt), so I'm going to look into it tomorrow. Could also be my version of simulator, going to ask others to try it.

[2015-10-26 21:46] #302 closed, assigned to Alfredo-Delgado

[2015-10-26 21:57] julia-allyce commented on #306
I created the branch legend-fix-306. I added a bottom offset for the legend element, but for whatever reason bootstraps affix function just cant even.  :[

It doesn't seem to want to add the affix-bottom class.

nevermind....just needed to add the css style for the class affix-bottom

[2015-10-26 22:41] skylerraytaylor commented on #301
![longevity](https://cloud.githubusercontent.com/assets/3943219/10744558/cbde916c-7c08-11e5-81f2-dbf9a37ded24.jpg)

[2015-10-26 22:42] moschel commented on #301
Was StealJS really released in 2014? I think it was before that.

[2015-10-26 22:44] skylerraytaylor commented on #301
@justinbmeyer said it was May 2014

[2015-10-26 22:45] skylerraytaylor commented on #301
![mountain-climb](https://cloud.githubusercontent.com/assets/3943219/10744617/49667cd0-7c09-11e5-9ea4-a1b6947665e7.jpg)

[2015-10-26 22:46] moschel commented on #301
I don't think the team velocity Y axis makes sense anymore in this new context. I would get rid of that and just make it a more traditional timeline, or change the Y axis to something more relevant.

[2015-10-26 22:46] skylerraytaylor commented on #248
Update to the Free Weekly Training section - add link to calendar
![donejs-features-page](https://cloud.githubusercontent.com/assets/3943219/10744642/7610346a-7c09-11e5-9d09-d6841afe3d58.jpg)

[2015-10-26 23:58] justinbmeyer commented on #301
@skylerraytaylor Please:
- remove the Y axis label.
- add in CanJS 2.3 right before DoneJS
- make JMVC 3.3 come after CanJS 1.0

I think the line looks fine, but ideally it would show a little dip right as people hit the next release, and then acceleration after.

Maybe in contrast to this, we have another image which might show "starting from 0" again.  With a new incompatible release.

[2015-10-27 00:04] justinbmeyer commented on #178
discourse

[2015-10-27 01:27] justinbmeyer opened #317 "hot module swapping"
At this part of the guide: http://donejs.com/Guide.html#section=section_Updatethepage

The padding doesn't seem to be applied.  However, once I refreshed my page, I was able to toggle add and remove the  `bit-panel p` styles, and it worked.

[2015-10-27 02:25] pstrozak commented on #301
1.) The beginning of the first sentence could be smoother...  "After two years since JavaScriptMVC 3.3 was released, today we are announcing DoneJS - the easiest way to you get your amazing application done!" and the second part  "the easiest way to (for?) you (to?) get your amazing application done!" needs to be updated.

Suggestions:  "Today, two years after JavaScriptMVC 3.3 was released, we ar

[2015-10-27 02:32] justinbmeyer opened #318 "Live-reload SSR broke"
Somehow I am getting:

[code]

everytime I refresh my page.  Noticed right after setting up the real-time connection:

http://donejs.com/Guide.html#section=section_Real_timeconnection

[2015-10-27 02:33] justinbmeyer commented on #318
restarting made the problem go away.

[2015-10-27 02:34] justinbmeyer commented on #318
output right before:

[code]

[2015-10-27 02:34] justinbmeyer commented on #318
I did run a build at this time.  But I don't think that did anything.

[2015-10-27 02:38] justinbmeyer commented on #318
repeated all these steps again and I didn't see this.  Very strange.  Closing, but something to reopen if we see it again.

[2015-10-27 02:38] #318 closed, assigned to nobody

[2015-10-27 02:47] justinbmeyer opened #319 "Chat Guide: tell people to create"
Going through the guide, I get this:

should we tell people to create this app before they try to deploy to it?

[2015-10-27 02:49] justinbmeyer commented on #319
Also, firebase won't even let me create a `donejs-chat-justinbmeyer` ... too long of a url.  We should give people guidance here.

[2015-10-27 03:01] atomgroom commented on #248
@justinbmeyer @skylerraytaylor @moschel - What are your ideas on the three videos in the above image (under "Free Weekly Trainings")? Can you let me know what you want to put there please?

Also, if you have any special ideas for the smaller responsive views, please list the designs here - otherwise I'll follow the same patterns as the home page.

[2015-10-27 03:04] justinbmeyer opened #321 "Chat Guide: cordova wording"
The language is a bit off (or missing punctuation):

---

Change to:

To build the application as a Cordova based mobile application, you need to have each platform's SDK installed. We'll be building an iOS app if you are a Mac user; a Andriod app if you're a Windows user.

---

Change to:

Mac users should download XCode from the AppStore.  We will use it to create an iOS application that can be

[2015-10-27 03:50] justinbmeyer opened #322 "Chat Guide: nw wording"
Why does it say:

When it appears you can simply hit enter and it will pick latest?

[2015-10-27 03:55] justinbmeyer opened #323 "donejs add nw twice"
If you run this twice, it doesn't seem to update `build.js`. try with different version numbers.

[2015-10-27 04:04] justinbmeyer commented on #248
@atomgroomdesign it should be the last 3 videos in our training series.

[2015-10-27 04:51] ccummings commented on #273
JSPerf has gone way downhill and is borderline unusable at this point. So I created a JSBin that runs TodoMVC with CanJS and React and simulates adding an increasing number of todos to each.

After the test is run, a line chart comparing the two is displayed: http://output.jsbin.com/vorahipohi/1

Here's the graph I got from running this 10 times (smooths out the weird bumps). This is what we shoul

[2015-10-27 05:25] #253 closed, assigned to Alfredo-Delgado

[2015-10-27 05:25] #306 closed, assigned to julia-allyce

[2015-10-27 05:29] moschel commented on #273
The chart buries the lead a little bit IMO. It starts to diverge around 50 todos, but the scaling is so large (b/c of including the 1000 items case) that you can't really tell. I'd either remove 500, 750, and 1000, or have 2 graphs - one for smaller and one for larger numbers of todos - so you can more closely see the 50-250 todo cases (since these are more realistic anyways).

[2015-10-27 05:31] moschel commented on #273
Could you please add this to the feature writeup with a short description?

Should we also include the spinning circles, since that shows an advantage over Angular?

@justinbmeyer

[2015-10-27 06:11] ccummings commented on #273
A closeup on the smaller numbers only shows us being marginally faster than React, the real good stuff is shown by 500, 750 and 1000.

The scaling that React forces is actually a good thing. If we try to fix that we weaken our case by showing React and DoneJS closer together.

I have a PR that adds the examples with a writeup. The charts are just placeholders for now.

[2015-10-27 06:25] #254 closed, assigned to ccummings

[2015-10-27 06:26] #273 closed, assigned to ccummings

[2015-10-27 06:38] moschel commented on #297
@James0x57 could you please take a look at this tomorrow morning? I think there's some JS that is causing the mouseover effect to happen. We want to deactivate that in the Features page (really everywhere but the homepage). All the videos in this page should be the normal click to play types.

[2015-10-27 07:24] moschel commented on #301
1. "We needed to get everyone on to NodeJS and onto CommonJS, AMD or ES6 modules." - on to should be one word, onto
2. The logo in the intro should link to donejs.com, not a logo image. also, I'd make the first time you mention DoneJS be a link to the site.

[2015-10-27 11:58] matthewp commented on #322
Does the latest work? When that was written the latest was a beta without an OSX download.

[2015-10-27 12:11] matthewp commented on #310
Solution: https://bitovi.slack.com/archives/open-source/p1445917274001690

[2015-10-27 12:31] justinbmeyer commented on #322
Didn't try. The language is confusing either way.

Sent from my iPhone

[2015-10-27 13:00] matthewp commented on #322
I don't see anything confusing about it, what would you suggest?

[2015-10-27 13:02] #313 closed, assigned to nobody

[2015-10-27 13:09] JaneOri commented on #297
All set, live!

[2015-10-27 13:09] #297 closed, assigned to JaneOri

[2015-10-27 13:37] #310 closed, assigned to nobody

[2015-10-27 14:19] phillipskevin commented on #323
We only update `build.js` if it does not already contain `nwOptions`. Otherwise we would have to parse `build.js` and update its AST in order to change it correctly. We can do this, but once it is written it's relatively easy for a user to update one of the options.

[2015-10-27 16:12] moschel opened #329 "Pangea graphic"
Making the GIF that shows JMVC splitting into subprojects and re-joining to form DoneJS

[2015-10-27 16:15] moschel opened #330 "MVVM graphic tweak"
1. Change Access Data to Data Access.
2. Change the arrow between VM and View to be 2 arrows, not a 2-headed arrow.

[2015-10-27 16:16] moschel opened #331 "jokes cleanup"
I added 5 total jokes to the Features page. Please do some graphics cleanup for images that accompany each.

[2015-10-27 16:30] #322 closed, assigned to matthewp

[2015-10-27 16:49] daffl opened #333 "can-fixture was moved but references not updated"
can-fixture was moved but updated neither in the guides or the generator. Generator updated in https://github.com/donejs/generator-donejs/pull/48, the in depth guide is still outstanding.

[2015-10-27 17:00] moschel opened #335 "autoplay videos are broken on features page"
Regression b/c of fixes to make the caching videos play on click.

[2015-10-27 17:08] moschel opened #336 "bit-c3 error on features page"
![2015-10-27_1156](https://cloud.githubusercontent.com/assets/22180/10765986/61fea386-7ca3-11e5-8580-9c019c2f32f2.png)

[2015-10-27 17:09] JaneOri commented on #335
Fixed https://github.com/donejs/donejs/commit/695379d7602fb4019f560364faa6a7709177b58a

[2015-10-27 17:09] #335 closed, assigned to JaneOri

[2015-10-27 17:10] moschel commented on #336
Same error happens here: http://jsbin.com/puwesa/1/edit?html,output

[2015-10-27 17:14] justinbmeyer commented on #333
can-fixture is not ready.   Do not update the guides/generator.

[2015-10-27 17:41] #319 closed, assigned to matthewp

[2015-10-27 17:44] justinbmeyer commented on #323
The alternative would be to add some comments like:

[code]

And then just replace the CODE.

[2015-10-27 18:44] matthewp commented on #323
I prefer the AST option, I like to keep my scripts as readable as if they were hand-written.

[2015-10-27 18:47] justinbmeyer commented on #323
It would still be readable. And this gives people a warning not to touch.

Sent from my iPhone

[2015-10-27 18:48] daffl commented on #323
I'm not sure if this is really important. The AST options sounds like a lot of work just to not have a user update their `build.js` manually.
`donejs-nw` and `donejs-cordova` should probably throw an error when you try to run it twice though.

[2015-10-27 23:14] #321 closed, assigned to daffl

[2015-10-27 23:18] #248 closed, assigned to skylerraytaylor

[2015-10-28 00:28] matthewp opened #349 "donejs -v or donejs -V"
Currently it's `donejs -V` as the short version of `--version`, is a capital V more common?  I feel like lowercase v is more common. I tried on a few commonly used utilities, node, npm, and man are lowercase v, ssh, curl and grunt are uppercase V.  What the v.

[2015-10-28 01:31] #231 closed, assigned to atomgroomdesign

[2015-10-28 02:58] #309 closed, assigned to atomgroomdesign

[2015-10-28 02:59] #330 closed, assigned to atomgroomdesign

[2015-10-28 02:59] #331 closed, assigned to atomgroomdesign

[2015-10-28 02:59] #333 closed, assigned to daffl

[2015-10-28 03:03] justinbmeyer opened #353 "donejs add app: Giving an absolute path for src folder breaks things ~5"
if someone gives the `src` folder an absolute path, it breaks at least live-reload it seems.  We should detect an absolute path and either warn the user or convert it to a relative path.

[2015-10-28 04:14] moschel opened #354 "Documentation buttons broken"
A regression was caused by the external links icon:

![2015-10-27_2304](https://cloud.githubusercontent.com/assets/22180/10779549/6faf8786-7d00-11e5-8509-aa207a84bc45.png)

[2015-10-28 04:24] moschel commented on #354
Related, but probably not the same fix.

![2015-10-27_2323](https://cloud.githubusercontent.com/assets/22180/10779654/ce046a94-7d01-11e5-8472-cc5734c29fe7.png)

[2015-10-28 07:16] moschel opened #356 "links in comparison matrix"
Has too much padding-right

![2015-10-28_0215](https://cloud.githubusercontent.com/assets/22180/10781915/d87df572-7d19-11e5-9598-93f409b919a1.png)

[2015-10-28 07:20] moschel opened #357 "better UX for matrix tooltips"
Right now, the tooltips require JS before they render anything. The takes several (more than 5) seconds before the JS executes on my desktop with a good connection, so if you click before that, nothing shows up. Could this progressively enhance better? For example, could we have the images contain alt tags, which are replaced by the data- attributes for tooltips after the JS loads?

[2015-10-28 13:49] atomgroom commented on #357
Hey @moschel ,

That's actually a really great idea. I do not have any issues on my end, if I refresh and click, I get the the tooltip immediately on the live site.  I think this would require a JS dev to implement your example.  Do we have any one available to work on that? I'll try to think of some other options too.