[2015-10-28 14:59] atomgroom opened #358 "Comparison Legend: Fix the Position before JS loads"
The legend position is not correct before the JS loads and the scroll kicks in. We need to position it correctly before the JS affects it.

[2015-10-28 15:03] #354 closed, assigned to atomgroomdesign

[2015-10-28 15:03] #356 closed, assigned to atomgroomdesign

[2015-10-28 15:25] #358 closed, assigned to atomgroomdesign

[2015-10-28 15:59] matthewp opened #363 "donejs init fails if there is a parent node_modules"
Steps to reproduce:

[code]

Will fail with a message like:

[code]

[2015-10-28 16:10] daffl commented on #363
It should fail if there is a parent `package.json`. Maybe we have to check what `npm prefix` is actually doing.

[2015-10-28 16:24] matthewp commented on #363
https://github.com/donejs/donejs/blob/0ab70c825019f17b4d272fca5b21090e540dafe8/bin/donejs#L13

Is that it?

[2015-10-28 16:27] ccummings opened #364 "Lazy load YouTube videos"
On the features page, every Youtube video is directly embedded using `<iframe>`. This incurs 57 HTTP requests loading about 5.4MB of resources.

My idea is to load the thumbnail for the video and replace that with the `<iframe>` when a user clicks on it, essentially lazy loading the embed.

[2015-10-28 16:30] daffl commented on #363
Well in the `npm init` case we really have to run `npm prefix` to figure out the root path because NPM will install `donejs-cli` in the parent `node_modules` folder.

Another potentially even better option would be to go up and look for a `node_modules` folder instead of a `package.json`.

[2015-10-28 16:36] matthewp commented on #363
Why do we have to look for a parent node_modules in the donejs init case? Aren't we always either initing from the current folder or creating a folder and then initing from there?

[2015-10-28 16:43] atomgroom opened #365 "Features Page: Fix Page Speed with Video Embeds"
Please change the `preload:auto` to `preload:none` on all local video embeds and make poster images for them too.

[2015-10-28 16:44] daffl commented on #363
`npm install donejs-cli` will install in a parent `node_modules` if it exists. So the assumption that `node_modules/.bin/donejs` is always in the current folder is wrong.

[2015-10-28 16:45] #365 closed, assigned to atomgroomdesign

[2015-10-28 16:57] matthewp commented on #363
Is there a scenario where we want it to install in a parent node_modules?  If not (and I _think_ the answer is not) then if you do an `npm init` before `npm install donejs-cli` it will install in the right place.

[2015-10-28 17:03] daffl commented on #363
That's annoying because initializing your package.json is exactly what `donejs-cli` is doing, you don't want people to do it twice. I think I have a fix for this anyway.

[2015-10-28 18:01] matthewp opened #367 "quick start guide connection, misnamed data object"
[code]

[2015-10-28 18:24] matthewp opened #368 "donejs <form> formatting"

[2015-10-28 18:38] matthewp opened #369 "Need ios-sim"
[code]

Needs to be put back into the guide, it is needed.

[2015-10-28 18:43] matthewp opened #370 "Add warning that npm 1.x is not supported"
npm 1.x doesn't support passing arguments into scripts which causes `donejs build cordova` to fail.

[2015-10-28 18:44] ilyavf opened #371 "Quick start guide: update some text"
1. "by updating messages/messages.stache" to "by updating **src/**messages/messages.stache"
2. "This is done by adding dynamic imports for the home.component and chat/messages/ components": change "chat/messages/" to "**chat-messages**" or to "**messages/**".
3. For

[code]

it would be nice to explain how routeUrl gets called on click.

[2015-10-28 18:48] marshallswain commented on #363
Related to #207. Kind of.

[2015-10-28 19:39] matthewp opened #372 "can-import relative modules causes an exception in the build/live-reload"
It's because done-autorender and can/view/stache/system append moduleNames to the `bundle` array without normalizing them.

[2015-10-28 19:49] daffl commented on #370
We could hard-code `donejs build` to run `node build` instead of the NPM script.

[2015-10-28 19:51] justinbmeyer opened #373 "Change `message.message` to `message.body`"

[2015-10-28 19:51] daffl commented on #370
On the other hand it's a single command to update your NPM and I don't think it's too much to ask to use a 2.x version.

[2015-10-28 19:52] daffl commented on #372
Would this hold off a release? I don't think we're talking about can-importing relative modules anywhere.

[2015-10-28 20:14] matthewp commented on #372
It's easy to fix.

[2015-10-28 20:17] #368 closed, assigned to justinbmeyer

[2015-10-28 20:17] #367 closed, assigned to justinbmeyer

[2015-10-28 20:26] justinbmeyer opened #374 "`add cordova` should add `ios-sim`"
We should make it so the user doesn't have to install `ios-sim` manually.

[2015-10-28 20:30] atomgroom commented on #329
First Animation

![pangea-001](https://cloud.githubusercontent.com/assets/5687712/10802079/a84e0ce2-7d88-11e5-8c75-2b0bcd6341dd.gif)

[2015-10-28 20:31] matthewp opened #375 "Include Node and NPM prereqs on the Setting Up page"

[2015-10-28 20:32] matthewp commented on #374
Only if running on a Mac, I would think.

[2015-10-28 20:37] justinbmeyer opened #376 "Support Node 4.0 and npm 3.0"
Lets add support to Node 4.0 and npm 3.0.

[2015-10-28 20:49] #369 closed, assigned to justinbmeyer

[2015-10-28 20:49] #375 closed, assigned to justinbmeyer

[2015-10-28 21:11] matthewp commented on #372
- [x] - canjs issue: https://github.com/bitovi/canjs/issues/2037
- [x] - done-autorender issue: https://github.com/donejs/autorender/issues/13

[2015-10-28 21:48] marshallswain commented on #365
Would this have fixed the vertical thrashing of the page while it was loading?  It's working so much better, now.

[2015-10-28 21:54] marshallswain commented on #349
I tested this out naturally a couple days ago.  My inclination was to try -v.  When that didn't work, I didn't even think of trying -V, but went straight to --version.

[2015-10-28 22:19] daffl commented on #363
@marshallswain I think the fixes I submitted should solve your issue as well.

[2015-10-28 23:07] #373 closed, assigned to daffl

[2015-10-28 23:12] matthewp commented on #370
Here's the open donejs-cli PR: https://github.com/donejs/cli/pull/9

[2015-10-29 01:10] #357 closed, assigned to atomgroomdesign

[2015-10-29 01:22] #307 closed, assigned to julia-allyce

[2015-10-29 01:23] moschel opened #380 "make a tech stack graphic"
For the APIs page

[2015-10-29 01:23] #301 closed, assigned to nobody

[2015-10-29 12:43] matthewp commented on #370
This was merged, waiting on the next donejs-cli release to close.

[2015-10-29 14:59] julia-allyce commented on #258
@atomgroomdesign it looks like you can add links to SVG text elements: http://tutorials.jenkov.com/svg/a-element.html

edit: ooo nvrm. We aren't using text, but shapes which makes it a bit tricky to plop in a link :/

[2015-10-29 15:47] Alfredo-Delgado commented on #336
I can't reproduce the error, but added a check to the line in the file causing the error and @julia-allyce is no longer seeing those errors.

[2015-10-29 17:30] Alfredo-Delgado opened #381 "Fix "place my order" guide link."
![screen shot 2015-10-29 at 13 29 21](https://cloud.githubusercontent.com/assets/798836/10826632/1f3bb5da-7e41-11e5-8dcb-f125cea5e547.png)

_Learn how to build this_ link should point to the **[in depth](http://donejs.com/place-my-order.html)** guide.

[2015-10-29 17:53] matthewp commented on #323
On second thought I don't think comments would be such a terrible thing. @moschel made a mistake the first time and tried running it again so he did run into this issue.

[2015-10-29 18:50] #258 closed, assigned to julia-allyce

[2015-10-29 18:53] #381 closed, assigned to nobody

[2015-10-29 19:19] #178 closed, assigned to justinbmeyer

[2015-10-29 19:21] #364 closed, assigned to ccummings

[2015-10-29 20:17] matthewp commented on #372
This is verified.

[2015-10-29 20:17] #372 closed, assigned to matthewp

[2015-10-29 21:29] #370 closed, assigned to matthewp

[2015-10-29 21:30] matthewp commented on #363
I think this might still be happening :(  I was able to reproduce after releasing 0.5.3.

[2015-10-29 21:43] daffl commented on #363
I know why. The problem is in https://github.com/donejs/cli/blob/master/bin/donejs#L39. I'll fix and make another release.

[2015-10-29 21:57] marshallswain opened #389 "Found a Quick Start Guide typo"
![screen shot 2015-10-29 at 3 56 27 pm](https://cloud.githubusercontent.com/assets/128857/10833172/ae99ce2e-7e55-11e5-8c0d-2f7803cbe7cb.jpg)

[2015-10-29 22:38] #363 closed, assigned to daffl

[2015-10-29 23:18] marshallswain opened #391 "`donejs build`: a better error message is needed when package.json is malformed."
While going through the quick start guide, I missed a comma while adding the "system.envs" section to the package.json.  Running donejs build with a malformed package.json produces the output found below.  It does say that it "Could not run `build`" but then shows CLI usage info, which lead the developer to think that they've typed the command incorrectly.  Checking the docs shows that you typed i

[2015-10-30 00:54] moschel commented on #371
@ilyavf for number 3... routeUrl doesn't get called on click, it's a helper that generates an href. Not sure what you mean by that one. Maybe we can discuss.

[2015-10-30 01:33] marshallswain commented on #376
What parts need to be updated?  I just did the Quick Start Guide using Node v4.2.1, and it seemed to work perfectly.  Using donejs -V 0.5.3

[2015-10-30 01:35] justinbmeyer commented on #376
I think it's npm that's the bigger problem.

[2015-10-30 02:38] moschel opened #392 "support for sidebars"
It would be very nice to able to add a "sidebar" in the guides.

Something like this:

![2015-10-29_2135](https://cloud.githubusercontent.com/assets/22180/10837257/25fda286-7e85-11e5-8c1b-3c8f51f86d35.png)

This would be appropriate for things like discussing windows specifics, or explanations about topics that aren't required to complete the guide.

[2015-10-30 02:56] justinbmeyer opened #393 "Code highlighting"
To setup code-highlighting ... here's what needs to be done:
## 1. Create a custom tag

You can provide custom tags.   Create a `tags.js` in the `docs/theme` folder.  Update `documentjs.json` to point to it like: https://github.com/bitovi/lodash/blob/master/documentjs.json#L7

`tags.js` should look like: https://github.com/bitovi/lodash/blob/master/doc/tags.js

This function gets passed the defaul

[2015-10-30 05:43] moschel commented on #389
fixed

[2015-10-30 05:43] #389 closed, assigned to nobody

[2015-10-30 05:46] #371 closed, assigned to nobody

[2015-10-30 05:49] moschel commented on #336
seems fixed for me too

[2015-10-30 05:49] #336 closed, assigned to Alfredo-Delgado

[2015-10-30 05:52] moschel commented on #82
Closing because divshot is no longer used, so I think this is out of date. Please reopen if you still think the issue isn't solved.

[2015-10-30 05:52] #82 closed, assigned to nobody

[2015-10-30 05:55] #181 closed, assigned to daffl

[2015-10-30 06:04] moschel opened #395 "add memory safety to the features page ~8"
Talk about the cleanData hook, cleaning up event handlers when removing components, _bindings counting and removing stale model instances from memory.

Are there other things we do for memory safety?

Find out if React/Angular do any of these and compare them.

[2015-10-30 14:48] atomgroom commented on #392
@moschel Here's a clean example that would be easy to implement.  Please let me know your thoughts.

I considered putting a little coffee cup icon to the left of the heading, so that readers are familiar with that icon.   A water cooler icon could be funny too.  Either could potentially help readers understand that this is a sidebar conversation, or deeper thought of something in particular.  Mete

[2015-10-30 15:56] matthewp commented on #391
Great idea.

[2015-10-30 15:59] matthewp commented on #391
https://github.com/donejs/cli/blob/master/bin/donejs#L90  Is where needs to be changed. Perhaps we can parse the error message.

[2015-10-30 16:21] matthewp commented on #74
@daffl I think this was fixed, no?

[2015-10-30 16:22] daffl commented on #74
Yes. When running of the file protocol CanJS routing will now always use hash based routing.

[2015-10-30 16:22] #74 closed, assigned to nobody

[2015-10-30 16:28] moschel commented on #392
I like it. I don't think it needs an icon though. I don't think its worth a lot of effort though, is this something that won't take long to implement?

[2015-10-30 16:42] matthewp commented on #376
Here's the system-npm issue: https://github.com/stealjs/system-npm/issues/72

[2015-10-30 16:43] matthewp opened #396 "Guide Integration Test"
We need a test that runs through the guide and makes sure everything is working.

[2015-10-30 16:46] atomgroom commented on #392
Here's the markup to use in your markdown files:

[code]

[2015-10-30 16:51] matthewp commented on #396
We need to be able to take the guide's markdown and spit out a series of tests.

Likely we need some documentjs tags to direct what the tests should do.

[2015-10-30 18:07] justinbmeyer commented on #392
Couldn't we just use blockquote which markdown supports?

Sent from my iPhone

[2015-10-30 19:00] matthewp commented on #396
Ran through the guide and took notes on needs for this issue:

### Needs

Keep the app open the entire time in a browser to ensure live-reload works

### Guide Actions

npm install
run commands (doings init, donejs add, etc)
Update contents of a file
Launch a browser and click stuff
Update partial contents of a file (json)

### Guide Tests

Client Side
Server Side (mocha)
Testing within a simulato

[2015-10-30 19:11] justinbmeyer commented on #396
Ideally, the changes to certain files will all be reference-able by documentjs.  That way we can keep things consistent easy.

[2015-10-30 19:21] atomgroom commented on #392
Hi @justinbmeyer

Yes, we can.  However, it's not semantic because it's not really a blockquote.

"The `<blockquote>` tag specifies a section that is quoted from another source.".

We're not quoting another source, this section-details is an contextual in-depth note about something specific related to the section it is in.

[2015-10-30 20:24] justinbmeyer commented on #392
I'm alright with it not being semantic.  Piratically, it makes sense to get blockquote looking like the aside @moschel had above.  We an aside need 20 times more than a semantic quote.

As markdown makes blockquote so easy:

I think we can double use blockquotes and asides pretty safely.  (this is something we probably want for documentjs too).

[2015-10-30 20:36] matthewp commented on #396
My initial idea is to use tags in the markdown above code blocks like:

[code]

Where `install-verify.js` is a Node script that runs after the command completes, runs Mocha tests or something.

Some times the tests will need to be ran within the open browser window, some times as Node scripts, so need to figure out how to declare all of that.

But the goal is that the guide is the source of truth

[2015-10-30 20:59] moschel opened #399 "fix the missing links in APIs page"
There's a handful of links that aren't actually linked to where they should be going: like "Once [can-ssr] has"

[2015-10-30 22:15] #393 closed, assigned to julia-allyce

[2015-10-30 23:47] justinbmeyer commented on #396
I think the code snippets are the source of the guide, not the other way around.  At least, I think that approach is much easier.

[2015-10-30 23:48] justinbmeyer commented on #396
I think it would just take a custom tag like

[code]

the 2-20 is if we just wanted to show a particular spot.

[2015-11-02 02:55] moschel opened #402 "Update in-depth guide with firebase"
It still talks about Divshot

[2015-11-02 15:06] atomgroom commented on #392
Hi @justinbmeyer

I think that's a very valid point.  In other words, usability is a higher priority than being semantic.  I also really like the `aside` idea.  It's actually more semantic than either, because that is what that element is for.

I have updated the "sidebar-section-design" branch so that blockquotes using markdown `>` and also a `<aside></aside>` coded in a markdown file will result

[2015-11-02 15:18] matthewp commented on #396
I've thought about that as well, my concern is will that interfere with other tags like the code highlighting that was added?

[2015-11-02 16:29] justinbmeyer commented on #396
code highlighting would work fine with this.

[2015-11-02 16:43] moschel opened #403 "menu broken on ios Chrome"
To reproduce, on an actual phone, open chrome to the features page or a guide.

Click one of the headers like "Performance Features". It seems to load something but the menu doesn't expand.

The + icon also doesn't do anything.

I can't reproduce this on a simulator or on Chrome desktop simulating ios.

[2015-11-02 16:52] Alfredo-Delgado commented on #403
I was able to reproduce. (I can’t click on the `x` to close Table of Contents or expand the options.)

![photo](https://cloud.githubusercontent.com/assets/798836/10888092/31c7a4ce-8158-11e5-9049-d155d1966962.PNG)

[2015-11-02 16:57] moschel opened #404 "icon placement on mobile menu"
The minimize menu icon placement is wrong:

![2015-11-02_1056](https://cloud.githubusercontent.com/assets/22180/10888195/73feb3f8-8150-11e5-8dd3-eb5172a80eab.png)

[2015-11-02 17:16] atomgroom opened #405 "Code Highlighting"
To show that code is being added to a file within the guides, we are showing a background color to those lines of code, within `codeblocks`.

Please style this to make it look better and more like a diff file so that developers can comprehend it.

![screen shot 2015-11-02 at 11 13 51 am](https://cloud.githubusercontent.com/assets/5687712/10888655/1d1cf466-8153-11e5-8833-0ebcba1b28ea.png)

[2015-11-02 17:36] #392 closed, assigned to atomgroomdesign

[2015-11-02 17:36] #405 closed, assigned to atomgroomdesign

[2015-11-02 18:43] #224 closed, assigned to nobody

[2015-11-02 18:44] daffl commented on #283
This should also be fixed now.

[2015-11-02 18:44] #283 closed, assigned to nobody

[2015-11-02 18:46] daffl commented on #349
I think we should stick with what Commander provides. It actually doesn't look that easily changeable.

[2015-11-02 18:47] #404 closed, assigned to atomgroomdesign

[2015-11-02 20:12] atomgroom opened #409 "Comparison Matrix - Mobile View Broken"
On smaller view ports, the comparison matrix "pinned" left column is failing to render.  It works okay when testing / emulating locally, but fails on the device.

The javascript for this is located in "responsive-tables.js".  The expected result should be one `scrollable` div and one `pinned` div.  The pinned div is fixed position while the scrollable div slides horizontally behind the pinned div.

[2015-11-03 00:36] moschel commented on #403
Still doesn't work. Slightly better but the minimize and maximize buttons don't work.

[2015-11-03 00:37] moschel commented on #403
I'll try to record a video later.

[2015-11-03 04:52] moschel commented on #403
Not sure how well this shows up, but I'm clicking on the + and - icons over and over. The behavior that results is strange and unpredictable. Sometimes it kinda works, usually not. When it works, it selects a random row of the sub-categories.

![bug2](https://cloud.githubusercontent.com/assets/22180/10901449/275177de-81b4-11e5-9d3e-33a3ef90ea5e.gif)

[2015-11-03 13:04] AnnotatedJS opened #412 "Open source license information is missing"
The first claim on the donejs homepage is that "DoneJS is an open source JavaScript framework".

However, there is no license information to be found on the homepage, nor on the DoneJS Release blog post of bitovi nor on the done.js Github repository page

[2015-11-03 13:20] justinbmeyer commented on #412
It is MIT and in our package.json

https://github.com/donejs/donejs/blob/master/package.json

But we can add it other places too.

Sent from my iPhone

[2015-11-03 13:32] niallobrien commented on #376
I got errors installing with node 4.2.1 and npm 2.14.7.

[2015-11-03 13:51] AnnotatedJS commented on #412
Thanks for the response. I am used looking for the license information as a separate file in the main folder of the repository.

[2015-11-03 13:58] phillipskevin commented on #376
@niallobrien did you try continuing after installing? I was able to complete the quick start guide with the same versions. I also got some errors like this, but they didn't prevent anything from working correctly.

[code]

[2015-11-03 18:09] moschel opened #413 "style bug with jokes"
![2015-11-03_1208](https://cloud.githubusercontent.com/assets/22180/10916927/bbf58d8e-8223-11e5-9607-bb9a6a223ecd.png)

[2015-11-03 20:19] #413 closed, assigned to atomgroomdesign

[2015-11-03 21:46] atomgroom commented on #409
Closing this issue as it cannot be replicated by other devices.

[2015-11-03 21:46] #409 closed, assigned to nobody

[2015-11-03 21:54] bkonkle commented on #412
I'd definitely recommend adding a LICENSE file. The MIT designation in package.json indicates which license you're using, but it doesn't constitute an actual license agreement. If there were a legal challenge, the fact that there is no license text would likely mean that the code is considered proprietary.

[2015-11-03 21:54] DesignByOnyx opened #415 "Project name should validate against npm guidelines (eg. no caps, url-friendly)"
I just created a project and gave it an invalid name:

[code]

This resulted in invalid paths used in `index.stache`:

[code]

Npm has pretty specific guidelines on naming a project - `donejs init` should provide some sort of validation or at least instruction on this: https://docs.npmjs.com/files/package.json

[2015-11-03 23:03] matthewp commented on #415
Thanks!  Can you also file this same issue in https://github.com/donejs/generator-donejs?

[2015-11-03 23:43] matthewp commented on #412
Yes, you're right, we do need a LICENSE file, some companies won't use a project without one.

[2015-11-03 23:44] matthewp commented on #412
@alexisabril you did this for some other projects, how do you determine which year to use?

[2015-11-04 01:39] matthewp opened #416 "Features page SSR: unclear wording"
http://donejs.com/Features.html#section=section_Server_SideRendered__Howitworks

I'm not sure what this means at all.

[2015-11-04 01:43] matthewp commented on #416
I don't know of any frameworks that do that, which do?

[2015-11-04 02:15] justinbmeyer commented on #416
Typically JS frameworks do not, but this is the de facto way things like php and rails work.

Sent from my iPhone

[2015-11-04 03:59] justinbmeyer opened #418 "place my order bugs"
https://gitter.im/donejs/donejs?at=56397f03a530033014e408a9

https://twitter.com/niall_obrien/status/661532076039135233

[2015-11-04 04:28] FlipOneDev opened #419 "Support for Electron by Atom.io ~13"
Microsoft (Visual Studio Code), Google (Pixate design tool), Github (Atom Editor) and Slack (Slack Desktop Client) are just a few of the software vendors now using Electron (electron.atom.io) to power their desktop apps.

It's good you're now supporting NW.js, but it would be really wonderful, both for us developers and for DoneJS, if you will provide full support for Electron.

Looking forward to

[2015-11-04 06:04] daffl commented on #419
I approve. In fact, I'd like to start working on `donejs-electron` shortly. I've built a DoneJS Electron app at https://github.com/daffl/mysam but I haven't looked into how to bundle it all up (other than through an `npm install -g`).

[2015-11-04 10:32] camilosw opened #420 "Compare with Meteor"
On this section http://donejs.com/Features.html#section=__Featurecomparison you compare DoneJS with Angular and React. Meteor is a more direct competitor, so it could be useful if you add it to the feature comparison.

[2015-11-04 14:16] matthewp commented on #419
Just curious, what are the advantages of Electron over Nw.js?  Btw, anyone can create plugins that will work with `donejs add foo`, see the [donejs-nw](https://github.com/donejs/donejs-nw) project as an example.

[2015-11-04 14:20] matthewp opened #421 "donejs-native"
React has a  "react-native" package that uses their virtual DOM to translate to native API calls. The advantage of this over Cordova is that you are using the native UI so performance is better. Other frameworks are working on this same thing, I think Angular has said they will be using react-native as their back end.

Conceptually this could work similar to how worker thread rendering works and c

[2015-11-04 15:45] daffl commented on #419
I found it easier to use esp. with having a JS file with all your configuration as the entry point and I generally like the APIs more. Chromium isn't as tightly coupled so they can upgrade more quickly.

[2015-11-04 17:02] ericelliott commented on #421
:+1:

[2015-11-04 17:51] justinbmeyer commented on #421
Most people that I've talked to who have tried react native have struggled with it.  I'm not totally sold it's a good long term investment.

[2015-11-04 19:10] matthewp commented on #421
@justinbmeyer Can you be more specific than that? From what I've read it requires some compromises (must use Flexbox for example) and might not be easy to use 1 codebase for app + web but the benefit being a better native experience. So the use-case would be that you're primarily interested in developing a native app but want to use a familiar technology (donejs) to do so.

[2015-11-04 21:02] Alfredo-Delgado commented on #403
I checked out donejs.com with Chrome on a Nexus 7 running Android 5.1.1 and it exhibited some of the same long scroll bugginess that we're seeing in iOS.

The initial bug (main items aren't expanded) was only happening on iOS because there was some code particularly targeting iOS responsible for that.

[2015-11-04 21:08] #403 closed, assigned to Alfredo-Delgado

[2015-11-05 00:22] justinbmeyer commented on #421
It's mostly a gut feeling that the "web" is the stack, not JavaScript. That the performance gains will be minimal for most apps over the next few years of improving hardware and DOM engines.

Sent from my iPhone

[2015-11-06 01:26] #399 closed, assigned to nobody

[2015-11-06 21:34] daffl commented on #418
I can verify that this is an issue in Safari with the current place-my-order.com but not in the guide walkthrough with the latest version of everything. I will update place-my-order.com with that version shortly.

[2015-11-09 20:56] daffl opened #426 "DoneJS init on Windows"
Originally reported on Gitter and verified, `donejs init` causes an error in Windows. This is probably due to #378 which did not contain the finalized version.

[2015-11-10 00:29] #426 closed, assigned to nobody

[2015-11-10 00:30] #412 closed, assigned to nobody

[2015-11-10 04:28] justinbmeyer opened #428 "deploy to alternate account fails but command line shows success"
Try to create a firebase account with a different google account.

Try to deploy to it after already logging in.  The deploy shows that it was successful, but it wasn't.

[2015-11-12 18:01] daffl commented on #418
Verified this is working in the latest place-my-order guide and the version deployed via https://github.com/donejs/place-my-order/pull/83

[2015-11-12 18:01] #418 closed, assigned to daffl

[2015-11-16 17:14] sireskay commented on #376
Any ETA on this?

[2015-11-16 18:33] justinbmeyer commented on #376
@skolade My guess is over 2 weeks.  We are working on improving our test infrastructure to make verifying all the different of operation systems, node, and npm versions are working right.

Once that is done, we'll have to make the modifications to our libraries.  Steal is probably the most challenging, and I think @matthewp has already made progress.  This is our highest priority effort right now.

[2015-11-16 19:38] matthewp opened #429 "Add ability to conditionally load fixtures"
I get asked this at least once a week. Steal supporting conditional modules is probably the answer, not sure what the API should be as far a query parameter or something like that, just leaving this as an issue for discussion.

[2015-11-19 02:14] matthewp opened #431 "Asynchronous rendering"
## To be published
- [x] - done-autorender - 0.6.0-pre.0 (in minor)
- [x] - can-connect - 0.3.3
- [x] - can-ssr - 0.11.0-pre.0 (in minor)

[2015-11-19 16:18] justinbmeyer opened #432 "EXAMPLE ISSUE"
This a brief description.

Sponsored by:

COMPANY LOGO

More explanation

[2015-11-19 22:46] matthewp commented on #431
Need to test in donejs-chat.  Not sure if we want to do a donejs prerelease or not.

[2015-11-20 15:36] matthewp commented on #431
I've tested this creating a new app and using Message.getList() which does get included into the inline cache. Yay!  Going to write a forum post on how people can try it out.

[2015-11-21 18:01] marshallswain opened #434 "Using a define getter breaks pushstate url updates."
If you include a getter in an attribute that should be serialized into the URL, the url no longer gets updated when you change the attribute.

![breaking-pushstate-with-define-getter](https://cloud.githubusercontent.com/assets/128857/11319756/175e5ccc-903f-11e5-9659-ed65bf629970.gif)

To duplicate this issue, generate a new app and use the following snippets:

app.js

[code]

index.stache

[code]

[2015-11-21 20:18] justinbmeyer commented on #434
Are you sure this belongs in donejs, not CanJS? Can you try making a route test?

Sent from my iPhone

[2015-11-29 15:55] matthewp commented on #376
Tracking the npm3 support in Steal here: https://github.com/stealjs/steal/issues/521

Also note that will need to update generator-donejs so that it enables Steal/npm3 if the user is using npm3.

[2015-11-30 23:51] marshallswain commented on #434
This is a Can issue.

[2015-11-30 23:52] #434 closed, assigned to nobody

[2015-12-02 13:59] matthewp commented on #376
Issue: https://github.com/donejs/generator-donejs/issues/55

[2015-12-16 07:59] daffl opened #440 "donejs init fails installing DocumentJS"
This is what I am currently seeing in v0.5.7:

<img width="1280" alt="screen shot 2015-12-15 at 11 58 03 pm" src="https://cloud.githubusercontent.com/assets/338316/11835372/d2f98000-a387-11e5-810e-4f1b146de235.png">

[2015-12-17 18:42] matthewp opened #441 "Remove npm 2.x warning"
When you do a `donejs-init` using node 4 / npm 3 there's a warning that donejs only supports npm 2.x, will need to remove that.

[2015-12-17 21:12] matthewp opened #442 "donejs-cli should use npm binary rather than npm package"
Using the npm package means we are using npm version 2.x to install stuff with donejs init even if the user has npm 3.x.  We could use engine-dependencies here but it's possible to have Node 4 with either NPM 2 or 3, and it's also easier to use the npm binary anyways.

[2015-12-18 14:01] matthewp commented on #442
donejs-cli issue: https://github.com/donejs/cli/issues/21

[2015-12-18 14:30] matthewp commented on #442
This is fixed in donejs-cli 0.6.0-pre.2

[2015-12-18 14:30] #442 closed, assigned to matthewp

[2015-12-18 14:58] matthewp commented on #441
https://github.com/donejs/cli/issues/23

[2015-12-18 16:32] daffl commented on #440
Looks like GitHub was down for a moment. It works now.

[2015-12-18 16:32] #440 closed, assigned to nobody

[2015-12-18 22:45] justinbmeyer commented on #440
Why is github needed?

Sent from my iPhone

[2015-12-21 15:35] matthewp commented on #441
This is done.

[2015-12-21 15:35] #441 closed, assigned to matthewp

[2015-12-21 15:36] matthewp opened #444 "0.6.0-pre "inserted" event not fired on the server sometimes"
Related to the can-ssr async changes most likely.

[2015-12-21 15:46] matthewp commented on #444
This might be caused by something else. can.inserted is calling inserted but it seems not to be calling it for progressively imported fragments.

[2015-12-21 15:54] matthewp commented on #444
Ok, I think I know what is going on. In can-ssr 0.10 (without can-wait) the fragment is only inserted into the document (by done-autorender) **after** all async promises are complete. So because of this, the progressively loaded imports work.

In can-ssr 0.11 we insert the fragment immediately (on the server). However this means can.inserted is not called with the correct `can.document` (it is und

[2015-12-21 16:29] matthewp commented on #444
https://github.com/canjs/can-ssr/pull/99  Will merge and do another can-ssr prerelease.

[2015-12-21 16:57] matthewp commented on #444
Fixed.

[2015-12-21 16:57] #444 closed, assigned to matthewp

[2015-12-22 19:17] matthewp opened #445 "Live reloading package.json produces an error"
This has always happened and is harmless but I know the reason so fixing it.

https://github.com/stealjs/system-npm/issues/90

[2015-12-22 20:40] matthewp opened #446 "After installing bit-tabs an error reloading the home.component"
[code]

This is the root cause: https://github.com/stealjs/steal-tools/issues/341

[2015-12-28 21:23] marshallswain opened #447 "We need a generator that creates a skeleton for a plugin project."
This would make it much easier to start a new project.  Based on this forum conversation: http://forums.donejs.com/t/packaging-can-components-for-reuse/90

[2015-12-29 15:28] matthewp commented on #446
This is fixed now.

[2015-12-29 15:28] #446 closed, assigned to matthewp

[2015-12-29 15:28] matthewp opened #448 "socket.io is loaded on the server after installing steal-socket.io"
Investigating why.

[2015-12-29 15:39] matthewp commented on #448
This is live-reload related. When you install steal-socket.io it should be added the `envs` configuration [here](https://github.com/stealjs/steal-socket.io/blob/master/package.json#L33) but it is not.

[2015-12-30 16:22] #448 closed, assigned to matthewp

[2015-12-30 16:22] matthewp commented on #445
This is fixed.

[2015-12-30 16:22] #445 closed, assigned to matthewp

[2015-12-30 16:23] matthewp opened #449 "donejs-chat doesn't work if you go directly to /chat page"
The reason is that can-wait doesn't finish in the client, so reattachment doesn't complete.

[2015-12-30 16:36] matthewp commented on #449
So the issue is that socket.io does some far-future setTimeouts that are cleared. I think the issue is that we need to handle clearTimeout.  When a timeout is cleared we can decrement the `waits` integer and consider that task to be complete.

[2015-12-30 16:40] matthewp commented on #449
This is the can-wait issue: https://github.com/canjs/can-wait/issues/27

[2015-12-31 19:26] thecountofzero opened #450 "Generator for Plugins (can.Components)"
It would be great to have a generate to create the skeleton for developing a reusable plugin.

Instead of developing apps, I want to build reusable/sharable can.Components.

Something such as:
`donejs plugin my-tabs`

[2015-12-31 19:28] matthewp commented on #450
Thanks for filing the issue! Someone beat you to it though :)  https://github.com/donejs/donejs/issues/447

[2015-12-31 19:28] #450 closed, assigned to nobody

[2015-12-31 20:23] thecountofzero commented on #447
After thinking about this a bit, wouldn't we just use:

`donejs add component messages chat-messages`

Or does this just add a component to an app? If so, could still do this and strip away the unneeded?

[2015-12-31 20:35] matthewp commented on #447
That doesn't give you everything you need, you want a build script to build the component out to AMD/CommonJS/Global as well. Sure, you can turn a normal donejs project into a Component project though.

[2015-12-31 21:33] thecountofzero commented on #447
What would a Component project look like? You mentioned bit-tabs as an example, however, bit-tabs does not follow the modlet pattern as described on the donejs website. I like the modlet pattern. I guess the only thing missing is the tests that are in their own directory. And maybe the fact that both bit-tabs and bit-panel are in the same directory.

[2015-12-31 22:01] justinbmeyer commented on #447
Bit-tabs is mostly just an extreme version of the modlet pattern.   The modlet pattern is that every "useful" module has its own folder and everything goes within that folder.  By "useful", I mean that `stache` and `less` files that are associated with a component are not "useful on their own".  So a module might include a lot of other sub-modules.

To be clear ... a "component" project should rea

[2015-12-31 22:39] thecountofzero commented on #447
Be a good idea to get either a generator or an example out there showing people how this should be done. I've been scouring the donejs site and some of the stuff on github.com and it can quickly become confusing on the "right" way to do things as there are so many possible ways. Getting everyone on the same page and developing with the same patterns can go a long way within the DoneJS community.

[2016-01-01 01:39] justinbmeyer commented on #447
@thecountofzero

If there are a bunch of "useful" modules, yes.  But in the case of bit-tabs, there's really only one useful module.  Like I mentioned in the previous comment ... when you put every module in it's own repository ... you have the "modlet" pattern by default ... regardless of where your tests are.

[2016-01-01 01:45] justinbmeyer commented on #447
Just to help make sure we are on the same page.  The modlet pattern is there to:
- make sure that in a big application, people aren't forgetting about tests because they are hidden "far" away from the actual source
- be able to work in one limited area of the filesystem.

When you have a single small module in its own repo, these concerns become largely irrelevant.  That's why I'm saying that putt

[2016-01-01 01:47] justinbmeyer commented on #447
Currently, the best things to look at are `bit-tabs` and `can-connect`.  `bit-tabs` because it's showing a component(s) pattern.  `can-connect` for it's release scripts: https://github.com/canjs/can-connect/blob/master/package.json#L83 .  `can-connect` is able to push out a built version of itself and a git version tag that includes the `dist` build.  It's amaze-balls.

[2016-01-04 18:20] matthewp opened #451 "donejs init errors"
From [the forums](http://forums.donejs.com/t/errors-initializing-donejs-app/97/8), I was able to recreate:

[code]

[2016-01-04 18:24] matthewp commented on #451
This is caused by the [ws](https://www.npmjs.com/package/ws) module which has caused a lot of headaches on Windows and elsewhere.

This module is the most popular for web socket servers. It's used by **steal-tools** and **testee**.  For **can-ssr** we use a different module, [websocket](https://www.npmjs.com/package/websocket) which is mostly just JavaScript (only has one small C++ bit), so I'd li

[2016-01-04 18:32] justinbmeyer commented on #451
@matthewp why does steal-tools use it?  live-reload?

[2016-01-04 18:32] matthewp commented on #451
Yes.

[2016-01-04 18:35] matthewp commented on #451
[Here](https://github.com/websockets/ws/issues/577)'s an issue discussing the problem.

[2016-01-04 18:39] matthewp commented on #451
So looks like ws 1.0.0 doesn't include the optionalDependencies but instead tells you to install them separately. So if we upgrade our deps to use 1.0.0 this should be eliminated.

[2016-01-05 21:35] #449 closed, assigned to matthewp

[2016-01-05 21:47] matthewp opened #453 "donejs init on windows 0.6.0-pre"
This happens after the generator runs, I think it's when it npm installs all of the dependencies (which includes donejs-cli (but donejs-cli is already installed). To make NPM 3 work I had to make it so that donejs-cli calls out to the `npm` cli rather than using the npm package. I'm not sure if this change is related or not.

After this error I can see that the `node_modules\.bin` folder contains

[2016-01-06 04:39] justinbmeyer opened #454 "donejs init npm3 ENOENT errors"
with cli 0.6.0-pre.5

[code]

[2016-01-06 04:46] justinbmeyer opened #455 "package.json defaults"
I think we should provide some defaults to avoid npm warnings:
- description - An awesome donejs app
- license - the "no license" license
- repository - not sure what to put here .... it would be nice to infer it ... but probably not possible unless there's a .git somewhere.

[2016-01-06 05:16] justinbmeyer opened #456 "Guide Notes"
0.6.0 Priority issues:
- [x] - https://github.com/donejs/place-my-order-api/issues/4 - Warnings P(3)
- [x] - https://github.com/donejs/place-my-order-api/issues/5 - API doesn't work. P(0)
- [ ] - https://github.com/stealjs/steal/issues/547 - Hot module swapping bug P(2)
- [ ] - `<pmo-header page="{page}"></pmo-header>` - use the right binding syntax P(3)
- [ ] - State can be blank in the demo page

[2016-01-07 00:41] justinbmeyer opened #457 "place-my-order-assets install issue - mac - node 5 - npm 3"
[code]

I think `npm3` probably has problems with capitalization.

[2016-01-07 00:42] justinbmeyer commented on #457
I think the fix is to make sure testee client is on `md5@2.0.0`

[2016-01-07 00:47] justinbmeyer commented on #456
- code highlight adding of the assets `<can-import>`
- Replace AppMap with AppViewModel
- `<p><a class="btn" href="/restaurants" role="button">Choose a Restaurant</a></p>` - the href is not using {{routeUrl}}
- I wonder if we should have them stick the `<pmo-home>` in the template right away ... just to see it in action.
- `Here we use can-href to create li` - it's not using can-href. There's mult

[2016-01-07 04:52] #457 closed, assigned to daffl

[2016-01-07 16:31] daffl opened #459 "Place My Order guide verification"
The in-depth guide has been verified for the following configurations:
- [ ] Node 5 / NPM 3 on MacOS
- [ ] Node 5 / NPM 3 on Windows
- [ ] Node 5 / NPM 3 on Linux
##
- [ ] Node 0.12 / NPM 2 on MacOS
- [ ] Node 0.12 / NPM 2 on Windows
- [ ] Node 0.12 / NPM 2 on Linux

[2016-01-07 18:03] #453 closed, assigned to matthewp

[2016-01-07 19:52] justinbmeyer opened #463 "PMO Guide - socket.io is unable to be established"
If the socket creation looks like:

[code]

I see something like:

![place-my-order_and_slack](https://cloud.githubusercontent.com/assets/78602/12181110/ede52d9a-b545-11e5-80a7-f4876b755d00.png)

If I change it to:

[code]

it seems to work

[2016-01-07 20:07] daffl commented on #454
It looks like NPM 3 is now in general throwing that warning if you run a local `npm install` in a folder that does not have a package.json. https://github.com/donejs/donejs/pull/462 and https://github.com/donejs/cli/commit/e00bdc1d83d8e0afb9edc570ee0386d5dc3ffced will suppress the warning in the next release.

[2016-01-07 20:07] #454 closed, assigned to nobody

[2016-01-08 03:52] #463 closed, assigned to daffl

[2016-01-08 04:02] justinbmeyer opened #464 "PMO Guide: Update guide to include setting up github at CI step."
At the [Setting up CI](http://donejs.com/place-my-order.html#section=section_Settingupcontinuousintegration_TravisCI_) section of the guide, it should:
1. create an account in github
2. create a place-my-order repo.
3. run `git init`
4. add .gitignore for `node_modules`
5. add every file ... push to github.
6. Enable repo: <img width="397" alt="cursor_and_justin_meyer_-_profile_-_travis_ci" src="h

[2016-01-08 04:32] justinbmeyer opened #465 "PMO Guide - Deploy"
For the deploy part of the PMO guide, if possible, it should:
- Use heroku's ability to watch for changes in master and update the deployed app.
  - It will probably need to do a build with a post install hook so nothing needs to be checked in.
- Make sure the deploy also does the static deploy (I'm not seeing this currently, does it deploy on a change?).
- Show people how to make a change, push t

[2016-01-08 05:03] justinbmeyer opened #466 "PMO - Order History - Unnecessary requests"
The Order History page makes the following requests:

![place-my-order_and_new_issue_ _donejs_donejs](https://cloud.githubusercontent.com/assets/78602/12190764/27656cbe-b592-11e5-930e-683ce1d7f3d9.png)

This seems to be due to the fact the inline cache doesn't have everything it should:

[code]

new, preparing, delivery are all missing.

[2016-01-08 13:31] matthewp commented on #466
I think it's probably the new way we add data with can-wait, it's not merging the sets that belong to the same key.

[2016-01-08 13:40] matthewp commented on #466
So what happens is can-connect pushes new data into the Request  that looks something like this:

[code]

And can-ssr merges these. We just need to merge them 2 levels deep, I believe.

[2016-01-08 13:47] matthewp commented on #466
Here's the can-ssr issue: https://github.com/canjs/can-ssr/issues/105

[2016-01-08 17:23] matthewp opened #467 ".component generator should use script type=view-model"
Instead of the `<view-model>` tag, this way you get syntax highlighting by aliasing .components as HTML.

[2016-01-08 22:53] #464 closed, assigned to daffl

[2016-01-11 05:04] akagomez opened #469 "New project references "place-my-order""
My project is called "scraplog" and somehow my `index.stache` references "place-my-order" in the production `<script>` tag's `main` attribute.

[code]

[2016-01-11 05:22] justinbmeyer commented on #469
Actually, I'm not sure this is a bug.  Did you re-init this folder?

It seems like what you are showing is impossible from the current state of the `index.stache` template:

https://github.com/donejs/generator-donejs/blob/master/app/templates/src/index.stache#L17

[2016-01-11 05:22] justinbmeyer commented on #469
Also, which version of donejs are you using?  0.6?

[2016-01-11 13:18] akagomez commented on #469
Just ran `donejs init foobar` and got this for an `index.stache`:

[code]

[2016-01-11 13:19] akagomez commented on #469
My `donejs` version is `0.6.0`.

[2016-01-11 13:22] matthewp commented on #469
What are your steps to create the project? Are you doing:

[code]

or

[code]

Both are valid.

[2016-01-11 13:24] akagomez commented on #469
`donejs init project-name`

[2016-01-11 13:40] matthewp commented on #469
what version of generator-donejs is in your node_modules folder? Can you check that file justin referenced above?

[2016-01-11 13:52] akagomez commented on #469
My `generator-donejs` `index.stache` looks like @justinbmeyer's. The `main` attribute looks like this:

`main="<%= name %>/index.stache!done-autorender"`

[2016-01-11 14:04] matthewp commented on #469
Which version is in the package.json?

[2016-01-11 14:06] akagomez opened #470 "Forced to restart donejs develop process ~8"
When importing a component with `<can-import>` I entered the path incorrectly which caused a typical NodeJS "file not found" error to be thrown. After fixing the path the server would not respond. I was forced to kill/start the `donejs develop` process.

![donejs-forced-process-restart](https://cloud.githubusercontent.com/assets/82166/12235559/92789bae-b842-11e5-8fd2-52c7136d5fa9.gif)

[2016-01-11 14:07] akagomez commented on #469
`"version": "0.4.3",`

[2016-01-11 14:14] matthewp commented on #470
This probably happens for any incorrect import, not just can-imports.  I'm guessing that steal-tools is the culprit.

[2016-01-11 18:25] #162 closed, assigned to matthewp

[2016-01-11 18:31] matthewp opened #472 "Windows DoneJS init errors"
[code]

[2016-01-11 18:36] matthewp opened #473 "Dependencies on git"
https://github.com/donejs/cli/pull/30

[2016-01-11 18:47] matthewp commented on #472
DocumentJS 0.3.3 was using an older version of steal-tools which used an older version of ws, which I think is the cause of these errors. Upgrading documentjs with https://github.com/donejs/cli/pull/30 might fix it.

[2016-01-11 18:47] daffl commented on #473
`devDependencies` shouldn't be installed when running `npm install donejs -g` though right?

[2016-01-11 19:07] daffl commented on #473
Oh nevermind, it's in the `donejs` packages section.

[2016-01-11 20:09] matthewp commented on #472
This is fixed.

[2016-01-11 20:09] #472 closed, assigned to nobody

[2016-01-12 15:41] matthewp commented on #473
There's one remaining git dependency:

![gitdep](https://cloud.githubusercontent.com/assets/361671/12268004/ed0c6628-b918-11e5-9d0e-8b17489a6237.PNG)

This is owned by **divshot-push**, I've asked them to either publish / use https here: https://github.com/divshot/divshot-push/issues/3

[2016-01-12 15:46] daffl commented on #473
Divshot is gone anyway. Can't we just remove it?

[2016-01-12 15:51] matthewp commented on #473
That's true, we moved to firebase before the 0.5.0 release, we could just do a major version bump of donejs-deploy with divshot removed.

[2016-01-12 16:41] daffl opened #475 "Add Greenkeeper for DoneJS dependency updates ~2"
http://greenkeeper.io is exactly what we need to keep the DoneJS dependencies up to date. Whenever a dependency gets updated and does not match the SemVer range it will issue a pull request with the updated `package.json` which will kick off CI.

[2016-01-12 17:16] justinbmeyer commented on #473
Let's do it.

Sent from my iPhone

[2016-01-12 18:17] daffl commented on #473
Closed now via https://github.com/donejs/deploy/pull/43

[2016-01-12 18:17] #473 closed, assigned to nobody

[2016-01-12 19:37] matthewp opened #476 "PMO: Tests do not pass in travis"
I'm not sure why: https://travis-ci.org/matthewp/place-my-order/builds/101914756

[2016-01-12 19:43] daffl commented on #476
Does it work locally?

[2016-01-12 19:47] matthewp commented on #476
Yep.

[2016-01-12 19:51] daffl commented on #476
Also with Firefox 43?

[2016-01-12 19:53] matthewp commented on #476
Yeah, that link is using 43.

[2016-01-12 20:08] matthewp opened #477 "PMO: Going to Order History after the Order page causes an exception"
![err](https://cloud.githubusercontent.com/assets/361671/12275475/4600e9a0-b93e-11e5-8ebf-12d7551483be.PNG)

[2016-01-12 20:13] matthewp commented on #466
Verified this as fixed.

[2016-01-12 20:13] #466 closed, assigned to matthewp

[2016-01-12 20:16] matthewp opened #478 "PMO: Unable to run documentjs on Windows"
[code]

[2016-01-12 20:16] matthewp commented on #478
This is probably the underlying issue: https://github.com/bitovi/documentjs/issues/216

[2016-01-12 20:17] daffl commented on #476
I tried a fresh clone and checked out the branch and I'm getting

[code]

In Firefox.

[2016-01-12 20:18] daffl commented on #476
That's probably because it still puts `jquery@^2.1.4`  in the `package.json`. Locking to 2.1.4 fixes it.

[2016-01-12 20:27] matthewp opened #479 "PMO: Going directly to /restaurants in production causes errors"
This is coming from can-wait

[code]

[2016-01-12 20:28] matthewp opened #480 "PMO: Going directly to /restaurants in production causes 404"
![saywha](https://cloud.githubusercontent.com/assets/361671/12275977/14f8c762-b941-11e5-9318-4ce5f2409ca6.PNG)

[2016-01-12 21:07] matthewp commented on #480
#479 is the cause.

[2016-01-12 21:07] #480 closed, assigned to nobody

[2016-01-12 21:08] matthewp commented on #479
This is the underlying issue: https://github.com/canjs/can-wait/issues/32

Confirmed that fixing this will fix the issue.

[2016-01-12 21:19] matthewp opened #481 "PMO: build.js starts ios emulator when android is selected"
Generator puts this in:

[code]

Even if you had selected Android.

[2016-01-12 21:22] matthewp opened #482 "PMO: Guide doesn't explain how to get Android set up"
Needs more explanation, first done you run donejs build cordova you get this message:

[code]

[2016-01-12 21:35] matthewp commented on #482
I'm thinking we can put this in the Setting Up section and link to it.

[2016-01-12 21:58] matthewp commented on #479
This is fixed in can-wait 0.2.7.

[2016-01-12 21:58] #479 closed, assigned to nobody

[2016-01-12 22:06] matthewp commented on #482
Another error:

[code]

[2016-01-13 14:04] matthewp opened #483 "PMO: Guide missing parts about setting baseUrl"
Needs to be added back in, native apps will not work without it.

[2016-01-13 14:35] matthewp opened #485 "PMO: unset NODE_ENV for windows"
Need to say how to unset it.

[2016-01-13 14:36] matthewp opened #486 "PMO: unset NODE_ENV for windows"
Need to say how to unset it.

[2016-01-13 14:40] matthewp opened #487 "donejs deploy doesn't run on windows"
[code]

Directly calling `node_modules\.bin\deploy` it does work, so must be something with the way it's being called.

[2016-01-13 14:41] #485 closed, assigned to nobody

[2016-01-13 14:55] matthewp commented on #483
Closed by #484

[2016-01-13 14:55] #483 closed, assigned to nobody

[2016-01-13 15:31] matthewp commented on #487
This is the cause: https://github.com/donejs/cli/issues/32

[2016-01-13 16:20] matthewp commented on #451
These errors are now gone.

[2016-01-13 16:20] #451 closed, assigned to nobody

[2016-01-13 16:21] matthewp commented on #70
Not sure what this was about so closing.

[2016-01-13 16:21] #70 closed, assigned to daffl

[2016-01-13 16:21] matthewp commented on #431
This is is done.

[2016-01-13 16:21] #431 closed, assigned to matthewp

[2016-01-13 16:58] matthewp commented on #487
Fixed in donejs-cli 0.6.5

[2016-01-13 16:58] #487 closed, assigned to nobody

[2016-01-13 18:31] matthewp commented on #478
Replacing the | with __ does fix the issue.

[2016-01-13 19:31] matthewp commented on #481
Issue: https://github.com/donejs/donejs-cordova/issues/10

[2016-01-13 19:39] matthewp commented on #455
@justinbmeyer NPM warnings are muted now because we use loglevel error, so this is probably not needed if it's about warnings. We could add it anyways just to have though.

[2016-01-13 20:14] matthewp commented on #481
This is fixed in donejs-cordova 0.1.3

[2016-01-13 20:15] #481 closed, assigned to nobody

[2016-01-13 20:51] #482 closed, assigned to nobody

[2016-01-13 20:51] #486 closed, assigned to nobody

[2016-01-13 20:56] matthewp commented on #465
I don't think this is good advice. Generally speaking you should not be doing builds on an app server. That's what a build server is for. Since we are using a build server, Travis, I do not see an advantage to doing it this way. The only advantage is maybe that you don't have to force-push to Heroku.

[2016-01-13 21:41] matthewp opened #490 "PMO: 2 404s loading socket.io stuff"
<img width="1293" alt="screen shot 2016-01-13 at 4 40 39 pm" src="https://cloud.githubusercontent.com/assets/361671/12308652/6d92492e-ba14-11e5-8072-bd5cf13cb2df.png">

Also reported in #456

[2016-01-13 21:42] matthewp commented on #456
I opened a separate issue for the 404 errors: https://github.com/donejs/donejs/issues/490

[2016-01-13 21:49] justinbmeyer commented on #465
@matthewp well, this is the CI / test server really right?

Originally, we were going to use Heroku's ability to watch `master` and deploy on its own.

Yeah, the advantage is that you don't have to force-push, but if we aren't using Heroku to watch things, I agree that the "add-to-dist and force-push" probably makes sense.

[2016-01-13 21:52] justinbmeyer commented on #455
This is only during `init` right?  Probably don't want it any other time.

[2016-01-13 21:55] matthewp commented on #477
This is not OS related, can be reproduced by clone https://github.com/matthewp/matthew-pmo doing an npm install, starting donejs api and donejs develop.

Restaurants -> State -> City -> Place My Order -> Order from Foo -> Order History

[2016-01-13 22:06] matthewp commented on #478
Fixed by DocumentJS 0.4.2

[2016-01-13 22:06] #478 closed, assigned to nobody

[2016-01-13 22:37] justinbmeyer commented on #477
I'm checking this out now.

[2016-01-13 23:21] daffl opened #491 "donejs init fails with inocompatible package version not found"
Currently I'm seeing this on Mac OS (Node 5.4, NPM 3):

<img width="422" alt="screen shot 2016-01-13 at 3 19 39 pm" src="https://cloud.githubusercontent.com/assets/338316/12311037/45a3c6be-ba09-11e5-9a9b-d82932de80c3.png">

[2016-01-13 23:31] justinbmeyer commented on #477
@matthewp when I try to run `donejs api` I get:

[code]

[2016-01-13 23:34] justinbmeyer commented on #477
@matthewp this project is pointing at `"can": "^2.3.0-pre.8",` ... it is possible this is a problem just because of the deps?

[2016-01-13 23:37] #491 closed, assigned to nobody

[2016-01-14 00:01] justinbmeyer commented on #477
@matthewp I'm going to try my app and see if I can see this there.  If not, I think we'll need to upgrade your app before it's worth spending a lot of time on it.  It's possible this is fixed with latest everything.

[2016-01-14 00:08] justinbmeyer commented on #477
@matthewp I'm able to recreate in my app.  Good catch!

[2016-01-14 00:16] justinbmeyer commented on #477
I think the bug is related to switch / case.  It seems like `{{#case 'order'}}` is being re-evaluated from within an already torn down `{{#switch action}}`.

I'm not exactly sure why when `{{#switch action}}` is torndown that it's not killing `{{#case 'order'}}`.

[2016-01-14 00:49] matthewp commented on #477
@justinbmeyer Sorry, that was indeed an old project from this August. The project I actually worked on today was https://github.com/matthewp/place-my-order  Sorry about that.

[2016-01-14 04:34] justinbmeyer commented on #477
Created a CanJS issue for it: https://github.com/canjs/canjs/issues/2188

[2016-01-14 19:16] matthewp opened #492 ".gitignore should include build/ dist/ and cache/ folders"
build/ is where build artifacts from cordova and nw go. dist/ is where steal-tools build artifacts go. cache/ is where nw.js local cache goes.  Not wanted in the git repo.

[2016-01-14 22:11] matthewp commented on #490
I've found a solution for these 404s but still need to write a test, that's going to hard to come up with. Putting my thoughts here.

It's a weird scenario where you have a dependency graph like:
- socket.io-client
  - component-emitter 1.2.0
  - engine.io-client
    - component-emitter 1.1.2

However in the node_modules they are ordered like:
- node_modules/component-emitter 1.1.2
- node_modules/

[2016-01-14 22:36] justinbmeyer commented on #490
Is npm3 depth first?  Why would 1.1.2 get installed less nested?  The only thing I can think of is that children are installed before parents.

[2016-01-14 23:06] justinbmeyer opened #494 "donejs init error on windows"
npm ERR! Windows_NT 10.0.10240
npm ERR! argv "C:\Program Files\nodejs\node.exe" "C:\Program Files\nodejs\node_modules\npm\bin\npm-cli.js" "install" "can-fixture@^0.1.0" "documentjs@^0.4.1" "donejs-cli@^0.6.0" "donejs-deploy@^0.4.0" "funcunit@~3.0.0" "steal-qunit@^0.1.1" "steal-tools@^0.13.0" "testee@^0.2.4" "--loglevel=error" "--save-dev"
npm ERR! node v5.4.1
npm ERR! npm  v3.3.12
npm ERR! code EL

[2016-01-15 04:06] justinbmeyer commented on #494
This ends up not adding any `devDependencies`.  Which also prevents tests from working.

[2016-01-15 04:15] justinbmeyer commented on #494
[code]

[2016-01-15 04:34] justinbmeyer commented on #494
I also see this:

[code]

[2016-01-15 05:48] justinbmeyer commented on #494
This seems to fix it: https://github.com/bitovi/engine-dependencies/pull/7, but it needs a release to NPM.

[2016-01-15 16:59] matthewp commented on #490
This is fixed in Steal 0.13.1, I've verified in my own place-my-order.

[2016-01-15 16:59] #490 closed, assigned to nobody

[2016-01-15 16:59] matthewp commented on #494
This should be fixed.

[2016-01-15 20:30] daffl commented on #476
Closed via https://github.com/donejs/generator-donejs/pull/63 in the latest patch release

[2016-01-15 20:30] daffl commented on #492
Closed via https://github.com/donejs/generator-donejs/pull/64 in the latest patch release

[2016-01-15 20:30] #492 closed, assigned to nobody

[2016-01-15 23:08] daffl commented on #469
This looks like an issue of an older DoneJS version. The generator should use the project name for `index.stache` (see https://github.com/donejs/generator-donejs/blob/master/app/templates/src/index.stache#L17).

[2016-01-15 23:09] #476 closed, assigned to daffl

[2016-01-16 00:00] justinbmeyer commented on #456
- Github
- An editor
- firefox
- XCode or https://developer.android.com/sdk/index.html

[2016-01-16 00:09] #465 closed, assigned to daffl

[2016-01-16 17:54] justinbmeyer opened #496 "DocumentJS error in windows"
[code]

[2016-01-16 17:59] justinbmeyer commented on #496
weirdly this does not happen if I call `node_modules\.bin\documentjs`

[2016-01-20 16:04] daffl opened #497 "Locked jQuery dependency doesn't work with Steal + NPM2"
The fix for #476 to install a fixed version of jQuery does not work with Steal and NPM2. One of the jQuery package.json's errors (not with a 404 but an HTML error) because it is not installed.

[2016-01-20 17:09] matthewp commented on #497
I'll look into this, saw no problems with a fresh donejs init this morning with npm3.

[2016-01-20 17:13] daffl commented on #497
Happens only with NPM2

[2016-01-20 17:22] matthewp opened #498 "util/domless is in production build"
From https://github.com/donejs/donejs/issues/456

[2016-01-20 17:30] matthewp commented on #497
I'm not seeing this, after a fresh donejs init it's working for me, anything in particular you did differently?

<img width="1321" alt="screen shot 2016-01-20 at 12 29 18 pm" src="https://cloud.githubusercontent.com/assets/361671/12457253/89e2caa6-bf71-11e5-99ab-5a5aab3ecda8.png">

[2016-01-20 23:46] daffl commented on #71
This is fixed in latest can-ssr

[2016-01-20 23:46] #71 closed, assigned to nobody

[2016-01-20 23:48] daffl commented on #317
This should be fixed as well

[2016-01-20 23:48] #317 closed, assigned to matthewp

[2016-01-20 23:48] daffl commented on #349
Closing as per my last comment. I think in the docs we should use `--version` if possible.

[2016-01-20 23:48] #349 closed, assigned to nobody

[2016-01-20 23:49] daffl commented on #376
This is done, verified to be working and released.

[2016-01-20 23:49] #376 closed, assigned to nobody

[2016-01-20 23:50] daffl commented on #272
It's still the same with Firebase but we will always need that header when using Steal anyway right?

[2016-01-20 23:51] daffl commented on #402
This is now using and verified with Firebase.

[2016-01-20 23:51] #402 closed, assigned to nobody

[2016-01-20 23:53] daffl commented on #469
I can't verify this with the latest versions. Please reopen if it still happens after `npm cache clean` and reinstalling everything.

[2016-01-20 23:53] #469 closed, assigned to nobody

[2016-01-21 00:45] matthewp commented on #272
Steal shouldn't need to do XHR in production.

[2016-01-21 16:23] daffl commented on #497
You are right. That may be something else. Still checking why it didn't give a 404.

[2016-01-21 16:23] #497 closed, assigned to nobody

[2016-01-21 19:18] matthewp commented on #498
I went back to StealTools 0.7 to see how it handled it and nothing has changed. Modules that are brought in by buildConfig are treated as any other plugin and are an empty module in production (back then it used System.set, but now we use define() )

I don't think this is a bug. Would be nice to exclude these parts but I can't think of a good way off hand. We could have an `excludeFromBuild` flag

[2016-01-21 19:42] justinbmeyer commented on #498
Ah, they are an empty module.  That's fine.  How does it know they should be empty?

[2016-01-21 21:10] daffl opened #499 "Change guide to not use Travis CLI that requires Ruby"
Because Ruby is not included in Windows by default

[2016-01-21 21:44] matthewp commented on #498
It marks everything that comes through the BuildSystem as a plugin.

[2016-01-22 17:10] #499 closed, assigned to nobody

[2016-01-23 17:16] marshallswain opened #501 "Error in browser/ maybe ssr after starting a new project."
@julia-allyce noted an issue she had after starting a new project.  I ran into a similar issue.  See my thoughts below.

[code]

[2016-01-23 18:12] marshallswain commented on #501
After talking more with @julia-allyce, I think I ran into this issue by selecting the wrong npm version during `donejs init`.  She appears to be getting the issue by changing npm versions afterwards.  How does one tell Steal that we've changed versions?

[2016-01-23 18:27] julia-allyce commented on #501
@marshallswain  thanks for documenting this

I was able to resolve this by switching npm versions and reinstalling my node_modules :unamused:

[2016-01-23 19:11] matthewp commented on #501
If you're using NPM 3.x you want to add `"npmAlgorithm": "flat"` to the the package.json under `"system"`, if using NPM 2.x remove that property.  It does mean that everyone on the team needs to be using the same version. Maybe we could supporting setting this config in localStorage or something, so individuals could control it.

[2016-01-23 20:05] justinbmeyer opened #502 "Training notes"
- missing template tag
- incorrect project name
- use package.json over yo-rc
- cities.js for fixture file
- missing `/` for cities API endpoint should break test, but breaks it weirdly.

[2016-01-25 16:20] justinbmeyer opened #503 "PMO: Set algebra isn't being used in orders and it's broken when added ~8"
There should be a set algebra like:

[code]

I added this and things broke.

[2016-01-25 16:22] #494 closed, assigned to matthewp

[2016-01-25 16:22] #477 closed, assigned to justinbmeyer

[2016-01-25 16:23] #374 closed, assigned to nobody

[2016-01-25 16:23] #75 closed, assigned to nobody

[2016-01-25 16:24] #69 closed, assigned to nobody

[2016-01-25 16:26] justinbmeyer opened #504 "PMO: iOS looks ok"
the app is unusable on iOS because of unresponsive styles.

[2016-01-25 16:27] justinbmeyer opened #505 "PMO: Unable to create an order in iOS / nw.js"
After generating an app, I was unable to create an order.

[2016-01-25 16:28] justinbmeyer opened #506 "PMO / Guides: linux Android instructions"
There doesn't seems to be a guide for linux users on how to build to andriod.

[2016-01-25 16:37] daffl commented on #504
This also came up a while ago at https://github.com/donejs/place-my-order/issues/85

[2016-01-25 16:44] matthewp commented on #505
Can you share your repo, will make it easier to debug.

[2016-01-25 16:49] justinbmeyer opened #507 "Better errors if `.component` is missing a <template> tag ~3"
Someone forgot to leave in the `<template>` tag and got weird errors.

[2016-01-25 16:50] justinbmeyer opened #508 "use package.json over yo-rc"
Someone generated the app with the wrong project name, but then changed their `package.json`'s name.  Future generator use ignored `package.json` and used yo-rc's instead.

[2016-01-25 16:52] daffl commented on #508
@pYr0x also suggested to use `package.json` for all that information in https://github.com/donejs/generator-donejs/issues/60. We should easily be able to get rid of the `.yo-rc.json`.

[2016-01-25 16:53] justinbmeyer opened #509 "Generate plural fixture names"
instead of `fixtures/city.js`, make it`fixtures/cities.js`

This will make it much less confusing which is the model and fixture.

[2016-01-25 16:56] justinbmeyer opened #510 "missing / for cities API endpoint should break test, but breaks it weirdly."
In the PMO app, if the resource url for the `city` model is written as `api/cities` instead of `/api/cities`, the test breaks in a very unusual way.

The test times out, but if you add an error handling case to the promise, the error case is never hit.  Something might be wrong with can-connect.

[2016-01-25 16:57] justinbmeyer commented on #502
all of these have their own issues

[2016-01-25 16:57] #502 closed, assigned to nobody

[2016-01-25 17:10] justinbmeyer opened #511 "make io() take baseUrl"
Otherwise real-time didn't work.

[2016-01-25 17:12] justinbmeyer opened #512 "PMO: POSTs and PUTs were not working from Cordova / NW"

[2016-01-25 17:24] #512 closed, assigned to nobody

[2016-01-25 17:24] justinbmeyer commented on #505
Related: #512

[2016-01-25 17:25] julia-allyce opened #513 "Thoughts After Building First(ish) Donejs App"
1. I was able to put together 80% of the app in >12 working hours.
2. I wasn’t able to get DoneJS working on my collaborators machines :/
   - One person had issues with NPM install (user error maybe?). She didn’t return to finish the hackathon
   - Another person, Alia, was on a windows machine. So we had long filename issues, so we switched the build to npm 3. It would be great like Matthew ment

[2016-01-25 17:34] julia-allyce commented on #513
### Comments from original Google Doc

Issue opened: https://github.com/stealjs/steal/issues/563

@matthewp: "This might depend on how you install it, but I believe this is a Node and/or NPM thing, the installed packages are placed in a different location depending on what version installed them"

@marshallswain: "This surprised me, too. It only became a problem on a service that can accept big re

[2016-01-25 17:37] julia-allyce commented on #513
@marshallswain I'd like to know _why_ its not JSON by default. The limit on query string length can easily be maxed out. @justinbmeyer is there a way to easily specify what types of requests you are making?

[2016-01-25 17:46] julia-allyce opened #514 "Better Error Notifications for Development Mode ~40"
As originally discussed in #513. It would be great to have DoneJS "yell" a bit more loudly when your app breaks. @matthewp liked the idea of injecting them into the DOM. I also suggested finding a way to throw terminal alerts.
#### Use Case

I am furiously developing a new component and have my browser window in the background. There is very little to catch my attention when I create a bug (such a

[2016-01-25 17:56] julia-allyce opened #515 "Remove can-connect/tag from guides. ~3"
The indepth guide uses a getter in the VM to return a promise, and the quick start uses the can-connect/tag
- http://donejs.com/place-my-order.html#section=section_Adddatatothepage
- http://donejs.com/Guide.html#section=section_Usetheconnection

I don't know if this is an "issue", but it might be an indicator we should dedicate some documentation to explaining the different ways you can load data

[2016-01-25 18:28] justinbmeyer commented on #513
@marshallswain / @julia-allyce I think there's some confusion here.

Using querystrings on GET requests still makes a ton of sense.  `GET /todos?due=today`.  The limit on query string length will almost never be maxed out.  If it is, switching to JSON in the URL will not help.

Using form-url-encoded request bodies in `POST` and `PUT` doesn't really make sense anymore.  It did originally because n

[2016-01-25 18:34] justinbmeyer commented on #515
@julia-allyce Imo, this level of detail would be too much for the DoneJS site.  This type of detail should be in `can-connect`'s docs, specifically supermap and can/tag's.

As you noted, the guides can cover this topic (btw, the PMO guide actually uses both techniques).  They should link to the right places.

I'd be alright with an FAQ page on donejs (similar to the API page), that links to corres

[2016-01-25 18:46] justinbmeyer commented on #514
I like the idea but have 3 reservations:
- usefulness
- best practices
- maintainability

but I have ideas on how to work around most of them.

## usefulness

If your browser is in the background, you wouldn't see the banner.  I think errors do show up in the dev console and in the command line (but aren't highlighted).

A solution to both problems might be using a browser's notifications API.  A

[2016-01-25 18:52] matthewp commented on #514
I think most of these errors are caught by live-reload, so that's where the logic would go, not in subprojects.  Currently we reload the page if there's a reload error: https://github.com/stealjs/live-reload/blob/master/live.js#L213

[2016-01-25 18:57] justinbmeyer commented on #514
@matthewp what about a template parsing warning I might want to warn about in can/view/parse?

[2016-01-25 19:17] justinbmeyer commented on #505
https://github.com/justinbmeyer/place-my-order

[2016-01-25 19:50] julia-allyce commented on #514
I think this might make a good OS dev tool...it would be cool to package it as a chrome extension, and it will always throw alerts for js warnings/errors for specified domains like localhost, if you can do that. That way you don't have to bake it into any of your projects...but then this escapes the realm of our OS tools.

[2016-01-25 21:32] matthewp commented on #511
Want to verify by rebuilding the app.

[2016-01-25 21:54] matthewp commented on #504
https://github.com/donejs/place-my-order/commit/f7867c443f233cbbc25531bdf04e77a076548475 is probably what is needed.

[2016-01-26 00:04] justinbmeyer commented on #504
Ah, but shouldn't pmo-assets be pulling in bootstrap?  I'd rather not have to add another step.

[2016-01-26 00:33] matthewp commented on #504
pmo-assets doesn't include markup, this is not just styles.

[2016-01-26 13:28] matthewp commented on #504
Ok, now I see that we don't have bootstrap with pmo-assets, so this would require installing it. I think we can avoid it and make it look decent with some css changes, looking into it now.

[2016-01-26 13:40] matthewp commented on #504
Here's what I've got from add a meta viewport table and a couple of css tweaks:

<img width="354" alt="screen shot 2016-01-26 at 8 40 13 am" src="https://cloud.githubusercontent.com/assets/361671/12582042/7d79e4ca-c408-11e5-98c4-978aa72677de.png">

[2016-01-26 14:12] matthewp commented on #504
https://github.com/donejs/place-my-order-assets/pull/3 applied those styles, also updating the guide.

[2016-01-26 15:23] matthewp commented on #498
Going to close this as not a bug.

[2016-01-26 15:23] #498 closed, assigned to matthewp

[2016-01-26 15:23] matthewp commented on #282
Going to unassign myself but we should continue to work on it.

[2016-01-26 16:16] matthewp opened #518 "SSR performance"
This is measuring the hello world created by `donejs init`:

[code]

[2016-01-26 18:10] pYr0x commented on #508
made a PR https://github.com/donejs/generator-donejs/pull/66

[2016-01-26 18:27] matthewp commented on #508
Cool, thanks, will take a look.

[2016-01-26 18:38] matthewp commented on #511
Was able to verify this.

[2016-01-26 18:38] #511 closed, assigned to matthewp

[2016-01-26 18:38] matthewp commented on #505
Was able to verify this is fixed.

[2016-01-26 18:38] #505 closed, assigned to matthewp

[2016-01-26 18:39] matthewp commented on #504
This is what it looks like now:

<img width="487" alt="screen shot 2016-01-26 at 12 39 58 pm" src="https://cloud.githubusercontent.com/assets/361671/12590679/29d17a7a-c432-11e5-8620-a96d42a990d3.png">

[2016-01-26 22:41] robertheessels opened #519 "highlight development.html as part of the guide ~2"
We should tell people about development.html in Chat and PMO once they get things setup.

Original issue:

[2016-01-26 22:57] robertheessels commented on #519
It is also unclear how and when to use "import" or "steal()" when you run your app this way.

And it seems like I have to do some check if I'm running in node like this:

[code]

or I get this warning and the component will not show:

WARN: can/view/scanner.js: No custom element found for tdd-home

This seems to be related with running client or server side?

[2016-01-26 23:16] pYr0x commented on #519
you want to use can-ssr or not?

[2016-01-26 23:16] justinbmeyer commented on #519
@robertheessels I don't think this is going to be a guide on DoneJS.com.  `development.html` shouldn't even really be used if you have pushstate active.  DoneJS is for the combination of technologies.  The subprojects should have guides when you aren't using the full package.

What are you trying to setup?  Just CanJS+Steal?  If that's the case, what more do you need besides: http://canjs.com/guid

[2016-01-26 23:32] robertheessels commented on #519
I want to use as much of DoneJs as possible. And I want the app to run on the web, and as standalone apps (Android etc).

As soon as my app starts, it needs to check if the user is authenticated, based on a token. If not, a 401 is returned by the REST server.

When I try to catch that 401 without a check for module.exports and without wait() (as can be seen in my previous comment) the app fails to

[2016-01-27 13:51] #506 closed, assigned to matthewp

[2016-01-27 17:27] #504 closed, assigned to matthewp

[2016-01-27 17:35] phillipskevin commented on #519
Others have had a similar question about how to run a DoneJS app without server-side rendering. Maybe just an addition to https://github.com/donejs/generator-donejs about what files are created when you generate a new app?

[2016-01-27 17:38] phillipskevin commented on #519
But it might help to add that to http://donejs.com/Guide.html#section=section_Generatetheapplication also. Not sure where the best place is.

[2016-01-28 07:38] robertheessels commented on #519
In the in depth guide it is explained what files are generated and what they are for. So that is fine, I guess. http://donejs.com/place-my-order.html

What is unclear to me is how is decided what runs server side and what runs client side. How does that work? How can you know?

I have now installed auth-component (https://github.com/marshallswain/auth-component) and that solved my problem. Somehow

[2016-01-28 14:32] marshallswain commented on #519
@robertheessels, I'm surprised you found that, but I'm glad it helped.  If I remember correctly, I kept it from running on the server by checking for window.localStorage (which I noticed doesn't exist on the server) in the `init` [here](https://github.com/marshallswain/auth-component/blob/master/src/token-auth/token-auth.js#L203)

It's actually on my agenda to update that package rather extensivel

[2016-01-28 17:34] robertheessels commented on #519
I just copied parts of your code in my app and got everything working finally. So I have no need for future versions.

Unfortunately it didn't help me understand the dynamics between sever- and client side.

Having said that, it certainly has potential, Could be an important package for DoneJs because, I guess, most projects need authentication.

[2016-01-28 18:43] marshallswain commented on #519
Ok, good.  That way I won't be messing you up with updates.  :)  Cheers!

[2016-02-01 17:13] phillipskevin commented on #323
Any issues with me merging and publishing these to close this issue?
https://github.com/donejs/donejs-nw/pull/2
https://github.com/donejs/donejs-cordova/pull/13

cc @justinbmeyer @matthewp @daffl

[2016-02-01 18:10] matthewp commented on #323
Nope, go for it.

[2016-02-01 19:46] daffl commented on #68
This should probably throw a better error message when proxying in https://github.com/canjs/can-ssr/blob/master/lib/server/proxy.js#L3.

[2016-02-01 20:26] marshallswain commented on #501
Has this already been documented?

[2016-02-01 20:40] matthewp commented on #501
Yeah, it's in the stealjs docs like here: http://stealjs.com/docs/npm.html#section_Use

If you create a new project with `donejs init` it will detect what version of npm you are using and add the flag if needed.

[2016-02-01 20:41] marshallswain commented on #501
Thanks.

[2016-02-01 20:41] #501 closed, assigned to nobody

[2016-02-02 15:18] #323 closed, assigned to nobody

[2016-02-05 17:38] #447 closed, assigned to daffl

[2016-02-05 18:13] thecountofzero commented on #447
Word!

[2016-02-05 18:15] matthewp commented on #447
@daffl will be writing an article about how to use this.

[2016-02-06 10:43] Nic128 opened #523 "Can't run develop or start."
- Used node 4.2.6/npm 2.14
- Tried donejs v0.6.0 and v0.7.0-pre.1
- donejs init lottery-app
- cd lottery-app
- donejs develop
- I'm on linux

[code]

[2016-02-06 15:03] matthewp commented on #523
Thanks, looking into this.

[2016-02-06 15:18] matthewp commented on #523
Cause is getting rid of the jquery peerDependency in canjs.  Probably we need to either restore it or make it a regular dependency.

[2016-02-06 15:50] matthewp commented on #523
https://github.com/canjs/canjs/pull/2242

[2016-02-06 16:30] daffl commented on #523
Fix has been published on NPM as 2.3.15

[2016-02-06 16:30] #523 closed, assigned to nobody

[2016-02-08 04:47] marshallswain opened #524 "Pushstate routes no longer update after a hot reload."
can.route params update, but the URL doesn’t.  I'm using a new app generated with donejs@0.7.0-pre.1

[2016-02-08 04:52] justinbmeyer commented on #524
@marshallswain can you give an example of your app?  Does this happen in donejs-chat?

[2016-02-08 05:38] marshallswain opened #525 "Make the component generator aware of the app name."
You can get very used to typing the app name when you're referencing components in can-import,

So it seems a little odd when you do

And you get a folder named `app-name`.  It would be nice to have those consistent.

[2016-02-08 16:57] matthewp commented on #396
Going to work back from _immediate needs_ to _automating everything_

## Immediate
- We need to be able to run the donejs-chat tests in Travis on demand.

## Need badly
- We need to be able to run both guides on a Windows CI.
- We need to be able to run the place-my-order tests in Travis on demand.

## Need slightly less badly
- We need to be able to trigger the tests to run whenever a sub-project

[2016-02-08 17:14] marshallswain commented on #524
I'll whittle it down to see if I can better identify what breaks it.

[2016-02-09 15:10] matthewp opened #526 "Quick start guide running in Travis"

[2016-02-09 15:10] matthewp opened #527 "Quick start guide running in Window CI"

[2016-02-09 15:11] matthewp opened #528 "PMO guide test running in Travis"

[2016-02-09 15:11] matthewp opened #529 "PMO guide test running in Windows CI"

[2016-02-09 15:12] matthewp opened #530 "Trigger guide test to run when subproject is published"
Whenever a donejs project is published we need to trigger the tests to run in CI.

[2016-02-09 15:13] matthewp opened #531 "CI should send email to donejs team when there is a failure"
Running the guide test.

[2016-02-09 15:14] matthewp commented on #526
Closed by #433

[2016-02-09 15:14] #526 closed, assigned to matthewp

[2016-02-09 21:51] joe-crick opened #533 "Create a Branded Default Application Page"
Similar to the way that many other frameworks have branded default Application Pages, create a default, branded application page for DoneJS in place of the "Hello World" page.

[2016-02-09 21:53] matthewp commented on #533
I'm not familiar with what you mean, can you give an example?

[2016-02-09 23:37] joe-crick commented on #533
Sure, you can see an example of ASP.NET MVC Core's default page here: http://docs.asp.net/en/latest/_images/05-browser-runapp.png. Here's one for Rails: http://guides.rubyonrails.org/images/getting_started/rails_welcome.png

[2016-02-10 05:14] justinbmeyer commented on #533
+1 had one for the old JMVC. Had links to test page, docs, etc.

Sent from my iPhone

[2016-02-10 16:41] matthewp commented on #527
Recording results:

| 0.12 | 4.2 |
| --- | --- |
| npm install error | donejs develop test |
| donejs init stalls | donejs develop error |
| donejs init stalls | donejs develop error |

[2016-02-11 13:45] matthewp opened #535 "donejs update"
It would be nice to have a mechanism to update your project to the next major/minor version of donejs. Consider you are on version `0.15` and you want to upgrade to `0.16`. Currently you'd have to do something like:
### before

[code]
### after

[code]

You'd have to know which dependencies needed to be updated. In this example can-ssr might have a breaking change that doesn't work with done-autor

[2016-02-11 17:15] marshallswain commented on #535
This would be a much easier upgrade path than what I've been doing:
- rename old app folder
- `donejs init app-name`
- copy over old app to new app.

[2016-02-15 22:59] #525 closed, assigned to nobody

[2016-02-15 23:56] #508 closed, assigned to pYr0x

[2016-02-16 23:39] malamoney commented on #447
Has @daffl written said article yet?

[2016-02-16 23:40] marshallswain commented on #447
Its coming very soon.
On Tue, Feb 16, 2016 at 4:39 PM malamoney notifications@github.com wrote:

[2016-02-16 23:53] daffl commented on #447
It's in the review phase. We're shooting for Thursday.

[2016-02-17 23:18] daffl opened #536 "Installing donejs-cli is taking a long time"
Also if it is already installed (which should skip the installation entirely)

[2016-02-19 19:37] #527 closed, assigned to matthewp

[2016-02-22 17:08] BigAB opened #538 "Community - Upcoming Events not loading due to protocol mismatch"
The **Upcoming Events** section is failing to load because of a non-ssl call to the Bithub API
https://donejs.com/community.html

[2016-02-22 19:00] daffl commented on #67
We can close this. Guide issues should be submitted as new issues now.

[2016-02-22 19:00] #67 closed, assigned to justinbmeyer

[2016-02-22 19:01] daffl commented on #73
This has been fixed via https://github.com/donejs/generator-donejs/commit/3ba7477d3a1e518d0ba2b1085c0caae042222895

[2016-02-22 19:01] #73 closed, assigned to nobody

[2016-02-22 19:02] #78 closed, assigned to nobody

[2016-02-22 21:32] daffl opened #540 "Make deploy plugin based"
Currently `donejs-deploy` ships all it's deployment strategies, causing the installation of many potentially unused modules. Just like `donejs add cordova` etc. deployment strategies should be in their own DoneJS plugin modules. We will need:
- `donejs-heroku` to deploy to Heroku (instead of setting it up separately on Travis CI we can just use this command) as `donejs add heroku`
- `donejs-fireba

[2016-02-22 21:44] daffl commented on #540
Also see https://github.com/donejs/deploy/issues/38

[2016-02-23 12:53] matthewp commented on #530
https://docs.travis-ci.com/user/triggering-builds

[2016-02-23 15:20] daffl opened #541 "Needs a generic way for new folder initialization"
After we added `donejs plugin` we now need `donejs generator`. There probably is no way around listing those top level commands (since we don't want to install `donejs cli` first in every folder someone runs `donejs` just to find out it's something that can't run) though.

[2016-02-23 15:24] daffl commented on #459
This should be running on all platforms mentioned above now.

[2016-02-23 15:24] #459 closed, assigned to nobody

[2016-02-23 15:25] daffl commented on #202
This is already supported.

[2016-02-23 15:25] #202 closed, assigned to phillipskevin

[2016-02-23 15:27] daffl commented on #432
I am going to close this one. GitHub now supports [issue templates](https://github.com/blog/2111-issue-and-pull-request-templates) which we can add if we have a company sponsor for issues.

[2016-02-23 15:27] #432 closed, assigned to nobody

[2016-02-23 16:02] justinbmeyer commented on #541
What's wrong with installing the cli first?

Sent from my iPhone

[2016-02-23 18:38] daffl commented on #541
I don't want a `node_modules` folder to show up everywhere I happen to run `donejs`.

[2016-02-23 18:40] daffl commented on #541
It turns out that this can be done already with the `--type` parameter. Since generators are probably not as common as a plugin there shouldn't be any changes necessary and it can just run

[code]

[2016-02-23 18:40] #541 closed, assigned to nobody

[2016-02-23 18:42] daffl commented on #536
There is nothing that we can really do about this. `donejs-cli` gets installed every time and this will only be happening when initializing a new project.

[2016-02-23 18:42] #536 closed, assigned to nobody

[2016-02-23 19:54] justinbmeyer commented on #541
Why would you run `donejs` in a folder where you didn't already have `node_modules` or intend to?

[2016-02-23 19:58] justinbmeyer commented on #536
Is this issue for just the CLI or donejs a whole?  I think we should work to improve DoneJS's installation time.  I think an audit of our dependencies could result in a reduction in package sizes needed to be downloaded.

Also, like you mentioned in another issue, progressively adding things like `deploy firebase` would go a long way.

[2016-02-23 20:03] daffl commented on #536
An audit of all dependencies and not pulling in optional dependencies would definitely help. I created https://github.com/donejs/donejs/issues/540 for the deploy.

[2016-02-23 21:34] daffl commented on #282
I started working on this.

[2016-02-23 23:19] #467 closed, assigned to nobody

[2016-02-24 14:07] matthewp opened #542 "0.7.0 Release"
This is complete, everything is passing.

<img width="1156" alt="screen shot 2016-02-24 at 9 05 32 am" src="https://cloud.githubusercontent.com/assets/361671/13287621/ed203912-dad5-11e5-8258-d9fe08bee1ce.png">

<img width="1081" alt="screen shot 2016-02-24 at 9 05 45 am" src="https://cloud.githubusercontent.com/assets/361671/13287624/efa01ab8-dad5-11e5-8d5e-3b6da884fddf.png">

[2016-02-24 18:05] matthewp opened #543 "Initing a camelCased project won't start"
[code]

Will write out `hello-world` in the package.json, but leave it as `helloWorld` in the index.stache imports. This causes the app to fail to load.  Do we need to convert to the kebab casing?

[2016-02-24 22:04] phillipskevin opened #545 "Quick start guide should link to prerequisites ~1"
If you jump right to the Quick Start guide, you won't realize there steps that should be done first.

It would be nice to have a link from the "Setup" section of the Quick Start Guide to this page: https://donejs.com/SettingUp.html

[2016-02-24 22:40] #538 closed, assigned to nobody

[2016-02-25 01:12] daffl opened #546 "CI fails sporadically"
Today I merged a couple of documentation changes and the builds keep failing sporadically in different Node versions. See https://travis-ci.org/donejs/donejs/builds

@matthewp any ideas why? Looks like it just stops and times out.

[2016-02-25 17:34] matthewp commented on #546
Looking into it.

[2016-02-25 20:21] matthewp commented on #546
Made an improvement by upgrading the Firefox version in Travis. But let's keep open for now.

[2016-02-26 18:27] daffl commented on #542
It's out so we can close this.

[2016-02-26 18:27] #542 closed, assigned to matthewp

[2016-02-26 18:28] daffl commented on #543
Yes. I will work on this with some other generator tweaks today.

[2016-02-26 18:32] daffl commented on #524
Yesterday at the meetup I verified that this works. Please reopen if it is still happening and you have more info.

[2016-02-26 18:32] #524 closed, assigned to nobody

[2016-02-26 18:36] daffl opened #549 "Add option to generate app without SSR ~3"
This came up many times before (latest https://github.com/donejs/donejs/issues/519) and although you can just open `development.html` it is fairly easy to add to the generator. It should ask if you would like server side rendering and if not, disable pushstate routing, start development mode with the new `--static` flag and add an `index.html` file for production.

[2016-02-26 18:52] phillipskevin commented on #549
Will there then be a `donejs add ssr` for people who change their mind?

[2016-02-26 19:33] daffl commented on #549
I've been thinking more about the `donejs add` functionality and it should be possible. I'd like to have things like `donejs add mocha` as well but that definitely will require some changes.

[2016-02-26 20:02] phillipskevin commented on #543
Same problem if you do `donejs init World`.

[2016-02-26 22:05] #543 closed, assigned to daffl

[2016-02-26 23:48] justinbmeyer commented on #549
I don't think we should ask people this.  I think we ask them too many package.json questions already.

[2016-02-26 23:50] justinbmeyer commented on #519
@James0x57 once the cookie stuff lands, maybe you can point @robertheessels at how SSR works with authentication.

[2016-02-27 06:03] daffl commented on #549
If we'd make a DoneJS FAQ this is definitely the most commonly asked question. I'd rather throw out some of the `package.json` questions.

[2016-02-27 14:48] justinbmeyer commented on #549
It still shouldn't be a config. We already produce the HTML files.

Sent from my iPhone

[2016-02-28 02:36] justinbmeyer opened #551 "h4s are bigger than h3s on tablet / mobile"
Go ho here: https://donejs.com/bitballs.html#section=section_Getting_creating_ordestroyingasession

scroll up a bit.

You'll see something like this.  "Getting, creating, or destroying a session" is an h3.  "Getting the session" is an h4.

<img width="671" alt="donejs_-_bitballs_app_and_full_frontal_with_samantha_bee_-_episode_3_-_tbs" src="https://cloud.githubusercontent.com/assets/78602/13377085

[2016-03-02 01:14] justinbmeyer opened #552 "build error"
If you setup a new app in Windows with Node 5.7.0 and then skip to the [production build section](https://donejs.com/Guide.html#section=section_Productionbuild) you get the following error:

[code]

[2016-03-02 22:04] matthewp opened #554 "Change window-production baseURL behavior"
Instead let's make it be:

[code]

This is what it actually is.

[2016-03-02 22:05] matthewp commented on #554
Need to update guides.

[2016-03-02 22:21] matthewp commented on #554
To fix this just need to update the guide and remove the logic from can-ssr that sets the baseURL.

[2016-03-05 13:25] daslicht commented on #419
Is there meanwhile a solution to get code highlight and errors in Atom ?

[2016-03-05 13:34] justinbmeyer commented on #419
@daslicht not that I know.  But presumably you can use standard JS and handlebars highlighters.

[2016-03-05 13:50] daslicht commented on #419
ok thanks

[2016-03-07 15:35] #552 closed, assigned to matthewp

[2016-03-08 17:31] ramblinjan opened #555 "Firebase setup in guides does not work"
May require documentation updates if it isn't just a donejs-deploy problem.

With PMO, Firebase deploy does not work:
https://github.com/donejs/place-my-order/issues/92

Related issue in donejs-deploy:
https://github.com/donejs/deploy/issues/46

[2016-03-09 16:58] justinbmeyer opened #556 "Ubuntu 14.04 not installing"
http://pastebin.com/KBhYu2me

[2016-03-09 17:04] daffl commented on #556
This looks like a Linux permission issue. I just installed on my 15.04 Ubuntu VM and everything went through ok.

[2016-03-10 22:23] #282 closed, assigned to daffl

[2016-03-11 16:18] daffl commented on #556
You will either have to run `sudo npm install donejs -g` or use [nvm](https://github.com/creationix/nvm) which installs all Node versions local to the user.

[2016-03-11 16:18] #556 closed, assigned to nobody

[2016-03-11 16:21] daffl commented on #68
I think this should be fixed in the new done-ssr

[2016-03-11 16:21] #68 closed, assigned to nobody

[2016-03-11 17:10] mjstahl opened #558 "Mention of Divshot overlooked in the deploy section of the in-depth guide."
`Divshot's` should be replaced with `Firebase's`

[2016-03-12 16:48] justinbmeyer opened #560 "updatePosition called after details page has been navigated to."
I was editing stats for a tournament, then clicked the  "tournamenets" link.  I keep seeing this error:

[code]

This corresponds to updatePosition:

[code]

we need to make sure the component is destroyed correctly.

[2016-03-12 16:48] justinbmeyer commented on #560
wrong place

[2016-03-12 16:48] #560 closed, assigned to nobody

[2016-03-14 15:37] matthewp opened #561 "live-reload sometimes doesn't work when doing an npm install"
This is the root cause: https://github.com/strongloop/fsevents/issues/121

Using polling in the watcher will (probably) fix it, testing it now.

[2016-03-14 16:42] #558 closed, assigned to mjstahl

[2016-03-14 19:19] cherifGsoul opened #562 "Prompt users to choose ES6 or CJS ~8"
It would be a nice feature to prompt the user on `init` to choose to use ES6 or CommonJS modules, to keep this info for other generators I think about `done.json` or `.donerc` file that can hold configurations information.

[2016-03-14 21:15] pYr0x commented on #549
i am with david.
we should cover that user request!
an options makes sense for me.

the world is not only SSR.

[2016-03-14 21:18] pYr0x opened #563 "update doneJS Api documentation"
since can-ssr is moved to donejs-ssr and AppMap is not required anymore, the docs should be updated.
https://donejs.com/Apis.html#section=section_ServerSideRenderingAPIs

[2016-03-14 21:21] pYr0x opened #564 "update doneJS generators docs"
the new plugin generator should be added to
https://donejs.com/Apis.html#section=section_Generators

same with the generator generator ... and eventually the firebase one.

[2016-03-14 21:53] #555 closed, assigned to daffl

[2016-03-14 23:27] cherifGsoul commented on #509
Should this be real plural like:

`person => people`

or just put an `s` at end?

[2016-03-14 23:37] justinbmeyer commented on #509
real plural would be ideal.  There's probably decent node packages that help with this.

[2016-03-14 23:42] cherifGsoul commented on #509
@justinbmeyer I see [lodash-inflection mixin](https://www.npmjs.com/package/lodash-inflection) can do the work, any thoughts?

[2016-03-16 18:58] DesignByOnyx commented on #562
+1 -  I used the plugin generator for the can-mustache and can-ejs repos but had to manually convert everything to CJS.

[2016-03-18 12:58] matthewp commented on #563
Thanks for finding this.

[2016-03-18 23:35] justinbmeyer commented on #396
@matthewp is this closed?

[2016-03-20 11:59] justinbmeyer opened #567 "Training Notes and Issues"
- [x] The VM test has an `expectedSates` variable.  It should be `expectedStates`.
- [x] Somewhere in the guide it says `npm tests` instead of `npm test`.
- [ ] re-attachment of the restaurants page isn't working.  Try selecting a state, then you can't select any cities.
-  [x] when creating a supermodel, if you add a space before the url, you get strange errors. https://github.com/donejs/generato

[2016-03-21 12:40] matthewp opened #569 "0.8.0-pre build does not work"
one related issue: https://github.com/stealjs/steal-tools/issues/421

[2016-03-21 12:41] matthewp commented on #396
Only the donejs-chat guide test is running in CI.

[2016-03-21 15:41] matthewp commented on #569
This should be fixed, going to verify it.

[2016-03-21 15:43] matthewp commented on #561
This should be fixed, verifying.

[2016-03-21 15:46] CODE-REaD opened #571 "Specify required versions of Node and npm at beginning of Guide"
As an initiate to the DoneJS **[Quick Start Guide](https://donejs.com/Guide.html)**, I previously wrote:

I now notice that the **[Quick Start Guide](https://donejs.com/Guide.html)** is a subsequent step to the **[Setting Up DoneJS](https://donejs.com/SettingUp.html)** guide, which _does_ include required versions of Node and npm.  So it is a matter of ensuring the user encounters these guides in

[2016-03-21 15:58] CODE-REaD opened #572 "Setting Up DoneJS guide does not include Node installation instructions"
I was confused Saturday when after following the **[Setting Up DoneJS](https://donejs.com/SettingUp.html)** guide I could not run the npm command.  This was because I had not installed Node.  While the **[Setting Up DoneJS](https://donejs.com/SettingUp.html)** guide does specify that "First you need a recent version of Node.js," it does not furnish instructions for installing Node.js (though it gi

[2016-03-21 16:00] matthewp commented on #572
Makes sense, thanks!

[2016-03-21 16:04] CODE-REaD opened #573 "Typo in index.stache endures until donejs server reset"
**Environment:** AWS UNIX instance on Amazon's cloud.
**Issue:** Typo in index.stache displays in generated pages until DoneJS server is restarted.
**Details:**

According to [@marshallswain](http://forums.donejs.com/t/first-time-user-notes-on-quick-start-guide-part-1/188),

[2016-03-21 16:21] matthewp commented on #573
So this is can-import related, could this be the same bug as:

https://github.com/donejs/donejs/issues/470

??

[2016-03-21 17:21] matthewp commented on #554
Fixed in minor

[2016-03-21 18:19] matthewp opened #575 "PMO: live-reload doesn't work after you add the routes"
After you've created all of the base components and updated the routes and index.stache, it does not live-reload, but works fine after a browser refresh.

Only tried once, going to do it again to verify / debug.

[2016-03-21 18:45] matthewp opened #576 "npm run document doesn't work on Windows"
[code]

[2016-03-21 18:52] justinbmeyer commented on #576
What's the error?

[2016-03-21 18:55] matthewp commented on #576
I updated the original issue.  Note  that this is about running donejs' documentation, not a donejs apps.

[2016-03-21 19:12] matthewp commented on #576
Looks like the problem is that the README.md is not added to the docMap

[2016-03-21 20:03] matthewp commented on #576
The problem is this regex expecting unix paths: https://github.com/bitovi/documentjs/blob/master/lib/process/file.js#L102

[2016-03-21 20:06] matthewp commented on #576
This is blocking https://github.com/donejs/donejs/pull/566

[2016-03-21 20:52] matthewp commented on #575
Worked when I did it again. Going to assume I messed something up the first time.

[2016-03-21 20:52] #575 closed, assigned to matthewp

[2016-03-22 15:08] matthewp opened #579 "steal-socket.io uses can-wait to ignore"
This prevents the Order History page to finish in donejs 0.8.0-pre. Going to update steal-socket.io to use can-zone instead.

[2016-03-22 18:33] matthewp commented on #579
This was fixed.

[2016-03-22 18:33] #579 closed, assigned to matthewp

[2016-03-22 18:33] matthewp commented on #561
This is fixed.

[2016-03-22 18:33] #561 closed, assigned to matthewp

[2016-03-22 18:34] matthewp commented on #569
This works now.

[2016-03-22 18:34] #569 closed, assigned to nobody

[2016-03-22 18:34] matthewp commented on #554
This was verified.

[2016-03-22 18:34] #554 closed, assigned to matthewp

[2016-03-22 20:30] matthewp opened #580 "DoneJS 0.8.0 Release Checklist"
- [x] - Do releases of all subprojects in pre-release
- [x] - Release of donejs-cli 0.8.0
- [x] - Merge minor into master
- [x] - Release donejs 0.8.0
- [x] - Verify the site is updated
- [x] - Forum post with release notes
- [x] - Update chat.donejs.com to use 0.8.0
- [x] - Update place-my-order.com to use 0.8.0

[2016-03-23 06:35] BigAB opened #582 "Make generator directories configurable"
If a have a `src/components` directory:

When I run:

[code]

I should have a configuration option where to generate that component, so that I don't have to do things like make the module name `components/foo` and the tag name `foo`

[2016-03-23 12:23] matthewp opened #583 "Place My Order guide adds a breaking test"
After updating `test/test.js` we later add the `order/new` module which adds a breaking test. We should either fix this test during the guide or remove it.  The reason is that the Continuous Deployment step where you push to GitHub will not work until this test is fixed / removed.

[2016-03-23 15:38] matthewp opened #584 "Add code coverage to projects"
Here's a few that I'd start with:
- [x] - [generator-donejs](https://github.com/donejs/generator-donejs/milestones/Code%20Coverage)
- [x] - done-ssr
- [x] - steal-tools
- [x] - donejs/cli

[2016-03-23 16:28] #583 closed, assigned to nobody

[2016-03-23 16:40] matthewp commented on #580
Features:
- Sessions
- can-zone
- The Generator generator

[2016-03-23 16:44] daffl commented on #580
We probably don't want to advertise the generator generator until the general `donejs add` functionality in `0.9`

[2016-03-23 17:11] matthewp commented on #580
k

[2016-03-23 17:45] #563 closed, assigned to nobody

[2016-03-24 17:10] tomgreever opened #588 "Linked titles don't wrap on mobile"
On the Guides page on mobile, the titles (which are links) don't wrap onto another line and, therefore, extend off the page / device. https://donejs.com/Guides.html

![screen shot 2016-03-24 at 12 04 11 pm](https://cloud.githubusercontent.com/assets/326843/14024788/f9c60378-f1b8-11e5-905e-d53890eab7b5.png)

[2016-03-24 20:27] matthewp opened #590 "Dependencies installed can be different than what is in donejs-cli"
This was reported in gitter:

https://gitter.im/donejs/donejs?at=56f44b78d39de41b495d87b2

What's interesting is that most of the package.json is up-to-date, it's just the dependency list that is not.

[2016-03-25 13:14] matthewp commented on #530
@m-mujica close this if this is complete.

[2016-03-25 13:15] matthewp commented on #531
Assigning to you @m-mujica , would want to add: justin, david, myself.  Send email when the status changes (like when it goes from passing to failing or failing to passing).

[2016-03-25 13:16] matthewp commented on #531
Would prefer this to only happen when in the master branch, but that might not be possible.

[2016-03-25 14:19] #530 closed, assigned to matthewp

[2016-03-25 15:42] #531 closed, assigned to m-mujica

[2016-03-25 17:56] matthewp commented on #396
PMO part is missing, but has its own issues in #528 and #529.

[2016-03-25 20:15] matthewp commented on #584
Don't do done-ssr for now, it might be difficult because it spawns subprocesses to run tests.

[2016-03-25 20:17] matthewp commented on #590
Hey @tracer99, in the folder where you are initing from, do you have a `node_modules/` folder, and does that node_modules folder have a `donejs-cli` subfolder?

[2016-03-25 20:21] justinbmeyer commented on #590
I once found an error because the parent folder had a `node_modules` so parts of the CLI didn't work.

[2016-03-25 21:29] tracer99 commented on #590
I ran init in my home dir. I don't have a node_modules dir there.
Of note is that the directory I initialized the project already existed.
That directory did not have a node_modules dir or anything that would have conflicted. It was a boilerplate git project setup by our system.

[2016-03-28 12:12] matthewp commented on #590
@tracer99 Did the folder have a package.json by any chance?

[2016-03-28 12:28] #580 closed, assigned to nobody

[2016-03-28 12:28] #396 closed, assigned to matthewp

[2016-03-28 20:00] tracer99 commented on #590
Nope.

[2016-03-28 20:33] tracer99 commented on #590
I re-did an init on a clean install (not into an existing dir)
Just to be safe:

[code]

This is the package.json that was generated https://gist.github.com/tracer99/85d10956dc20a170fa55

[2016-03-29 09:29] JelmarBosscher commented on #588
Hi, Just came across this.
For anyone bothering fixing this.

In the I assumed compiled static.css theres the following css:

[code]

I have no knowledge of why this has been done and what changes it may affect or if this is still included because of older code.

But the `white-space: nowrap` should be removed or overwritten with `white-space: normal`.
This should fix it for this page.

[2016-03-29 12:07] matthewp commented on #590
Anything in the existing directory at all?

[2016-03-29 12:07] matthewp commented on #573
I think it's the same issue.

[2016-03-29 12:07] #573 closed, assigned to nobody

[2016-03-29 13:34] tracer99 commented on #590
We have a boilerplate new git project init on our git server. This is what it creates and what the dir had:

[code]

[2016-03-29 14:20] phillipskevin opened #595 "init does not create a project in 0.8.0"
Running `donejs init` does not create a project using DoneJS 0.8.0.

[code]

[2016-03-29 14:21] phillipskevin commented on #595
The `ls` at the end shows that the test-project folder is empty.

[2016-03-29 14:22] matthewp commented on #595
Do you have a node_modules folder at ../../../ ? I think this is a bug we've seen before and is not completely fixed.

[2016-03-29 14:25] phillipskevin commented on #595
Yes, apparently my home folder had a node_modules folder. If I delete that, the project is created correctly.

[2016-03-29 14:27] matthewp commented on #595
Ok, we need to get this fixed, going to assign it to @m-mujica since he is working on donejs-cli now.

[2016-03-29 16:23] justinbmeyer opened #596 "yo generators try to write to some global configuration"
this was breaking b/c of permissions, yo was trying to write to the users's local folder, but we should figure out a way of handling these errors.

[2016-03-29 20:41] matthewp opened #598 "done-fetch"
We should create a `fetch` module that polyfills the API on the client/server. In the future this will be the primary API for doing networks requests, not XHR. Will want to provide the same Zone caching as the xhr cache currently gives us.

[2016-03-30 14:59] #528 closed, assigned to matthewp

[2016-03-30 14:59] matthewp commented on #529
Fixed by #597

[2016-03-30 14:59] #529 closed, assigned to matthewp

[2016-03-30 15:00] matthewp opened #599 "Steal 0.16.0"
This will just be the bundle naming fixes that @pYr0x has helped get in. Making an issue here so we don't forget to make this part of DoneJS 0.9.0

[2016-03-30 21:00] matthewp opened #601 "Update guides for new donejs add command"
Both PMO and Quick Start, @daffl

[2016-03-31 12:45] tomgreever opened #602 "Feature comparison labels don't show on iPhone 6"
https://donejs.com/Features.html#section=__Featurecomparison
### On my iPhone 6:

![iphone](https://cloud.githubusercontent.com/assets/326843/14176009/5fbf9bd4-f714-11e5-9c85-f75eea92f083.jpg)
### On Chrome desktop:

![screen shot 2016-03-31 at 7 42 29 am](https://cloud.githubusercontent.com/assets/326843/14175994/50883f90-f714-11e5-9621-1555c3de28cf.png)

[2016-03-31 20:27] m-mujica commented on #595
Fixed in master.

[2016-03-31 20:27] #595 closed, assigned to m-mujica

[2016-04-02 19:55] phillipskevin opened #607 "Deprecation Warning shown incorrectly"
The deprecation warning for `donejs init` is shown even if you use `donejs add app`:

[code]

[2016-04-03 21:33] pYr0x commented on #598
what about https://github.com/github/fetch ?
create a fork?

[2016-04-03 22:08] matthewp commented on #598
This would likely use that under the hood, or more likely https://www.npmjs.com/package/isomorphic-fetch since it runs in Node as well.

[2016-04-03 22:09] matthewp commented on #598
This is all about Zones, starting in DoneJS 0.8.0 we now have XHR caching that prevents duplicate fetches from happening in the client (when server-side rendering). This issue is about bringing the same functionality to `fetch`.

[2016-04-04 13:11] m-mujica commented on #607
@phillipskevin that's weird, the `donejs add` callback [does not call](https://github.com/donejs/donejs/blob/0abb614321e1216b8504d32ce040d39035d71802/lib/cli/index.js#L14-L16) the deprecation notice function.

how can I replicate? did you install globally donejs from master?

[2016-04-04 13:27] phillipskevin commented on #607
I didn't spend a lot of time looking into it, but I thought it was just because `add` calls `init` here: https://github.com/donejs/donejs/blob/master/lib/cli/cmd-add.js#L18

All I did was install the latest from master and `npm link` it.

[2016-04-04 13:30] m-mujica commented on #607
Gotcha, that `init` is from `donejs-cli` it's not the same thing. I'm looking into it, but makes no sense to me.

[2016-04-04 23:26] daffl commented on #607
Can we double check this tomorrow?

[2016-04-05 15:41] justinbmeyer opened #609 "Make development.html use hashchange routing"
It might be possible to simply map `can/route/pushstate/pushstate` to "@empty".

[2016-04-05 15:43] justinbmeyer commented on #609
- this would go in the app generator's `development.html` template.
- it would add a script tag like:

[code]

[2016-04-05 16:14] pYr0x commented on #609
why not provide this info in the `system.envs` in the package.json?

[2016-04-05 16:18] matthewp commented on #609
@pYr0x I thought about this way as well, it would essentially be:

[code]

[code]

[2016-04-05 16:26] matthewp commented on #609
^ the downside to the above is that it adds noise to your package.json

[2016-04-05 16:42] pYr0x commented on #609
@matthewp for a build maybe we can provide to cleanup the package.json and write that clean object to the bundled file?
like we talked about `jsonOptions`

[2016-04-05 17:00] matthewp commented on #609
Maybe, but what I meant is that it creates visual noise when looking at your package.json that really only applies to one narrow scenario. I would probably just implement this with the script tag way since it isolates the change to the development.html file.

[2016-04-05 17:15] justinbmeyer commented on #609
@matthewp

This is a different environment than "window-development"?

I think this name would be a bit confusing.  What is the difference between "browser" and "window".  Both the browser and window do support pushstate.

I agree that it's nicer in the development file.

[2016-04-05 17:33] ilyavf commented on #609
@justinbmeyer: Why do we need hash over pushstate routing during development?

[2016-04-05 17:39] justinbmeyer commented on #609
@ilyavf during the majority of development, people can hopefully use `pushstate` and server-side rendering.  However, if bugs are introduced, server-side rendering might not work.  It's difficult to debug things in node.

So instead, we created `development.html` to run the application without server-side rendering.  But you cant really use a pushstate based app without server-side support.  So, w

[2016-04-05 17:55] ilyavf commented on #609
Thanks @justinbmeyer. Makes sense.

[2016-04-05 18:01] daffl commented on #607
I verified that this is working too. Closing this for now but we'll keep an eye on it once the official release is out.

[2016-04-05 18:01] #607 closed, assigned to m-mujica

[2016-04-06 18:38] ilyavf commented on #609
@justinbmeyer, I added the script tag, its working, but I only tested it manually.
Do we want an automated test for this issue? Like, generate a project, etc.

[2016-04-06 19:09] justinbmeyer commented on #609
@ilyavf it would be great to have a test, or make it part of the already existing integration test.  I suppose it could be as simple as opening up `development.html` after `donejs-chat` is finished using Zombie (or whatever @matthewp is using as a headless browser).  Then changing the hash to `#!chat` and seeing if the page updates correctly.

I'm sure @matthewp could give some pointers on how to

[2016-04-06 22:27] daffl opened #611 "0.9.0 CLI does not have the fall-through command"
So things like `donejs develop` do not work.

[2016-04-07 04:21] starlap opened #615 "donejs Quick Start Guide Firebase Configuration Issue"
**Syntax Errors When Configuring Firebase Deployment**

**Environment:**
Ubuntu 15.04
Node 4.4.2
Firefox

**Steps:**

_Guide Section_: Deploy.Configure Done JS
1. In the `package.json`,  add the following:

[code]

**Expected Outcome:**
Copying the guide's configuration for the Firebase deployment to package.json produces no syntax errors.

**Actual Outcome:**
Copying the guide's configuration for

[2016-04-07 05:02] starlap opened #616 "donejs Quick Start Guide Inconsistent Steps"
**Inconsistent Explanation of Expected Steps**

**Explanation:**
In sections
- Setup
- Messages

whenever a command elicits prompts, the guide reflects this, and provides guidance about the expected inputs to prompts.

**Expected Result:**

_Guide Section_ Cordova Install

The Cordova install prompts the user for input.  The guide reflects this and provides guidance about the expected inputs.

**A

[2016-04-07 12:19] matthewp commented on #576
This is fixed now.

[2016-04-07 12:19] #576 closed, assigned to nobody

[2016-04-07 12:20] matthewp commented on #503
Is this still broke?

[2016-04-07 13:11] justinbmeyer commented on #503
I will check.

Sent from my iPhone

[2016-04-07 14:24] matthewp commented on #615
Thanks, so should we just get rid of the outer `{ }`?

[2016-04-07 16:22] #611 closed, assigned to nobody

[2016-04-07 17:55] daffl commented on #207
This should be fixed in the latest release

[2016-04-07 17:55] #207 closed, assigned to nobody

[2016-04-08 18:18] starlap commented on #615
Hey!

That's what I would recommend, but maybe run it by Justin since I'm a
newb and I'm not sure how he wants to manage my bugs.

On 04/07/2016 07:25 AM, Matthew Phillips wrote:

[2016-04-08 19:33] starlap opened #617 "Error Encountered When Performing Cordova Build in donejs Quick Start Guide"
**Error When Performing Cordova Build in Ubuntu**

**Environment:**
Ubuntu 15.04
Node 4.4.2
Chrome

**Steps:**

_Guide Section_ Desktop and Mobile Apps.Cordova
1. Make sure latest version of Android Studio is installed
2. In the console, run `donejs add cordova`
3. In the console, run `donejs build cordova`

**Expected Outcome:**
  After the installation, we should see the emulator running the Cor

[2016-04-11 19:45] akagomez opened #618 "Need to restart the server to see file changes"
It seems to be isolated to files served via:

[code]

[code]

[2016-04-11 19:46] matthewp commented on #618
Are these listed under "system.bundle" in your package.json?

[2016-04-11 19:46] matthewp commented on #618
Like this: https://github.com/donejs/bitballs/blob/master/public/package.json#L64

[2016-04-11 19:47] akagomez commented on #618
Nope. I'll give that a go.

[2016-04-11 19:49] akagomez commented on #618
Darn. That didn't do it for me.

[2016-04-11 19:50] akagomez commented on #618
Wait! Just realized I may have had it in the wrong place.

[2016-04-11 19:52] akagomez commented on #618
Nice! It doesn't live reload, but it does serve up the latest when I refresh (which is far more important).

[2016-04-11 19:54] matthewp commented on #618
It definitely should live reload. If you're changing a module listed under `bundle` that should live-reload just like any other module.

[2016-04-11 20:09] akagomez commented on #618
I'm seeing another issue now that seems related. My `component.js` files aren't being run. I think something's not resolving in my LESS.

[2016-04-12 12:18] matthewp commented on #618
This should be fixed by https://github.com/canjs/can-fixture/pull/25, reopen if not.

[2016-04-12 12:18] #618 closed, assigned to nobody

[2016-04-12 15:01] matthewp opened #619 "Nested less dependencies do not live-reload"
### module.js

[code]
### module.less

[code]

If **other.less** changes it will not be reflected in live-reload either on the client or server. Effectively meaning the only way to see the changes is to restart the server (or use development.html).

[2016-04-12 15:04] matthewp commented on #619
The problem is that these nested less files are not part of the steal dependency graph; steal does not know about them.  The only way I can see to fix is to make all less files part of the dep graph, make them be treated as dependencies by adding an instantiate hook.

[2016-04-12 21:30] daffl commented on #584
This should be mostly done now right?

[2016-04-12 22:31] matthewp commented on #584
Yep.

[2016-04-12 22:31] #584 closed, assigned to m-mujica

[2016-04-13 15:22] daffl opened #623 "Enable NW tests in Windows"
See https://github.com/donejs/donejs/pull/622 for why they are turned off.

[2016-04-13 19:42] #601 closed, assigned to daffl

[2016-04-14 19:49] justinbmeyer opened #625 "DoneJS Governance"
I would like to formalize how DoneJS make decisions and make decision making more democratic.  DoneJS, CanJS, StealJS, FuncUnit, Syn, and jQuery++ would all fall under this process. (@daffl let me know if you'd like to see Testee fall officially under this family.)

There's a lot of people using this tech and contributing to it.  I shouldn't be the only deciding factor anymore.

I'm proposing we w

[2016-04-14 19:54] matthewp commented on #625
Where should RFCs be posted?

[2016-04-14 19:56] justinbmeyer commented on #625
Probably as issues in their corresponding project.  We can add an RFC tag.

[2016-04-14 20:25] akagomez commented on #625
Is this to say that you'll be wearing two hats then? One as the moderator, and the other as a "champion"?

[2016-04-14 20:30] matthewp commented on #625
I'm confused as to what separates a "Feature Request" issue and an "RFC" issue.  I think the latter should be relegated to DoneJS level changes, where as a normal CanJS user should not have to worry about this formality. But then again the boundaries are already grey. Ember doesn't have to worry about this as they are not trying to make Ember Data standalone.

[2016-04-14 20:31] matthewp commented on #625
@akagomez What is a moderator? I don't see that in the issue.

[2016-04-14 20:34] akagomez commented on #625
@matthewp It wasn't explicitly stated, but I assumed a similar role to the one @justinbmeyer currently plays. Plus the added responsibilities outlined in the issue.

[2016-04-14 20:36] matthewp commented on #625
I think the idea is to get rid of the BDFL role, so there would be no moderator. Just core team members with a vote.

[2016-04-14 20:41] akagomez commented on #625
I may have not been clear. What I meant was, @justinbmeyer will continue to lead the meetings, but separate his opinion as a core developer from his role duty as the meeting host, attendance taker, and vote counter, etc.

[2016-04-14 21:54] cherifGsoul commented on #625
At first glance I think this is good idea, the only problem that we can face is there's many seperated projects (CanJS itself is divided now) I wonder if we will not be lost if the number of RFCs grows

[2016-04-14 22:15] justinbmeyer commented on #625
@akagomez Those roles are impossible to truly separate.  I'm one person after all.  However, by not being BDFL, it will hopefully encourage more people to share their voice.  A US president has the most powerful voice, but doesn't stop people from sharing their opinion because they all have an equal vote.

I'm removing myself from unilateral decision making.

[2016-04-14 23:09] daffl commented on #546
After #622 this seems to be solved. I created #623 as a follow-up issue for that.

[2016-04-14 23:09] #546 closed, assigned to matthewp

[2016-04-15 06:51] starlap opened #626 "User Issue-Inconsistent Visuals in DoneJS Guide"
**Inconsistent Visuals In The Guide**

**Explanation:**
At some points in the guide, there is a blue border that seems to be giving tips to the user.  There are only a few times when this is used but there are many other times when the user is given tips. This seems inconsistent.

The first three examples show the blue border/info sections versus some other "tips" sections that did not have a blue

[2016-04-15 19:11] akagomez commented on #619
@matthewp Will adding these files to Steal's dependency graph fix this issue also? https://github.com/stealjs/steal-less/issues/18

[2016-04-15 19:39] matthewp commented on #619
I don't think so, I don't know why less is loading that file twice, could be a less bug or perhaps we are not implementing some sort of "this has already loaded" API, idk.

[2016-04-18 14:12] chasenlehara opened #627 "Wrong diff shown when adding Bootstrap"
In [this section](https://donejs.com/Guide.html#section=section_Addittothepage) of the guide, we add Bootstrap to our `index.stache` file, but the diff shows us adding the import for the view model instead of importing Bootstrap.
<img width="842" alt="screen shot 2016-04-16 at 9 39 46 pm" src="https://cloud.githubusercontent.com/assets/10070176/14585089/dda01a60-041b-11e6-9cbc-112fb89f3aca.png">

[2016-04-18 14:13] chasenlehara opened #628 "The src/home.component shouldn’t have the DoneJS logo header"
In [this section of the guide](https://donejs.com/Guide.html#section=section_Navigatebetweenpages), we instruct users to add the DoneJS header to the `home.component` template, but it’s already added in [another section](https://donejs.com/Guide.html#section=section_Addittothepage).

This diff shouldn’t have the `h1`:
<img width="884" alt="screen shot 2016-04-16 at 9 41 22 pm" src="https://cloud.g

[2016-04-18 14:15] chasenlehara opened #629 "The diff for updating src/index.stache to switch between pages is incorrect"
The diff in [this section](https://donejs.com/Guide.html#section=section_Navigatebetweenpages) should highlight `{{#eq page 'chat'}}` through `{{/eq}}`. Additionally, it doesn’t have the header we added in [this section](https://donejs.com/Guide.html#section=section_Addittothepage).

Right now it’s highlighting this:
<img width="844" alt="screen shot 2016-04-17 at 8 50 25 am" src="https://cloud.gi

[2016-04-18 16:38] cherifGsoul commented on #509
Test model names already in plural they should be singular https://github.com/donejs/generator-donejs/blob/master/test/supermodel.test.js#L100, should we force this convention even if the user make a plural model names?

[2016-04-20 13:32] matthewp commented on #625
We should have a template for RFCs, here's the one [ember uses](https://github.com/emberjs/rfcs/blob/master/0000-template.md)

[2016-04-21 17:01] justinbmeyer commented on #626
@starlap thanks for reporting.  Can you break these out into separate issues?

Regarding Issue #1 ...

Why are "Example No Border" considered tips? Why would they be in a blue "notice" section?

The way I look at those blue "notice" sections is that they are special asides.  The other content doesn't warrant the same level of special attention.

[2016-04-21 17:56] justinbmeyer opened #631 "re-attachment flash"
At this step: http://127.0.0.1:2020/place-my-order.html#section=section_Switchbetweencomponents

The <pmo-home> content wasn't shown until I refreshed.  It seems like SSR is also not working.  The homepage is not displayed.

[2016-04-21 19:17] justinbmeyer opened #633 "Update PMO guide and generators to use new store syntax."
- use set algebra
- use new store restful hookup
- use `store.getList` instead of `store.findAll`

[2016-04-21 19:25] matthewp commented on #631
Worked for me:

![screen shot 2016-04-21 at 3 22 11 pm](https://cloud.githubusercontent.com/assets/361671/14721607/3fa02414-07d5-11e6-9c2d-a8830810dda5.png)

<img width="871" alt="screen shot 2016-04-21 at 3 21 58 pm" src="https://cloud.githubusercontent.com/assets/361671/14721610/439bd6d0-07d5-11e6-9586-dcb82ccb6f45.png">

[2016-04-21 19:26] matthewp commented on #631
My guess is that the file watcher didn't get triggered. What version of OSX @justinbmeyer ?  Might need os version specific file watcher options because they can be more/less sensitive.

Going to try it again anyways.

[2016-04-21 19:27] matthewp commented on #631
I am seeing the reattachment flash though.

[2016-04-21 19:27] justinbmeyer commented on #631
OSX 10.11.2

[2016-04-21 19:57] daffl opened #634 "Changing the app view model does not live reload"
After creating and starting a new application with 0.9.2, when changing e.g. the message in `src/app.js` the page does not live-reload. A hard reload does show the change.

[2016-04-21 20:11] justinbmeyer opened #635 "PMO: Reverse "Setup a real-time connection"'s sections"
I think "update the template" should come before "adding real-time events to a model"  Let people see what they are adding real-time events to.

[2016-04-21 20:21] justinbmeyer opened #636 "Real-time not working right"
After ordering, and marking as preparing, the new order gets placed multiple times:

![place-my-order](https://cloud.githubusercontent.com/assets/78602/14723050/ace3aa24-07d4-11e6-9b59-ff1d41b13a7f.png)

[2016-04-21 21:51] justinbmeyer opened #637 "PMO - Cordova and NWjs images not showing up"
The banner image isn't showing up:

![iphone_6_-_iphone_6___ios_9_0__13a340__and_place-my-order_ _-bash_ _123x46](https://cloud.githubusercontent.com/assets/78602/14725323/eab4554a-07e0-11e6-98fb-d99178b07392.png)

Missing comes from:

[code]

and

[code]

But for some reason other images are:

![iphone_6_-_iphone_6___ios_9_0__13a340_](https://cloud.githubusercontent.com/assets/78602/14725359/21c7

[2016-04-21 21:54] justinbmeyer commented on #637
Also, the Order History Page has no data.  Could it be because `http` is the endpoint:

[code]

[2016-04-21 21:55] justinbmeyer commented on #637
In mobile safari, images are showing up, but order history is broken.  Checking that out.

[2016-04-21 22:50] justinbmeyer commented on #637
order history on mobile safari is working.  I was confused. The order-history page breaks in cordova.  It seems the requests are rejected.  Not sure why.

[2016-04-21 22:58] justinbmeyer opened #638 "PMO - Add set.algebra to order model"
As the set algebra isn't added, the requests for new, preparing, delivery, etc can't be combined.

[2016-04-21 23:08] justinbmeyer commented on #637
The same images problem exists in NW.js.  Updating title to reflect.

The Order History page works.

[2016-04-21 23:11] justinbmeyer commented on #637
Problem with orders page was I forgot to save `order.js`.  Bah.  Image url problem still exists.

[2016-04-21 23:23] justinbmeyer commented on #637
that solved the image url problem too.  Yarg.

[2016-04-21 23:24] #637 closed, assigned to matthewp

[2016-04-21 23:56] justinbmeyer opened #639 "PMO - Deploy to Heroku - Real time not working"
![place-my-order](https://cloud.githubusercontent.com/assets/78602/14727635/99902f9c-07f2-11e6-8619-652876e08e62.png)

This might be a known issue, but we aren't proxying the socket connection or changing the url it seems.

[2016-04-22 00:00] matthewp commented on #639
@justinbmeyer did you create the Procfile shown here? https://donejs.com/place-my-order.html#section=section_DeployyourNodecode

[2016-04-22 00:00] justinbmeyer commented on #639
@matthewp yeah

[2016-04-22 00:01] justinbmeyer commented on #639
I'll be pushing to my pmo repo in a moment.

[2016-04-22 00:10] justinbmeyer opened #640 "Simplify PMO deploy"
Ideally, it could look something like:

_previously in the CI section_

`donejs add travis`

Then in the Deploy section:
### static hosting on firebase
1. Sign up for firebase
2. Run `donejs add firebase <app-name>` ... this installs the firebase deploy, updates package.json.

remaining steps are the same.
### Deploy your node code
1.  Download heroku toolbelt, login/create.
2.  `donejs add heroku

[2016-04-22 00:18] justinbmeyer commented on #639
What I just merged for the CD step: https://github.com/justinbmeyer/place-my-order

[2016-04-22 00:20] justinbmeyer opened #641 "PMO - Allow people to enter their github and other accounts in the guide."
It would be really nice if I could say my github username is "justinbmeyer" and then all other places in the guide would be filled out.

I'll file this under pipe dream.

[2016-04-22 00:24] justinbmeyer commented on #639
Shows procfile:

![obscure-river-65999_ _resources___heroku](https://cloud.githubusercontent.com/assets/78602/14728020/aac24cba-07f6-11e6-960a-fa6748b93bfc.png)

[2016-04-22 00:25] justinbmeyer commented on #639
My app: https://obscure-river-65999.herokuapp.com/order-history

[2016-04-22 00:34] justinbmeyer commented on #636
fixed with can-connect 5.5

[2016-04-22 00:34] #636 closed, assigned to nobody

[2016-04-22 12:00] matthewp commented on #599
This was released.

[2016-04-22 12:00] #599 closed, assigned to matthewp

[2016-04-22 13:50] matthewp commented on #639
https://github.com/donejs/done-serve/issues/5

[2016-04-22 14:13] #631 closed, assigned to matthewp

[2016-04-22 17:53] starlap commented on #626
Hi Justin,

You're welcome!
I certainly can break these out into separate issues.

Regarding Issue #1:
That makes sense to me. Sounds good!

On 04/21/2016 10:01 AM, Justin Meyer wrote:

[2016-04-22 19:01] starlap opened #642 "User Issue- Confusing Wording Under Bootstrap Section"
**Confusing Wording Under Bootstrap Section**

**Explanation:**
In the Bootstrap section, the wording "The highlighted lines have been added or changed" was not immediately clear to me that I needed to make the changes shown in the example. In other, similar, parts of the guide, the user is told to "Update ________ to look like this"

**Examples:**

**Bootstrap Instructions**
![bootstrap_update](h

[2016-04-22 19:04] starlap opened #643 "User Issue- Highlighted Sections are Difficult to See"
**Highlighted Sections are Very Faint and Hard to See**

**Explanation:**
Throughout the guide the blue highlighted sections, that indicate commands to be edited, are very hard to see. At some screen angles, (a very upright angle) the blue highlights weren't visible at all.

**Example**

![faint-highlights](https://cloud.githubusercontent.com/assets/18269875/14552858/b72fbd4e-0296-11e6-8f07-09e692

[2016-04-22 19:05] matthewp commented on #643
Aren't these green?

[2016-04-22 19:15] justinbmeyer commented on #643
Does it seem like the highlighting is on the wrong lines in that example?

I think the colors are fine.  Maybe take a picture of a monitor that looks bad.

[2016-04-22 19:20] justinbmeyer commented on #642
@starlap I'm sorta confused what you mean.  It says right before that box:

Update `src/index.stache` to look like this:

[2016-04-22 19:20] justinbmeyer commented on #642
are you saying the box might distract users from the "update" message?

[2016-04-22 19:43] starlap commented on #642
Yes, that's probably a better way to put it.  It's a bit distracting.

[2016-04-22 20:55] matthewp commented on #639
This is working for me locally now (proxying to http://www.place-my-order.com/api)

[2016-04-23 23:15] ZebGirouard opened #645 "City Not Showing Up with NW on Ubuntu 12.04 on ChromeOS"
Hi guys,

Unsure if this is a reproducible issue for you (or if you care too much) since it seems to be unique to Unity running on ChromeOS.

The error I see on loading the NW linux64 place-my-order app is:

~/repos/place-my-order/build/place-my-order/linux64$ ./place-my-order
[16883:0423/170830:ERROR:browser_main_loop.cc(170)] Running without the SUID sandbox! See https://code.google.com/p/chromi

[2016-04-27 01:09] minsooshin opened #646 "Conflict with ES6 Map"
When we create a component by `donejs add component example example`, it creates javascript file (example.js). It has the line `import Map from 'can/map/';`. There is possibility this `Map` name can be conflict with `Map` of ES6.
Can we use different name for it such as `CanMap` for scaffolding?

[2016-04-27 14:00] justinbmeyer commented on #646
Yeah, I think this is probably a good idea.  Tools like JSHint also complain about it.

[2016-04-29 15:31] justthismorning opened #647 "SVGs inserted with use tag not displaying"
Inserting an svg with the `use` tag displays the svg when rendered from the server, but rendering from the client shows a container the correct size but does not display the svg.

This displays an empty space 70px square:
[icons.txt](https://github.com/donejs/donejs/files/242727/icons.txt)

[code]

This works as expected:

[code]

[2016-04-29 23:24] justinbmeyer commented on #619
@matthewp I know there's an api to associate multiple modules with one file (for `.component`).  Perhaps there should be another API to associate multiple files with one module.

[2016-04-29 23:35] matthewp commented on #619
We could use load metadata to list the files that should be associated. The watcher would then use this to know what the parent module is (the module that's actually part of the graph and needs to be re-executed).

[2016-04-29 23:51] justinbmeyer commented on #647
Moving to a canjs issue.

[2016-04-29 23:51] #647 closed, assigned to nobody

[2016-04-30 02:41] starlap opened #649 "Wrong Keyword in Update in In-depth Guide"
**Environment**
Ubuntu 15.04
Node 4.4.3 LTS
Chrome

**Wrong Keyword Used/Does Not Reflect the Keyword Listed in the User Console**

**Steps:**
1. Go to "Getting Date From the Server"
2. Go to "Add Data to the Page"
3. Go to the update box for `src/restaurant/list/list.js`

**Explanation:**
The keyword used in the update box is 'var' but the user's consul says "const", so the user has to update mor

[2016-04-30 02:43] starlap opened #650 "Confusing/Incorrect Update Instructions In In-Depth Guide"
**Environment**
Ubuntu 15.04
Node 4.4.3 LTS
Chrome

**Confusing/Incorrect Update Instructions in Guide**

**Steps:**
1. Go to "Setting Up Routing"
2.  Go to "Create a Loading Indicator"
3. Go to the update box for `src/loading.component`

**Explanation**
The elements in the box do not match what the user is seeing, before they are to edit the data.

**Example**

![elements_routing](https://cloud.g

[2016-04-30 02:44] starlap opened #651 "Confusing/Incorrect Update Instructions In In-Depth Guide"
**Environment**
Ubuntu 15.04
Node 4.4.3 LTS
Chrome

**Confusing/Incorrect Update Instructions in Guide**

**Steps:**
1.  Go to "Creating a Homepage Element"
2.  Go to the box that shows the elements to be updated in `src/home.component`

**Explanation**
The elements in the box do not match what the user is seeing, before they are to edit the data.

**Example**

![elements_update](https://cloud.git

[2016-04-30 02:46] starlap opened #652 "Loss of Styling When Back Button is Used in In-Depth Guide"
**The Styling of the "Order History" Tab Lost with Use of Back Button**

**Environment**:
Ubuntu 15.04
Chrome

**Steps:**
1. From the "Home" tab, click on the "Order History" tab.
2. From the "Order History" tab, hit the Back button.

**Expected Outcome:**
When using the Back button, all of the styling on the page will remain stable.

**Actual Outcome:**
When using the Back button, the styling of

[2016-04-30 02:47] starlap opened #653 "Default "Please choose an item" Message in In-Depth Guide"
**The Order Section Defaults to "Please Choose An Item" Error Message**

**Environment:**
Ubuntu 15.04
Chrome

**Explanation:**
The "Please Choose An Item" message is present, in the ordering section, immediately upon landing on the ordering page.  I wasn't sure if this was intentional.
![ezgif com-video-to-gif 4](https://cloud.githubusercontent.com/assets/18269875/14695019/d0e1470e-0722-11e6-86aa

[2016-04-30 02:49] starlap opened #654 "Blank Screen Occurs With Trailing Slash Addition to URL in In-Depth Guide"
**Blank Screen Appears With Use of Trailing Slash on ALL URLs except the Homepage**

**Environment:**
Ubuntu 15.04
Chrome

**Steps:**
1. Click on the "Restaurants" tab, from the homepage.
2. In the URL section, place a trailing slash at the end of the URL, and press enter.

**Expected Outcome:**
After adding a trailing slash to the "Restaurants" URL, the user should  be directed to the "Restaurant

[2016-04-30 02:50] starlap opened #655 "PMO: No Alt Attribute for Homepage Image in In-Depth Guide"
**There is no alt attribute for the homepage image.**
![homepage_image_alt](https://cloud.githubusercontent.com/assets/18269875/14694496/c936b67e-071d-11e6-82ea-27a7c9b39f7c.png)

[2016-05-01 01:59] justinbmeyer opened #656 "Training Notes and Issues"
- remove /api link (you can't click on it, throws an error)
- if you've never setup github before, you need to use https.  Maybe we should just show https.
- readme is missing two backticks `.

[2016-05-02 20:19] starlap opened #657 "Missing Information In Linux- In Depth Guide"
**Environment:**
Ubuntu 16.04 LTS
Firefox

**Missing Pieces of Highlighted Instructions While in Linux**

**Explanation:**
Several of the highlight boxes are missing instructions.

1) **Go to** [Building to iOS and Android](https://donejs.com/place-my-order.html#section=section_BuildingtoiOSandAndroid)

![buildingtoios_missing_highlight](https://cloud.githubusercontent.com/assets/18269875/14966485

[2016-05-02 20:25] daffl commented on #657
I can't reproduce on my virtual machine (but was able to before the fix). Did you clear the browser cache? This is what I am seeing in Ubuntu 15.04 on Chrome:

![screen shot 2016-05-02 at 1 23 23 pm](https://cloud.githubusercontent.com/assets/338316/14966843/4942630a-1069-11e6-8a23-69ef5fb3bf4a.png)
![screen shot 2016-05-02 at 1 22 38 pm](https://cloud.githubusercontent.com/assets/338316/14966844/

[2016-05-02 21:22] starlap commented on #657
Some of them appear to be cleared but I'm still seeing missing pieces.  I am on Ubuntu 16.04 Chrome.  This is a gif that shows my browser cache cleared and still seeing missing highlight boxes:

![missing info w cache clear](https://cloud.githubusercontent.com/assets/18269875/14968366/306cb74c-1071-11e6-838f-f7b3a05c3f27.gif)

[2016-05-02 23:09] minsooshin opened #659 "Run server throws error for undefined version"
I have created app with `donejs add app anniv`.
and changed port to avoid conflicts with another app I run.
and run application with `donejs develop`

[code]

[2016-05-02 23:18] matthewp commented on #659
Trying to recreate now.

[2016-05-02 23:29] matthewp commented on #659
Not able to recreate, you sure there's not something else running on that port? Or is there a node process that is hanging? On Linux/Mac you can do `ps aux | grep node` to see if there are node processes.

[2016-05-03 00:38] minsooshin commented on #659
@matthewp there are some node processes are going on for Atom IDE.

[2016-05-03 00:44] minsooshin commented on #659
@matthewp I found there is a running node process from another application. BTW, I cannot run `done-server` if I am running other node application? Still, I am having same error log even with stopping another node application.

[2016-05-03 01:40] minsooshin commented on #659
@matthewp I am sorry. This is not a bug. I made a mistake while I am generating the app with `donejs add app <appname>`. I put 4 for `NPM version used` question. I misunderstood it is `node version`. After I go with default value (2), no issue any more.

[2016-05-03 01:42] minsooshin commented on #659
I will close this issue since this is because of my mistake in generating process.

[2016-05-03 01:42] #659 closed, assigned to nobody

[2016-05-03 02:39] matthewp commented on #659
Hey @minsooshin, glad you figured it out. I'm going to try and recreate this step and see what happens, maybe we can do better error reporting when this occurs, at the least.

[2016-05-03 02:43] matthewp commented on #659
Just so you know, we pre-populate that field with the version of npm you are currently using, usually you can just click enter to that question.

[2016-05-03 19:49] daffl commented on #657
I just published another change which seems to be working for me on my VM and in Browserstack. Can you double check please?

[2016-05-06 18:43] starlap commented on #657
Hi David!  Sorry, I'm only in on Mondays and Fridays, so just now seeing this.
Unfortunately, I'm still seeing some areas where info is missing, though it seems to have cleared up some of the issues.  This is some of what I'm seeing on Chrome with my cache cleared:

**Missing Info**
![4 6_missing info](https://cloud.githubusercontent.com/assets/18269875/15082908/444a4692-137f-11e6-8e97-d662e3e0f6b

[2016-05-10 21:50] matthewp commented on #639
Going to close.

[2016-05-10 21:50] #639 closed, assigned to matthewp

[2016-05-11 03:12] matthewp commented on #619
**Update**: changed live-reload and steal-tools so that the `includedDeps` metadata property is used to know of dependencies that are not part of the normal dependency graph. Plugins can add this metadata and we'll watch for these files and trigger reloads when they change, just like for normal deps.

Next need to update the less plugin so that it sets this metadata for its nested dependencies and

[2016-05-13 22:21] matthewp commented on #80
This is for the steal.production we copy into the dist folder.

[2016-05-16 20:39] matthewp commented on #619
I have this working in a prerelease. If you update your dependencies to:

[code]

You can try it out. Will wait on some feedback before releasing.

[2016-05-16 20:39] matthewp commented on #619
cc @akagomez

[2016-05-19 15:25] matthewp opened #660 "Make a really good canjs/stealjs HMR plugin"
Discussed this some with @phillipskevin and others, it would be very nice if our HMR support was better. We have the underlying APIs in Steal, we just need a plugin that takes advantage.  We need to:

1) Before a reload event, save all of the component ViewModel states.
2) After reload is complete re-apply the states.

Anything else?

[2016-05-19 15:52] pYr0x commented on #660
what about this good plugin
https://github.com/whitecolor/steal-hmr
can we use it or expand?

[2016-05-19 16:05] matthewp commented on #660
That isn't a canjs plugin it as far as I can tell, right?

[2016-05-23 05:55] chasenlehara opened #663 "Update the Quick Start guide test to use donejs add firebase"
This section of the Quick Start guide test needs to be updated to use `donejs add firebase`: https://github.com/donejs/donejs/blob/852918d820ee740cc3b946f117186d0e9c90bcaf/guides/guide/test.js#L280-L309

[2016-05-23 16:17] chasenlehara commented on #540
I’ve started to help with this by adding this repo for `donejs add firebase`: https://github.com/donejs/donejs-firebase

Right now the 0.1.1 release just makes the required `package.json` modifications, but it can be expanded to include the Firebase code as well.

[2016-05-27 03:11] leoj3n commented on #619
@matthewp Seems to be working!

[2016-05-27 04:02] akagomez commented on #619
Somehow I completely missed the chatter on this. I'm stoked to give this a try. You're my hero @matthewp.

[2016-05-27 19:20] akagomez commented on #619
Doesn't seem to be working for me. Probably doing something wrong.

[2016-05-27 20:55] matthewp commented on #619
Note, that this doesn't solve the multiple load problem, I tried to recreate that here: https://github.com/stealjs/steal-less/issues/18

[2016-05-28 00:02] shubhamgupta28 opened #664 "Errors occur when app is built using Cordova"
# Environment:

MacOS X El Capitan
Chrome  50.0

Steps:
I have added Cordova according to the in-depth guide of place-my-order, inside my app, but still, while building the app using Cordova, several errors show up :

Here are the errors:
[code]

Please help!

[2016-05-28 15:44] chasenlehara commented on #515
I think this kind of information would be a great fit for the [Recipes section of the CanJS website](https://canjs.com/guides/BuildAnApplicationWithData.html).

If each project had a page with useful how-to info (Recipes, Common Patterns, etc.), then we could link to their pages from a page on the DoneJS website.

[2016-05-28 15:52] chasenlehara opened #665 "React version of the DoneJS Quick Start Guide"
I think it would be really helpful to have a version of the [Quick Start Guide](https://donejs.com/Guide.html) that shows how to use React with DoneJS.

[2016-05-31 15:32] bmomberger-bitovi opened #666 "Circular references in imports cause donejs to hang"
Environment: node 0.12.14, npm 3.9.0.

Repro steps:
- create a donejs component with a script that:
  - exports named items
  - imports another script, which imports a named export from the first script.
    This is packaged into an example donejs app here: [steal-cirdep.zip](https://github.com/donejs/donejs/files/291486/steal-cirdep.zip)
- Run `donejs develop` and navigate directly to that compon

[2016-06-01 20:21] matthewp commented on #666
Hey @bmomberger-bitovi !  So this happens only on the server, right?

[2016-06-01 20:25] bmomberger-bitovi commented on #666
That's the impression that I get.  Depending on your node version (and maybe node modules' versions?) it will either hang on the first page load with a circular dep, or it will immediately spinlock at 100% CPU usage on startup.

[2016-06-07 02:51] ilyavf opened #668 "Docs Features: broken link Server-side-rendering"
Clicking on Server-side-rendering which links to https://donejs.com/Features.html#section=section_ServerSideRendered__Howitworks__PreppingyourappforSSR does not work:

![image](https://cloud.githubusercontent.com/assets/1895948/15844485/b3877774-2c38-11e6-8ff5-ca9a76d6ca03.png)

[2016-07-06 18:45] ilyavf commented on #609
This issue is [fixed](https://github.com/donejs/generator-donejs/commit/03b5f521dcaa1ee89272996722a6303d4eb99239) in [generator-donejs #113](https://github.com/donejs/generator-donejs/issues/113)

To test the issue:
- generate project with `generator-donejs`;
- copy the test into the project test folder;
- update app files for the test (add routing and a button for navigation);
- execute project's

[2016-07-06 19:21] matthewp commented on #609
Yay!

[2016-07-07 01:43] starlap opened #672 "Confusing Updates to Script in PMO Guide"
**Environment**
Mac El Capitan
Chrome

**Confusing Updates to Highlighted Script Changes in PMO Guide**

**Steps:**
1.  Go to [Create the Order History Element](https://donejs.com/place-my-order.html#section=section_Createtheorderhistoryelement)
2.  Go to the box that shows the script to be updated in `src/order/history.component`

**Explanation**
Throughout the guide, there are instruction boxes

[2016-07-07 01:57] starlap opened #673 "Differentiation Between Consoles in PMO Guide"
**Environment**
Mac El Capitan
Chrome

**Differentiation Between Consoles in PMO Guide Text**

**Steps:**
1.  Go to [Test the Connection](https://donejs.com/place-my-order.html#section=section_Testtheconnection)

**Explanation**
Not differentiating between when an update is to be made in the **browser** console makes things confusing.

**Example**
[BrowserConsoleTextQuestion.pdf](https://github.co

[2016-07-07 23:47] starlap opened #674 "Text Errors in Instructions in PMO Guide"
**Environment**
Mac El Capitan
Chrome

**Text Errors in Instructions in PMO Guide**

**Text Error #1**
**Steps:**
1) Go to [Using the global test page](https://donejs.com/place-my-order.html#section=section_Usingtheglobaltestpage)

**Explanation:**
Correction to use of the word "tests" in instructions.

**Example**
[TextError_Test.pdf](https://github.com/donejs/donejs/files/353259/TextError_Test.p

[2016-07-07 23:56] starlap opened #675 "Conflict with Running Firefox While "Using a test runner" in PMO Guide"
**Environment**
Mac El Capitan
Chrome

**Conflict with Running Firefox While "Using a test runner"**

**Steps:**
1.  Go to [Using a test runner](https://donejs.com/place-my-order.html#section=section_Usingatestrunner)

**Explanation**
I was running the application in Firefox, initially, and when I ran this test, it gave me an error message that "Only one copy of Firefox can be open at a time".  It

[2016-07-08 10:54] matthewp commented on #675
I think in this case it might be fine to tell them to close Firefox before running the tests.

[2016-07-08 15:29] starlap commented on #675
Sounds good to me.

[2016-07-08 16:01] starlap opened #676 "Socket.io Error While Adding Real-Time Events in PMO"
**Environment**
Mac El Capitan
Chrome

**Socket.io Error While "Adding Real-Time Events to a model" in PMO**

**Steps:**
1.) Go to [Update the template](https://donejs.com/place-my-order.html#section=section_Updatethetemplate)
2.) Go to the bottom of that section that states "If we now open the order page we see some already completed default orders.

**Explanation**
After running the socket.io an

[2016-07-08 16:42] matthewp commented on #676
Hey @starlap what version of donejs?

[2016-07-08 16:49] starlap commented on #676
Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check https://xhr.spec.whatwg.org/.
3less-engine.js:780 extend ' .clearfix' has no matches
http://localhost:8080/socket.io/?EIO=3&transport=polling&t=LNBD9zZ Failed to load resource: the server responded with a status of 404 (Not Found)
http://localhost:8080/s

[2016-07-11 12:48] matthewp commented on #676
From looking at the test project you sent me, it looks like the start and develop scripts aren't updated to what they should be from [this step](https://donejs.com/place-my-order.html#section=section_Startingtheapplication).

[2016-07-11 16:24] starlap commented on #676
Ok, thanks.  I'll go in and see if I can get it working,

On Mon, Jul 11, 2016 at 9:49 PM, Matthew Phillips notifications@github.com
wrote:

[2016-07-12 13:27] matthewp opened #679 "Use non-blocking CSS"
Currently donejs does something which goes against [PageSpeed](https://developers.google.com/speed/pagespeed/) recommendations and inserts all of the css into the head as `<link>`s. This will block the page from rendering as these stylesheets are loaded.

We should change this and do a couple of things:
1. Inline "essential" styles directly in `<style>` tags. This might just be the main css bundle

[2016-07-12 14:11] Krakabek opened #680 "Can't access headers, returned by fixtures response"
Assume I have fixture like that

[code]

If I call `xhr.getAllResponseHeaders()` in success callback I get only `Object {Content-Type: "application/json", Accept: "application/json, text/javascript, */*; q=0.01"}`, and nothing about my `baz` header

[2016-07-12 14:13] matthewp commented on #680
Thanks, will take a look.

[2016-07-12 16:20] chasenlehara opened #681 "Upcoming Events page not up to date"
The [Upcoming Events](https://donejs.com/community.html) page is not up to date with the latest upcoming events.

<img width="870" alt="screen shot 2016-07-12 at 9 18 55 am" src="https://cloud.githubusercontent.com/assets/10070176/16774665/e6ae1294-4811-11e6-8332-5b0ccf94733d.png">

[2016-07-12 16:23] chasenlehara commented on #295
The Contribution Guide still isn’t up on the website.
<img width="468" alt="screen shot 2016-07-12 at 9 21 10 am" src="https://cloud.githubusercontent.com/assets/10070176/16774721/2529263a-4812-11e6-82b0-3d3b73bca29b.png">

[2016-07-12 16:31] matthewp commented on #680
Fixed in can-fixture 0.3.1

[2016-07-12 16:31] #680 closed, assigned to nobody

[2016-07-12 19:18] justinbmeyer commented on #679
If those styles are going to be used on other pages (that would not be reached via push state), I'm not sure #1 is good advice.

#2 doesn't make sense with server side rendering. You need CSS to load before people see HTML.

I think the best thing we could do is send the head/link tags out asap, and stream the rest later.

Sent from my iPhone

[2016-07-12 19:56] matthewp commented on #679
That's true, you need a size threshold to determine whether it is worth it. Small css can be inlined but larger should not be.

I think you still want to asynchronously load the CSS even if it is a larger file that becomes a link. Unstyled content is better than no content.  But this could be configurable perhaps.

[2016-07-17 21:05] chasenlehara opened #683 "Missing image in the Bitballs guide"
The [Behavior section](https://github.com/donejs/donejs/blob/066465b7dedcb76dee8cb14456147b4c40e99891/docs/guides/bitballs.md#behavior) has the text “PIC:admin view of users page” where an image is supposed to be.

[2016-07-28 19:20] matthewp opened #685 "PMO - Update firebase instructions to show the new console interface"

[2016-07-28 20:44] starlap opened #686 "Error While Launching the Simulator in PMO Guide"
**Environment**
Mac El Capitan
Chrome

**Error While Running the DoneJS Build Cordova Command to Launch the Simulator in PMO**

**Steps:**
1.) Go to [AJAX](https://donejs.com/place-my-order.html#section=section_BuildingtoiOSandAndroid__AJAX)
2.) Go to the bottom of that section that has the user run the command `donejs build cordova`

**Explanation**
After running the `donejs build cordova`command

[2016-07-28 22:11] starlap opened #687 "Firebase Website Has Changed and May Effect Deployment Instructions in PMO Guide"
**Environment**
Mac El Capitan
Chrome

**Firebase Website Has Changed and May Effect Deployment Instructions in PMO Guide**

**Steps:**
1.) Go to [Static Hosting on Firebase](https://donejs.com/place-my-order.html#section=section_StatichostingonFirebase)
2.) The instructions here tell the user to create an account and go to the Account Page to begin creating our app.

**Explanation**
Upon going to

[2016-07-28 23:02] starlap opened #688 "Blocked When Running the Deploy Application in the PMO Guide"
**Environment**
Mac El Capitan
Chrome

**Blocked When Running the Deploy Application in the PMO Guide**

**Steps:**
1.) Go to [Run Deploy](https://donejs.com/place-my-order.html#section=section_StatichostingonFirebase__Rundeploy)
2.)Run `donejs build'  in the terminal.
3.)Run`donejs deploy' in the terminal.

**Explanation**
Upon running `donejs deploy` in the terminal, the user is blocked by an er

[2016-07-28 23:03] starlap commented on #688
At this point, I can't go further with the deployment.

[2016-07-29 00:01] justinbmeyer commented on #688
@starlap make sure you've installed the latest version of donejs.  `npm install  -g donejs`

Also, when you include your environment, can you also include your version of node, npm, and donejs.

[code]

[2016-07-29 03:13] starlap commented on #688
Will do.  Thanks, Justin.
I figured out I hadn't named my Firebase project correctly.

[2016-07-29 12:01] matthewp commented on #688
Oh, was that the problem? There is a problem where if a user was using the old Firebase, the new cli tool is not compatible with the old version any more. They can continue to use `donejs-deploy` on existing projects, but `donejs add firebase` sets you up for the new Firebase console.  I think the best we can do there is add a note in the guides.

Taking this discussion to #687

[2016-07-29 12:01] #688 closed, assigned to nobody

[2016-07-29 12:02] matthewp commented on #687
That's right, the change in Firebase's UI is a breaking change. I'm going to update the guide to show images of the new console rather than the old one.

[2016-07-29 13:32] #687 closed, assigned to nobody

[2016-07-29 14:54] matthewp commented on #686
Hey @starlap, I wasn't able to recreate. Can you close your simulator (use cmd+q to force it to quit all the way) and try again?

[2016-07-30 19:26] matthewp opened #689 "can-import for bit-tabs not at the top of the file"
In the PMO guide:

![bit-tabs-import](https://cloud.githubusercontent.com/assets/361671/17272647/fd2ff760-5669-11e6-9ac2-552e4692271f.PNG)

[2016-07-30 19:27] matthewp commented on #689
We usually like to keep all imports at the top of the template so it's easier to spot what the template depends on.

[2016-07-30 19:52] matthewp opened #690 "PMO restaurant list demo page is missing highlighting in the Guide"
https://donejs.com/place-my-order.html#section=section_Updatethedemopage

[2016-07-30 20:00] matthewp opened #691 "PMO: Inconsistent template when updating the restaurant page in index.stache"
When updating index.stache it shows the previous template, but the template is not the same as what the user has:

[code]

This should have the `can-tag`.

[2016-08-01 15:56] #689 closed, assigned to nobody

[2016-08-01 15:56] #690 closed, assigned to nobody

[2016-08-01 15:56] #691 closed, assigned to nobody

[2016-08-06 03:21] Macrofig opened #693 "Convert Guides to Bit-Docs"
The documentation for Bit-docs is still early but I'm told it is not a huge undertaking to convert the guides.

[2016-08-06 03:22] Macrofig opened #694 "Add a "Copy" button to guides"
When stepping through the guides, it would be useful to be able to copy the text of a code block into the clipboard with a simple button.  I found this utility which seems pretty nifty: https://clipboardjs.com/

[2016-08-15 05:03] marshallswain opened #696 "Prerelease: v0.10.0-pre.1 live reload breaks on package.json changes."
In a freshly generated app, whenever I make any change to the package.json, whether directly or by installing a module, it gives the following error in the browser and donejs develop console.  The server has to be restarted to continue development.

[code]

[2016-08-15 14:44] matthewp commented on #696
If you replace this line: https://github.com/donejs/done-ssr/blob/can3/lib/startup.js#L46  instead of `"@ssr"` you do `loader.main` does that fix it?

[2016-08-16 03:55] marshallswain commented on #696
Nope.  It doesn't make any difference.

[2016-08-16 03:56] marshallswain commented on #696
I tried updating packages to see if it made any difference.  This is my current setup:

[code]

[2016-08-16 09:24] marshallswain opened #697 "DoneJS prerelease: using setVal with promises is broken."
I'm not sure where to file this.  Returning a promise from a getter is throwing the error below.  The ViewModel looks like this.  I'm using Promise.resolve to eliminate the Model as the possible cause of the error:

[code]

This template results in the error.  It probably has something with trying to iterate over a promise with #each.  (We should probably make it fail more gracefully when somebody

[2016-08-16 09:34] marshallswain commented on #697
This is a VM/template combination that renders the data properly:

[code]

And this in the template:

[code]

But for some reason, using `setVal` won't render the data.

[2016-08-16 09:37] marshallswain commented on #697
I've updated modules, so here's my current set of dependencies:

[code]

[2016-08-16 12:38] matthewp commented on #696
I couldn't recreate with those dependencies. It must be related to how you are using them. Can you reduce it down, by removing imports until the problem goes away, to isolate which one causes the issue? I would start by removing all of your can-imports in your index.stache.

[2016-08-16 14:01] marshallswain commented on #697
The first thing I thought when I woke up this morning was "Oh, I'm an idiot.  I'm probably returning the promise."  It turned out to be true, but removing the `return` before the promise didn't fix it, but it did send it into an infinite loop.  And I see the request for /accounts getting made over and over again.

[2016-08-16 14:36] marshallswain commented on #697
this.observation.get() is always undefined or an empty array, here: https://github.com/canjs/can-compute/blob/bbae2aad1f667cca9a9931ec4f9bf17e60b24d22/proto-compute.js#L365

[2016-08-16 18:53] tomgreever opened #698 "Highlighted code on Quick start is not correct"
This image supposedly highlights the lines of code that are to be updated, however they are incorrect.
![screen shot 2016-08-16 at 1 48 55 pm](https://cloud.githubusercontent.com/assets/326843/17711637/3275c840-63b8-11e6-889d-3816d0cd5214.png)

These lines already exist in the app at this point in the guide:
- `<can-import from="donejs-chat/app" export-as="viewModel" />`
- `{{#switch env.NODE_ENV}

[2016-08-16 19:27] tomgreever commented on #698
Looking at this some more, I think that other code block highlights are also off by two lines:
![screen shot 2016-08-16 at 2 26 29 pm](https://cloud.githubusercontent.com/assets/326843/17712862/85512f28-63bd-11e6-832a-92fb200eba42.png)

[2016-08-19 20:58] justinbmeyer commented on #697
This would almost certainly be a CanJS error.  Anyway you can create a test in can-stache?  There's a define-map test in stache.  I'm closing for an issue there.

It's odd for a property value to be a promise, and then when `setVal` is called, be something else.

[2016-08-19 20:58] #697 closed, assigned to nobody

[2016-08-25 12:42] tomgreever opened #699 "Component generator allows names that won't work"
When you do `donejs add component` the wizard allows you to input component names with only one word, like `cart` or `header` even though these names aren't allowed. All component tags have to be two words with a dash so that they don't conflict with existing HTML tags. The wizard should error if the user tries to input a single word, and message them to use at least two words separated by a dash.

[2016-08-25 12:48] matthewp commented on #699
Thanks, this is a bug for sure, moved it to the repo where this code is: https://github.com/donejs/generator-donejs/issues/143

[2016-08-25 12:48] #699 closed, assigned to nobody

[2016-08-30 10:28] matthewp commented on #679
[This tool](https://github.com/addyosmani/critical) can be used to extract above-the-fold CSS which we could use to attach to the `<head>` of the page:

[code]

[2016-08-30 15:21] indianscout opened #700 "Build Development APK"
**Question:** is it possible to build a develoment APK? _donejs build cordova_ command always builds a production APK - steal.production.js with minified and compressed asstes etc.
It would be very helpful for debugging purposes to able to build a NOT minified and compressed version.
This is very useful for debugging code related to cordova plugins like barcode-reader/geolocation/camera/etc. - whi

[2016-08-30 15:25] matthewp commented on #700
Hi @indianscout! You can turn off minify in your `build.js` file like so:

[code]

[Here](http://stealjs.com/docs/steal-tools.BuildOptions.html) is the full set of options for that second arguments to stealTools.build.

Does this answer your question?

[2016-08-30 17:07] DesignByOnyx commented on #679
I have a lot of experience doing this and getting a good rapport with PageSpeed is very difficult. Inlining critical CSS and deferring other CSS is really the only way. Pretty much anything that requires an http request before the DOMContentLoaded event fires (CSS `<link>`s and synchronous `<script>` tags) will cost you favor with PageSpeed. It basically wants your initial HTML payload to deliver

[2016-08-30 20:55] indianscout commented on #700
Seems to be the right direction, but does not work:
![image](https://cloud.githubusercontent.com/assets/7571099/18106406/d8dcc8a4-6f03-11e6-9d30-d906b8f61e26.png)

Here my _build.js_:

[code]

Any idea/hint why this does not work? THX

[2016-08-30 21:26] pYr0x commented on #700
@indianscout maybe this can help you.
i used gulp for building the APK

https://github.com/pYr0x/testapp
https://github.com/pYr0x/testapp/blob/master/gulpfile.js

[2016-08-31 20:01] indianscout commented on #700
@pYr0x: THX for the hint. Looks like a good way too. But since steal is shiped with donejs I'll give it another try.
@matthewp: my builds work now :-) The problem was that cordova build used the _www_ folder, but steal builds by default  into _build\cordova\www_. So actually I was building an APK from an old source and not the most recent one.

[2016-08-31 20:01] #700 closed, assigned to nobody

[2016-09-19 18:08] chasenlehara commented on #295
It’d be great if this guide showed how we use the [Difficulty - Easy](https://github.com/donejs/donejs/issues?q=is%3Aopen+is%3Aissue+label%3A%22Difficulty+-+Easy%22) label in our repos to make it easy for new contributors.

[2016-10-03 22:06] frank-dspeed commented on #693
Why should some one do this ?

[2016-10-03 22:07] frank-dspeed commented on #694
i agree this is usefull

[2016-10-03 22:08] frank-dspeed commented on #665
I agree this is usefull!

[2016-10-03 22:14] frank-dspeed commented on #679
i think its realy a good idea to add loadCSS Functionality but we should add a wrapper around it that accepts config like inline defer for each css that it loads also the wrapper should be pushstate agnostic so that it still allows reaching inlined and not inlined css files

[2016-10-03 23:07] justinbmeyer commented on #693
Because bit-docs can easily share functionality with other repos like code-block line-highlighting.

Sent from my iPhone

[2016-10-03 23:08] justinbmeyer commented on #665
Frank,
  Thanks for your enthusiasm. I agree. Can you use thumbs up feature to suggest agreement. Thanks!

Sent from my iPhone

[2016-10-07 17:44] BigAB commented on #665
I'm assigning myself to this to show I want to work on this when the time comes

[2016-10-12 01:04] frank-dspeed opened #702 "Sorry but donejs add app is inacceptable!"
I have done the last few days many donejs related projects sometimes i don't know why the process takes realy realy realy much to long it needs refactoring if you don't address that i will fork donejs complet.

[2016-10-12 01:07] frank-dspeed commented on #702
292M    .
node_modules folder !!!!

837 items thats not possible realy it isn't

[2016-10-12 01:17] marshallswain commented on #702
@frank-dspeed I completely agree with you on it being a pain point to wait 5+ minutes to create a new app.  We've talked about creating a cache mechanism.  After seeing [yarn](https://yarnpkg.com/) today, I think it might be a good idea to build support for it.  I'd love to see starting a new project only take a few seconds.

I'm not really surprised with the size of the node_modules folder.  Ther

[2016-10-12 01:25] marshallswain commented on #702
Hopefully I'll get some time to play with this issue: https://github.com/donejs/generator-donejs/issues/147

[2016-10-12 01:50] justinbmeyer commented on #702
It does take a long time to install. But generally speaking, it's a one time cost. Why have you done it so many times?

Also, consider what you're getting by looking at the feature list. You'd create a similar size node_modules folder with any comparable solution.

Sent from my iPhone

[2016-10-12 01:58] justinbmeyer commented on #702
Closing for https://github.com/donejs/generator-donejs/issues/145

[2016-10-12 01:58] #702 closed, assigned to nobody

[2016-10-17 17:20] justinbmeyer opened #703 "DoneJS 1.0 Release"
- update apps
- update guides
- update generators
- fix bugs

[2016-10-18 01:00] justinbmeyer opened #704 "Event Stream Epic"

[2016-10-18 01:49] justinbmeyer commented on #77
I think this is done already?

[2016-10-18 01:55] justinbmeyer commented on #311
I'm going to close this as I don't think anyone else has reported it.

[2016-10-18 01:55] #311 closed, assigned to nobody

[2016-10-18 01:56] justinbmeyer commented on #329
@moschel is there something you're going to do with this?

[2016-10-18 01:57] #329 closed, assigned to moschel

[2016-10-18 01:58] justinbmeyer commented on #395
We should probably hit this on CanJS.

[2016-10-18 02:01] #380 closed, assigned to nobody

[2016-10-18 02:15] #609 closed, assigned to ilyavf

[2016-10-18 02:30] justinbmeyer opened #705 "Pick node version support"
Lets pick a good version of Node to support for 1.0.

Considerations:
- What people will be using when starting a DoneJS application.
- How much "extra" we have to install based on different node versions.
- Complexity of other node versions.
- Node operating system support.

[2016-10-18 02:49] #415 closed, assigned to nobody

[2016-10-18 02:53] justinbmeyer commented on #429
What question do you get asked specifically?

[2016-10-18 02:55] #456 closed, assigned to nobody

[2016-10-18 03:01] justinbmeyer commented on #598
@matthewp does this issue belong in `can-zone`?

[2016-10-18 03:02] #509 closed, assigned to nobody

[2016-10-18 03:03] justinbmeyer commented on #510
It's probably hitting SSR.

[2016-10-18 03:07] #513 closed, assigned to nobody

[2016-10-18 03:13] #518 closed, assigned to nobody

[2016-10-18 03:16] justinbmeyer commented on #533
Closing for https://github.com/donejs/generator-donejs/issues/102

[2016-10-18 12:27] matthewp commented on #598
Filed https://github.com/canjs/can-zone/issues/89

[2016-10-18 12:27] #598 closed, assigned to nobody

[2016-10-18 12:29] matthewp commented on #705
A big consideration would be what version their servers are using, since done-ssr has to run in production.

Would be interesting to hear what our users are using. I know of one company that uses Node 0.10 still I believe.

[2016-10-18 12:30] matthewp commented on #429
"How can I load fixtures only in dev".

[2016-10-18 13:14] justinbmeyer commented on #705
Uses only that version without allowing new apps to run different versions?

Sent from my iPhone

[2016-10-18 15:05] daffl commented on #705
I think the main consideration should be the official [Node LTS schedule](https://github.com/nodejs/LTS):

<table>
<tr>
  <th>LTS Status</th>
  <th>Release</th>
  <th>LTS Start</th>
  <th>Maintenance Start</th>
  <th>LTS End</th>
</tr>
<tr>
  <td><b>Maintenance</b></td>
  <td>v0.10</td>
  <td>-</td>
  <td>2015-10-01</td>
  <td>2016-10-31</td>
</tr>
<tr>
  <td><b>Maintenance</b></td>
  <td>v0.12</t

[2016-10-19 14:51] justinbmeyer commented on #549
@pYr0x

It should be :-).  It's a big part of the DoneJS sales pitch.

@daffl it's possible someone would still want pushstate routing.  Could we setup a server to serve up the right `index.html` so it points to steal correctly?  My guess is that people would replace this eventually, but it might be a useful example of how to make pushstate work.

[2016-10-19 14:56] #567 closed, assigned to nobody

[2016-10-19 15:54] frank-dspeed commented on #353
No you should not warn lol you should handle that maybe :) so that even that works ? :) +1

[2016-10-19 18:20] justinbmeyer commented on #615
I think we should add CanJS style highlighting.

[2016-10-19 22:03] justinbmeyer opened #706 "DoneJS 1.0 site update"

[2016-10-19 22:14] #626 closed, assigned to nobody

[2016-10-19 22:23] justinbmeyer commented on #638
Related: https://github.com/donejs/donejs/issues/633

[2016-10-19 22:26] #643 closed, assigned to nobody

[2016-10-19 22:27] justinbmeyer opened #707 "Update generators to use DefineMap and other CanJS 3.0 stuff"

[2016-10-19 22:28] justinbmeyer commented on #646
This will be closed by: https://github.com/donejs/donejs/issues/707

[2016-10-19 22:28] #646 closed, assigned to nobody

[2016-10-20 00:17] justinbmeyer commented on #650
I'm not sure what you mean by "before they are to edit the data" because it's only showing what the file should be updated to.  Perhaps you mean that the inserted area should include `<template>`.

[2016-10-20 00:18] justinbmeyer opened #708 "Use CanJS-style diff view in code examples"
Make sure the associated closed issues are fixed.

[2016-10-20 00:19] justinbmeyer commented on #650
Closing for https://github.com/donejs/donejs/issues/708

[2016-10-20 00:19] #650 closed, assigned to nobody

[2016-10-20 00:19] justinbmeyer commented on #651
Closing for https://github.com/donejs/donejs/issues/708

[2016-10-20 00:19] #651 closed, assigned to nobody

[2016-10-20 00:20] justinbmeyer commented on #653
intentional, thanks!

[2016-10-20 00:20] #653 closed, assigned to nobody

[2016-10-20 00:23] justinbmeyer commented on #654
Should we support a generic 404?  Or should we have a default case?

[2016-10-20 00:24] justinbmeyer commented on #655
Is this causing a warning?

[2016-10-20 00:29] justinbmeyer commented on #657
Probably closed by: https://github.com/donejs/donejs/issues/708

[2016-10-20 00:29] #657 closed, assigned to nobody

[2016-10-20 00:36] justinbmeyer commented on #673
command terminal vs browser console.

[2016-10-20 00:38] justinbmeyer commented on #672
Closed by: https://github.com/donejs/donejs/issues/708

[2016-10-20 00:38] #672 closed, assigned to nobody

[2016-10-20 00:40] #676 closed, assigned to nobody

[2016-10-20 00:57] #686 closed, assigned to matthewp

[2016-10-20 01:03] justinbmeyer commented on #698
Fix after: https://github.com/donejs/donejs/issues/708

[2016-10-20 01:17] justinbmeyer opened #709 "PMO: Upgrade to CanJS 3.0"

[2016-10-20 01:25] justinbmeyer opened #710 "Chat: Upgrade to CanJS 3.0"

[2016-10-20 03:00] matthewp commented on #707
There's a branch where they are using DefineMap.

https://github.com/donejs/generator-donejs/blob/can3/supermodel/templates/model.js

[2016-10-20 14:44] justinbmeyer opened #711 "Chat: Update Chat Guide"

[2016-10-20 14:45] justinbmeyer opened #712 "PMO: Update PMO Guide"

[2016-10-20 21:20] justinbmeyer opened #713 "DoneJS Evangelism"
- [ ] UX CanJS
- [ ] Meetup Content Pipeline
  - [ ] High Performance Apps with DoneJS
  - [ ] Bitballs - Expressive Restful Services
  - [ ] Haulhound - Rapid Real Time Prototyping
  - [ ] Object Oriented Functional Reactive Programming!
  - [ ] Fast data layers with set logic.
  - [ ] **Other StealJS talks?**
  - [ ] **Other CanJS talks?**
- [ ] Training Pipeline
  - [ ] CanJS TodoMVC training

[2016-10-23 16:51] justinbmeyer opened #714 "Image links to bitovi.com are broken"
With the migration to hubspot, images like:

https://www.bitovi.com/blog/wp-content/uploads/2016/02/Screen-Shot-2016-02-16-at-7.55.03-AM.png

need to point to:

https://www.bitovi.com/hubfs/Imported_Blog_Media/Screen-Shot-2016-03-09-at-2_47_43-PM.png

Broken pages: https://donejs.com/plugin.html (also https://donejs.com/generator.html)

Source pages with images: https://www.bitovi.com/blog/creatin

[2016-10-23 18:45] moschel opened #715 "Embedded JSBins are not working"
To see what I mean, go to https://donejs.com/Features.html and https://donejs.com/plugin.html and search in page for "jsbin". There are places in each page where the embedded jsbin is intended to show up, but instead, just a link to the jsbin page is showing right now.

[2016-10-23 19:33] #714 closed, assigned to moschel

[2016-10-26 06:57] frank-dspeed commented on #705
we can easy support 4+ i am into the ES7/8 Roadmap and know the Mozilla Roadmaps.

every one who uses node 0.10 0.12 should do npm install -g n and then n stable to upgrade to node 4 thats it. or n latest so node upgrades arn't a problem on any operating system the npm package n does that realy well. I am DevOps Special.

[2016-10-26 07:01] frank-dspeed commented on #705
but when you whant to do that you should add my proposed package updates for documentjs and testee as both contain dependencys that are realy outdated. So outdated that it don't installs on all systems :) simply compare the package.json of https://github.com/dssrv/testee and https://github.com/dssrv/documentjs

my versions are 100% working tested on all relevant systems as i use docker for testing

[2016-10-31 16:54] matthewp opened #716 "Tests breaking in CI"
Caused by this commit: https://github.com/canjs/can-simple-dom/commit/978914dd2bea5f7a5c0abfe82affaea66013d758

DoneJS has been implicitly using Babel forever because can-simple-dom makes babel the used transpiler. We need to make it be the transpiler in the generator by setting `system.transpiler`.

[2016-10-31 19:06] matthewp commented on #716
All fixed.

<img width="464" alt="screen shot 2016-10-31 at 3 06 36 pm" src="https://cloud.githubusercontent.com/assets/361671/19867796/a2738340-9f7b-11e6-9b84-6ecd4a2a85e5.png">

[2016-10-31 19:06] #716 closed, assigned to matthewp

[2016-11-01 14:20] justinbmeyer commented on #663
It seems like this has been done?

[2016-11-01 15:54] matthewp commented on #663
Does this issue mean we can get rid of donejs-deploy?

[2016-11-01 15:59] chasenlehara commented on #663
@justinbmeyer, this hasn’t been done. See the [same lines in master](https://github.com/donejs/donejs/blob/master/guides/guide/test.js#L301-L302) that update the `package.json` file with [the deploy configuration](https://github.com/donejs/donejs/blob/master/guides/guide/steps/16-cdn/deploy.json).

[2016-11-01 16:00] chasenlehara commented on #663
@matthewp, I don’t think this means we can get rid of donejs-deploy; it’s just for updating the tests to use donejs-firebase.

[2016-11-01 16:10] matthewp commented on #663
Isn't it true that if you use donejs-firebase you are not using donejs-deploy? Looking at the code that seems to be true: https://github.com/donejs/donejs-firebase/blob/master/default/index.js#L38-L39  I might be missing something though.

We would like to defer installing so many things up front on `donejs add app`, so getting rid of donejs-deploy would be great.

[2016-11-01 16:11] matthewp commented on #663
Oh sorry, this is about the tests!

[2016-11-01 16:15] chasenlehara commented on #663
Yeah, this is just about updating the tests.

If I understand how everything works together, then it’d be nice to have the Firebase logic from donejs/deploy in the donejs-firebase repo.

[2016-11-01 18:52] daffl opened #717 "Move donejs.com to gh-pages"
- [x] Create a Makefile similar to [this](https://github.com/canjs/canjs/blob/master/Makefile)
- [x] Point donejs.com to gh-pages

[2016-11-02 15:25] Sinjhin commented on #353
See https://github.com/donejs/generator-donejs/pull/150

[2016-11-05 17:55] frank-dspeed opened #719 "Proposal: Change TravisCI Tests to use Docker"
we should change the tests to use docker so we can use
trevor to run the ci tests local and be compatible i think also that the tests are more fast run able via docker.
faster tests means faster merge pull flow

https://docs.travis-ci.com/user/docker/

[2016-11-07 13:58] matthewp opened #722 "Guide tests are failing"
https://travis-ci.org/donejs/donejs/jobs/169962167

[2016-11-07 15:22] justinbmeyer opened #723 "November Evangelism"
Conferences:

 - 3/1 - San Fran - [ForwardJS](https://forwardjs.com/) - has workshops
 - 3/11 - [South Florida Dev Camp](http://www.fladotnet.com/codecamp/SpeakerRegistration.aspx)
 - 1/30 - 4/26 - [PeersConf](https://peersconf1.typeform.com/to/ANtii2)
 - ? - 5/24 - [Front-Trends](https://2017.front-trends.com/speaking-at-front-trends/) _Poland_

## Justin

Confirmed:

- 2016/11/16 - Chicago, IL [

[2016-11-07 15:44] matthewp commented on #722
Luckily this only happens in the test, not if you use `donejs add app` locally.

[2016-11-07 17:49] matthewp commented on #722
Fixed by https://github.com/bitovi/guide-automation/commit/a25f9b232fe15f2dab4c48b068c243d27b3f41f9

[2016-11-07 17:49] #722 closed, assigned to matthewp

[2016-11-10 18:33] ilyavf commented on #723
Maybe talk on a local meetup about testing apps that use websockets (socket.io).
- Example app could be a RESTful model that works over websockets.
- Show how to mock a socket connection (`can-fixture-socket`)
- Show how to use `can-fixture.store`

Posted the idea to the local Toronto meetup: https://www.meetup.com/torontojs/events/234101793/

[2016-11-10 19:07] m-mujica commented on #723
Talk at a local JS meetup https://www.meetup.com/Javascript-Chile/events/234590771/

It will be an intro to StealJS, something like the quick start, basic explanation of what StealJS, how to start with it, use an npm module and build the app.

The next one will be Dec 1, I sent an email already, will update the issue once it gets confirmed.

https://github.com/JavascriptChile/Meetups/issues/24

Up

[2016-11-10 19:39] matthewp commented on #723
## Matthew

Confirmedish:
- 1/7/2017 - StealJS training for [DoneJS: Raleigh-Durham](https://www.meetup.com/DoneJS-raleigh-durham/events/233079906/)

In Progress:
- Going to develop a can-zone talk based on the [intro to can-zone article](https://davidwalsh.name/can-zone).

[2016-11-14 15:22] obaidott commented on #723
Talk at Ottawa Javascript Meetup (http://www.meetup.com/Ottawa-JavaScript/) about DoneJS. Would probably do an "Intro to DoneJS" talk.

[2016-11-14 15:55] BigAB commented on #723
I'm in touch with:
- SaskJavaScript (SKJS) (https://www.facebook.com/groups/saskjavascript/)
- Regina Tech Community (http://www.regina-technology-community.ca/)

about doing talks about DoneJS, CanJS and Steal.

Nothing confirmed yet.

[2016-11-15 22:35] chasenlehara opened #724 "Developer Relations & Evangelism"

[2016-11-15 23:12] chasenlehara opened #725 "Metrics list"
Website sessions
- [x] CanJS
- [ ] DocumentJS
- [x] DoneJS
- [ ] FuncUnit
- [ ] jQuery++
- [x] StealJS

GitHub forks
- [ ] CanJS
- [ ] DocumentJS
- [ ] DoneJS
- [ ] FuncUnit
- [ ] jQuery++
- [ ] StealJS
- [ ] Testee

GitHub issues
- [ ] CanJS
- [ ] DocumentJS
- [ ] DoneJS
- [ ] FuncUnit
- [ ] jQuery++
- [ ] StealJS
- [ ] Testee

GitHub stars
- [ ] CanJS
- [ ] DocumentJS
- [ ] DoneJS
- [ ] FuncUnit

[2016-11-15 23:17] chasenlehara opened #726 "Create a new Developer Relations & Evangelism dashboard"
Ideally, it would contain most/all of the metrics from #725, but I think we can start off with the following fairly easily:

Website sessions
- [ ] CanJS
- [ ] DoneJS
- [ ] StealJS

GitHub forks
- [ ] CanJS
- [ ] DoneJS
- [ ] StealJS

GitHub stars
- [ ] CanJS
- [ ] DoneJS
- [ ] StealJS

GitHub watchers
- [ ] CanJS
- [ ] DoneJS
- [ ] StealJS

npm downloads
- [ ] can
- [ ] can-util
- [ ] donejs
- [

[2016-11-15 23:21] chasenlehara opened #727 "Look into creating a DoneJS blog from an announcements section on the forums"
Investigate whether we can create new topics in the DoneJS forums and have their content appear in a blog. The goal is to have one central place for our “long-form” announcements.

[2016-11-15 23:40] chasenlehara opened #728 "DoneJS.com audit"
Go through the website and look for broken demos & links, missing images & videos, spelling & grammar issues, accessibility issues, poor performance, etc.

[2016-11-16 00:35] matthewp commented on #728
👍 On accessibility, this is something we probably haven't put enough time into.

[2016-11-16 01:20] justinbmeyer commented on #725
I would only prioritize canjs, stealjs, and donejs for the time being.

Sent from my iPhone

[2016-11-16 20:03] justinbmeyer commented on #717
@daffl is this closed?

[2016-11-16 20:06] daffl commented on #717
It is indeed.

[2016-11-16 20:06] #717 closed, assigned to daffl

[2016-11-16 22:14] phillipskevin commented on #723
Feb 5th - StealJS Overview and light comparison to Webpack/RequireJS/SystemJS/Typescript module loader at [Software Development Community](http://www.meetup.com/SoftDev/)  .

[2016-11-17 02:20] nriesco opened #730 "Possible issue when switching branches"
Possible issue when switching branches

It seems that switching branches from a project somehow causes some sort of inconsistency.
It is hard to tell exactly what happened but this sequence could help:

[code]

As you might notice there is a strange pattern somehow related to production environment and switching branches. Development mode works sometimes but gets fixed easily.

Facts:

[code]

---

[2016-11-17 13:18] matthewp commented on #730
What do you mean by branches? Git branches?

[2016-11-17 14:41] nriesco commented on #730
I meant when switching from one branch to another: `git checkout master` => `git checkout testing`

[2016-11-17 14:50] matthewp commented on #730
So when you switch branches and try to run it (without building) you get problems? It is possible your `dist/` folder is being committed and when you switch branches you get an older/wrong dist folder?

[2016-11-17 19:11] justinbmeyer opened #731 "SSRing sites that make requests to external domains where cookies are needed"
Starting [here](https://gitter.im/donejs/donejs?at=582df1693f3946057acacd78) @web-mech brings up a use case where SSR didn't work.

Essentially, his app made requests to firebase.  This requests won't have the right cookie/auth privileges.

This issue is to discuss possible solutions, work arounds, or warnings we could add to make this situation better.

A few ideas off the top of my head:

### Al

[2016-11-17 19:20] matthewp commented on #731
I don't think the first idea is possible because as you mentioned the browser won't send the cookie to the server.

Any code can be ignored like this: http://v3.canjs.com/doc/can-zone.ignore.html

[2016-11-17 21:12] DesignByOnyx commented on #723
Reached out to [Denver Full Stack meetup](https://www.meetup.com/fullstack/) to talk about DoneJS and/or FeathersJS.

They are planning a meetup for January and are mulling over options. They asked that I reach out to them if I haven't heard back from them within a couple weeks. I have a calendar reminder set for Dec. 1st.

[2016-11-17 23:31] matthewp opened #732 "Deferring below the fold content"
Content that is below the user's viewpoint currently blocks rendering in DoneJS. This is because we wait for the page to be "ready" before rendering.

It makes sense that content below the fold could have deferred execution.

Here's a couple of approaches that I've thought of:

[code]

This would allow the user to put these tags wherever they want and gets execute in a `requestIdleCallback`.

Adva

[2016-11-18 00:08] chasenlehara opened #733 "JavaScriptMVC to DoneJS Guide"
A guide for migrating an existing JavaScriptMVC project to DoneJS would be helpful!

Request on Twitter: https://twitter.com/pvanb/status/794936461938278400

[2016-11-18 01:11] justinbmeyer commented on #732
How would this work with SSR? Some global default height?

Sent from my iPhone

[2016-11-18 03:45] nriesco commented on #730
I have the standard/default gitignore file:

[code]

but I even tried deleting dist, cache and build directories and would help running `donejs develop`

[2016-11-18 16:43] justinbmeyer commented on #731
cc @marshallswain is there something that JWT would help with?

[2016-11-18 17:01] phillipskevin opened #734 "Baseline PWA Support"
__tldr;__ create a new generator, available via `donejs add pwa` that makes your app into a PWA.

# The Problem

To make a mobile web app that is competitive with native apps you need a few basic things:

* The ability to add an app icon to the user's home screen.
  * The icon should be high resolution.
* Basic usage of the app when offline.
* A fast loading site.

Luckily DoneJS is way ahead of t

[2016-11-18 17:07] phillipskevin opened #735 "Exemplary PWA Support"
Meet the [Exemplary checklist](https://developers.google.com/web/progressive-web-apps/checklist#exemplary) for [Progressive Web Apps](https://developers.google.com/web/progressive-web-apps/)?

Most important will be handling offline support and providing hooks for developers to handle requests that were made while offline once back online.

[2016-11-18 19:11] chasenlehara opened #736 "2016-10 DoneJS Report"
This should include a summary of the monthly metrics from https://github.com/donejs/donejs/issues/726.

[2016-11-18 19:12] chasenlehara opened #737 "Review the Steal Migration Guide"

[2016-11-18 19:15] chasenlehara opened #738 "UX CanJS"
From https://github.com/donejs/donejs/issues/713

[2016-11-18 19:15] chasenlehara opened #739 "High Performance Apps with DoneJS"
From https://github.com/donejs/donejs/issues/713

[2016-11-18 19:18] chasenlehara opened #740 "Bitballs - Expressive Restful Services"
From https://github.com/donejs/donejs/issues/713

[2016-11-18 19:19] chasenlehara opened #741 "Haulhound - Rapid Real Time Prototyping"
From https://github.com/donejs/donejs/issues/713

[2016-11-18 19:19] chasenlehara opened #742 "Object Oriented Functional Reactive Programming"
From https://github.com/donejs/donejs/issues/713

[2016-11-18 19:19] chasenlehara opened #743 "Fast data layers with set logic"
From https://github.com/donejs/donejs/issues/713

[2016-11-18 19:21] chasenlehara opened #744 "CanJS TodoMVC training"
From https://github.com/donejs/donejs/issues/713

[2016-11-18 19:24] chasenlehara commented on #737
This issue was moved to stealjs/steal#925

[2016-11-18 19:24] #737 closed, assigned to chasenlehara

[2016-11-18 19:37] chasenlehara commented on #738
This issue was moved to canjs/canjs#2769

[2016-11-18 19:37] #738 closed, assigned to nobody

[2016-11-18 19:37] chasenlehara commented on #742
This issue was moved to canjs/canjs#2770

[2016-11-18 19:37] #742 closed, assigned to nobody

[2016-11-18 19:37] chasenlehara commented on #743
This issue was moved to canjs/canjs#2771

[2016-11-18 19:37] #743 closed, assigned to nobody

[2016-11-18 19:38] chasenlehara commented on #744
This issue was moved to canjs/canjs#2772

[2016-11-18 19:38] #744 closed, assigned to justinbmeyer

[2016-11-18 19:48] chasenlehara opened #745 "PMO Training"
From https://github.com/donejs/donejs/issues/713

[2016-11-18 20:02] chasenlehara opened #746 "Look for podcast opportunities"
Find podcasts that would be interested in having a core contributor on to talk about our tech and new release announcements, then contact them to schedule shows.

[2016-11-18 20:22] chasenlehara opened #747 "Establish a formal RFC process for changes"
Our [feature suggestion](https://v3.canjs.com/doc/guides/contributing/feature-suggestion.html) docs have some guidelines for creating feature proprosals, and link to some [awesome](https://github.com/canjs/can-event/issues/11) [examples](https://github.com/canjs/canjs/issues/1699) of requests, but a more formal RFC process could better guide community contributions. Higher quality proposals will a

[2016-11-18 20:36] chasenlehara commented on #713
@justinbmeyer, I created a bunch of issues for the individual tasks, should we close this one?

[2016-11-18 20:39] matthewp commented on #747
👍 I think this is important because it ensures that decisions are made in the open and allows interested parties to contribute their opinions.  It also prevents rushed decisions as the RFC process has several steps to it.

[2016-11-18 20:45] matthewp commented on #732
I'm not sure, maybe it wouldn't render at all on the server.

This idea could be more generic, actually.  The idea is basically deferred importing. Currently can-import starts importing right away.  What if it took an option to delay?

[code]

Here **start** (can debate the name later) is a boolean that controls when importing starts. It would be true by default and the user could delay importing

[2016-11-18 20:52] justinbmeyer commented on #747
I think this is a duplicate issue, or at least a secondary issue after  https://github.com/donejs/donejs/issues/625 is decided.

I don't think the core contributors need to comply with an RFC process unless "unanimous consent" has been violated.  Meaning, we can make changes without having to do an RFC unless its desired from the other contributors.

[2016-11-18 21:29] matthewp commented on #747
I don't see an RFC as a voting mechanism (although it can become that if there is disagreement) but rather as a more formal issue mechanism.  Too often issues can be understandable to no one but the person that writes them. An RFC is like an issue that has been edited for clarity and thoroughness.

Some (many) things wouldn't fall under an RFC, they are typically reserved for "substantial changes"

[2016-11-18 21:30] chasenlehara commented on #747
Thanks @justinbmeyer, I don’t think I had read through that issue before and it brings up a lot of great topics related to this.

I think any new features, changes to existing ones, or deprecations/removals should go through the RFC process. Basically. anything that would result in a minor or major version bump.

I believe it’s important for everyone, including core contributors, to comply with th

[2016-11-18 22:41] justinbmeyer commented on #747
@chasenlehara While I understand the desire, a process as formal as ember's would do more harm than good.  Something like CanJS 3.0 would have been greatly slowed up to comply with it.  Even now, changing **peak** to **peek** isn't something that should go through a formal review process.  It shouldn't take `7` days to turn around.  No one should have to submit a pull request to some other repo to

[2016-11-18 22:45] justinbmeyer commented on #747
I do agree with @matthewp that guidelines that solve the following would be helpful:

Generally speaking, I will simply clean up the proposal and even delete comments that are no longer relevant like I did in: https://github.com/canjs/canjs/issues/1699

[2016-11-19 03:21] marshallswain commented on #731
The `auth` config setting of [done-ssr](https://github.com/donejs/done-ssr#auth-cookie-domains) ~~is a step in this direction~~ will already allow this.  It currently only works with JWTs in Authorization headers, but I think it could be lightly tweaked to work with session ids placed into new cookies.  It basically works like this:

![ssr with auth](https://cloud.githubusercontent.com/assets/1288

[2016-11-19 03:42] marshallswain commented on #731
@matthewp and I also enabled the auth configuration as CLI params, so @web-mech should be able to enable authenticated SSR by adding the [`--auth-cookie` and `--auth-domains`](https://github.com/donejs/done-serve#--auth-cookie) flags to the `develop` script in the `package.json` of a DoneJS app.  The `done-serve` module will probably have to be updated for it to work.

[2016-11-20 13:40] frank-dspeed opened #748 "Proposal: Creation of CONTRIBUTING.md and Repo Infos"
We Should Define and create CONTRIBUTING.md with guidlines how to contribute to the Project.
as also Create folder .github and place ISSU and PULL Templates in it a good example for this is:

[Docker Repo](https://github.com/docker/docker/tree/master/.github)

[Contrib MD File](https://github.com/docker/docker/blob/master/CONTRIBUTING.md)

[2016-11-20 14:27] frank-dspeed commented on #713
@chasenlehara no this one is good it gave me a good overview :+1:

I could need infos how to attend i am not a google hangouts fan never used it :)
but i am doing at present steal-server to address the Issue #741

https://github.com/steal-server

maybe i should talk a bit about that as it will bundle steal-tools done and can ssr and serve into ->

a Single Webserver That can PreRender Steal Projec

[2016-11-20 17:02] matthewp commented on #748
cc @chasenlehara At the bottom of this page: http://donejs.com/community.html  it says "Contribution guide coming soon" but that hasn't happened yet.

[2016-11-21 07:14] chasenlehara commented on #748
Yeah @matthewp, we have an issue for the DoneJS contributing guide: https://github.com/donejs/donejs/issues/295

I had already filed an issue (in the CanJS repo) about adding issue and pull request templates: https://github.com/canjs/canjs/issues/2273. We haven’t had any more discussion about this but I think it’s a good topic. Thanks for bringing it up @frank-dspeed.

We should have this taken ca

[2016-11-21 07:26] chasenlehara commented on #713
Hey @frank-dspeed, I think @justinbmeyer had something different in mind with [#741 Haulhound - Rapid Real Time Prototyping](https://github.com/donejs/donejs/issues/741).

Since your steal-server project isn’t directly related to this issue’s original purpose, would you mind filing another issue (or posting in the forums)? I think your idea’s interesting and I’d like to hear more about what use ca

[2016-11-21 15:40] frank-dspeed commented on #713
## Deprecated in favor of DoneJS Plugins

no he can't have something other in mind we share the same vision that it would be cool to have a nice standart for coding killer apps in less time and bring them directly production ready to market but he is a Frontend Guru and don't thinks so much Backend stuff while i care most for backend stuff like DB Operations per Secund and Rendering Pages per Secu

[2016-11-21 16:30] chasenlehara commented on #726
Here are the docs for searching Stack Overflow, with an example search of all CanJS questions from November 2016: https://api.stackexchange.com/docs/advanced-search#fromdate=2016-11-01&todate=2016-12-01&order=desc&sort=activity&body=canjs&filter=default&site=stackoverflow&run=true

[2016-11-21 16:30] chasenlehara commented on #726
The GitHub API has forks, stargazers, and watchers: https://developer.github.com/v3/repos/#get

[2016-11-21 16:31] chasenlehara commented on #726
Twitter metrics require [adding Twitter as a data source](https://support.klipfolio.com/hc/en-us/articles/216181977-Use-Twitter-as-a-data-source), then using the [users/lookup](https://dev.twitter.com/rest/reference/get/users/lookup) endpoint to get the `followers_count` and `statuses_count`.

[2016-11-21 17:30] chasenlehara opened #749 "CanJS 3 release article"

[2016-11-22 22:07] matthewp commented on #747
@justinbmeyer I don't think anyone would suggest that changing *peak* to *peek* should require an RFC. It's usually reserved for "significant changes" which is something that we can define.

Issues are not good for big changes because:

* Issues are not threaded so they quickly become unreadable.  With a PR you can comment directly to the proposal, which keeps discussion to-the-point. When the aut

[2016-11-27 13:54] frank-dspeed opened #750 "Maybe broken dependencys vdom prerender."
As far as i saw and know it should use can-vdom as a extra module and not depend on can/util/vdom
anyway the file is not there i don't know how to fix it :dagger:

Package: can-vdom is installed and there but not in can/util

[code]

[2016-11-28 06:12] chasenlehara opened #751 "2016-11 Developer Relations & Evangelism"
Epic for November 2016 Developer Relations & Evangelism issues.

[2016-11-28 06:12] chasenlehara opened #752 "2016-12 Developer Relations & Evangelism"
Epic for December 2016 Developer Relations & Evangelism issues.

[2016-11-28 06:18] chasenlehara commented on #746
I’m closing this issue because this is in my regular schedule of work.

[2016-11-28 06:18] #746 closed, assigned to chasenlehara

[2016-11-28 06:31] chasenlehara commented on #724
All of the open issues in this epic have been moved out of it and have the “developer relations & evangelism” label applied. Each month, I’ll create a new epic for my work, e.g. [2016-11 Developer Relations & Evangelism](https://github.com/donejs/donejs/issues/751), which will make it easier to track what’s going to be done each month and my progress.

[2016-11-28 06:31] #724 closed, assigned to chasenlehara

[2016-11-28 06:34] chasenlehara opened #753 "2016-11 DoneJS Report"
This should include a summary of the monthly metrics from https://github.com/donejs/donejs/issues/726.

[2016-11-28 14:03] matthewp commented on #704
Can this be closed?