[2016-11-28 14:03] matthewp commented on #750
DoneJS is not currently compatible with CanJS 3.0.

[2016-11-28 14:20] justinbmeyer commented on #704
I'm waiting for bitballs to be finalized which is part of this epic.

Sent from my iPhone

[2016-11-28 14:28] frank-dspeed commented on #750
Now it is :) !!! I found out the right package versions :)
i am using at present the most current git packages and its working !

[2016-11-28 14:33] frank-dspeed commented on #750
@matthewp

[code]

[2016-12-01 03:56] phillipskevin opened #755 "Stache partials not working"
I added a stache partial to the index.stache of a brand new donejs project. Sometimes the app will load fine, but sometimes the browser becomes totally unresponsive.

Here is the relevant portion of my index.stache:
[code]

Everything else was unchanged.

[2016-12-01 04:01] justinbmeyer commented on #755
I don't think we should support this in DoneJS.  If someone wants a partial, put it in another file, and import it.  My brain hurts thinking about what would be going on trying to support this.

[2016-12-01 04:02] justinbmeyer commented on #755
We should make it clear that this use of partials, or any loading of stache from script tags is frowned upon and should only be used for demo/JSBin purposes.

[2016-12-01 04:19] phillipskevin commented on #755
I'm not sure if this is caused by the way the partial is registered. This is from a [gitter conversation](https://gitter.im/donejs/donejs?at=583f701c8e29aeee601b51c5). Registering using an ID was just the simplest one to try. I can try registering partials other ways and see if the same issue occurs.

[2016-12-01 04:47] marshallswain commented on #755
I've been using this method for partials: http://forums.donejs.com/t/using-2-3-binding-syntax-to-import-and-use-partials/22

[2016-12-01 15:13] phillipskevin commented on #755
Thanks @marshallswain. That's the same solution I gave on gitter, but I forgot there was a forum post about it (knew I must have gotten it somewhere).

I'm still not sure what the correct way to use actual stache partials is in a DoneJS app.

This doesn't seem to work:
[code]

@justinbmeyer maybe you can weigh in on what the correct solution is?

[2016-12-01 16:37] frank-dspeed commented on #755
isn't a component a stache partial at all? :)

[2016-12-01 16:47] justinbmeyer commented on #755
@phillipskevin Matthew's trick is the correct way.  Also, `.component` files are practically partials.  If what you have there doesn't work, I consider that a bug.  But maybe it's a CanJS bug?

[2016-12-01 21:37] chasenlehara commented on #736
This report has been moved to https://github.com/bitovi/bitovi/blob/master/great-technology/developer-relations/metrics/2016/10%E2%80%94October.md

[2016-12-01 21:37] #736 closed, assigned to chasenlehara

[2016-12-01 22:42] chasenlehara commented on #723
Quick report:
- @justinbmeyer gave two talks 🎉🎉
- @m-mujica is giving a talk right now 🎉
- @matthewp and @phillipskevin have talks confirmed(ish) for the start of next year
- @DesignByOnyx, @ilyavf, @obaidott, and myself are currently scheduling talks
- @BigAB is working on reviving the meetup groups in his local community

Gentlemen, please correct me if any of the above is wrong.

I’m working on

[2016-12-01 22:42] #723 closed, assigned to daffl, matthewp, DesignByOnyx, m-mujica, ilyavf, phillipskevin, chasenlehara, obaidott

[2016-12-01 22:48] chasenlehara commented on #751
12/14 issues and 29/77 story points were completed in this epic.
<img width="506" alt="screen shot 2016-12-01 at 2 44 09 pm" src="https://cloud.githubusercontent.com/assets/10070176/20815928/c4366e54-b7d4-11e6-8724-52449410e531.png">

I’ve moved two issues to the [December epic](https://github.com/donejs/donejs/issues/752):
- [Technical Highlights](https://github.com/canjs/canjs/issues/2496)
- [Cr

[2016-12-01 22:48] #751 closed, assigned to chasenlehara

[2016-12-01 23:02] phillipskevin commented on #755
I don't think there is an issue in CanJS. Partials worked fine when I tried in JSBin last night. I think either using `can-import` or `.component` files is good.

[2016-12-01 23:02] #755 closed, assigned to nobody

[2016-12-02 16:02] chasenlehara opened #756 "2017-01 Developer Relations"
Epic for January 2017 Developer Relations issues.

[2016-12-02 16:24] chasenlehara opened #757 "2016-12 DoneJS Report"
This should include a summary of the monthly metrics from https://github.com/donejs/donejs/issues/726.

[2016-12-02 20:49] chasenlehara commented on #753
This report has been moved to https://github.com/bitovi/bitovi/blob/master/great-technology/developer-relations/metrics/2016/11%E2%80%94November.md

[2016-12-02 20:49] #753 closed, assigned to chasenlehara

[2016-12-15 13:55] matthewp commented on #749
Can this be closed?

[2016-12-15 16:49] chasenlehara commented on #749
https://www.bitovi.com/blog/canjs-3-0-release

[2016-12-15 16:49] #749 closed, assigned to justinbmeyer

[2016-12-15 21:51] #685 closed, assigned to matthewp

[2016-12-16 15:59] #704 closed, assigned to obaidott

[2016-12-20 16:47] phillipskevin commented on #617
I think steal-cordova only supports emulators for `ios` and `android`: https://github.com/stealjs/steal-cordova/blob/master/lib/main.js#L88-L107.

donejs-cordova allows you to select `'ios'`, `'android'`, `'wp8'`, `'windows'`, `'amazon-fireos'`, `'blackberry10'`, `'Firefox OS'`, or `'Ubuntu'`. Should we just remove these other options? I don't know if there's much benefit in letting people build f

[2016-12-20 16:49] matthewp commented on #617
I vote get rid of if it can't be done generically.

[2016-12-20 17:35] phillipskevin commented on #353
This was fixed on `major` but not on `master` and so it was never released. Reopening while we get it put in the right place.

[2016-12-20 17:49] marshallswain commented on #353
I think this is what was breaking my demo page, here: https://github.com/stealjs/steal-react-jsx/issues/8

[2016-12-21 00:27] frank-dspeed commented on #747
i don't know what gets discussed here at present changes already taking to long i don't think that the team is even big enought to do RFC Flows and my issue thats linked to this is not as complicated and will not change the existing functionality or so called api sure it will change a lot internal but not for the user the commands stay the same and that. even functionality stays the same there is

[2016-12-21 00:29] frank-dspeed commented on #750
this can be closed by the way

[2016-12-21 00:29] #750 closed, assigned to nobody

[2016-12-21 00:29] matthewp commented on #747
Which issue?

[2016-12-21 00:32] frank-dspeed commented on #732
@matthewp your first suggestion fits best and as ssr is also not realy usefull for production and when only for something like ember fast boot.

It will be the best to simply let ssr don't render this as they are defered so its not even logical to render them on first response and server will not make a secund response to a single request :) :+1:

[2016-12-21 00:36] frank-dspeed commented on #747
@matthewp https://github.com/donejs/cli/issues/63

[2016-12-21 00:43] frank-dspeed commented on #747
@matthewp From Oct till now befor 3 hours branch major was not consistent to master and it was not even clear that this will get merged :D so now i can do a stable pull request to major kevin merged the master to major :100:

[2016-12-21 00:45] matthewp commented on #747
That would have been a perfect issue to do in an RFC. If you plan to make massive changes to a project it's good to get feedback on the impact. In this case you suggest getting rid of donejs-cli but donejs-cli exists for very specific reasons. We could have discussed this in an RFC and saved you from coding stuff that is unlikely to get accepted.

I hope when this process is in place you will subm

[2016-12-21 00:45] frank-dspeed commented on #747
and i think pull requests can replace RFC Simple pull requests should never get out of mind. and they are clean review able now ! ask @justinbmeyer about that he uses the review function already intensiv :+1:  in production :) at donejs/bitballs

[2016-12-21 00:47] frank-dspeed commented on #747
@matthewp the good thing is i don't need to worry about accepting that :) all people that use my project starter kids wich are like ionic starter kids that i plan to market don't need to depend on the donejs cli client :) and i also did new public donejs generators that any one will and can use :) so its simply something that i will contribute back to you it don't helps me if this gets merged or n

[2016-12-21 00:47] matthewp commented on #732
I'd prefer the flexibility of letting the developer make that judgment call based on their application's purpose. If I'm writing a news site I want the article to be SSRed 100% of the time. If I'm writing a chat application I don't need the chat messages to be SSRed (maybe, but our example chat app does ssr 😁).

So we could have a component like:

[code]

[2016-12-21 00:50] matthewp commented on #747
Ah, ok, from [this post](https://github.com/donejs/donejs/issues/747#issuecomment-268399532) it sounded like you did care. Must have misread it, I guess. Then everything's gravy, the RFC process doesn't affect you. 😊

[2016-12-21 00:51] frank-dspeed commented on #747
@matthewp my main project is a full xamarin compitor using atom and custom generators and custom atom modules to build something like xamarin but with much more nice stuff and much more rapid flows and also a big part of it is canjs integration :D because i like to use it for frontend applications.

So i offer a full IDE with DoneJS Support at present thats my main project but its only donejs supp

[2016-12-21 00:56] frank-dspeed commented on #732
@matthewp your app also does something other realy bad it adds rendered script tags and values directly to html wich opens a lot of hacker issues.

[code]

[code]

[2016-12-21 01:01] frank-dspeed commented on #732
@matthewp and i don't agree with your developer should choose syntax no ssr because it makes no sense when i set something to load if the page is idle i already choosed to not render that directly on response as also when i enter viewport so lets say 200px i already choosed to not load on inital response i want to get the view position of the browser its all clear already i think.

[2016-12-21 01:07] matthewp commented on #732
I don't understand any of this comment. I would put each point you plan on making in a separate sentence, maybe even separate paragraph so it's easier to understand each point.

[2016-12-21 02:40] justinbmeyer commented on #732
As the content is escaped, there should be no security issue. Inlining css or js is super common. It's on us to make sure the escaping is tight. But it's a very solvable issue. Every sql library and template engine does the same thing.

[2016-12-21 11:24] frank-dspeed commented on #732
@justinbmeyer thats right but it leads to the problem that not all developers know that they need to escape and parse that right and make sure that there are no variables that can be accessed or set via that in the wrong way. I think you know a lot about that and you know how fast there is a hole as we are all humans and there can be also problems with diffrent syntax even i am who is called secur

[2016-12-21 13:30] justinbmeyer commented on #732
Frank, developers DONT need to know about it because the framework handles it for them. They can't create a security exploit if the framework escapes correctly so they can be ignorant of it.

Sent from my iPhone

[2016-12-21 13:41] frank-dspeed commented on #732
if you think so :+1:  what about the rest @justinbmeyer any input about the syntax and no-ssr option?

[2016-12-22 15:17] phillipskevin commented on #707
This is done in [major](https://github.com/donejs/generator-donejs/tree/major).

[2016-12-22 15:17] #707 closed, assigned to phillipskevin

[2016-12-23 20:05] phillipskevin commented on #705
There is a poll here to help us make the decision: http://forums.donejs.com/t/node-version-support-for-donejs-1-0/517. Please fill it out if you're interested.

[2016-12-24 10:19] frank-dspeed commented on #705
extra info to communicate for people that have problems installing a newer node version
[code]
you can also use n lts, stable, latest, v7.1.0, 6.0.0 and so on thats it

[https://github.com/tj/n](https://github.com/tj/n)

[2016-12-30 08:18] frank-dspeed opened #758 "DoneJS: Introduction to Component Concepts for docs."
We need to point out component concepts (best practices)

- http://andrewhfarmer.com/react-ajax-best-practices/#2-container-components

we should also some how list diffrent methods for sharing data fully and partial between components.

[2016-12-30 15:33] chasenlehara commented on #758
@frank-dspeed, I think it makes more sense for this issue to be in either the main [CanJS repo](https://github.com/canjs/canjs) or the [`can-component` repo](https://github.com/canjs/can-component), depending on whether this would be a guide or in the `can-component` docs.

Also, if you have some specific suggestions, please add them to the issue.

[2016-12-30 15:47] chasenlehara opened #759 "2017-02 Developer Relations"
Epic for February 2017 Developer Relations issues.

[2016-12-30 15:48] chasenlehara opened #760 "2017-01 DoneJS Report"
This should include a summary of the monthly metrics from https://github.com/donejs/donejs/issues/726.

[2016-12-30 15:48] chasenlehara commented on #760
Issue moved to [donejs/developer-relations #1](https://github.com/donejs/developer-relations/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-30 15:48] #760 closed, assigned to chasenlehara

[2016-12-30 15:48] chasenlehara commented on #757
Issue moved to [donejs/developer-relations #2](https://github.com/donejs/developer-relations/issues/2) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-30 15:48] #757 closed, assigned to chasenlehara

[2016-12-30 15:51] chasenlehara commented on #759
Closed in favor of https://github.com/donejs/developer-relations/issues/3

[2016-12-30 15:51] #759 closed, assigned to chasenlehara

[2017-01-03 05:34] #752 closed, assigned to chasenlehara

[2017-01-05 15:39] marshallswain opened #761 "Using yarn in a DoneJS app requires --ignore-engines flag"
Any time I use yarn in a DoneJS app, I get the below error.  Here's the output from running `yarn add can-connect-feathers`

[code]

As a workaround, you can get it to work by passing the `--ignore-engines` flag:

[code]

I think that the offending `hawk` package might be a sub-dependency of Steal, but I'm not sure, yet.

[2017-01-05 16:46] matthewp commented on #761
You can do `npm ls hawk` to find out its heritage.

[2017-01-05 16:50] imjoshdean commented on #761
While I am 100% in favor of getting this fixed, a temporary work-around would be to add a `.yarnrc` file with the following:

[code]

[2017-01-10 02:39] chasenlehara commented on #681
@justinbmeyer, do you have any opinions on how we should store the upcoming events data, now that BitHub isn’t available?

[2017-01-10 02:42] justinbmeyer commented on #681
Probably manually update the DoneJS calendar with any events we know and make a feed from that.

[2017-01-10 16:19] justinbmeyer opened #762 "bitballs guide update"
- [ ]  update to latest
- [ ] update text

[2017-01-10 16:21] justinbmeyer opened #763 "Bitcentive Guide"

[2017-01-13 00:47] phillipskevin opened #764 "Code highlighting is off in Quick Start Guide"
The code highlighting is off by a couple lines in https://donejs.com/Guide.html:

![image](https://cloud.githubusercontent.com/assets/5851984/21914235/6b05a39c-d8f7-11e6-93a1-25298b6900be.png)

[2017-01-13 15:52] justinbmeyer opened #765 "Latest steal-socket.io breaks Chat guide"
It looks like re-attachment is failing with with latest `steal-socket.io@^4.0.8` on re-attachment on the `/chat` pages.

It works if I use `steal-socket.io@2.0.5`.

There are two fixes:

1.  Update the guide to point to `2.0.5`.
2.  Make `doneJS@0.9.2` work with `4.0.8`.

cc @matthewp @phillipskevin

[2017-01-13 15:53] matthewp commented on #765
Is there an error or does it just never finish?  If it just never finishes it's potentially a can-zone bug.

[2017-01-13 15:54] justinbmeyer commented on #765
no errors in the client.  No errors on the server it seems too.  Do you know what is different between 2.X and 4.X?

[2017-01-13 15:54] matthewp commented on #765
I have an idea of what it might be, I'll take a look.  Do you have an example repo?

[2017-01-13 15:55] justinbmeyer commented on #765
Ok, thanks! In the mean time, I'm going to update the guide to point at 2.X.  If you get a fix, then I'll delete the pull request.

[2017-01-13 15:56] phillipskevin commented on #764
I think we just need to update the highlighting lines for any of the templates changed with https://github.com/donejs/donejs/commit/066296635b5c90c08736e351c6006ff11d717e76.

[2017-01-17 21:49] phillipskevin opened #768 "Remove use of can-connect/can/tag/ from guides"
This might be called out somewhere else, but we should remove this kind of thing from the guides since this is not how 99% of applications will handle retrieving data from models:

[code]

[2017-01-17 22:04] matthewp commented on #768
I think this is a valid way to retrieve data, why do you dislike it?

[2017-01-17 23:54] DesignByOnyx commented on #768
I'm kind of with @phillipskevin on this. It's not that we should remove the functionality or remove the examples on the actual `tag` page - but most the time data won't be loaded this way. If you read our docs it feels like there's 15 different ways to do things (exaggerating) and there's no clear indication on which way is "right". Our docs should feel like they were written by the same person an

[2017-01-18 00:06] phillipskevin commented on #768
I'm not saying it's not a valid way to retrieve data, just that most apps won't do it this way and so I don't think we should show it this way 50% of the time in the guides.

[2017-01-19 20:08] #681 closed, assigned to chasenlehara

[2017-01-23 02:04] AltEDU2 opened #770 "[REQ] Inline CNAME compatibility"
Just a quick request!
Express.js has an extension that allows it to use CNAMEs...

[2017-01-23 12:28] matthewp commented on #770
Is this related to DoneJS? How?

[2017-01-24 14:03] #696 closed, assigned to marshallswain

[2017-01-24 19:20] matthewp opened #771 "Doesn't finish loading in NW.js"
There's an issue with the zone not completing when running under NW.js. They is related to the new 1.0 stuff, not the current DoneJS version.

[2017-01-24 20:53] matthewp commented on #771
This is caused by a can-zone bug.

[2017-01-24 20:54] matthewp commented on #771
https://github.com/canjs/can-zone/issues/106

[2017-01-24 21:10] matthewp commented on #771
Fixed by https://github.com/canjs/can-zone/pull/107

[2017-01-24 21:10] #771 closed, assigned to matthewp

[2017-01-25 14:30] matthewp commented on #711
Up to date.

[2017-01-25 14:30] #711 closed, assigned to nobody

[2017-01-25 14:32] #710 closed, assigned to matthewp

[2017-01-25 14:38] matthewp opened #775 "Production steal script tag doesn't work both locally and available via CDN."
With Steal 1.0 we now have steal.production located inside of the dist folder, so the script tag is:

[code]

However once you deploy to the CDN, the dist folder is the root, so it becomes:

[code]

In the chat guide I have the user manually change it. Of course that stinks. Need a better solution here.

[2017-01-25 15:37] matthewp opened #776 "When live-reloading after an npm install get an error in the console"
You get an error even though live-reload did work.

This was a bug in a previous version of DoneJS, so this is a regression.

[code]

[2017-01-25 18:38] matthewp commented on #775
@phillipskevin if you could, close this one when you do the generator change.

[2017-01-25 19:04] phillipskevin commented on #775
Ok, will do.

[2017-01-25 21:59] phillipskevin commented on #775
Closed by https://github.com/donejs/generator-donejs/pull/176.

[2017-01-25 21:59] #775 closed, assigned to phillipskevin

[2017-01-26 13:59] matthewp commented on #765
This was fixed in steal-socket.io.

[2017-01-26 13:59] #765 closed, assigned to justinbmeyer

[2017-01-26 13:59] matthewp opened #777 "1.0 - PMO guide is missing canPlaceOrder property"
I'll fix this.

[2017-01-26 14:06] matthewp commented on #777
Fixed in https://github.com/donejs/donejs/commit/47260e3ec65b3d2ab654efd853614b3b4d419385

[2017-01-26 14:06] #777 closed, assigned to matthewp

[2017-01-26 17:26] matthewp opened #779 "Remove the need for the service-base-url module"
This is used in the PMO guide but kind of bad for users to have to know about this stuff. Maybe we could do it in a connect behavior instead?  cc @phillipskevin @justinbmeyer

[2017-01-26 17:48] matthewp opened #780 "The cordova and nw generators copy over "node_modules/steal/steal.production.js""
We don't need this with Steal 1.0.

[2017-01-26 21:01] justinbmeyer commented on #779
Yes, I'd like to.  But how should it work?  I sort of think this is something linking `stealjs` and `canjs` because things change between `dev` and `prod`.  My guess is the configuration should be in `package.json`.

Please propose a fix.  This is a very error prone issue in the guides.

[2017-01-26 21:01] phillipskevin commented on #698
Same as https://github.com/donejs/donejs/issues/764. Closing this one even though it came first, sorry @tomgreever.

[2017-01-26 21:01] #698 closed, assigned to nobody

[2017-01-26 21:07] matthewp commented on #779
We already have a renderingBaseURL, so could have a serviceBaseURL as well like so:

[code]

Then can-connect/data/url/url would look for this configuration and use it.

steal-socket.io would have to do the same.

[2017-01-26 21:35] phillipskevin commented on #779
I like to have a separate config modules for each environment. Something like

[code]

[code]

This then just gets mapped to the production version in production:
[code]

We could have the generators set up this convention (create the files, set up the mapping) and then in the guide the user just has to paste in the values, which is arguably less error-prone.

I'd rather have this done in the app

[2017-01-26 21:38] justinbmeyer commented on #779
@phillipskevin  I like the idea, but maybe best for another issue?

@matthewp `can-connect/data/url/url` shouldn't be the behavior that does this directly as it's intended to be very focused on it's one thing of getting data.  It shouldn't know about `stealjs / donejs`. let chat about ideas.

[2017-01-26 21:44] phillipskevin opened #782 "App generator should create a configuration module"
Spun off from https://github.com/donejs/donejs/issues/779.

There are often properties that need to be set based on the environment the app is running in (development, production, cordova, etc).

It would be nice if the app generator set up the convention for doing this.

One idea is to have the generator create a `config` module for each environment:

[code]

[code]

And also set up mapping so th

[2017-01-26 22:03] justinbmeyer commented on #779
[code]

[2017-01-30 14:56] chasenlehara commented on #711
This epic is closed but [this issue](https://github.com/donejs/donejs/issues/515) is still open. Should this epic be re-opened, that issue closed, or that issue removed from this epic?

[2017-01-30 15:02] matthewp commented on #711
@chasenlehara I changed its epic, thanks.

[2017-01-30 15:36] #712 closed, assigned to phillipskevin

[2017-01-30 15:58] phillipskevin commented on #705
We decided we would use Node 4, 6, and 7. If we run into issue with Node 4 we will re-evaluate.

This was discussed at the Contributor's Meeting on 1/6: http://forums.donejs.com/t/donejs-contributors-meeting-2017-01-06/526/12.

[2017-01-30 15:58] #705 closed, assigned to nobody

[2017-01-30 16:08] matthewp opened #783 "donejs add app slow"
@frank-dspeed commented on [Sat Sep 10 2016](https://github.com/donejs/generator-donejs/issues/145)

Explore solutions to making `donejs add app` faster such as:
- [x] - dependency audit (after deciding https://github.com/donejs/donejs/issues/705)
- [x] - yarn
- [x] - caching npm modules from https://github.com/donejs/generator-donejs/issues/128
- [x] - progressively adding heavy features
  - [x]

[2017-01-30 16:10] matthewp opened #784 "Move documentjs out into a generator"

[2017-01-30 16:14] matthewp commented on #629
This is fixed in 1.0. Going to remove it from that epic.

[2017-01-30 17:25] pYr0x commented on #783
we maybe can remove testee from steal, since it will not use testee anymore. we use saucelab instead

[2017-01-30 17:58] matthewp commented on #783
@pYr0x that's a devDependency though, that should have no effect on `donejs add app`.

[2017-01-30 18:25] matthewp commented on #664
Sorry for getting back to you so late, what version of Node are you using?

[2017-01-30 18:34] pYr0x commented on #783
the devDependency are downloaded too if use `donejs add app` no?

[2017-01-30 18:44] matthewp commented on #783
Steal's devDependencies are not, no.

[2017-01-30 18:47] matthewp commented on #634
Seems to be working now, must have been fixed in the time since this was filed :( sorry for not getting to this sooner.

![lrlol](https://cloud.githubusercontent.com/assets/361671/22436571/a3e310f6-e6f2-11e6-9696-546b0692adf3.gif)

[2017-01-30 18:47] #634 closed, assigned to matthewp

[2017-01-30 18:55] matthewp commented on #645
Hey, sorry for taking a long time to reply. Are you still experiencing this issue? If so I'll fire up a VM and take a look.

[2017-01-30 18:57] #652 closed, assigned to nobody

[2017-01-30 18:58] matthewp commented on #295
@chasenlehara do you plan on taking this on? If not I'd like to remove it from the 1.0 epic.

[2017-01-30 19:01] matthewp commented on #764
Fixed in the 1.0 guide.

[2017-01-30 19:01] #764 closed, assigned to nobody

[2017-01-30 19:08] matthewp commented on #674
This was fixed in the 1.0 guide.

[2017-01-30 19:08] #674 closed, assigned to nobody

[2017-01-30 19:50] matthewp commented on #779
The approach we decided to go with is to push this onto the generators, so that when you create a new app you'll have configuration like:

[code]

Then we you do `donejs add cordova` or `donejs add nw` you'll get updated configuration that looks like:

[code]

Turning this into an epic as several changes need to be made to make this all work.

[2017-01-30 21:03] #709 closed, assigned to phillipskevin

[2017-01-30 21:07] chasenlehara commented on #295
Yes, I’ll aim to work on it this week.

[2017-01-31 00:16] #617 closed, assigned to phillipskevin

[2017-01-31 14:39] justinbmeyer commented on #783
We should make everything use the same version of steal/steal-tools

Sent from my iPhone

[2017-01-31 16:21] phillipskevin commented on #783
documentjs is the only thing with an older version of steal in its `dependencies`.

[2017-01-31 16:23] phillipskevin commented on #353
Since we're focused on 1.0, going to close this since it is fixed there.

[2017-01-31 16:23] #353 closed, assigned to justinbmeyer, Sinjhin

[2017-01-31 17:42] matthewp opened #785 "deprecation warning when running donejs build"
[code]

[code]

[2017-01-31 21:17] phillipskevin commented on #784
Steps to do this are:
- [x] remove documentjs from generator-donejs generators (https://github.com/donejs/generator-donejs/pull/186)
- [x] remove documentjs as a devDependency of apps created by donejs-cli (https://github.com/donejs/cli/pull/73)
- [x] create donejs-documentjs
- [x] Add `donejs add documentjs` step to PMO guides in donejs

[2017-02-02 22:05] matthewp commented on #779
Note to self: Update the guide to remove the nw version, it's not longer needed.

[2017-02-03 15:58] matthewp commented on #540
@phillipskevin can this be closed?

[2017-02-03 16:19] matthewp commented on #419
Hey @Sinjhin, did you work on this previously?

[2017-02-03 17:33] phillipskevin commented on #540
I think it can. Firebase deploys no longer use `donejs-deploy` and the guides/generators don't use it anymore.

We do not have `donejs-heroku` or `donejs-s3` at the moment. `donejs-heroku` is covered by https://github.com/donejs/donejs/issues/640. Should we create a new issue for S3 or just wait and see if anyone requests this?

[2017-02-03 17:41] matthewp commented on #540
I would wait for it to be requested.

[2017-02-03 17:59] #540 closed, assigned to nobody

[2017-02-03 23:39] #756 closed, assigned to chasenlehara

[2017-02-03 23:55] chasenlehara commented on #726
Closing this for now, might reopen if it’s something I want/need.

[2017-02-03 23:55] #726 closed, assigned to chasenlehara

[2017-02-06 16:25] #784 closed, assigned to phillipskevin

[2017-02-06 16:41] phillipskevin commented on #785
I think this was fixed when we moved to yeoman 1.0. Are you still seeing this issue, @matthewp?

[2017-02-06 16:45] matthewp commented on #785
I see it when running donejs build.

[2017-02-06 16:52] phillipskevin commented on #780
@matthewp is this something you've handled while working on the cordova/nw generators?

[2017-02-06 16:57] matthewp commented on #780
Yeah,fixed.

[2017-02-06 16:57] #780 closed, assigned to nobody

[2017-02-06 17:11] phillipskevin commented on #649
This is fixed in `major`.

[2017-02-06 17:11] #649 closed, assigned to phillipskevin

[2017-02-06 18:03] phillipskevin commented on #785
Ok, I do see this still, but only after running `donejs add nw`.

[2017-02-06 18:03] #785 closed, assigned to nobody

[2017-02-06 18:03] phillipskevin commented on #785
Issue moved to [donejs/donejs-nw #8](https://github.com/donejs/donejs-nw/issues/8) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-06 20:47] phillipskevin commented on #628
The first time, we are adding it to index.stache. In the later section, we are moving it to the home.component. That's why it says:

I think the highlighting is correct. Please re-open if you disagree.

[2017-02-06 20:47] #628 closed, assigned to phillipskevin

[2017-02-07 15:33] phillipskevin commented on #655
None of the images in the guide have alt attributes and the guide isn't really focused on accessibility, so simply adding alt attributes doesn't really add anything to the guide. If anyone is interested in adding a focus on accessibility to the guide or a new guide, please open a separate issue and we can figure out how best to do that.

[2017-02-07 15:39] phillipskevin opened #787 "DoneJS 1.1"

[2017-02-07 16:18] phillipskevin commented on #783
We've removed `donejs-deploy` and `documentjs` from generated apps. This cut the app size nearly in half (343 MB -> 177 MB). Is there anything more we want to do on this for 1.0 or can this be closed out? @justinbmeyer @matthewp

[2017-02-07 16:22] matthewp commented on #783
I'm going to test donejs-chat today, will take note of any slowness and report back.

[2017-02-07 16:35] matthewp commented on #783
Just inited a new app and it took about a minute. So really good!

[2017-02-07 16:40] phillipskevin commented on #663
@matthewp took care of this with https://github.com/donejs/donejs/commit/4fe67f9b969ae2a483699642eece01d90bf9f020.

[2017-02-07 16:42] #391 closed, assigned to phillipskevin

[2017-02-07 16:48] justinbmeyer commented on #783
@phillipskevin what's the "next thing" we could do?  How hard would it be?

Can you do a quick look at where we are now, and provide suggestions on how things could be improved and what the expected improvement might be?

My guess is that there's nothing "worth it" right now.  But it's good to know.  Thanks!

[2017-02-07 17:25] phillipskevin opened #788 "DoneJS 1.0 Release Checklist"
This issue is to keep a list of steps that need to be done when DoneJS 1.0 is ready to be released.

### Make it possible to install specific versions of plugins
- [X] https://github.com/donejs/donejs/issues/854

### Deploy the donejs#major site
- [x] deploy this https://donejs.github.io/donejs-next/

### Update donejs#master so site continues to use DoneJS 0.9.2
- [x] https://github.com/donejs/do

[2017-02-07 17:34] chasenlehara commented on #655
I think adding `alt` attributes to the images is a very small cost to avoiding errors if someone validates the HTML: https://validator.w3.org/nu/?doc=http%3A%2F%2Fwww.place-my-order.com%2F
<img width="1318" alt="screen shot 2017-02-07 at 9 33 51 am" src="https://cloud.githubusercontent.com/assets/10070176/22703308/8fbc512e-ed18-11e6-8881-fedfde21ec53.png">

[Also, let me know if you want me to ope

[2017-02-07 17:41] justinbmeyer opened #789 "StealJS's build is failing"
As reported on https://github.com/bitovi/bitovi/blob/master/great-technology/quality-assurance.md#manual-testing

[2017-02-07 17:44] matthewp opened #790 "Intermittent live-reload error message"
This has happened to be a few times, usually when making a mistake like installing the wrong version of bit-tabs, but it's worth investigating further.

[code]

[2017-02-07 20:50] Sinjhin commented on #419
@matthewp Yes, see:
https://github.com/stealjs/steal-electron
and
https://github.com/donejs/donejs-electron

I also have some work done on generator-donejs that I can push to a branch. It will take all three repos working together for this to work.

If I remember correctly I got the generator part working to build an electron app with some bugs that still need to be worked out when I had to take a

[2017-02-07 20:56] matthewp commented on #419
Awesome, I'm going to move this to 1.1 as it likely won't make 1.0.

[2017-02-07 20:57] #664 closed, assigned to matthewp

[2017-02-07 20:57] matthewp commented on #790
I'm going to try and get to the bottom of this.

[2017-02-07 21:03] phillipskevin opened #792 "Split up generator-donejs"
I suggest we separate `generator-donejs` into separate generators:
- `donejs-app`
- `donejs-plugin`
- `donejs-generator`
- `donejs-component`
- `donejs-supermodel`
- `donejs-module`

and a utility project `donejs-plugin-utils` (or something like that) for the utility functions currently in [lib/utils.js](https://github.com/donejs/generator-donejs/blob/major/lib/utils.js).

The main benefit of this

[2017-02-07 21:05] phillipskevin commented on #783
After taking a look at what's left, the only other thing I think we could do that would have a significant impact is splitting `generator-donejs` into seperate generators.

I detailed this here: https://github.com/donejs/donejs/issues/792.

The summary of this is that we could save about 12 MB of dependencies since we wouldn't have to install fixtures, components, and `can-connect`.

[2017-02-07 21:17] justinbmeyer commented on #783
cool, lets close this issue then

[2017-02-07 21:17] #783 closed, assigned to nobody

[2017-02-07 21:22] matthewp commented on #792
There are some dependencies that should be installed with donejs add app even if they could theoretically be deferred. can-component, for example, is so core to how you build donejs apps that it would be very strange to not have it installed when initializing a new app.

[2017-02-07 21:26] phillipskevin commented on #655
There are plenty of other errors that we're not going to be able to fix. These for example:

[code]

Is there a reason someone would validate the HTML? Are there text editors that do this automatically or anything like that?

[2017-02-07 21:30] phillipskevin commented on #792
What if your app is only using `donejs-custom-elements`? Or `donejs-react-view-model`s?

Obviously, these don't exist, but it's possible a year from now that someone using DoneJS would not need `can-component`.

I don't see a problem with installing `can-component` when you run `donejs add component`.

[2017-02-07 21:32] phillipskevin commented on #655
You can see the errors I'm talking about at any of these links:

https://validator.w3.org/nu/?doc=http://www.place-my-order.com/restaurants
https://validator.w3.org/nu/?doc=http://www.place-my-order.com/restaurants/crab-bar/order
https://validator.w3.org/nu/?doc=http://www.place-my-order.com/order-history

[2017-02-07 21:34] matthewp commented on #655
W3 validation isn't really relevant any more, most web pages like google.com do not validate correctly. However, I'm with @chasenlehara that adding an alt is very low cost and accessibility is hugely important, so I say we fix this one.

[2017-02-07 21:42] matthewp commented on #792
That's a fair point, but what *would* be core then? Just about everything could potentially be deferred. Could even have a `donejs add ssr` if we wanted. There's a balance there has to be, not sure what that is.

[2017-02-07 21:56] justinbmeyer commented on #655
I think we fix it commensurate with its `P4` priority.

[2017-02-07 22:01] phillipskevin commented on #654
I think the best solution would be to provide a way to define a route with optional trailing slashes.

Currently, you can make this work by specifying your routes like:
[code]

but, (1) this is ugly and (2) you get warnings about the matching routes:

[code]

Being able to do something like this would be nice:
[code]

[2017-02-07 22:06] phillipskevin commented on #627
This is fixed in major.

[2017-02-07 22:06] #627 closed, assigned to nobody

[2017-02-07 22:07] phillipskevin commented on #475
We'll do this once the `-alpha` versions get promoted to 1.0 finals.

[2017-02-07 22:09] #663 closed, assigned to nobody

[2017-02-07 22:27] phillipskevin commented on #792
My initial response to the question would be: "core is anything needed to generate and run an app in development and production".

But I think we kind of have to take it on a case-by-case basis. Making the changes proposed here would not affect the guides at all. Making a `donejs-ssr` would add more steps and explanation before the user could start the app in development mode and see the "Hello Wo

[2017-02-08 02:43] frank-dspeed commented on #792
I think we should go even farther I just got yesterday added to the NPM Package for "generator-canjs" shouldn't we take over this to canjs and then split up that into generator-canjs like it was before for old canjs?

[https://www.npmjs.com/package/generator-canjs ](https://www.npmjs.com/package/generator-canjs )
[https://github.com/retro/generator-canjs](https://github.com/retro/generator-canjs)

[2017-02-08 03:12] frank-dspeed commented on #790
@matthewp good luck if you wan't to go even more far you will get conclusion that live-reload aka ssr is broken totally when editing bigger applications it will brake and you need to restart donejs develop all times because when your coding sometimes things brake if you don't paste in pre tested code ;)

[2017-02-08 03:17] frank-dspeed commented on #761
@marshallswain this is fixed in donejs 1.0 as documentjs is stripped out and gets replaced by bit-docs.
and no it was not a dependency of steal i think and when it was that update to latest steal solves that as @matthewp did always merged my pulls fast :+1:

I fixed it manualy since monthes via simply having updated repos of the donejs packages i think all this is solved when the dependencys of al

[2017-02-08 03:33] frank-dspeed commented on #272
Can Some one please add where this cors requirment happens ? i don't understand exactly what gets talked about is it the cors header from donejs develop?

[2017-02-08 12:40] matthewp commented on #770
@AltEDU2 Can you give more information for what you are requesting?

[2017-02-08 14:05] matthewp commented on #790
@frank-dspeed That sort of comment is not constructive. The best way to get bugs fixed is to provide detailed and reproducible issues. Saying something is "broken totally" doesn't help get anything fixed.

[2017-02-08 14:45] phillipskevin commented on #792
@frank-dspeed I'm not sure exactly what you're proposing related to `generator-canjs`. Can you create a separate issue to discuss that?

Since SSR and Hot Module swapping are key features of DoneJS, we wouldn't want to remove them from the generators or guides.
![image](https://cloud.githubusercontent.com/assets/5851984/22741899/71d70cb8-edda-11e6-8462-cd13fa9969ba.png)

Obviously there are lots o

[2017-02-08 15:06] phillipskevin commented on #761
DocumentJS has not been replaced by bit-docs in DoneJS 1.0. We no longer install documentjs when you generate an app with `donejs add app`, but we still instruct users to install it with `donejs add documentjs`, so this is still an issue.

`hawk@0.10` is a sub-dependency of steal-tools@0.13 which documentjs uses.

[2017-02-08 17:05] phillipskevin commented on #503
@justinbmeyer do you remember what broke when you added this before? Nothing overtly breaks when I add the algebra, but I'm not super confident how to verify that the algebra is working.

[2017-02-08 17:06] phillipskevin commented on #503
I don't see the requests being combined as mentioned in https://github.com/donejs/donejs/issues/638. So it must not be working correctly.

[2017-02-08 17:07] phillipskevin commented on #638
Duplicate of https://github.com/donejs/donejs/issues/503.

[2017-02-08 17:07] #638 closed, assigned to nobody

[2017-02-08 17:10] phillipskevin commented on #503
Actually, combining requests is working. I just forgot to change `type` to `status` when I copied over your example code above.

[2017-02-08 17:38] matthewp commented on #533
Reopening as this is about `donejs add app`.

[2017-02-08 17:40] matthewp commented on #80
This is done in Steal 1.0

[2017-02-08 17:40] #80 closed, assigned to nobody

[2017-02-08 18:16] phillipskevin commented on #533
The Quick Start guide will need to be updated with a new image once this is complete.

[2017-02-08 19:47] phillipskevin commented on #633
@justinbmeyer can you explain what the middle bullet means?

[2017-02-08 20:00] phillipskevin commented on #633
This is talking about using the algebra in the fixture.store like
[code]

[2017-02-08 20:28] #790 closed, assigned to matthewp

[2017-02-08 20:29] matthewp opened #794 "Unable to live-reload after adding supermodel in the chat guide"
Now that we have the serviceBaseURL configuration, when you add the chat supermodel the serviceBaseURL config is updated.  This config is not reflected in the model which makes a request to `/api/messages`.

[2017-02-08 20:32] phillipskevin commented on #503
Going to use this to update place-my-order.com and https://github.com/donejs/donejs/issues/633 to handle updating the guides and generators.

[2017-02-08 20:32] phillipskevin commented on #503
Issue moved to [donejs/place-my-order #131](https://github.com/donejs/place-my-order/issues/131) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-08 20:32] #503 closed, assigned to nobody

[2017-02-09 13:59] matthewp commented on #794
Caused by https://github.com/stealjs/steal-npm/issues/232

[2017-02-09 15:10] phillipskevin commented on #590
So you can see in that package.json that `donejs-cli@0.7.0` was installed, so this is the 0.7.0 dependencies. I'm going to investigate how it's possible that an older cli was installed.

[2017-02-09 17:31] phillipskevin commented on #590
Ok, I was able to reproduce this issue.

Prior to 0.9, this issue could occur if you had a package.json in any parent directory of where you're initializing a new app.

[code]

[2017-02-09 17:31] #590 closed, assigned to phillipskevin

[2017-02-09 17:48] matthewp commented on #794
This is fixed.

[2017-02-09 17:48] #794 closed, assigned to matthewp

[2017-02-09 17:53] matthewp opened #795 "live-reload error on DefineMap when adding chat form"

[2017-02-09 17:57] matthewp commented on #795
This is just a problem with the guide, not a live-reload bug. It is because we update the template first and the viewModel second.

[2017-02-09 18:03] matthewp commented on #789
What bug are you reporting exactly?

[2017-02-09 18:30] frank-dspeed commented on #790
@matthewp i don't think that it is really fixable that a application brakes when there gets some invalid code loaded

else i would investigate my self but i think its broken by design you cant simply edit every JS object there happen a lot of errors when you replace routes and when you replace other stuff it depends on the used libs also

[2017-02-09 19:04] phillipskevin commented on #715
These are being blocked because they are `http` URLs. I'm going to update them to be protocol relative.

[2017-02-09 19:44] matthewp commented on #795
Fixed in #796

[2017-02-09 19:44] #795 closed, assigned to matthewp

[2017-02-09 19:45] #779 closed, assigned to matthewp

[2017-02-09 19:49] matthewp commented on #645
Closing, if you're still having an issue let me know.

[2017-02-09 19:49] #645 closed, assigned to nobody

[2017-02-09 19:51] matthewp commented on #708
What is a canjs style diff view?

[2017-02-09 19:56] matthewp commented on #768
This would be a big change in the guides and I don't think it's worth it to block the 1.0 release. I think we should remove this as a 1.0 issue.

[2017-02-09 19:57] matthewp commented on #776
This was fixed.

[2017-02-09 19:57] #776 closed, assigned to nobody

[2017-02-09 20:23] #715 closed, assigned to phillipskevin

[2017-02-09 20:30] phillipskevin commented on #623
@matthewp should we try turning this back on?

[2017-02-09 20:31] matthewp commented on #623
sure, wouldn't hurt to try.

[2017-02-09 20:33] phillipskevin commented on #768
I think this is actually a duplicate of https://github.com/donejs/donejs/issues/515.

[2017-02-09 20:33] phillipskevin commented on #768
Going to close this one.

[2017-02-09 21:13] matthewp commented on #654
I don't think this is a bug, adding a trailing slash is a different route. Don't use the wrong route. 🙂

[2017-02-09 21:14] matthewp commented on #641
This would make for a cool bit-docs plugin.

[2017-02-09 21:18] justinbmeyer commented on #654
I do think can-route should support some way of saying `appVM.route` is `undefined` ... and letting the dev supply a 404 page.

[2017-02-09 21:19] justinbmeyer commented on #768
Why is this a big change?

[2017-02-09 21:24] matthewp commented on #768
Any change to the guides that changes code is a big change. It requires at minimum going through each guide on Mac and Windows which is at least a days worth of work. Then there is figuring out what the change should be, updating it on the relevant live apps (donejs/chat and donejs/place-my-order) which is at least another day's work.

Given that there's nothing wrong with the current approach I d

[2017-02-09 21:26] phillipskevin commented on #768
I closed this because it was a duplicate of https://github.com/donejs/donejs/issues/515. Do we want to keep both open?

[2017-02-09 21:32] matthewp commented on #640
@justinbmeyer @phillipskevin Seeing if you all think this is worth doing. It would surely make doing the PMO guide easier but would likely take a while to do as it is adding 4 new generators that we haven't made yet.

[2017-02-09 21:33] justinbmeyer commented on #768
Ah, we can close this for #515, but I still think this is worth it.  This will be a big improvement to the guides and the initial user experience of DoneJS.  I've seen way too much confusion around connect/tags.  I'd rather have this fix over the performance improvements.

[2017-02-09 21:33] #768 closed, assigned to nobody

[2017-02-09 21:44] justinbmeyer commented on #708
CanJS's ability to house the whole file, but collapse parts that haven't changed:

<img width="1429" alt="cursor_and_canjs_-_todomvc_guide" src="https://cloud.githubusercontent.com/assets/78602/22804412/9a668b0e-eede-11e6-835c-96810a12407a.png">

Also, canjs can load the test files as code same sources.  I think @matthewp already made this work in DoneJS, but it doesn't need to be re-implemented c

[2017-02-09 21:47] phillipskevin commented on #640
I think this is worth doing. I do not think this is worth doing prior to releasing 1.0.

[2017-02-09 21:51] matthewp commented on #708
Ok, so we need bit-docs to use that plugin.

[2017-02-09 22:03] matthewp commented on #496
This was fixed a while back, the guides fully work on Windows (including running DocumentJS).

[2017-02-09 22:03] #496 closed, assigned to nobody

[2017-02-09 22:24] phillipskevin opened #798 "Remove deprecated options"
`donejs init [folder]` and `donejs plugin [folder]` are deprecated and should be removed in 1.0.
https://github.com/donejs/donejs/blob/major/lib/cli/index.js#L21-L39

[2017-02-10 15:07] matthewp commented on #571
Fixed in #799

[2017-02-10 15:07] #571 closed, assigned to matthewp

[2017-02-10 15:15] matthewp commented on #470
This is the underlying bug: https://github.com/stealjs/steal/issues/1057

I'm working on it now.

[2017-02-10 15:20] justinbmeyer commented on #470
Can we have some sort of generic catch-all error handler that will essentially restart or shutdown everything?

[2017-02-10 15:36] matthewp commented on #470
You can do that with processes. Have a super process that starts the web server as a subprocess, if an error occurs kill it and start a new one. The trouble would be detecting when that needs to happen.

[2017-02-10 16:24] matthewp commented on #640
We are deferring this to 1.1-ish.

[2017-02-10 17:40] phillipskevin commented on #515
Plan based on the discussion at the [DoneJS Contributors Meeting](http://forums.donejs.com/t/donejs-contributors-meeting-2017-02-10/547/7):

- change the chat guide to load chat data in the viewModel instead of using can-connect/tag
- change the restaurant model in the PMO guide to load data in the viewModel
- leave the order model in the PMO guide as-is and make sure the use of can-connect-tag is

[2017-02-10 17:40] phillipskevin opened #800 "DoneJS 2.0 Release"
- streaming
- progressive web app features ([Baseline](https://github.com/donejs/donejs/issues/734), [Exemplary](https://github.com/donejs/donejs/issues/735))
- can-connect  + can-set improvements
- [improved templates](https://github.com/canjs/canjs/issues/2995)
- use decorators on ES Classes
- [generator options](https://github.com/donejs/generator-donejs/issues/148) [CJS|ES] [Mocha|QUnit] [tabs

[2017-02-10 20:03] matthewp commented on #470
Fixed in Steal 1.2.5

[2017-02-10 20:03] #470 closed, assigned to matthewp

[2017-02-10 20:27] phillipskevin opened #802 "Update Chat and Chat Guide to not use can-connect/can/tag"
From https://github.com/donejs/donejs/issues/515.
- [x] once merged, update generated models to match https://github.com/donejs/generator-donejs/pull/197 (don't import or call can-connectcan//tag, add algebra, don't set `idProp`, etc)
- [x] update the guide (`section_Usetheconnection`) to load the data in the viewModel and not use `<message-model` in the template

[2017-02-10 20:32] phillipskevin commented on #802
Even though this is primarily a guide change, we'll want to do this before release to validate the changes made in the generators.

[2017-02-10 20:33] phillipskevin opened #803 "Update PMO and the PMO Guide to not use can-connect/can/tag"
From https://github.com/donejs/donejs/issues/515
- [x] once merged, update generated models to match donejs/generator-donejs#197 (don't import or call can-connect/can/tag, add algebra, don't set idProp, etc)
- [x] change the restaurant model (`section_Createadditionalcomponents`) to load data in the viewModel
- [x] update the guide (`section_Addingreal_timeeventstoamodel`) to import `can-connect/c

[2017-02-10 20:33] phillipskevin commented on #515
Closing this for the separate issues for each guide.

[2017-02-10 20:33] #515 closed, assigned to nobody

[2017-02-10 20:39] matthewp commented on #666
Not sure what the problem *was* but no longer an issue in 1.0.0: https://github.com/matthewp/steal-circdep

![screen shot 2017-02-10 at 3 37 19 pm](https://cloud.githubusercontent.com/assets/361671/22843350/2a8582b2-efa7-11e6-962a-ec9721a56060.png)

[2017-02-10 20:39] #666 closed, assigned to nobody

[2017-02-10 20:52] matthewp commented on #596
Any idea where it was trying to write to?

[2017-02-10 20:55] justinbmeyer commented on #596
I don't remember anymore, but it was in some folder like `/private` or `/var`.

I might have had people run this:

https://docs.npmjs.com/getting-started/fixing-npm-permissions

This might need to be higher than `P3` because I think I had to have someone run this almost every time.

[2017-02-10 21:07] phillipskevin commented on #596
It definitely writes to `.yo-rc-global.json` in the user's home directory. https://github.com/yeoman/doctor might be of help when this happens.

[2017-02-10 21:13] matthewp commented on #596
Maybe we should have a `donejs doctor` that runs stuff like that.

[2017-02-12 02:04] justinbmeyer opened #806 "Handle 404s"
I think this is something that's spread across multiple issues, but I think DoneJS should handle 404s out of the box.

It's odd I can go to the wrong path:

instead of:

And be shown a working application.

I think `can-route` and the doneJS generator should handle this.

Something like the following would work:

1.  `can-route.matched()` is `undefined` when there is no matching route.  The `appVi

[2017-02-12 15:11] matthewp commented on #806
Not sure if this is the problem you experienced, but one common problem is that a link like `http://localhost:8080/src/filter/belongs-to/belongs-to.html` might actually match one of your routes.

[2017-02-12 15:36] phillipskevin commented on #806
Why do we need this?

We don't store the matched route on the `appViewModel` anymore, but the `statusCode` getter could to use the `can-route.matched()` compute.

[2017-02-12 17:03] justinbmeyer commented on #806
Matthew, my app has no routes.

Kevin, you are right. Forgot about that. But same premise holds with can-route's matched route property.

Sent from my iPhone

[2017-02-13 13:14] matthewp commented on #455
Issue moved to [donejs/generator-donejs #199](https://github.com/donejs/generator-donejs/issues/199) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-13 13:14] #455 closed, assigned to nobody

[2017-02-13 13:38] matthewp commented on #615
This has been superseded by `donejs add firebase` so is no longer needed.

[2017-02-13 13:38] #615 closed, assigned to nobody

[2017-02-13 14:16] matthewp commented on #428
This is an old one, going to try and replicate with these steps:

1. Be logged into Account A.
2. Create a firebase with Account B.
3. Use Account B's firebase name when setting up deployment.
4. Run `donejs deploy` and see what happens.

Now that we've switched off of donejs-deploy this might already be fixed but I'll test it anyways.

[2017-02-13 15:29] matthewp commented on #572
Fixed by #808

[2017-02-13 15:29] #572 closed, assigned to matthewp

[2017-02-13 15:49] matthewp commented on #428
This is no longer a problem, get an error message now:

<img width="682" alt="screen shot 2017-02-13 at 10 46 23 am" src="https://cloud.githubusercontent.com/assets/361671/22890329/0a1ce65c-f1da-11e6-9ba6-1493c1aad887.png">

[2017-02-13 15:49] #428 closed, assigned to matthewp

[2017-02-13 16:01] matthewp commented on #623
Closed by #807

[2017-02-13 16:01] #623 closed, assigned to matthewp

[2017-02-13 18:31] frank-dspeed commented on #792
@phillipskevin when the generator-donejs gets splitted and ssr would be optional we still could ask on donejs add app if he wan'ts to use ssr or not and if yes simply npm install that also

[2017-02-13 18:43] matthewp commented on #545
This was done in b51f58d4098d6fed68f868c78c69e8e0e9bf652b

[2017-02-13 18:43] #545 closed, assigned to nobody

[2017-02-13 18:49] matthewp opened #810 "Update API docs to talk about Can 3.0 features"

[2017-02-13 19:05] chasenlehara opened #811 "Create a DoneJS RunKit notebook for debugging issues"
I’m not sure if this is possible, but it would be great to have something like a DoneJS app in a [RunKit](https://runkit.com/) notebook for debugging issues. It could serve as a template for anyone filing a DoneJS bug.

[2017-02-13 19:28] chasenlehara commented on #748
Closing in favor of https://github.com/donejs/donejs/issues/295 and https://github.com/donejs/developer-relations/issues/15

[2017-02-13 19:28] #748 closed, assigned to chasenlehara

[2017-02-13 22:58] matthewp commented on #656
Fixed in #812

[2017-02-13 22:58] #656 closed, assigned to matthewp

[2017-02-13 22:58] matthewp commented on #564
Fixed in #812

[2017-02-13 22:58] #564 closed, assigned to matthewp

[2017-02-13 22:58] matthewp commented on #810
Fixed in #812

[2017-02-13 22:58] #810 closed, assigned to matthewp

[2017-02-14 13:02] matthewp commented on #798
Fixed by #809

[2017-02-14 14:02] matthewp commented on #798
My previous change removed too much, need to do this again.

[2017-02-14 14:10] matthewp commented on #762
Closed by https://github.com/donejs/donejs/pull/754

[2017-02-14 14:24] justinbmeyer commented on #762
I probably need to review before this is closed

[2017-02-14 14:32] matthewp commented on #798
Ok, done in bda70e99eb1604b60a80321badf38da75f4b55fd now.

[2017-02-14 14:32] #798 closed, assigned to matthewp

[2017-02-14 15:44] matthewp commented on #596
I was able to replicate by creating a new user and making it the owner of my `~/.yo-rc-global.json` file:

<img width="682" alt="screen shot 2017-02-14 at 10 43 41 am" src="https://cloud.githubusercontent.com/assets/361671/22936120/884fd9b2-f2a2-11e6-91fc-6c9b48089547.png">

[2017-02-14 16:04] matthewp commented on #596
Trying to think of a fix here. In this case I think the error message is pretty reasonable. Not pretty to look at, but it directly tells you the issue.

Maybe the errors people have gotten at meetups have been of a different variety though.

[2017-02-14 16:13] phillipskevin commented on #596
Does `yo doctor` fix the issue? Or at least let give you more information about the problem?

[2017-02-14 16:24] matthewp commented on #596
Actually no, it doesn't catch this issue:

[code]

[2017-02-14 16:53] matthewp commented on #668
This works in the new bit-docs site.

[2017-02-14 16:53] #668 closed, assigned to nobody

[2017-02-14 17:14] matthewp commented on #708
@justinbmeyer I've been trying to add the line diffing but it doesn't seem to work. I can see that the `only` code does run but it doesn't result in any diffs occurring.  Is there any documentation on how this feature is supposed to work, like when a diff is supposed to occur? that would be helpful with debugging it.

[2017-02-14 18:16] matthewp commented on #616
This has been updated to instruct the users to accept the defaults.

[2017-02-14 18:16] #616 closed, assigned to matthewp

[2017-02-14 18:31] matthewp commented on #519
Is there anything actionable to do here? I understand that some people will not to use server-side rendering, but I'm not sure where that should be documented. How about a form post and then link to that from the guide?

[2017-02-14 18:34] matthewp commented on #416
Going to remove the part about single context being optional, I'm not aware of any methods to use DoneJS in a php kind of way.

[2017-02-14 18:43] matthewp commented on #683
@justinbmeyer can you take a screenshot of this? I don't have admin access to log in.  Or give me access and I'll do it.

[2017-02-14 19:08] matthewp commented on #602
This is what I get from an iPhone 6 in the simulator. Are you using an iPhone 6 or iPhone 6 Plus?

<img width="487" alt="screen shot 2017-02-14 at 2 06 23 pm" src="https://cloud.githubusercontent.com/assets/361671/22944573/1f8169c4-f2bf-11e6-9da1-31080f151d50.png">

[2017-02-14 19:11] justinbmeyer commented on #416
I think we'd like to make it optional.  This would be great for apps that don't need as fast SSR performance, but would like to make globals work without any problem.

[2017-02-14 19:13] matthewp commented on #416
I'd research to see if there's any cgi options for use with Node.

[2017-02-14 19:25] justinbmeyer commented on #416
@matthewp Let me clarify what I was thinking (didn't read this whole issue) ... essentially, we re-load all modules every time.  Every render would use its own version of CanJS, making memory leaks and problems with globals much more rare.

[2017-02-14 19:27] justinbmeyer commented on #519
This probably should be documented as part of `donejs add app`.  We should link to it from at least the PMO guide.

[2017-02-14 19:31] justinbmeyer commented on #683
<img width="784" alt="cursor_and_bitballs___users_list" src="https://cloud.githubusercontent.com/assets/78602/22945441/dcbfbf14-f2b9-11e6-828b-362aa80eabd7.png">

[2017-02-14 19:34] matthewp commented on #416
Yeah, I understand, this is cgi essentially. There may be existing packages/tools to make Node work as a cgi interface. I would do this as a new project to experiment.

[2017-02-14 19:46] matthewp commented on #416
It might also be possible to do that by cloning Steal but re-using the source code and merely re-executing that. I filed https://github.com/donejs/done-ssr/issues/216 to discuss that feature. Will keep this one about the documentation.

[2017-02-15 13:50] matthewp commented on #654
This is an ssr bug, this should already be producing a 404.

[2017-02-15 14:09] matthewp commented on #654
Underlying issue: https://github.com/donejs/done-ssr/issues/217

[2017-02-15 14:10] matthewp commented on #806
This is probably caused by this bug: https://github.com/donejs/done-ssr/issues/217

Working on fixing it.

[2017-02-15 14:34] matthewp commented on #675
Fixed by #816

[2017-02-15 14:34] #675 closed, assigned to matthewp

[2017-02-15 14:34] matthewp commented on #673
Fixed by #816

[2017-02-15 14:34] #673 closed, assigned to matthewp

[2017-02-15 14:34] matthewp commented on #642
Fixed by #816

[2017-02-15 14:34] #642 closed, assigned to matthewp

[2017-02-15 14:34] matthewp commented on #416
Fixed by #816

[2017-02-15 14:34] #416 closed, assigned to matthewp

[2017-02-15 14:34] matthewp commented on #635
Fixed by #816

[2017-02-15 14:34] #635 closed, assigned to matthewp

[2017-02-15 14:34] matthewp commented on #683
Fixed by #816

[2017-02-15 14:34] #683 closed, assigned to matthewp

[2017-02-15 15:47] phillipskevin opened #819 "Add flag for selecting all of the default options"
@phillipskevin commented on [Thu Jan 26 2017](https://github.com/donejs/cli/issues/71)

It would be nice if you could do something like

[code]

and have all of the default options selected without having to hit enter for every question.

---

@matthewp commented on [Wed Feb 15 2017](https://github.com/donejs/cli/issues/71#issuecomment-280026990)

Shouldn't this be a generator-donejs issue? You co

[2017-02-15 15:52] phillipskevin commented on #802
Closed by https://github.com/donejs/donejs/pull/818.

[2017-02-15 15:52] #802 closed, assigned to phillipskevin

[2017-02-15 15:52] phillipskevin commented on #803
closed by https://github.com/donejs/donejs/issues/817.

[2017-02-15 15:52] phillipskevin commented on #633
closed by https://github.com/donejs/donejs/issues/817.

[2017-02-15 15:52] #633 closed, assigned to justinbmeyer, phillipskevin

[2017-02-15 22:22] matthewp commented on #588
Fixed by #820

![screen shot 2017-02-15 at 5 22 51 pm](https://cloud.githubusercontent.com/assets/361671/22998131/64627dbe-f3a3-11e6-89f0-920a64fc7217.png)

[2017-02-15 22:22] #588 closed, assigned to matthewp

[2017-02-15 23:46] chasenlehara commented on #819
It’d be neat if we matched `npm init` and had `-f`, `--force`, `-y`, and `--yes`: https://docs.npmjs.com/cli/init

[2017-02-15 23:54] matthewp commented on #819
What would `-f` do in this case?

[2017-02-15 23:56] phillipskevin commented on #596
I did some digging into this and yeoman's base generator creates two Storage objects [here](https://github.com/yeoman/generator/blob/bea86c758e6235f6b577683e928f5cda2adaf9ce/lib/index.js#L137-L138).

`this.config` is the local config for the app `path/to/app/.yo-rc.json`
`this._globalConfig` is the global config for the user `users/home/dir/.yo-rc-global.json`

The global config doesn't seem to be

[2017-02-15 23:56] chasenlehara commented on #819
Their documentation says those four flags are synonyms to “use only defaults and not prompt you for any options.”

[2017-02-15 23:58] phillipskevin commented on #819
Yeah, I think that's fine. NPM is where I got the idea for `--yes`.

[2017-02-16 00:24] AlexGandu opened #821 "Bug: On place-my-order.com, can't select city from the drop-down field"
**tested on Edge and Firefox, Windows 10** reproduces all the time

**steps:**
- go to http://www.place-my-order.com/ and click on Restaurant
- choose a state from the drop-down
- choose a city from the drop down; notice that the city isn't selected
**Expected behaviour:**
- selected city should be displayed and search results are loaded

**There is another issue related:**
if you refresh the page

[2017-02-16 00:26] justinbmeyer commented on #596
Can we just give a good warning pointing them in the right spot to resolve.

Sent from my iPhone

[2017-02-16 00:31] AlexGandu opened #822 "Bug: On stealjs.com, there is a link redirecting to a unexciting page"
Always reproduces on all browsers

**Steps:**
- go to http://stealjs.com/
- click on the CSS icon from the "works with your favourite tech"
- notice that it redirects to a 404 page

[2017-02-16 00:49] chasenlehara commented on #822
Hi @AlexGandu, thanks for filing this issue! The StealJS website has it’s own repo, so I’ve created https://github.com/stealjs/stealjs/issues/36 to track this.

[2017-02-16 00:49] #822 closed, assigned to nobody

[2017-02-16 00:49] phillipskevin commented on #821
@AlexGandu what browser, browser version, and operating system are you using?

This is working ok for me:
![pmo](https://cloud.githubusercontent.com/assets/5851984/23002259/7aca352c-f3af-11e6-91a0-498d4788cbbd.gif)

[2017-02-16 00:54] AlexGandu commented on #821
i tested on Windows 10, Firefox and Edge using browser-stack

[2017-02-16 03:19] phillipskevin commented on #596
We could give a warning and then kill the process so they could update the permissions and rerun the generator.

It's possible that some users won't be able to update the permissions of the file, which is why I was thinking we would just force it to not use the global config if they don't have access.

[2017-02-16 14:56] phillipskevin commented on #596
I found a better solution to this by wrapping the `_writeFiles` function with a try/catch. Again, this isn't a documented API, but I think it's the best solution and we'll just have to try to protect ourselves by making sure our tests will fail if they change this API.

[2017-02-16 15:03] #295 closed, assigned to chasenlehara

[2017-02-16 15:08] phillipskevin commented on #821
Ok thanks, I'll look into this today. I'm going to move it to the place-my-order repo.

[2017-02-16 15:08] phillipskevin commented on #821
Issue moved to [donejs/place-my-order #136](https://github.com/donejs/place-my-order/issues/136) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-16 15:08] #821 closed, assigned to nobody

[2017-02-16 15:47] justinbmeyer opened #824 "SSR - How it works - should talk about zones"
http://donejs.com/Features.html#section=section_Server_SideRendered__Howitworks

[2017-02-16 17:12] phillipskevin commented on #596
Actually, overwriting `_writeFiles` doesn't work consistently either, so I'm going to go with the original solution of forcing it to not use the global config if it's not writeable.

[2017-02-16 19:59] #596 closed, assigned to phillipskevin

[2017-02-17 00:00] bmomberger-bitovi opened #828 "Installing donejs in project folder causes fork bomb"
__How often can you reproduce it?__

- [x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__

Even though the proper sequence of installing DoneJS involves global install of `donejs` and project-local install of `donejs-cli`, there's nothing stopping the local install of `donejs` by a naive or undercaffeinated developer.  This sets the `node_modules/.bin/donejs`

[2017-02-17 15:22] matthewp opened #830 "Styling proposal"
This proposes a new project that implements a CSS preprocessor targeted for browsers.

## Current problems

Styling in DoneJS apps suffers from these primary issue:

* Imported styles are not part of the Steal dependency graph and don't behave like imported JavaScript modules behave. This means that if you import a style multiple times its rules will be applied multiple times.
* Poor performance (

[2017-02-17 16:11] justinbmeyer commented on #830
@matthewp What do you mean by preprocessor? I'm not sure if this is implicit, but I think this has to have a run-time element. This is the big difference vs less / sass .. is that it can't just be a transpiler, we have to have some sort of linkable representation of a __style__ kept in the browser so other styles can use its `functions` without having to re-include the initial __style__.  This is

[2017-02-17 16:14] phillipskevin commented on #819
We're going to add this post-1.0.

[2017-02-17 16:31] matthewp commented on #830
That's what I meant with this goal:

The way I see it is that the style module would be represented as an object where its functions/mixins are exports. This would probably be the realm of the `@import` plugin.

[2017-02-17 17:16] phillipskevin commented on #803
Missed one change that needed to be made. The `Order` model should use an enum for the statuses so requests can be combined, like:

[code]

[2017-02-17 19:42] phillipskevin commented on #803
Closed by #831.

[2017-02-17 19:42] #803 closed, assigned to phillipskevin

[2017-02-20 00:52] justinbmeyer opened #834 "Proposal: Streamable apps"
# Proposal: Stream-able apps

This proposal seeks to add streaming abilities to DoneJS, providing an improved user experience.  By streaming, we mean we are able to write HTML out to the user as soon as we have the data for it. Instead of waiting for all the data to return from the database or a service call, we are able to stream records as they are retrieved into meaningful output to a user.  Sp

[2017-02-20 18:05] justinbmeyer opened #835 "fetch-newline-delimited-json"
This proposal is to create a `fetch-newline-delimited-json` package who can be used
to make a request to a __newline-delimited-json__ service and provide some way of being notified with the stream of objects and its completion.

## Option 1: A promise that returns a CanJS-style event emitter

[code]

Pros:
 - lightest weight for CanJS to implement

Considerations:
 - Promise tells us if connection

[2017-02-20 18:19] matthewp commented on #835
Instead of doing it at the fetch level, I wonder if it makes more sense to have it handle Response bodys (which are themselves a stream). Your second link has an example of what we want to do, maybe we just make something that handles that?

[code]

Where jsonStream is a stream containing each parsed object. This is lower-level than the options you posted, but I think that's ok since it will likel

[2017-02-20 18:54] justinbmeyer commented on #835
@matthewp I thought about that, but I think `response.body.pipeThrough` isn't available.  Also, I don't think TransferStreams are available.  We might be able to provide our own pipeThrough that works with something that implements both the reader and writer spec.

[2017-02-20 19:13] justinbmeyer commented on #835
Links:
- https://jakearchibald.com/2016/streams-ftw/
- Spec: https://streams.spec.whatwg.org/
- Polyfill: https://github.com/pipesjs/core and https://github.com/creatorrr/web-streams-polyfill

[2017-02-20 19:20] matthewp opened #836 "Streaming DOM serializer"
This proposal is to create a streaming DOM serializer package that accepts a DOM-like object and serialize it, waiting when it encounters Nodes marked as being asynchronous.

## API

This should be pretty straight-forward, it takes a Node type (probably the `document.documentElement` in most cases) and returns a [ReadableStream](https://nodejs.org/api/stream.html#stream_readable_streams):

[code]

[2017-02-20 19:41] matthewp commented on #834
For:

I think we can use [njdson](https://github.com/maxogden/ndjson#ndjsonserialize--ndjsonstringify) instead. As long as your db library can provide streams (or you can turn them into streams) you can do:

[code]

[2017-02-20 20:09] justinbmeyer commented on #835
Looking into this more, I think we can do this with something more like:

[code]

The end of this article https://jakearchibald.com/2016/streams-ftw/ has a good example of wiring up one stream into another stream.

[2017-02-20 21:31] justinbmeyer opened #837 "Explore solutions for streaming with can-zone, can-compute, and can-view-live"
## Proposed solution

1.  computes, observations, and maps have a well defined way of traversing their stateful object/event dependency graph.
[code]
  - this already "sort of" exists as `newObserved` on an Observation. However, maps don't flow through correctly. Given some object/event, we need to be able to see what it depends on.

2. Some zone / observation module is able to keep a registry of

[2017-02-20 22:33] justinbmeyer commented on #837
At it's core ... the problem is the "async" is `memoized` away.

This doesn't exist for SSR today because we wait on all async behavior and just take the template.

This is really ... what async thing might happen that this depends on ...

The computes above ... depend on another compute that does change as a result of async stuff.

What about other types?
 - I guess EVERYTHING currently has to be

[2017-02-21 14:18] matthewp commented on #837
I *think* I follow what you are going for here. You want to create wait promises for events, right? Let's not use waitFor, even for examples, since that already exists for something else. I think what we want is something like:

[code]

Then *something else* will attach this registration object to the compute/observation. Then in can-view-live we can do something like:

[code]

Something like that

[2017-02-21 14:38] matthewp commented on #837
I suppose we could overload waitFor to have multiple signatures:

[code]

It feels a little odd to me that the same API would return different things based on overloading though.

[2017-02-21 14:43] matthewp commented on #654
Fixed by https://github.com/donejs/done-ssr/pull/218

[2017-02-21 14:43] #654 closed, assigned to nobody

[2017-02-21 15:27] matthewp commented on #837
*stickying with notifyWhen just for the example*:

[code]

Should this actually *wait* on the "event"? Or do we just want to set it up so that *others* can wait on the event? I guess what we want is to create a promise for the event, but that promise doesn't affect the zone it is currently running in.

[2017-02-21 15:54] justinbmeyer commented on #837
I think this can be its own package that works with `can-zone`.  I'm not sure what it should be called.  It does __not__ wait on the event, instead it waits on the `unregister` which will typically be associated with a `set` of the state.

[2017-02-22 16:10] matthewp commented on #836
This is being worked on in the [vdom-streaming-serializer](https://github.com/donejs/vdom-streaming-serializer/issues/1) repo now. Can rename if we want, just the first name I thought of.

[2017-02-22 17:05] justinbmeyer commented on #835
So I'm thinking this will be `can-ndjson-stream`

[2017-02-22 20:58] justinbmeyer commented on #835
Closing for https://github.com/canjs/can-ndjson-stream/issues/1

[2017-02-22 20:58] #835 closed, assigned to nobody

[2017-02-24 02:52] #837 closed, assigned to nobody

[2017-02-25 03:13] Xuefeng-Zhu commented on #834
@justinbmeyer Talk to on HackIllinois. It seems that what the project is trying to do is server push, which is implemented in http2 standard

https://www.igvita.com/2013/06/12/innovating-with-http-2.0-server-push/

[2017-02-25 15:15] justinbmeyer commented on #834
Thanks Xuefeng. This isn't the same as server push. Stop by 3017 tomorrow if you want an explanation why.

Sent from my iPhone

[2017-02-25 19:58] chasenlehara opened #838 "Use Angular in the Feature Comparison"
The feature comparison table on the [features page](https://github.com/donejs/donejs/blob/major/docs/features.md) should be updated to compare DoneJS to Angular (2), not AngularJS (1).

[2017-02-25 20:03] chasenlehara opened #839 "Update the Minimal DOM Updates section with CanJS 3 vs. React 15"
The Minimal DOM Updates section on the [features page](https://github.com/donejs/donejs/blob/major/docs/features.md) should be updated to compare CanJS 3’s performance to React 15.

[2017-02-25 20:05] chasenlehara opened #840 "Update the Deploy to a CDN section"
The Deploy to a CDN section on the [features page](https://github.com/donejs/donejs/blob/major/docs/features.md) should be updated with instructions on how to use `donejs add firebase`.

[2017-02-26 16:11] justinbmeyer commented on #834
<img width="790" alt="cursor_and_v5_key" src="https://cloud.githubusercontent.com/assets/78602/23341354/91af11b8-fc0b-11e6-929a-45838e2b1233.png">

[2017-02-27 18:01] matthewp opened #841 "Verify DoneJS Chat + PMO in donejs@alpha"
This is a final verification before release.

* [x] - Mac - DoneJS Chat
* [x] - Windows - DoneJS Chat
* [x] - Mac - Place My Order
* [x] - Windows - Place My Order

[2017-02-27 18:22] chasenlehara opened #842 "Add a Migration Guide to the site"
The DoneJS migration guide should cover how to upgrade an app or plugin (or generator?) to the same dependencies that are in a DoneJS 1.0 project.

I would expect the guide to frequently refer to the [CanJS](https://canjs.com/doc/migrate-3.html) and [StealJS](http://stealjs.com/docs/guides.Contributing.html) migration guides, while providing info on how to upgrade all of the DoneJS-specific parts.

[2017-02-27 19:20] justinbmeyer commented on #419
Moving this to 1.0 for a quick investigation spike.  If it seems easily doable, it will be part of 1.0.

[2017-02-27 19:47] matthewp commented on #841
Holding off on possibly #419

[2017-02-27 23:38] chasenlehara opened #843 "Generated DoneJS app & plugin file structure"
The DoneJS app and plugin generators include components in `src/` but models go into their own `src/models/` folder. I think it’d be better if the components were put into a `src/components/` folder.

This issue is intended to be a discussion place for any file structure bikeshedding that we should argue over before DoneJS 1.0 is released.

[2017-02-27 23:43] chasenlehara commented on #841
…and maybe https://github.com/donejs/donejs/issues/843

[2017-02-28 15:57] phillipskevin commented on #843
There was also discussion about generating models using a modlet structure: https://github.com/donejs/generator-donejs/issues/114.

[2017-03-01 15:59] leoj3n commented on #834
This, is a fine idea.

Is my understanding correct, that SSR is what enables this to work, and it would not be possible without the SSR brokering the transaction? In that case, it makes using SSR that much more convincing. I don't see why this should cause a problem with javascript spidering search engines, but if it did I would imagine the solution could be a trigger offered by the likes of Googl

[2017-03-01 16:17] matthewp commented on #834
@leoj3n There are 2 parts. One is streaming SSR. The other is streaming API requests. The latter does not require that you use SSR. It will be available as a can-connect plugin ([can-connect-ndjson](https://github.com/canjs/can-connect-ndjson)) that can be used with any can project. Server rendered or not.

[2017-03-01 17:40] justinbmeyer commented on #834
@leoj3n google (or anything consuming the `http` response) would know to wait until the response is complete anyway.

[2017-03-01 18:25] leoj3n commented on #834
That is so cool. Very elegant. I am going to have to play with this, and possibly rig up an objective speed comparison test.

[2017-03-03 16:51] BigAB commented on #843
Not sure where the best place to comment, but I agree with both these changes.

I see only benefit, with no real detriment, to adding these directories to make the file tree more predictable and readable.

[2017-03-03 17:10] justinbmeyer commented on #800
- debugger tools
- different styles
- testee?
- documentjs?
- donejs update?

[2017-03-03 17:11] phillipskevin commented on #843
We could add support for this (put components in components folder) pretty easily.

We could add an option to the supermodel generator to prompt for a folder and default it to `src/models` and add a prompt to the component generator and default it to `src`.

This way nothing would need to change in the guides and users could do what they want right now. And we can change the default folders in a l

[2017-03-03 18:20] mjstahl commented on #843
Can we also change the `<component>.html` file name to `demo.html`, to go along with `test.html`

[2017-03-03 18:34] Alfredo-Delgado commented on #843
Over 80% of code resides in components. While it makes sense for common components used throughout a project to reside in a `common` or `components` directory, having every component in a `components` directory is redundant.

A project is much easier to join if high level components are in `/src` and its dependencies are hierarchically stored beneath them.

e.g.
[code]

If at some point a componen

[2017-03-03 18:38] kylegifford commented on #843
On Lowe's, we've been using the `src/components` and `src/models` structure and have found it easy to work with. I like not having any component files in the root (`src`) directory, because we've created several other folders there (`connections`, `helpers`, `pages`, `vendor`, etc). Having components in there would muddle things, IMO.

Long story, +1 to `src/components`.

[2017-03-03 18:48] adrifolio commented on #843
I agree with the `src/components` idea. In the projects that I have worked on, the base styles are usually stored under "src" but they are not a component, so separating components to its own directory keeps the structure clean.

I also like the idea of being able to enter where a component should be created as part of generating it, but would default to `src/components`. This gives the option of

[2017-03-03 18:54] matthewp commented on #843
You can do nested components with generator-donejs already. We do this in the PMO guide: `donejs add component restaurant/list pmo-restaurant-list` created a nested component. The change proposed in this issue is putting them in `components/` so the nested version would be `components/restaurant/list` cc @adrifolio @Alfredo-Delgado

[2017-03-03 19:30] ccummings commented on #843
+1 to the `src/components` change.

I also agree with @Alfredo-Delgado that a flat folder structure is not ideal so I've used @matthewp approach to add nesting for sub-components in previous projects and it worked out well.

[2017-03-06 18:08] matthewp commented on #419
This is doneish.

[2017-03-06 18:08] matthewp commented on #419
Actually, need to wait for https://github.com/donejs/donejs/pull/846

[2017-03-06 18:41] matthewp commented on #830
Here's a diagram of the architecture I've been thinking about. [Link](https://docs.google.com/a/jupiterjs.com/drawings/d/1ql6IyhuHv4ww4UjUvL1CysC_ZAxSoNG2MveGk1LCSCk/edit?usp=sharing).

![css stack diagram](https://cloud.githubusercontent.com/assets/361671/23623880/b228182e-0271-11e7-8f42-2e19e64b4e1b.png)

Few potentially interesting points

* The parser will be streaming, in browsers that suppor

[2017-03-06 21:44] matthewp commented on #841
I got through donejs-chat today. Plan on going heads-down tomorrow to verify PMO.

[2017-03-07 15:42] phillipskevin opened #848 "Issue setting up Virtual Device Manager on Windows"
This step: http://localhost/donejs/site/SettingUp.html#platform-and-build-tools says to run run `android.bat`, which gives the following error on Windows:

[code]

[2017-03-07 16:25] matthewp opened #849 "PMO Guide: src/test.js is out of date with folder structure changes"
https://github.com/donejs/donejs/blob/major/guides/place-my-order/steps/test-runner/test.js

[2017-03-07 21:52] matthewp commented on #841
BOOOOOOOOOOOM! 💥

[2017-03-07 21:52] #841 closed, assigned to matthewp

[2017-03-08 15:31] matthewp opened #852 "Update plugin guide for 1.0"
Not sure if the guide needs to be updated, but we should look into it.

[2017-03-08 15:32] matthewp opened #853 "Update generator guide for 1.0"
If needed.

[2017-03-08 15:33] matthewp opened #854 "Make it possible to run a generator on an old version"
It should be possible to do `donejs add some-generator@1.0` and get the 1.0 dist-tag.

[2017-03-08 15:42] chasenlehara opened #855 "Version the install commands"
Similar to https://github.com/canjs/canjs/pull/3004, the guides should specify version numbers so the correct version is installed.

This depends on https://github.com/donejs/donejs/issues/854

[2017-03-08 16:24] matthewp opened #856 "Major branch: Appveyor tests are failing"
See the `test-tests` branch. Need to figure out what is going on.

[2017-03-08 17:56] justinbmeyer opened #857 "External link icon in the wrong place"
I see the following in chrome when my page is narrow.

![cursor_and_donejs_-_quick_start_guide](https://cloud.githubusercontent.com/assets/78602/23716536/2dc3f8ba-03f6-11e7-9447-1c7b588ba82b.png)

[2017-03-08 20:52] matthewp commented on #856
This is fixed now.

[2017-03-08 20:52] #856 closed, assigned to matthewp

[2017-03-08 23:04] leoj3n opened #859 "Browser back button should not cause the page to autoscroll on DoneJS site"
__How often can you reproduce it?__

- [x] Always

__Description:__

When using the DoneJS site I noticed some behavior that may not be desirable, especially when navigating between long scrolling pages like when following a guide or reading documentation.

__Steps to reproduce:__

1. Visit https://donejs.com/contributing.html#section=section_ReportingBugs
2. Scroll down the page a bit.
2. Visit g

[2017-03-10 15:09] phillipskevin commented on #854
Closed by https://github.com/donejs/cli/pull/77.

[2017-03-10 15:09] #854 closed, assigned to phillipskevin

[2017-03-11 18:12] AlexGandu opened #861 "IE bug: On donejs.com, when clinking on the side menu links, the page isn't scrolling to that section"
Reproduces on IE (all IE all windows)
Steps:
- go to http://donejs.com/Guide.html (or any other page with the side menu)
- click on a title
- notice that the page isn't scrolling to that section

![donejs](https://cloud.githubusercontent.com/assets/24681052/23825675/e0e6f294-0685-11e7-9656-c612938a78ac.PNG)

[2017-03-11 18:25] AlexGandu opened #862 "IE bug: UI is broken on http://canjs.com/"
Reproduces only on IE:
- IE 10: there is a white section in the middle of the page; header links overlap
- IE 9: only the left section of the page is loaded
![win 8 ie 10](https://cloud.githubusercontent.com/assets/24681052/23825774/f9a399a2-0687-11e7-9946-cbd0c0805d55.PNG)
![win 7 ie 9](https://cloud.githubusercontent.com/assets/24681052/23825775/fa61d4b2-0687-11e7-97d4-54010bd46fb0.PNG)

[2017-03-15 11:34] matthewp commented on #419
This can be closed now.

[2017-03-15 11:34] #419 closed, assigned to matthewp

[2017-03-15 11:50] matthewp commented on #862
Please open this issue in https://github.com/canjs/canjs/issues, thanks!

[2017-03-15 11:50] #862 closed, assigned to nobody

[2017-03-15 12:42] matthewp commented on #855
This needs to be done in major and master.

[2017-03-15 12:58] phillipskevin commented on #855
Some of this has been done on https://github.com/donejs/donejs/pull/858, but the tests keep failing on AppVeyor with Node 7 so it has not been merged yet.

[2017-03-15 13:14] matthewp opened #864 "Tests flaky in Appveyor CI"
We are seeing flakyness in Appveyor when running the guide tests. Seems consistently this problem:

[code]

Though the problem doesn't happen 100% of the time, when it does happen it is the above error.

[2017-03-15 13:14] matthewp commented on #864
This could be SSL related. Here's an issue on npm: https://github.com/npm/npm/issues/8803

[2017-03-15 13:15] matthewp commented on #855
I filed https://github.com/donejs/donejs/issues/864 for that.

[2017-03-15 13:15] matthewp commented on #855
I'm working on the 0.9 versions of this change.

[2017-03-15 13:19] matthewp commented on #864
Example log: https://ci.appveyor.com/project/daffl/donejs/build/1.0.1971/job/2a79o6q5hy789767

[2017-03-15 14:50] matthewp commented on #864
Also related: https://github.com/npm/npm/issues/10897

[2017-03-15 14:53] matthewp commented on #864
We could try adding `npm set registry http://registry.npmjs.org/` to the Appveyor config, this will make it use plain http.

[2017-03-15 16:50] chasenlehara commented on #862
@AlexGandu, thanks for filing this issue! I’ve created https://github.com/canjs/canjs/issues/3100 so you don’t have to open it.

[2017-03-15 17:06] matthewp commented on #864
This was fixed by https://github.com/donejs/donejs/pull/858/commits/c4f8c5c3d86ca21933f0c522f0ea0a2941e33efb

[2017-03-15 17:06] #864 closed, assigned to nobody

[2017-03-15 17:51] matthewp commented on #855
It looks like only the chat guide was updated in #858

[2017-03-16 15:22] phillipskevin commented on #855
Both sites have been updated with the versioned guides.

[2017-03-16 15:22] #855 closed, assigned to matthewp

[2017-03-16 16:31] phillipskevin commented on #629
This was fixed in 0.9 also with #695.

[2017-03-16 16:31] #629 closed, assigned to nobody

[2017-03-23 14:34] matthewp opened #869 "Adding properties to the Application ViewModel causes live-reload errors"
[code]

[2017-03-23 15:44] matthewp commented on #869
I wasn't able to recreate this a second time.

[2017-03-23 15:44] #869 closed, assigned to matthewp

[2017-03-24 12:05] #789 closed, assigned to nobody

[2017-03-25 06:11] leoj3n commented on #852
It does. For example, the first steps in plugin guide say to do this:

`donejs add plugin donejs-plugin-testing && cd donejs-plugin-testing && donejs develop`

That works. Next, the plugin guide tells you to do:

`donejs add component donejs-plugin-testing && donejs develop`

Which results in the following error:

[code]

Solving that error and on to the next:

[code]

Solving that error and on to

[2017-03-25 07:03] leoj3n commented on #852
Solution for me:

[code]

Add in `package.json`:

[code]

[2017-03-26 03:31] leoj3n commented on #852
Made a quick [tutorial on how to integrate thrid-party packages into a DoneJS plugin](https://github.com/leoj3n/donejs-plugin-codemirror/blob/d13fa764d98f6d52893e6997c74839004be5eb4b/README.md#how-to-integrate-third-party-packages-into-a-donejs-plugin).

Might be useful to add to some plugin guide somewhere.

[2017-03-27 15:26] matthewp opened #871 "Tests are failing on Travis with donejs@alpha"
Tests are currently failing. This started happening after releasing donejs-cli@1.0.1. However rolling back to donejs-cli@1.0.0 doesn't fix the problem.

The problem is that Firefox segfaults when it is first launched in PMO (after `donejs api` is run):

[code]

[SIGSEGV](https://www.google.com/search?q=SIGSEGV) is a segmentation fault.

Locally the tests pass on OSX, Ubuntu 14.04, and Windows:

<i

[2017-03-27 15:26] matthewp commented on #871
My next step is to try and replicate using the Docker image that Travis CI uses.

[2017-03-27 16:23] matthewp commented on #871
Able to recreate the segfault using these instructions to get a Travis docker: http://stackoverflow.com/questions/29753560/how-to-reproduce-a-travis-ci-build-environment-for-debugging

[2017-03-28 23:43] rlin415 opened #874 "Clicking on "Pretty URL’s with Pushstate" does not bring you to that section"
![demo](https://cloud.githubusercontent.com/assets/8172613/24432236/9f468bbc-13d5-11e7-933f-f1699175b971.gif)

[2017-03-28 23:49] rlin415 opened #875 "Clicking on "Server Side Rednered" does not bring you to that section"
![demo](https://cloud.githubusercontent.com/assets/8172613/24432357/6c56ff42-13d6-11e7-9e4e-c4d2d80d020a.gif)

[2017-03-28 23:50] phillipskevin commented on #875
@Rlin415 would you mind testing this on the DoneJS 1.0 site: https://donejs.github.io/donejs-next/ ?

[2017-03-28 23:50] phillipskevin commented on #874
@Rlin415 would you mind testing this on the DoneJS 1.0 site: https://donejs.github.io/donejs-next/ also?

[2017-03-28 23:58] rlin415 commented on #874
@phillipskevin Looks like none of the links that are experiencing this same issue are happening in the DoneJS 1.0 site.

[2017-03-29 00:00] rlin415 opened #876 "Clicking on "Progressive Loading" does not bring you to that section"
Similar to #874

[2017-03-29 00:01] rlin415 opened #877 "Clicking on "Minimal Data Requests" does not bring you to that section"
Similar to #874

[2017-03-29 00:02] rlin415 opened #878 "Clicking on "Minimal DOM Updates" does not bring you to that section"
Similar to #874

[2017-03-29 00:11] rlin415 opened #879 "Change "In depth guide" to "In-depth guide""
<img width="1259" alt="screen shot 2017-03-28 at 5 09 48 pm" src="https://cloud.githubusercontent.com/assets/8172613/24432807/641fbe88-13d9-11e7-9326-2a6d945528a0.png">

"In depth" should be changed to "In-depth".

[2017-03-29 00:19] leoj3n commented on #879
It needs to be updated in a couple places:

https://github.com/donejs/donejs/search?utf8=%E2%9C%93&q=%22In+depth%22&type=

[2017-03-29 01:26] rlin415 opened #880 "Correct sentences in graph image on home page"
I think there are a few grammatical errors in some sentences.

<img width="287" alt="screen shot 2017-03-28 at 5 53 59 pm" src="https://cloud.githubusercontent.com/assets/8172613/24433737/9079824c-13df-11e7-9558-0a7bf07647bf.png">

For this one, I think it should be changed to something like:

"Using progressive loading, only the highly optimized bundles of JS and CSS needed for the page are downl

[2017-03-29 01:30] chasenlehara commented on #880
@Rlin415, for such small issues, please feel free to submit a PR that fixes them. I know sometimes it takes just as long or longer to create the issues[1] than it does to fix them, so if it’s more convenient, please feel free to just submit a PR.

GitHub makes this really easy with their editing tools. You can search for the file that includes the text in this repo, then click the “Edit this file”

[2017-03-29 01:33] chasenlehara commented on #874
We’re probably going to launch the new site in the next couple weeks, so if you can’t reproduce it in the test site, you can close these issues.

Also, for an issue that manifests itself in multiple places, feel free to file one issue that lists those places instead of creating individual issues for each.

[2017-03-29 01:50] #874 closed, assigned to nobody

[2017-03-29 01:50] #875 closed, assigned to nobody

[2017-03-29 01:50] #876 closed, assigned to nobody

[2017-03-29 01:51] #877 closed, assigned to nobody

[2017-03-29 01:51] #878 closed, assigned to nobody

[2017-03-29 16:35] matthewp commented on #871
No longer happening.

[2017-03-29 16:35] #871 closed, assigned to matthewp

[2017-03-29 16:43] phillipskevin commented on #852
https://github.com/donejs/generator-donejs/issues/223 needs to be completed before finishing updates to the guid.

[2017-03-29 19:56] matthewp commented on #849
This has been fixed.

[2017-03-29 19:56] #849 closed, assigned to nobody

[2017-03-29 22:08] #840 closed, assigned to matthewp

[2017-03-30 14:42] #852 closed, assigned to matthewp, phillipskevin

[2017-03-31 04:07] nriesco opened #887 "Strange behaviour when using can-import tags (opening and closing) v/s just one tag"
__How often can you reproduce it?__

- [ ] Always
- [x] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__

When importing a component using opening and closing tags something goes wrong. It's hard to explain but somehow the first load (non ssr) just ignores it or does not really import it. But if you are running your app using live-reload and change a file causing a reload t

[2017-03-31 11:39] matthewp commented on #887
When using opening and closing tags the import is a dynamic import as [described here](http://canjs.com/doc/can-view-import.pages.dynamic.html).  Does this knowledge resolve things for you?

[2017-03-31 11:55] nriesco commented on #887
Yes my bad.

Sent from my iPhone

[2017-03-31 11:58] matthewp commented on #887
No need to apologize, these types of issues illustrate that self-closing vs. open/closing tags don't convey that they do different things. We should find a different mechanism for dynamic imports in stache.

[2017-03-31 11:59] matthewp commented on #887
One possibly solution is in [this issue](https://github.com/canjs/can-view-import/issues/9).  Going to close as we can discuss more there (or open another issue in that repo if you have a different idea). Thanks! 🤡

[2017-03-31 11:59] #887 closed, assigned to nobody

[2017-03-31 14:30] matthewp commented on #843
DoneJS 1.0 has been released so file structure changes can't happen until 2.0.

[2017-03-31 14:31] matthewp commented on #842
Oops!  I didn't mean to close this.

[2017-03-31 14:32] matthewp commented on #842
@chasenlehara the first draft of the guide is [here](https://github.com/donejs/donejs/blob/master/docs/guides/migrate-1.md).  Keeping this issue open as we'll likely revise it some.

[2017-03-31 15:18] #853 closed, assigned to phillipskevin

[2017-03-31 17:46] #848 closed, assigned to matthewp

[2017-03-31 18:09] phillipskevin commented on #475
turns out I'm not an owner on the donejs repos, @matthewp do you want to take this one?

[2017-03-31 18:21] matthewp commented on #475
Sure.

[2017-03-31 18:24] matthewp commented on #475
This won't cause the donejs dependencies to be updated though, since those dependencies are stored in donejs-cli's package.json "donejs" field.

[2017-03-31 18:24] matthewp commented on #475
It's set up now.

[2017-03-31 18:24] #475 closed, assigned to nobody

[2017-04-04 12:59] #519 closed, assigned to nobody

[2017-04-04 12:59] matthewp commented on #519
I documented this [here](https://github.com/donejs/generator-donejs#developmenthtml) and linked to it in the PMO guide.

[2017-04-04 15:34] #693 closed, assigned to m-mujica

[2017-04-05 20:47] matthewp commented on #395
Thinking out loud here, we should talk about:

* Event listeners created by template event bindings are automatically cleaned up.
* Ditto for event bindings created with controls.
* dom-data is cleaned up (not automatically though, I think).

As far as comparing this to other frameworks, I would assume they all do the same thing, would be very surprised if not.

[2017-04-05 23:00] justinbmeyer commented on #395
Our stuff works a bit different. You can mutate the DOM directly and our stuff should clean itself up. Everything else you likely need to go "through the framework".

Sent from my iPhone

[2017-04-06 13:26] matthewp commented on #395
I think you are talking about when MutationObserver is available. I'll add something about that too.

[2017-04-06 13:27] #838 closed, assigned to nobody

[2017-04-06 13:27] #824 closed, assigned to matthewp

[2017-04-06 15:56] matthewp commented on #839
@ccummings I see that you might have been part of making the gist. Is the donejs todomvc and react mvc code that was used for those somewhere?

[2017-04-06 15:58] matthewp commented on #788
The only remaining item is to flip donejs-next to be donejs.com.

[2017-04-06 16:22] #395 closed, assigned to matthewp

[2017-04-06 18:18] justinbmeyer commented on #395
Every nodelist is designed to clean itself up if its elements are removed. This means you can render the contents of a 3rd party tabs widget with stache. If the tabs widget removed those elements, all bindings would go with it.

Sent from my iPhone

[2017-04-06 20:58] christopherjbaker commented on #839
I updated react to 15.4.2, though I'm having some trouble upgrading canjs to 3.5.1. http://jsbin.com/zigovul/edit?html,js,output

[2017-04-06 21:10] nlundquist opened #896 "place-my-order guide restaurant/list test fails w/ DoneJS 1.0"
When running through the DoneJS Place-My-Order guide with 1.0 the list component test fails on the 'setting state and city loads a list of its restaurants' test.

[code]

Ends up returning a list with both restaurants in the fixture instead of the one restaurant that has the city as "Alberny".

```vm.restaurants``` promise ends up returning an empty list.

The lists returned from these two are sup

[2017-04-06 21:56] #551 closed, assigned to skylerraytaylor

[2017-04-06 22:29] nlundquist commented on #896
I don't think that this issue is due to DoneJS 1.0. I think can-set just isn't working as expected. In the [current place-my-order example](https://github.com/donejs/place-my-order) this test ends up comparing the complete set of restaurants rather than a filtered set of restaurants with ```city: "Alberny"```.

In the can-set algebra that was added mid-Feb we added two comparators:
[code]
After re

[2017-04-06 23:10] nlundquist commented on #896
AFAIK we'd have to make our algebra comparators similar to the following:
[code]

And adjust the queries accordingly:
list.js
[code]
list-test.js
[code]

Using code like the above gets the test to work as expected in the existing place-my-order example app, comparing two filtered lists instead of the whole set. However when using the same change in my DoneJS 1.0 project the test still fails. The `

[2017-04-07 05:46] christopherjbaker opened #898 "Quick Start Guide"
Went through the [Quick Start Guide](https://donejs.github.io/donejs-next/Guide.html) and ran into a few things.

When changing src/index.stache, the browser updates as expected. When reloading the page, however, I see the old version of the page while the new one is loading. It seems the server is rendering the old copy. Restarting `donejs-develop` fixes this. (This should perhaps be its own issu

[2017-04-07 17:46] nlundquist commented on #896
The error in my project was in the fixture ```/api/restaurant/{_id}``` instead of ```/api/restaurants/{_id}```. Typo missing the 's' during model creation and hadn't corrected it in the fixture.

After correcting that (and using the above changes to the can-set comparator) my test works as expected.

I'm going to talk to @phillipskevin about the change to the comparator and if there's a better way

[2017-04-07 17:46] #896 closed, assigned to matthewp

[2017-04-07 17:51] matthewp commented on #896
Can you file an issue about the comparator possibly being wrong just so we can track this?

[2017-04-07 17:53] chasenlehara opened #899 "Replace mentions of IE8 with IE9"
The home page and Features page both mention IE8 support; we now support IE9+.

[2017-04-07 18:13] nlundquist opened #900 "donejs-next place-my-order restaurant set comparator doesn't work as expected"
In the [updated place-my-order guide](https://donejs.github.io/donejs-next/place-my-order.html#create-a-test) the restaurant set comparators don't appear to work as expected. They express a statement that will always return true - checking if the ```restaurantValue``` is equal to property on the ```restaurant``` object where ```restaurantValue``` has been read from:

[code]

This ends up returning

[2017-04-07 18:16] nlundquist commented on #896
Sure! I've created: https://github.com/donejs/donejs/issues/900

If you change the syntax for the queries the set comparators aren't required and the results are as expected. Wondering why we were using them and that syntax in the first place.

[2017-04-07 18:57] nlundquist commented on #900
To answer my question of why we were using this syntax, it's because the backend expects the query to be of the form: ```"/api/restaurants?address.state=IL&address.city=Peoria"``` and when using the ```{address:{state:'IL', city:'Peoria'}}``` query syntax this ends up getting sent as ```"/api/restaurants?address[state]=IL&address[city]=Peoria"``` which returns an empty list.

[2017-04-07 20:23] bmomberger-bitovi commented on #839
@christopherjbaker Your donejs script is cut off before the end (in the original gist it's going to line 20490).  Looks like you might have needed to paste in more lines.

[2017-04-07 20:58] nlundquist commented on #900
It seems in [previous versions of the place-my-order guide](http://donejs.com/place-my-order.html#section=section_Createatest) when these comparators were used only on the fixture, you could predict that the query param would always be the second argument:

[code]

However when you move the above to the model it will fail since sometimes the query param is passed as the first argument and the rest

[2017-04-07 23:15] #899 closed, assigned to nobody

[2017-04-08 00:09] chasenlehara commented on #708
Can this be moved out of Icebox now that we’re using `bit-docs`?

[2017-04-08 00:12] chasenlehara commented on #842
Assigned this to myself because I plan on going through the migration guide (thanks @matthewp!) when I write that blog post.

[2017-04-08 01:40] matthewp commented on #708
I would only move it out when someone's working on it (or planning to). I tried and couldn't get it to work.

[2017-04-08 03:22] justinbmeyer commented on #708
What went wrong?

Sent from my iPhone

[2017-04-08 12:53] matthewp commented on #708
https://github.com/donejs/donejs/issues/708#issuecomment-279772062

[2017-04-10 18:11] christopherjbaker commented on #839
Yes, gist didn't seem to like how long the file was (as I was using an unminified version of can-all). My local complete copy was not working either, which is why I didn't update it.

With lots of help from @nlundquist, I got the can 3.5.1 version working (see previously linked jsbin). There was no significant change to CanJS performance, and there was a slight increase to React performance at hig

[2017-04-10 22:19] nlundquist commented on #900
So the answer to why we can't make queries of the form `{address: {city: 'Peoria', state:'IL'}}` work is because that query form has a special behaviour inside of MongoDB. That form looks for records where the address object is exactly equal to the provided one. Should a record's address object have any properties missing from the query address object, the record will not match.

The form `{'addre

[2017-04-10 23:06] nlundquist commented on #900
From my perspective the conversion of queries from 'object form' to 'dot form' might make most sense as an additional can-connect behaviour, but in the current implementation of can-connect superMap the user can't add any additional behaviours. Maybe we should consider the ability of a user to append the mixed in behaviours on superMap.

[2017-04-11 03:19] phillipskevin commented on #900
@nlundquist can we add a [hook](https://github.com/donejs/place-my-order-api/blob/master/src/hooks.js) that would convert the query format?

[2017-04-11 15:07] matthewp opened #903 "Make sure features page has no old DoneJS 0.9 stuff"
https://donejs.github.io/donejs-next/Features.html

[2017-04-11 15:28] nlundquist commented on #900
@phillipskevin that seems possible, but would we want to prevent a valid (and likely more efficient) style of query on the service layer to make the client work as expected? Or should we make the can-connect client do the conversion since it's the client whose expectations don't quite match up with the backends query format?

I know I previously suggested we should change the backend to play nice

[2017-04-11 16:03] phillipskevin commented on #900
I think converting it on the backend is the solution that works best for the guide.

[2017-04-11 16:16] phillipskevin commented on #900
Just going to paste here what we talked about, we want to make something like this work and then use it in the guide:

![image](https://cloud.githubusercontent.com/assets/5851984/24919146/4929fa9c-1ea8-11e7-84cd-df921c8620d4.png)

[2017-04-11 20:28] #839 closed, assigned to nobody

[2017-04-12 00:41] christopherjbaker opened #904 "In Depth Guide"
Went through the In Depth Guide and ran into a few things.

* setting up routing
	* creating a loading indicator
		* `leak-scope` not explained
* creating a unit-tested view model
	* create a test
		* guide page says `'*': Restaurant` but generated code is `'#': Restaurant`
		* What purpose does it serve to add the algebra to the frontend? Shouldn't this behaviour already be handled by the backend

[2017-04-12 01:01] justinbmeyer commented on #904
@christopherjbaker `set.Algebra`'s allow things like real-time, request combining and some caching strategies.

Yeah, everything should be `#`.

[2017-04-12 14:28] matthewp commented on #72
Is this still a thing? Where would this be?

[2017-04-12 14:38] matthewp commented on #898
@christopherjbaker

I wasn't able to reproduce this bug when editing src/index.stache. Is there a particular point in the guide where you noticed this?

[2017-04-12 15:53] christopherjbaker commented on #898
@matthewp I'm actually getting this with every donejs project I create. Once I start `donejs develop`, the server rendered version never updates, though the browser sets itself correct once it has all the code. I just tested on my in-depth final by adding a space to a word in home.component. The view-source does not have the space, and when I refresh the page it shows the non-space, then updates a

[2017-04-12 16:54] matthewp commented on #898
@christopherjbaker if you check out this project: https://github.com/matthewp/blank-donejs-project

And edit the index.stache file, do you still see this problem?  if so please give me your `node -v` and `npm -v`.

[2017-04-12 17:09] christopherjbaker commented on #898
I added "hello" right after the h1 and get the same behaviour. My addition does not show up in view-source, and shows up after a delay upon refresh.

node: 6.10.1
npm: 3.10.10
donejs: 1.0.0
[output of `npm ls`](https://gist.github.com/christopherjbaker/24d04f95a943f4233f61e3d3e15f8501)

[2017-04-12 19:12] matthewp commented on #898
Ok, I installed the same versions but didn't experience the bug.

![screen shot 2017-04-12 at 3 11 38 pm](https://cloud.githubusercontent.com/assets/361671/24975061/61ef3d86-1f92-11e7-832c-4b5c05b55f01.png)

Which OS version are you using?

[2017-04-12 19:13] #903 closed, assigned to nobody

[2017-04-12 19:46] matthewp commented on #898
Moving this over to https://github.com/stealjs/steal/issues/1163

[2017-04-12 19:46] #898 closed, assigned to matthewp

[2017-04-12 20:10] #904 closed, assigned to nobody

[2017-04-13 12:42] andrejewski opened #908 "inaccessible Features/CustomElements JSBin link"
On the features page, there is a JSBin inaccessible to site visitors. The embed can be found in:

<img width="1023" alt="screen shot 2017-04-13 at 8 34 52 am" src="https://cloud.githubusercontent.com/assets/1660953/25004868/7700e624-2024-11e7-8af1-f1d0ebce5bec.png">

[2017-04-13 19:09] nlundquist commented on #900
can-set 1.2.0 has the new set.prop.dotNotation so I'll update the guide to include it's use

[2017-04-13 22:19] nlundquist opened #910 "menu items on donejs-next guides have janky animation"
The sub-menus on the DoneJS-next guides expand, contract and then expand again when navigating between them:

![bouncing_menu](https://cloud.githubusercontent.com/assets/2623867/25026552/264d3120-2064-11e7-89d9-48ac0d7d4a69.gif)

This is always reproducible in OSX Chrome 56. This error doesn't exist on the current version of the DoneJS website. To reproduce visit https://donejs.github.io/donejs-ne

[2017-04-13 23:47] chasenlehara commented on #910
Issue moved to [donejs/bit-docs-donejs-theme #37](https://github.com/donejs/bit-docs-donejs-theme/issues/37) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-13 23:47] #910 closed, assigned to nobody

[2017-04-14 17:54] andrejewski commented on #908
I found another at [donejs - Creating a plugin](https://donejs.com/plugin.html).

[2017-04-17 16:14] andrejewski opened #911 "Command `donejs new` for creating new projects"
Create a new DoneJS CLI command `donejs new` for **creating new things**. The `donejs add` command should be kept and used for additive features to existing projects.

Currently, these commands are "creating": `donejs add app|plugin|generator`.

[2017-04-17 16:17] andrejewski opened #912 "Display `donejs-X` generators autocomplete from NPM"
For `donejs new` or `donejs add` to hit `NPM` and list all `donejs-X` type generators and then let people select their generator.

[2017-04-17 16:21] matthewp commented on #911
This would be a breaking feature and couldn't happen until 2.0.

[2017-04-17 16:35] christopherjbaker commented on #912
If packages get the keyword "donejs-generator", they can be queried at https://registry.npmjs.org/-/v1/search?text=keywords:donejs-generator

[2017-04-17 16:49] andrejewski commented on #911
Doesn't break if it is just added and `add` keeps it's original function which it should for the sake of all the intro docs (ours and others) that would need to be changed.

[2017-04-18 17:49] andrejewski commented on #880
@Rlin415 was actually more right to submit an issue instead of a PR @chasenlehara , this text is not searchable because it is an image. I can't track down the original assets (at the moment, help pls), but that is where the change should be made.

[2017-04-18 18:11] matthewp commented on #880
Check here: https://github.com/donejs/bit-docs-donejs-theme

[2017-04-19 16:39] phillipskevin opened #914 "Update the History section on the About page"
https://donejs.github.io/donejs-next/About.html#history

[2017-04-19 16:55] andrejewski commented on #880
Fixed by https://github.com/donejs/bit-docs-donejs-theme/pull/38

[2017-04-19 16:55] #880 closed, assigned to andrejewski

[2017-04-19 16:55] andrejewski commented on #879
Fixed by #913

[2017-04-19 16:55] #879 closed, assigned to andrejewski

[2017-04-19 17:07] nlundquist commented on #900
Guide update and project update PRs have been merged and can-set has been updated. This issue is closed.

[2017-04-19 17:07] #900 closed, assigned to nobody

[2017-04-20 19:00] chasenlehara opened #915 "Update the Team section on the About page"
Combine the core team and full-time team sections; update them with the current core-team members.

[2017-04-20 20:08] chasenlehara opened #916 "Review the new DoneJS site"
Go through the [next version of the site](https://donejs.github.io/donejs-next/) and look for anything wrong or outdated. If it’s a quick fix, please just submit a PR, otherwise file individual issues.

[2017-04-24 16:40] matthewp commented on #834
For a demo I would have something with 1) A header 2) A sidebar 3) A list of something (search results is a good candidate since search queries are usually slower)

We could slow down the query so that you can see the header and styles being applied, the sidebar showing up, and then the results appending.

This is for SSR. Client-side streaming might have a better demo for it (although I think thi

[2017-04-24 21:45] #908 closed, assigned to chasenlehara

[2017-04-26 15:39] #914 closed, assigned to chasenlehara

[2017-04-26 16:10] #915 closed, assigned to chasenlehara

[2017-04-26 18:18] #916 closed, assigned to imaustink

[2017-04-26 19:05] andrejewski opened #926 "Delete donejs-chat folder before tests run"
I noticed this when a test failed and `donejs-chat` was not cleaned up, we should remove that directory before tests run to ensure consistency.

[2017-04-26 20:46] #842 closed, assigned to chasenlehara

[2017-04-27 17:42] chasenlehara commented on #788
Site’s been published! 👯

[2017-04-27 17:42] #788 closed, assigned to phillipskevin

[2017-04-27 17:46] chasenlehara commented on #602
@imaustink Would you mind checking whether this is still an issue please?

[2017-04-27 17:54] andrejewski opened #928 "Community links blocked on mobile"
On mobile, I cannot click the community links because they are covered with an invisible div:

<img width="601" alt="screen shot 2017-04-27 at 1 50 02 pm" src="https://cloud.githubusercontent.com/assets/1660953/25496899/b2c375be-2b50-11e7-96c8-6af9f5325ca5.png">

(Visible on desktop on a narrow screen.)

[2017-04-27 19:32] chasenlehara commented on #703
Released 🏁👯🎊

[2017-04-27 19:32] #703 closed, assigned to nobody

[2017-04-27 19:32] chasenlehara commented on #706
Deployed 🏁👯🎊

[2017-04-27 19:32] #706 closed, assigned to nobody

[2017-04-30 02:20] chasenlehara opened #929 "Show more upcoming events"
It’d be nice if the [upcoming events](https://donejs.com/community.html#events) section of the site listed _all_ of the upcoming events[1] or (at a minimum) links to the calendar so people can see all the upcoming events.

[1] Maybe even do something neat with the CSS so if there are four, they display in a 2x2 grid…

[2017-04-30 02:33] chasenlehara commented on #929
Filed this in the wrong repo 🙈 https://github.com/donejs/bit-docs-donejs-theme/issues/50

[2017-04-30 02:33] #929 closed, assigned to nobody

[2017-05-02 15:55] mjstahl opened #930 "donejs.com "Blog" link is pointing to a Bitovi.com page that is 404'ing."
__How often can you reproduce it?__

- [x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__

Blog link at the bottom of the donejs.com page is currently pointing to a location that is 404'ing.

__Steps to reproduce:__

1. Go to `donejs.com` scroll to the bottom of the page.
2. Under the __Keep In Touch__ header, click on the __Blog__ link.

You are taken to `ht

[2017-05-02 15:57] mjstahl commented on #930
`href` of the link should be changed to `https://www.bitovi.com/blog/topic/open-source`

[2017-05-02 16:44] #930 closed, assigned to mjstahl

[2017-05-02 17:06] mjstahl opened #933 "`donejs help` errors out when it was expected to return the command usage"
__How often can you reproduce it?__

- [X] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__

`donejs help` errors out with the following error:
[code]

__Steps to reproduce:__

1. Open terminal
2. Assuming `donejs` is installed globally
3. Run `donejs help` -- watch the fireworks, where fireworks is a stack trace.

__Expected results:__

Expected the same resul

[2017-05-02 20:04] bmomberger-bitovi opened #935 "DoneJS chat API server is misconfigured for https"
`http://chat.donejs.com/api/messages` is fine as an AJAX endpoint if users are running from `http://localhost:8080` as in the guide.  However, trying to run the code on JSBin, which uses HTTPS, causes a failure due to disallowed insecure/secure mixing.

Simply changing the `http` to `https` isn't enough to make it work, since `chat.donejs.com` is really `donejs-chat.herokuapp.com` and is served wi

[2017-05-02 20:58] chasenlehara commented on #935
The CanJS chat guide is currently broken because of this issue: https://canjs.com/doc/guides/chat.html#Result

[2017-05-02 23:04] imaustink commented on #811
@chasenlehara I don't think RunKit is quite right for this use-case. I have however successfully set up the place-my-order app on [Cloud9](https://ide.c9.io/imaustink/done-js-playground).

[2017-05-02 23:36] chasenlehara commented on #811
@bmomberger-bitovi has been working on a Glitch project that would cover this: https://github.com/donejs/developer-relations/issues/19#issuecomment-298703604

I wonder what the differences between the services are, and if there’s a clear winner. Either way, we should like to all the starter projects so people can take their pick. 😊

[2017-05-03 14:30] imaustink commented on #811
I've used both services pretty extensively. For me, I've had a lot better luck with Cloud9. Glitch has some cool collaborative stuff but it usually doesn't work right and causes massive frustration. Cloud9 is more complex than Glitch though, which I could see as a pain-point. So perhaps for this use case Glitch would be better, as it is simpler and collaboration might not be important.

[2017-05-03 15:13] #933 closed, assigned to nobody

[2017-05-03 16:10] matthewp opened #936 "CI is currently failing"
https://travis-ci.org/donejs/donejs/jobs/228382410

[2017-05-03 17:20] leoj3n commented on #734
https://developers.google.com/web/updates/2017/02/navigation-preload

[2017-05-03 19:35] matthewp commented on #936
This is the test that fails: https://github.com/donejs/donejs/blob/18ad7dd75bbec01b138b591804b7c2f8a865f3ba/test/run-binary-test.js#L70

The problem is only in Node 7.10. Works fine in 7.9

[2017-05-03 20:35] #936 closed, assigned to matthewp

[2017-05-03 21:13] chasenlehara commented on #811
@imaustink and I talked about this in person. I don’t think Cloud9 is a good solution because you have to sign in to their service (they have GitHub integration but it requires full access to your account).

As he already mentioned, RunKit is great for testing modules but not for entire apps.

I’m closing this in favor of https://github.com/donejs/developer-relations/issues/19

[2017-05-03 21:13] #811 closed, assigned to imaustink

[2017-05-07 04:57] xedoken opened #940 "How about use electrino?"
I found this:

https://github.com/pojala/electrino
https://medium.com/dailyjs/put-your-electron-app-on-a-diet-with-electrino-c7ffdf1d6297

And great article in medium for diffing electron and electrino. I think that electrino is super cool with electron api support. Comparison of identical “Hello World” apps between Electron and Electrino: the latter is only 167 KB in size. That’s only 0.1% percen

[2017-05-09 09:38] pYr0x opened #941 "In-depth guide improvments"
on the donejs in-depth guide some hyperlinks point to the canjs version 2 website

https://donejs.com/place-my-order.html#switch-between-components

- `To learn more about routing visit the CanJS guide on Application State and Routing.`
- `...then progressively loads the component with can-import and initializes it.`

[2017-05-09 14:03] phillipskevin commented on #940
I think Electrino looks really interesting, but right now it seems more like a proof-of-concept than something that can be used in apps. Also, since it doesn't have support for many of the Electron APIs right now it would be difficult to integrate.

I think it's a really interesting project to watch, but not something we can use right now.

I'm going to close this for now, but feel free to re-open

[2017-05-09 14:03] #940 closed, assigned to nobody

[2017-05-10 14:28] matthewp commented on #834
# Testing Streaming Approaches

Last week I did some testing of [two approaches](https://github.com/donejs/donejs-streaming-test-comparison) to streaming with HTTP2. In both methods:

* The JavaScript is pushed.
* The data requests are pushed.
* 100 items are streamed from the API, 1 every 10ms.

The difference is in how the DOM rendering happens.

## Traditional SPA with streaming data

The first

[2017-05-10 14:33] matthewp commented on #834
# Next Steps

I think regardless of whether the incremental rendering approach becomes a real thing that we use in DoneJS apps (and it might!) there are still some important changes that would be useful.

With that being said I think we should:

1. Add HTTP2 support to done-serve
1. Change steal-tools to export it's dependency graph (to include a mapping of bundles to all of the split bundles).
1.

[2017-05-11 20:42] phillipskevin commented on #935
https://chat.donejs.com/api/messages is working now. Just need to update the JSBins to use `https`.

[2017-05-12 01:31] chasenlehara commented on #935
Thanks @phillipskevin!

[2017-05-12 01:31] #935 closed, assigned to phillipskevin

[2017-05-12 01:32] phillipskevin commented on #935
@matthewp helped me finish it off also, so thanks @matthewp. And thank you, @chasenlehara, for fixing the JSBins.

[2017-05-17 13:24] matthewp commented on #800
Aside from stuff we have already done or already doing, I think the important things are:

* Better answer for 404s
* debugger tools (not sure what)

[2017-05-17 13:37] justinbmeyer commented on #800
Do these have to be part of 2.0? I think we need a 1.1 (or minor) goal/epic.

Sent from my iPhone

[2017-05-17 13:51] matthewp commented on #800
Probably not. 404s might, depending on what is required there.

[2017-05-19 14:48] justinbmeyer opened #943 "PMO - Route helpers not imported in home.component"
log.js:102 WARN: can-stache/src/expression.js: Unable to find helper "routeUrl".

[2017-05-19 14:52] phillipskevin commented on #943
Is this in the PMO guide?

[2017-05-19 15:01] justinbmeyer commented on #943
yes

[2017-05-19 15:03] andrejewski commented on #943
We should be explicitly adding `<can-import from="can-stache/helpers/route" />` to the code blurb in https://donejs.com/place-my-order.html#creating-a-homepage-element is all.

[2017-05-19 15:43] justinbmeyer opened #944 "move algebra under the List"
const algebra = new set.Algebra(
  set.props.id('_id')
);

[2017-05-19 15:55] phillipskevin commented on #944
Why do we want it under the List? This is the way we're showing it in all of the guides now.

[2017-05-19 16:13] justinbmeyer commented on #944
because you should define your Model and Model.List type, then the algebra.  It sorta makes sense.

[2017-05-19 16:16] phillipskevin commented on #944
Oh, got it. I thought you meant to create it as `Restaurant.List.algebra`.

[2017-05-19 16:40] andrejewski opened #945 "PMO - Normalize server id keys"
Currently, the [PMO server](https://github.com/donejs/place-my-order-api) returns restaurant, state, and city data objects. Each has its own id key (`_id`, `short`, and `name` respectively) which tripped a few of us up running through the guide. It's good to know you can have arbitrary id keys but not something to prioritize in this guide because the generator does the work of making the files.

-

[2017-05-19 18:50] justinbmeyer opened #946 "use can-stache-converters?"
[code]

This fixes the bug with the wrong options showing.

[2017-05-19 19:48] justinbmeyer opened #948 "# is in the static properties"
[code]

[2017-05-19 21:20] chasenlehara opened #951 "donejs/donejs hardcoded in the tests"
These two files have this repo hard-coded, so submissions from forks fail:

- https://github.com/donejs/donejs/blob/b6879cbdd98d2665871f1f50173ecdc15dcc822e/guides/guide/test.js#L31
- https://github.com/donejs/donejs/blob/b6879cbdd98d2665871f1f50173ecdc15dcc822e/guides/place-my-order/test.js#L44

[2017-05-20 05:09] morrme commented on #951
what would be the best way to write it ? would `"/donejs#"` work?

[2017-05-20 18:04] andrejewski commented on #951
We'll use `TRAVIS_PULL_REQUEST_SLUG` and `TRAVIS_REPO_SLUG` from https://docs.travis-ci.com/user/environment-variables/#Default-Environment-Variables

[2017-05-20 19:33] morrme commented on #951
@andrejewski Ah, awesome. Do you plan to do this or may I give it a try?

[2017-05-21 00:29] andrejewski commented on #951
@morrme I did plan to, but by all means give it a shot. I wasn't gonna do it until Monday anyway. Please add me as a reviewer on the PR.

[2017-05-22 06:35] morrme commented on #951
Thanks @andrejewski ... I do not have the rights to add you as a reviewer but here's the PR https://github.com/donejs/donejs/pull/952

[2017-05-22 15:58] #951 closed, assigned to nobody

[2017-05-22 18:47] chasenlehara opened #954 "Design help for Matthew’s streaming blog post"
Some animations/charts/etc. will need to be made for @matthewp’s blog post on getting the most out of HTTP/2 push.

[2017-05-23 13:43] phillipskevin commented on #943
I missed that the highlighting also needs to be updated:
![image](https://cloud.githubusercontent.com/assets/5851984/26357097/da049f7a-3f93-11e7-8f14-12d466ed50be.png)

[2017-05-23 15:30] #836 closed, assigned to nobody

[2017-05-23 15:59] #943 closed, assigned to mjstahl

[2017-05-30 16:43] chasenlehara commented on #602
Closing because I can’t reproduce this issue on my iPhone 7 with iOS 10.3.2

[2017-05-30 16:43] #602 closed, assigned to imaustink

[2017-06-01 12:06] matthewp opened #957 "DoneJS Slim Loader Integration"
This is an epic for getting the new slim loader working in DoneJS apps.

[2017-06-01 12:21] matthewp opened #958 "Create a slim generator"
It would be great to have a generator that is added with `donejs add slim` that adds and configures the steal-tools slim loader to be used for production mode.

[2017-06-01 12:24] matthewp commented on #954
This is finished, thanks @jamiemccue !

[2017-06-01 12:24] #954 closed, assigned to jamiemccue

[2017-06-06 01:56] marshallswain opened #959 "Generated app not starting with node@7.6.0 and npm@5.0.3"
__How often can you reproduce it?__

- [x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

After creating an application with `donejs add app pwa-test`, when I open the root directory and run `donejs develop`, I get the following error:

![screen shot 2017-06-05 at 7 46 01 pm](https://cloud.githubusercontent.com/assets/128857/26810227/a2f0a850-4a27-11e7-8471-02b2e52b00ce.jpg)

[2017-06-06 01:57] marshallswain commented on #959
However, if I delete the `node_modules` folder and the `package.lock.json` and `npm install` again, it works as expected.

[2017-06-06 14:34] phillipskevin commented on #959
@obaidott can you look into this while you're working on adding Node 8 to CI?

[2017-06-06 14:43] matthewp commented on #959
My guess is that the way `donejs add app` works is that the new lockfile gets created prevents additional packages from being installed. We might want to use the flag to disable the lockfile (if that is indeed the problem, just a guess here).

[2017-06-06 15:20] marshallswain commented on #734
Just for kicks, and inspired in part by [Matthew's HTTP 2 article](https://www.bitovi.com/blog/utilizing-http2-push-in-a-single-page-application), I tried running our default `donejs add app` code through the [Chrome Lighthouse extension](https://developers.google.com/web/tools/lighthouse/) that rates PWAs.

The full checklist for creating a PWA is [here](https://developers.google.com/web/tools/li

[2017-06-06 15:20] marshallswain commented on #735
Just for kicks, and inspired in part by [Matthew's HTTP 2 article](https://www.bitovi.com/blog/utilizing-http2-push-in-a-single-page-application), I tried running our default `donejs add app` code through the [Chrome Lighthouse extension](https://developers.google.com/web/tools/lighthouse/) that rates PWAs.

The full checklist for creating a PWA is [here](https://developers.google.com/web/tools/li

[2017-06-06 15:22] matthewp commented on #735
@marshallswain is that prod mode or dev?

[2017-06-06 15:23] marshallswain commented on #735
Top is dev. bottom is prod.

[2017-06-06 20:38] chasenlehara commented on #734
@marshallswain The core team has talked about this but we haven’t prioritized it yet. Here are my _personal_ thoughts:

1) There’s probably some low-hanging fruit that we can do for all DoneJS apps to improve the score. In a personal project, the only item under Performance that needs to be improved is “Reduce render-blocking stylesheets”
2) For things that are PWA-specific, we should have [donejs

[2017-06-06 21:10] marshallswain commented on #734
Thanks @chasenlehara.  I was thinking the same thing about the `donejs add pwa`.  I created the `donejs-pwa` project on GitHub and pushed a DoneJS-generated generator to it.  We can use that as a starting point.

I'll see if I can get the service worker running and will look at getting done-serve to serve up HTTPS by default, similar to how the [`serve-https` package](https://www.npmjs.com/package

[2017-06-14 16:48] justinbmeyer opened #962 "donejs add firebase@1 does nothing in bitballs root folder"
bitballs root folder is not a donejs project.  it's public folder is.  If someone runs `donejs add firebase` we should probably give them a warning.

[2017-06-14 16:49] matthewp commented on #962
Shouldn't this be in donejs/bitballs?

[2017-06-14 17:25] justinbmeyer opened #963 "donejs deploy fails"
Doing the steps in the [DoneJS Chat: Configure DoneJS Guide](https://donejs.com/Guide.html#configure-donejs) fail.

<img width="895" alt="cursor_and_donejs-chat_ _-bash_ _59x31" src="https://user-images.githubusercontent.com/78602/27145871-e10f7b6c-50fc-11e7-9601-ed4b57c14cfb.png">

I am only really running `donejs add app` followed by the steps to do a deploy. To re-create:

- `donejs add app don

[2017-06-14 17:25] justinbmeyer commented on #963
Possibly related: https://github.com/firebase/firebase-tools/issues/369

https://github.com/firebase/firebase-tools/issues/342

[2017-06-14 17:37] matthewp commented on #963
I was able to recreate. Investigating.

[2017-06-14 17:55] matthewp commented on #963
I'm thinking the file format might have changed in some way, looking into that.

[2017-06-14 18:00] matthewp commented on #963
I think it's because the firebase ID is incorrect. When I tried it I typed in the **name** I chose when creating the firebase. https://console.firebase.google.com/

However, that's not the firebase ID.

<img width="325" alt="screen shot 2017-06-14 at 1 59 00 pm" src="https://user-images.githubusercontent.com/361671/27147155-be09ecda-5109-11e7-8469-b5a227980d92.png">

In this example the firebase I

[2017-06-14 19:24] matthewp commented on #963
Also going to change:

[code]

to:

[code]

[2017-06-14 19:49] matthewp commented on #963
* [x] - Release donejs-firebase with wording change.
* [x] - Update chat-guide with UI to get the id.
* [x] - Update PMO guide with UI to get the id.
* [ ] - Update PMO guide to use `npm run deploy:ci` in Travis setup.

[2017-06-15 13:16] #963 closed, assigned to matthewp

[2017-06-16 01:27] justinbmeyer opened #965 "SSR should work if `main` in package.json doesn't have the name of the app"
It seems that `ssr` is failing if the `main` is like `"main": "index.stache!done-autorender",`.

I think this is a bug b/c this works fine if you load StealJS in production as a __client-rendered__ app.  It only breaks with SSR.

[2017-06-16 01:28] justinbmeyer commented on #965
This is breaking even if I call `ssr` with the right values:

[code]

[2017-06-16 01:35] justinbmeyer commented on #965
Looks like `done-ssr-middleware` ignores the passed in configuration:

[code]

If `system.main` is present, this should probably assume the person knows right. Also, it might want to include the `package.name` here in the main if it's not already present.

[2017-06-16 01:37] #965 closed, assigned to nobody

[2017-06-16 01:37] justinbmeyer commented on #965
Issue moved to [donejs/done-ssr-middleware #25](https://github.com/donejs/done-ssr-middleware/issues/25) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-18 02:14] justinbmeyer commented on #962
No, I think `donejs`'s CLI should warn if its not running in a donejs app.  I believe some generators already do. But probably not `donejs add firebase`.  It probably belongs in that generator.

[2017-06-18 15:21] matthewp commented on #962
Can you update the issue description for what change you are proposing to donejs?

[2017-06-19 08:33] frank-dspeed commented on #962
donejs cli can't warn if on command add in general if not executed in a donejs project as donejs add command creates a donejs project or plugin also.

way to go is to warn only if command is not add app or add plugin

i think in general it should warn only if it trys to execute a donejs-Generator module outside of a donejs project

[2017-06-19 08:36] frank-dspeed opened #966 "Proposal: Add Package manager support for yarn"
We should add package manager switching like

### Inspiration
https://github.com/donejs/donejs-feathers/blob/master/default/index.js
same also for generator-donejs

### Related
- https://github.com/donejs/donejs/issues/995 - a good place to address also this

[2017-06-22 02:48] chasenlehara opened #968 "Create Messages step of Quick Start Guide doesn’t work"
At the [Create messages](https://donejs.com/Guide.html#create-messages) step of the guide, when I try to create a new message through my app’s UI, it refreshes the page.

__Steps to reproduce:__

1. Go through all the steps in the quick start guide, through the “create messages” step
2. In the app you’re building, enter a name and message, then click Send or enter on your keyboard.

I’ve created a

[2017-06-22 06:53] chasenlehara opened #970 "Can’t run guide tests locally"
The following is output after running `npm run test-guides`:

[code]

[`/Library/WebServer/Documents/GitHub/donejs/` is where my local DoneJS repo is installed]

[2017-06-22 12:16] justinbmeyer commented on #968
Arguably P0. @matthewp can you take a look?

[2017-06-22 12:21] matthewp commented on #968
Yep

[2017-06-22 12:27] matthewp commented on #970
Think this is the cause: https://github.com/donejs/donejs/blob/master/guides/guide/test.js#L30

That is trying to find out who's repo it is, but that only works in CI, of course. If it was:

[code]

I think it would fix it.

[2017-06-22 12:32] matthewp commented on #968
Might be something to do with chat.donejs.com being on https now. Not a code error as far as I can tell.

[2017-06-22 12:58] matthewp commented on #968
the POST is being sent as `application/x-www-form-urlencoded` because of [this PR](https://github.com/canjs/can-util/pull/189).  That change is 4 months old, there's no way this has been broken that long. So there must have been some other change in the stack.

[2017-06-22 12:59] matthewp commented on #968
`application/x-www-form-urlencoded` should probably be ok (guessing the server can handle it), but it messes up because the ajax function is handed a stringified JSON object.

[2017-06-22 13:01] matthewp commented on #968
I think the can-util/ajax code is wrong here. I don't know anything about "simple" CORS, but it should not be ignoring the contentType provided.

[2017-06-22 13:01] justinbmeyer commented on #968
@matthewp you mean it's not parsing the response for some reason?

[2017-06-22 13:01] justinbmeyer commented on #968
@matthewp yeah, that sounds like a bug.

[2017-06-22 13:06] matthewp commented on #968
No, I mean it's sending `"{"name": "Matthew", "body": "Hello world"}"` as urlencoded and not application/json, so server can't deserialize it.

[2017-06-22 13:08] justinbmeyer commented on #968
ah ... odd .. there might have been code in can-connect/data/url to force this.  not sure.

[2017-06-22 13:11] matthewp commented on #968
can-connect/data/url does stringify it. Not sure which module should have which responsibilities. If can-connect stringifies it then it *has* to be sent as application/json. If can-util/ajax wants to have opinions on the content-type then it needs to get pre-serialized data so it can do the right thing.

[2017-06-22 13:13] frank-dspeed opened #971 "Proposal: Handle socket.io SSR Incompatiblity"
can't use SSR with steal-socket.io and NODE_ENV=production
because steal-socket.io then exports the ssr variant in production builds
so this would only work with a nativ http server like npm http-server

## Question
1. should we document that in steal-socket.io?
2. should we change the npm start command of a default donejs app to http-server
and not done-serve
3. should we add a donejs production

[2017-06-22 13:14] matthewp commented on #968
Yeah, so preventing can-util/ajax from overriding the content-type prevents the issue. But it causes an OPTIONS request. I'm not sure what problem https://github.com/canjs/can-util/pull/189 was trying to solve. Was it trying to prevent the extra request for perf reasons? Or were there other reasons for that?

So two possible solutions:

1. can-connect/data/url could provide the data as an object.

[2017-06-22 13:24] frank-dspeed commented on #971
# I vote for:
options 1,2,3,4 together

[2017-06-22 13:27] matthewp commented on #971
I don't understand the problem. Why is it that you can't use steal-socket.io in production mode?

Do you mean that the client build contains the ssr variant? And what is the "ssr variant", exactly?

[2017-06-22 14:21] matthewp commented on #968
* https://github.com/canjs/can-util/issues/284
* https://github.com/canjs/can-connect/issues/305

[2017-06-22 14:52] frank-dspeed commented on #971
https://github.com/feathersjs/feathers-socket-commons/issues/44

[2017-06-22 15:01] frank-dspeed opened #972 "production.html + development.html don't renders right Only SSR works when using feathersjs"
__How often can you reproduce it?__

- [X ] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__
[Thu Jun 22 2017 15:51:57 GMT+0100 (WEST)] "GET /" "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54.0) Gecko/20100101 Firefox/54.0"
[Thu Jun 22 2017 15:52:01 GMT+0100 (WEST)] "GET /production.html" "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54.0) Gecko/20100101 Firefox/5

[2017-06-22 15:07] frank-dspeed commented on #971
@matthewp the client build contains the right variant it contains steal-socket.io that will return wrong object the same that it would return on ssr.

[2017-06-22 17:59] matthewp commented on #971
Ok, that sounds like a bug in steal-socket.io then. I'm not sure why it returns the wrong object...

[2017-06-22 18:27] matthewp commented on #968
Verified locally that this is fixed now.

[2017-06-22 18:27] #968 closed, assigned to matthewp

[2017-06-22 18:35] matthewp commented on #971
I just tested with donejs-chat and the socket.io stuff works in production. What scenario are you seeing this problem? Can you reduce it down maybe?

[2017-06-22 19:45] #970 closed, assigned to nobody

[2017-06-23 09:16] frank-dspeed opened #974 "donejs done-serve broken because can-reflect"
__How often can you reproduce it?__

- [X ] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__
[code]

__Steps to reproduce:__
donejs add app
donejs develop

__Expected results:__
donejs develop should serve the donejs application on localhost:8080

__Actual results:__
After going on http://localhost:8080 done-serve errors with error above

__Environment:__

| So

[2017-06-23 09:56] greenkeeper[bot] opened #975 "An in-range update of commander is breaking the build 🚨"
## Version **2.10.0** of [commander](https://github.com/tj/commander.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/donejs/donejs/compare/greenkeeper%2Fcommander-2.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      commander
    </td>
  </tr>
  <tr>
    <th align=left>
      C

[2017-06-23 10:15] frank-dspeed commented on #971
# Conclusion
if you want to run a socket.io based donejs app with NODE_ENV=production npm start you need to use socket.io-client with steal-socket.io it fails when using feathers-socketio

plus the error is 100% some how related production.html don't renders and development.html don't renders when using donejs-feathers

## example app
@matthewp https://github.com/direktspeed/prove-bugs/issues/1

[2017-06-23 12:09] matthewp commented on #974
As far as I can tell, all of the can-reflect stuff was done as prereleases. Are you experiencing this when using the new prereleases or just with latest?

[2017-06-23 12:11] matthewp commented on #974
Ah, it is happening with latest, never mind.

[2017-06-23 14:14] matthewp commented on #971
So this is a bug in donejs-feathers? I took a quick look and it looks like the problem is that the Zone never completes, probably something in a dependency is not clearing a timeout or is doing some type of asynchronous recursion thing.

[2017-06-23 14:19] frank-dspeed commented on #971
@matthewp this are 2 bugs i think first bug is related to steal-socket.io it returns the wrong object if used like NODE_ENV=production npm start

secund bug is that if you bypass that bug and use socket.io-client/dist/socket.io directly wich returns always right.

we enter the next bug production.html and development.html are not rendering.

this is some how related to anything in can-connect-feat

[2017-06-23 14:31] frank-dspeed commented on #971
@matthewp and can-zones i readed about it sounds like a good buggy place for me as it trys to magic do promises :D without a callback this could be the error.

we could need something like zone-debug

[2017-06-23 14:33] matthewp commented on #971
The issue is Zone related. The reason it is not rendering is because the Zone never completes and done-autorender waits for the Zone to complete. You can use Zone.ignore to ignore functions:

[code]

[2017-06-23 14:34] matthewp commented on #971
@frank-dspeed there is such a thing, but it's not so easy to use with done-autorender.

[2017-06-23 14:35] frank-dspeed commented on #971
@matthewp but i don't understand why it don't gets resolved in any case its doing the request and returns the promise i have console.log in code to prove that.

i don't think that it uses setInterval

[2017-06-23 14:38] matthewp commented on #971
If you're not using ssr you might consider not using done-autorender.  This completely avoids the problem as there are no Zones then. You can just create a `head.stache` file and a `body.stache` file, and then a `main.js` that renders each of those into the `<head>` and `<body>`.

[2017-06-23 14:39] frank-dspeed commented on #974
Closing because fixed via can-define@1.2.1

[2017-06-23 14:39] #974 closed, assigned to nobody

[2017-06-23 14:56] frank-dspeed commented on #959
@matthewp this can be closed can't reproduce error. donejs add app + donejs develop works under node 7.6 even under node 8.1.2

[2017-06-23 15:01] matthewp commented on #959
Thanks.

[2017-06-23 15:23] frank-dspeed commented on #958
no problem preparing the packages.

[2017-06-23 15:28] frank-dspeed commented on #957
@matthewp https://github.com/direktspeed/donejs-slim

ready to implament it and make pull request once you show me where that slim loader is :D

[2017-06-24 09:40] frank-dspeed commented on #972
https://github.com/donejs/bitcentive/issues/309

i think here we have the same issues over all as its using feathersJS

[2017-06-24 09:42] frank-dspeed commented on #971
https://github.com/donejs/bitcentive/issues/309 i think this is 100% related and here the same solutions got suggested

[2017-06-24 09:44] frank-dspeed commented on #971
@matthewp the only problem that i have with this is that this would brake donejs develop and npm start

it will fix my issue but i am not happy out of donejs project view this needs to get addressed i think using websockets is a general use case that will even expand over next years.

i am now fully understanding what happens but no normal donejs user will and he will run into such issus while he

[2017-06-24 16:36] justinbmeyer commented on #958
I think this should be the default if it satisfies the guide

[2017-06-24 20:35] frank-dspeed commented on #958
hmmm simply update me if needed i created a boilerplate that does nothing and reserved donejs-slim via npm
https://github.com/direktspeed/donejs-slim

[2017-06-26 13:05] matthewp commented on #971
Just for clarity, there's no problem with websockets that I'm aware of. There's a problem with socket.io, but it's not because of websockets, it's because it uses a recursive setTimeout to do some polling and since can-zone overrides setTimeout to do counting, there is a conflict.  I'm not aware that this is a fixable problem, at least I haven't thought of anything, and is an inherit problem with

[2017-06-26 13:06] matthewp commented on #972
Appears to be the same issue as in #971, so let's keep the discussion there.

[2017-06-26 13:06] #972 closed, assigned to nobody

[2017-06-26 13:28] frank-dspeed commented on #972
i don't think its really the same issue i opened this only for fixing docs of steal-socket.io and or done-serve because many users will run into that and stop using donejs befor even understanding what can-zone is or done-autorender. For example if they copy a receipe using socket.io with steal-socket.io they are doomed !

example receips from canjs that get ported to donejs using socket.io exist

[2017-06-26 13:31] frank-dspeed commented on #971
@matthewp i don't think its really the same issue i opened this only for fixing docs of steal-socket.io and or done-serve because many users will run into that and stop using donejs befor even understanding what can-zone is or done-autorender. For example if they copy a receipe using socket.io with steal-socket.io they are doomed !

example receips from canjs that get ported to donejs using socket

[2017-06-26 13:36] frank-dspeed opened #976 "Replace all receips using socket.io with primus"
__How often can you reproduce it?__

- [X] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__

__Steps to reproduce:__

known accepted can-zone bug with recursiv usage of setTimeout in socket.io

__Expected results:__
All works loads all is good

__Actual results:__
Some Conditions it works but not all and it needs to work in production with and without ssr as al

[2017-06-26 13:48] frank-dspeed commented on #976
Alternativ if this gets merged https://github.com/donejs/autorender/pull/68 we can update docs to inform about need to use that option with socket.io explicit.

[2017-06-26 13:53] frank-dspeed commented on #972
https://github.com/donejs/autorender/pull/68

Closes: #972 in reality

[2017-06-26 14:16] matthewp commented on #971
We just don't need so many redundant issues. There are individual issues in can-zone and done-autorender, I think 1 donejs/donejs issue about "what to do about socket.io" is enough.  So let's make this that issue.

[2017-06-26 14:17] matthewp commented on #976
Using steal-socket.io will cause its async tasks to be ignored. There's no issue with our guides that I'm aware of if using steal-socket.io. There might be when using 3rd party libraries that use socket.io though, I'm not sure.

[2017-06-26 14:20] frank-dspeed commented on #971
@matthewp i aggree with you we need to asap find a solution for the documentation i am already satisfied i understand it now and know what to do but that was blocking me probally over 1 year without regonizing it because i then simply switched frameworks when things start to don't work because i have deadlines but i am 100% sure many people runned into this.

[2017-06-26 14:25] frank-dspeed commented on #976
@matthewp ok let me hunt that down i will remove feathers from my example and look if nativ socket.io things work!

[2017-06-26 14:58] frank-dspeed commented on #976
@matthewp your right i will create that bug in feathers-socketio

[2017-06-26 15:00] matthewp commented on #976
Please don't create an issue there. They are not doing anything to cause the bug. It's not their bug, it's our bug.

[2017-06-26 15:02] frank-dspeed commented on #976
@matthewp but it can't be the bug of us because it works standalone the function how they set connection looks wirred any way.

[2017-06-26 15:05] matthewp commented on #976
Yes, it's definitely a bug with donejs and can trivially be reduced down to not needing feathers or socket.io, so there's no reason to bother than with this.

[2017-06-26 15:11] frank-dspeed commented on #976
wait thats now impossible without socket.io and feathers there is no bug lol how do you reduce it with steal-socket.io there is also no bug standalone only with steal-socket.io + feathers-socketio + done-serve + NODE_ENV=production

without NODE_ENV=production there is also no bug. only the can-zone bug wich is our bug
the only bug that is left is really only feathers-socketio related as its conne

[2017-06-26 15:18] frank-dspeed commented on #976
anyway this can be closed

[2017-06-26 15:18] #976 closed, assigned to nobody

[2017-06-26 15:19] frank-dspeed commented on #971
# Update
https://github.com/donejs/donejs/issues/976

At the end @matthewp sayed its our issue but i think it is a feathers-socket.io issue because the reasons at end of https://github.com/donejs/donejs/issues/976

#976 got closed by the fact that the problem really don't exist when using steal-socket.io without feathers-socketio

matth:
Yes, it's definitely a bug with donejs and can trivially be

[2017-06-26 18:35] chasenlehara commented on #959
This is still an issue. I just tested with npm 5.0.3 & Node 8.1.2 and I got the same issues as what @marshallswain originally reported.

[2017-06-26 19:13] obaidott opened #977 "Appveyor test failure on Node 8"
__How often can you reproduce it?__

**Always**

__Description:__

Initially the issue was that Appveyor was getting stuck on step 1 of the test guide (creating a new DoneJS project). After investigation, I found that the issue was with the cli tool getting stuck on `license selection` on Node 8.1.0 on Windows 8.1. This issue could be with the yeoman-generator which is being used by donejs cli too

[2017-06-26 21:07] marshallswain commented on #959
Looks like others are having this same issue, related to `package.lock.json`: https://codeburst.io/disabling-package-lock-json-6be662f5b97d

It might be a quick easy fix to use `--no-package-lock` during the first `npm install` at https://github.com/donejs/donejs/blob/85650e5359e6d5b52a1406fa1929ee72d4360dd0/lib/cli/cmd-init.js#L29-L34

[2017-06-26 21:44] frank-dspeed commented on #959
@chasenlehara why do i not get that error? maybe because using yarn right?

[2017-06-26 21:46] chasenlehara commented on #959
Probably! The original issue makes it pretty clear that npm was being used. Please don’t leave comments saying issues are fixed if you haven’t reproduced the original issue and can confirm it was fixed. 😊

[2017-06-26 21:55] frank-dspeed commented on #959
@chasenlehara  i reproduced it i runned a donejs app a fresh one  under node 7.6 and 8.1 but i am using docker that means i mount the project dir and then on startup use yarn :)

[2017-06-27 13:30] andrejewski opened #979 "Proposal: Unify donejs and donejs-cli"
Currently, the `donejs` CLI (global) does a lot of work related to `donejs-cli` (project/local) and `donejs/donejs` installs the latest `donejs/cli`. Each is updating logic independently of the other and testing between the two suffers. For example, a change in `donejs/cli` will only be tested against the latest version of `donejs/donejs` when there is a build on the `donejs/donejs` repo. This ran

[2017-06-27 14:04] chasenlehara opened #980 "Add a Press Kit section to the About page"
It should be the last section on the About page.

[2017-06-27 19:29] chasenlehara opened #981 "Sending messages in the chat app sometimes doesn’t work"
At the [Create messages](https://donejs.com/Guide.html#create-messages) step of the guide, if I refresh on the `/chat` route and try to create a new message through my app’s UI, it refreshes the page.

__Steps to reproduce:__

1. Clone https://github.com/chasenlehara/donejs-chat-issue
2. `npm install && donejs develop`
3. Go directly to http://localhost:8080/chat
4. Enter a name and message, then

[2017-06-27 19:31] matthewp commented on #981
It's not just adding messages that is affected, the links in `/chat` don't work either. I'm looking into it.

[2017-06-27 19:56] matthewp commented on #981
The cause is that the Zone doesn't complete when going straight to this route.

[2017-06-27 20:16] matthewp commented on #981
Cause: https://github.com/canjs/can-zone/issues/120

[2017-06-28 13:24] matthewp commented on #981
Fixed by https://github.com/canjs/can-zone/releases/tag/v0.6.10

![untitled](https://user-images.githubusercontent.com/361671/27639230-980bb75e-5be3-11e7-97c3-526b74227d6f.gif)

[2017-06-28 13:24] #981 closed, assigned to matthewp

[2017-06-28 17:48] chasenlehara opened #982 "Update the desktop & mobile binaries on the home page"
Under Improved App Usability on the home page, we have downloads for native desktop & mobile apps. These should be rebuilt with DoneJS 1.0

Also, we need to [enroll](https://developer.apple.com/programs/enroll/) in Apple’s developer program so we can sign the example app and avoid this error:
<img width="420" alt="screen shot 2017-06-28 at 10 45 12 am" src="https://user-images.githubusercontent.co

[2017-06-28 17:52] chasenlehara opened #983 "Make it more clear you’re about to download native binaries from the home page"
Under the Improved App Usability section on the home page, as soon as the user clicks the Android button, it downloads an APK. I’ve received feedback that this is surprising—there’s no warning a download is about to occur.

[2017-06-28 17:55] chasenlehara commented on #983
I see a bunch of different options for how we could address this:

1) Change the button text/icons to indicate that a download will occur
2) Change the surrounding text to make it clear those are download buttons (except for iOS)
3) Use those buttons to open a modal or go to another page that has the downloads

[2017-06-29 04:57] andrejewski commented on #959
This has been solved. It took making changes to both donejs/donejs and donejs/cli, but now neither step will create a `package-lock.json` file. In order to close this issue, a donejs/donejs patch release will have to be made with @chasenlehara's #978 changes, the donejs/cli changes are in its v1.0.2.

[2017-06-29 06:49] frank-dspeed commented on #959
@andrejewski  so you mean
[code]

[2017-06-29 12:55] andrejewski commented on #959
@frank-dspeed No, the fix for `donejs` will be released as DoneJS v1.0.1. At which point people can update using `npm install -g donejs` and this issue can be closed.

[2017-06-29 15:15] frank-dspeed commented on #983
@chasenlehara what apk are you talking about what apk should we need in a donejs project?

[2017-06-29 15:23] frank-dspeed commented on #983
ah found it your talking about the Example app download.

+1 for option 1 simply put a other icon  glyphicon-download or glyphicon-download-alternativ from http://getbootstrap.com/components/

but don't forget to give on the web a other icon

[2017-06-30 19:52] 0joshuaolson1 opened #987 "DocumentJS is getting stale"
DoneJS depends on DocumentJS, which is not part of the donejs GitHub organization and has had no activity in [2.5 months](https://github.com/bitovi/documentjs/branches) despite 13 PRs and over 100 issues.

[2017-06-30 19:58] justinbmeyer commented on #987
@0joshuaolson1 we have been hard at work replacing it with [bit-docs](https://github.com/bit-docs).

[2017-06-30 19:58] #987 closed, assigned to nobody

[2017-06-30 20:06] 0joshuaolson1 commented on #987
Cool. But shouldn't this be closed when the release and documentation happens?

[2017-06-30 20:08] chasenlehara commented on #987
Hi @0joshuaolson1, to provide a little more info: we made a fork of DocumentJS called [bit-docs](https://github.com/bit-docs) so we could refactor the internals and add some new features to make it more robust. We’re using it for canjs.com, donejs.com, and stealjs.com, but it’s not ready for prime time.

You can follow along with our initial progress in the [bit-docs alpha](https://github.com/bit-

[2017-06-30 20:14] 0joshuaolson1 commented on #987
I see where's you're coming from in terms of internal practicality/metrics, but by closing this in your main, public issue tracker, you're saying it's already not a problem, unlike the other 83 issues.

I won't argue any more. :smirk:

[2017-06-30 20:19] justinbmeyer commented on #987
@0joshuaolson1 every project has it's own issue tracker.  We don't consolidate/duplicate them here.  If we did, `donejs/donejs` wouldn't be manageable.

[2017-06-30 20:36] 0joshuaolson1 commented on #987
Sorry, I don't know how to be more specific, but there's no better 'upstream' tracker for this [DoneJS](https://donejs.com/Apis.html#documentjs) issue, is there?

[2017-06-30 21:17] chasenlehara commented on #987
Sorry, to be clear: we are aware that DocumentJS needs attention and we are working on improving it. We have some issues open for the work we’re doing (see my comment above), and there will surely be more issues opened in the future.

If I understand you correctly, you’re looking for a single issue or epic that encompasses every task related to updating DocumentJS; if so, then the answer is no bec

[2017-06-30 21:40] 0joshuaolson1 commented on #987
Yeah, I'm closer to the 'tracking your progress' camp. I'm not asking for an easier way, just to keep this issue open because from a user point of view, this is conceptually one issue that GitHub otherwise hides by default.

I'm not talking about the fact that DoneJS's dependencies use DocumentJS, but the fact that DocumentJS is part of DoneJS's API (as I linked to) and touted as part of its funct

[2017-07-07 18:39] #959 closed, assigned to andrejewski

[2017-07-10 18:43] andrejewski commented on #977
Testing with the IE9 VM, the Donejs tests pass for `npm run test-pmo` which is where Appveyor hangs. The tests run successfully and no modification was made.

__Environment:__

| Software                | Version
| ------------------ | -------
| donejs -V               |  1.0.1
| node -v                  |  8.1.3
| npm -v                   |  5.0.3
| Browser                 |  IE9
| Operating syst

[2017-07-10 18:47] andrejewski commented on #977
The [test that hangs](https://github.com/donejs/donejs/blob/cdd81d1a4dcae540871d62fe846e2fd974984df8/guides/place-my-order/test.js#L254-L290) seems to stall around the stopping of the browser, but I cannot say definitely that is the problem.

[2017-07-10 23:54] frank-dspeed opened #991 "Proposal: Modify: https://donejs.com/Apis.html"
# The Issue (black hole) for new Users
At present some information is not sorted optimal i think

"Data Layers" should be a Placeholder section under canjs as it contains can-* components

we should add over canjs a donejs Menu point to the nav for the done-* components that are partial under
"Server Side Rendering"

"Server Side Rendering" should get removed it also as can-simple-dom that should

[2017-07-11 00:32] frank-dspeed commented on #991
# done-ssr-middelware
Creates a steal instance expects a config in json formart. (Normaly uses: package.json)
uses done-ssr with that steal instance
returns configured function that accepts req, res, next

[2017-07-11 00:34] frank-dspeed commented on #991
# done-ssr
gets a steal instance via done-ssr-middelware and loads that into can-zones to allow streaming out html the zone behavier can be bypassed via done-autorender steal plugin with the !done-autorender/no/zones option

[2017-07-11 00:38] frank-dspeed commented on #991
# done-serve
offers a binary with some options uses done-ssr-middelware
-p, --port
-r, --proxy
-t, --proxy-to
--proxy-no-cert-check
-d, --develop (use ssr + livereload)
-s, --static (no ssr)
--error-page
--timeout
--debug

[2017-07-11 00:50] frank-dspeed commented on #991
# Question
where is the repo for the donejs.com site?

[2017-07-20 13:33] phillipskevin commented on #991
This is it. It's the `docs` folder. Take a look at https://donejs.com/contributing.html#building-the-documentation.

[2017-07-24 10:20] frank-dspeed commented on #991
maybe we should make a link on the donejs.com for the canjs faq page https://github.com/canjs/canjs/issues/3444 as i think there will be a lot of doubled content needs rethinking but its value able for any user to have a faq with common errors and solutions

[2017-07-24 10:33] frank-dspeed opened #994 "Proposal: Create: FAQ Page on donejs.com"
same as in https://github.com/canjs/canjs/issues/3444
but add extra infos like the zone bug with socket.io directly and some other stuff that happens with ssr and is only donejs related

NOTE: needs more thinking about a solution because of doubled content?

[2017-07-24 10:59] frank-dspeed commented on #991
NOTE: will wait till the canjs/canjs issue is discussed to apply results to this also

[2017-07-24 11:15] frank-dspeed opened #995 "Proposal: Better donejs Binary via Generators"
https://github.com/donejs/cli/issues/63 <- here are the main disccusion about that concepts of the change

also related:
- https://github.com/donejs/donejs/issues/540 - A discussion about moving functions to generators
- https://github.com/donejs/donejs/pull/892 - a pull to rename donejs (in workdir)
- https://github.com/donejs/donejs/issues/979 - a other PR that only is about merging donejs and d

[2017-07-24 11:42] frank-dspeed opened #996 "Proposal: Create: done-release or use can-release"
I am currently working on integration of semantic-release we will anyway need to do a modifyed adjusted version for the needs of canjs and donejs

i am not sure if we should call it then can-release or done-release

i think can-release is the best option as that got more packages and donejs already depends a lot on canjs

# Alternativ
create: https://github.com/bitovi/bitovi-semantic-release

###

[2017-07-24 12:09] frank-dspeed commented on #747
@chasenlehara i think we should finish the discussion up if we want to create a extra RFC repo for that like the other projects do or simply stay with PR: like Titels for Proposals in the Issues
i am strongly for PR: Titles in the main repo for Issues.

I think the PR: way is more good because we don't got extra People to manage such extra repos they can often get simply not found or the people do

[2017-07-24 12:13] frank-dspeed commented on #979
@andrejewski please review comment and look into https://github.com/donejs/donejs/issues/995

I think its solving this also and has some more stuff in it that needs input

[2017-07-24 12:14] frank-dspeed commented on #983
@chasenlehara what kind of help do you need? should i apply my suggestion?

[2017-07-24 12:25] frank-dspeed commented on #957
@matthewp as this slim loader is in now what would you suggest to make that happen?
- codemods for that via a donejs-slim generator?
- Close this and deprecate It because of https://github.com/donejs/donejs/issues/958?

[2017-07-24 12:28] matthewp commented on #957
If you download zenhub you can see the issues associated with this "Epic".

[2017-07-24 12:29] frank-dspeed commented on #911
is maybe related also to this we should talk about that also https://github.com/donejs/donejs/issues/995
as the generator is able to create and detect existing projects we could let the api as it is

[2017-07-24 12:30] frank-dspeed commented on #962
I think this issue is also related and can be closed after this it would fix that https://github.com/donejs/donejs/issues/995

[2017-07-24 12:31] frank-dspeed commented on #912
I think this this can be replaced by https://github.com/donejs/donejs/issues/995 that could show existing generators to apply to a new or existing project

[2017-07-24 12:33] frank-dspeed commented on #861
I experienced that also in opera and its related to the scroll script probably as there is one I think at present
else this is really a browser bug that also happens some times in different browsers some one needs to look if there is a script involved when scrolling if there is one please share location so i can look and test and fix that

### Workarounds
reload the page and it scrolls to right po

[2017-07-24 12:35] frank-dspeed commented on #859
https://github.com/donejs/donejs/issues/861 - is related i think as its a scroll bug also i only need to know where that script is that handels that

[2017-07-24 12:37] frank-dspeed commented on #982
i think this is solved with https://github.com/donejs/donejs/issues/996 if it gets accepted and discussed

[2017-07-24 12:46] frank-dspeed commented on #957
@matthewp i watched now and installed it for chrome and there are only the both options that i have asked about or zenhub is not working right so my question remains is this epic still valid because Justin suggests to make this the default behavior

if this is really only related to the one issue of creating a donejs-slim then i only need to add the codemod for that and its done as i prepared a ge

[2017-07-24 12:54] frank-dspeed commented on #731
other idea would be to add a extra proxy wrapper around such calls and proxy the api with cookies saved to JAR inside of done-ssr we know our main app domain already from the config

[2017-07-24 12:55] matthewp commented on #957
No, this is an issue that encapsulates many other issues, not just a generator.

[2017-07-24 12:57] frank-dspeed commented on #660
@matthewp i think this could be renamed to Service Workers Implamentation as they are storing state ?
i think this is a better PR https://github.com/donejs/donejs/issues/997 and closes this

[2017-07-24 12:59] frank-dspeed commented on #957
@matthewp why can't i see all this related stuff with zenhub? would i need to be added to this organization for that? it shows only 2 issues in the board and also here: DoneJS Slim Loader Integration has no dependencies

[2017-07-24 13:02] frank-dspeed commented on #957
@matthewp ah i think i got it
there is a small list of related issues now! thanks for information.

[2017-07-24 13:09] frank-dspeed commented on #911
@andrejewski

This is not really true some of that can also be modifying existing projects.

[2017-07-24 13:12] frank-dspeed commented on #421
@matthewp Question what is about all the cordova nativ plugins for hardware support like cam, mic, viewport and many more is that still working then?

 i am not sure about that but a cordova app most times also will use the device hardware and cordova has a massiv stack of that hardware support

[2017-07-24 13:14] frank-dspeed commented on #77
would be addressed by #995

[2017-07-24 13:15] frank-dspeed commented on #66
could be addressed in #995 via a extra question
maybe already this issue should be moved to generator-donejs

[2017-07-24 13:17] frank-dspeed commented on #194
i think opening in a extra tab would be the most best solution and is more easy to apply

[2017-07-24 13:29] leoj3n commented on #859
@frank-dspeed Probably need to detect browser back button around here:

https://github.com/donejs/bit-docs-donejs-theme/blob/master/static/static.js#L359

You could probably do so by detecting this event:

https://webkit.org/blog/516/webkit-page-cache-ii-the-unload-event/

http://jsfiddle.net/olli/4rQRb/

Setting up the documentation locally in a way that allows you to hack on bit-docs plugins (th

[2017-07-24 13:37] frank-dspeed commented on #859
@leoj3n i will try to setup bit-doc and look into the donejs-theme will update this issue with changes and all that as i am able to deploy that but it will take some time i will rate this a P2 issue for me as it affects Browser Compatiblity also thanks for help.

[2017-07-24 15:33] frank-dspeed opened #997 "Proposal: Create service worker support for canjs donejs"
- Create can-connect behavior using service workers
- Create can-define-map with service worker support for its propertys

[2017-07-24 16:00] frank-dspeed opened #998 "Proposal: Rename donejs-* repos that are not a donejs generator!"
i found out that many repos here are sharing name space with the reserved donejs-* name space thats used for donejs-* generators

my suggestion rename them if they are not generators to done-

Current findings so far.
- https://github.com/donejs/donejs-streaming-test-comparison - documentation
- https://github.com/donejs/donejs-streaming-product-page - demo
- https://github.com/donejs/donejs-numbe

[2017-07-24 16:02] frank-dspeed opened #999 "PR: Fix gitter integration for donejs/donejs"
donejs/donejs on gitter don't shows activity for some reason it shows last aktivity on Oct 2015

[2017-07-24 16:18] chasenlehara commented on #983
Hi @frank-dspeed, we already have an icon that might be suitable for this: https://github.com/donejs/donejs/blob/master/docs/static/img/donejs-final_arrow-icon_1.svg

I added the _help wanted_ label because I’d like to work with a designer on this issue.

[2017-07-24 16:38] frank-dspeed commented on #983
@chasenlehara do you got own designer or should i give you one from me?

[2017-07-24 16:39] chasenlehara commented on #999
The webhook wasn’t set up but now it is. 😊

[2017-07-24 16:39] #999 closed, assigned to chasenlehara

[2017-07-24 16:43] phillipskevin commented on #997
should this be separate issues in those projects?

[2017-07-24 16:44] frank-dspeed commented on #997
@phillipskevin probably yes but i created it here because of the #660 issue as this needs discussion now to close maybe #660 here we can if this is discussed close this and open issues in the repos i think.

[2017-07-24 16:44] phillipskevin commented on #998
can you give examples?

[2017-07-24 16:46] frank-dspeed commented on #998
@phillipskevin

don't know if exist more need to look first in every donejs-* repo takes some more time

[2017-07-25 17:43] frank-dspeed opened #1000 "Provide a way to compose apps together"
lets think about something that takes a donejs-app or component and returns a app if ```XXX``` and a component when ```YYY```

also add something to read routes of apps if they are apps and combine them to a single viewModel

# use case
Sometimes you want to code a donejs-app a small one that you can run test all indipendent like a donejs app but then use that app directly as a component in a bigg

[2017-07-26 10:41] frank-dspeed opened #1001 "Add: OpenGraph Api as proposed in the CanJS issue"
- https://github.com/canjs/canjs/issues/3453
DoneJS Main Page
[code]

[2017-07-26 20:36] #708 closed, assigned to imaustink, chasenlehara

[2017-07-26 20:39] chasenlehara opened #1002 "Move Travis config to Ubuntu Trusty"
We [currently specify Ubuntu Precise](https://github.com/donejs/donejs/blob/dfc121ed694c05a77c3ba65fec5c48c4783a6456/.travis.yml#L3) because with Trusty, we [get the following error](https://travis-ci.org/donejs/donejs/jobs/257845961): `Unsupported platform for fsevents@1.1.2: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})`

[2017-08-01 08:17] frank-dspeed commented on #1002
@chasenlehara thats not a error its a optional dependency i see that often "zesty" is the current ubuntu version servers and desktops are running on.
even our Google OS (Internal Ubuntu fork) is based on zesty its installed on every desktop inside the Google Organization.

Kernel > 4.10 has so many improvements that no normal user would use anything below 3.8 on a Desktop PC or Server that is not

[2017-08-01 09:11] frank-dspeed opened #1004 "Discussion about Project Future Philosophie"
"zesty" is the current ubuntu version servers and desktops are running on.
even our Google OS (Internal Ubuntu fork) is based on zesty its installed on every desktop inside the Google Organization.

Kernel > 4.10 has so many improvements that no normal user would use anything below 3.8 on a Desktop PC or Server that is not running old legacy code.

I think in general this should be discussed if th

[2017-08-01 09:13] frank-dspeed commented on #1002
#1004 Created the Discussion for the next meetings

[2017-08-01 13:37] justinbmeyer commented on #1004
DoneJS should work on commonly used systems that take a reasonable time to maintain. It's mostly a judgment call. Do you have any specific suggestions?

[2017-08-01 13:37] #1004 closed, assigned to nobody

[2017-08-01 14:00] green3g commented on #1000
This didn't fix the problem. `~/module/module` tries to load `baseProject/module/module` even though `module` is in `project1` or `project2`

For instance:
[code]

I think in order for this to work, I'd need to install project1 and project2 as npm dependencies of baseProject, but that would become quite difficult to manage I think.

[2017-08-01 14:52] justinbmeyer commented on #1000
Can someone give me a short summary of what the issue is here?

@roemhildtg `~` works if those other projects have their own `package.json`.  Do those projects have their own `package.json` and are in the `node_modules` folder?

Why is different `npm` projects difficult to manage?  We do this for the 60 projects in CanJS quite easily.  Thanks.

If `~` isn't working, you should be able to use relat

[2017-08-01 15:17] frank-dspeed commented on #1000
@justinbmeyer the main issues are the done-autorender stuff and route stuff there needs to be a structure i can't explain it short but i am working on a solution like a new generator option called multi don't found a good name last 2 weeks was a horror for me private thats why this is not done already.

its about coding a small app including routes and some components and then code a secund app th

[2017-08-01 15:31] justinbmeyer opened #1005 "XHR Cache Debugging info"
James:

[2017-08-01 15:31] frank-dspeed commented on #1000
apps
  -> base project <- a donejs app
  -> some_other1 <- a donejs app
  -> some_other2 <- a donejs app
  -> problem_app <- a donejs app using some_other1 and some_other2 without recoding them

[2017-08-01 15:32] green3g commented on #1000
@justinbmeyer My use case is I'm trying to integrate one canjs app into another one. I am developing them in separate project folders because they are both serving different purposes, but I want to link them to each other, like you would in a website. Donejs comes into this conversation because if I had two different donejs apps, how do I manage them without creating two separate server instances

[2017-08-01 15:34] frank-dspeed commented on #1000
@roemhildtg my implamentation idea here goes a bit more far then that i want to create a general way to use donejs apps together and combine them as they would be plugins

but your right for your component issue in your situation the ./ relativ pathes would maybe work well

[2017-08-01 15:50] justinbmeyer commented on #1000
Thanks for the follow up.  I understand much better now.

Why does developing them as separate apps mean you can't use NPM?

If I were doing this sort of thing w/ just canjs, combining `cereals-app` and `grains-app`, I would do something like the following:

## cereals app

[code]

where `cereals-app.js` is a component like:

[code]

and `index.js` basically boostraps everything:

[code]

__grains

[2017-08-01 22:28] matthewp commented on #1005
That at least sounds like a bug.

To the general point, can-zone could have a warning for when the cache is full but a request isn't part of the cache.

[2017-08-07 13:37] matthewp opened #1007 "HTTP/2 & Incremental Rendering Evangelism"
This is an epic to encapsulate polishing off incremental rendering (fixing some bugs, adding JSDOM support) and writing blog post(s) surrounding the topic of HTTP2.

[2017-08-09 13:26] frank-dspeed opened #1008 "donejs add app broken"
__How often can you reproduce it?__

- [ x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__
donejs add app should produce a application where donejs build and calling production.html work

__Steps to reproduce:__

1. donejs add app my-app
2. cd my-app && donejs build
3. http-server
4. Browser point to localhost:8080/production.html

__Expected results:__
Shoul

[2017-08-09 13:34] matthewp commented on #1008
Hm, working on Mac, maybe a Ubuntu thing. Will try out a VM.

[2017-08-09 15:34] frank-dspeed commented on #1008
@matthewp i don't think its a ubuntu thing only for your info moving production.html to dist and changing path to ./steal.production.js works.

[2017-08-10 02:14] green3g commented on #1000
I kind of have a working sample of this I can share shortly. But what do you all think of using partials to render child apps?

For instance, my parent app has a progressively loaded "page" object that contains a renderer function. And my parent app template would render that page with something like this:

[code]

`pagePromise` is a getter tied to can-route, so if the page changes, the pagePromis

[2017-08-10 07:56] frank-dspeed commented on #1000
@roemhildtg that looks really useable i at present worked on more flexible base component so we can merge that effort i think your reloading isolated state looks good but i am not sure if we will not need to modify even ssr i think ssr loads the routes and registers them on start but lets see later with your demo

[2017-08-11 01:29] green3g commented on #1000
Okay, its getting pretty close. Here's the repo:

https://github.com/roemhildtg/can-navigate

I put it up into my 'can-admin' demo app so you can get a quick proof of concept.

http://cancrud-roemhildtg.rhcloud.com/#!home

Notes:

 - I should use more generic route variables. Probably just a, b, and c, or x, y, and z because other apps would eventually share those same routes.
 - I will eventually

[2017-08-11 09:31] frank-dspeed commented on #1000
@roemhildtg only for your info befor you invest to much time i found out that state routing is maybe more compatible and no one needs this routing stuff because links can also set and change state so a state value and checks for that in the templates should be really good also

[2017-08-11 14:30] nriesco opened #1009 "Fresh install of an already working donejs project won't work (ReferenceError: Node is not defined)"
__How often can you reproduce it?__

- [ ] Always
- [x] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__

We have a currently working project that was generated using `donejs@1` about 3 months ago. Everything was ok but we tried to install the project in a new computer and the project just won't start. We tried almost everything even reducing the project to the minimum poss

[2017-08-11 14:31] matthewp commented on #1009
Thanks, will take a look at this right away.

[2017-08-11 14:38] matthewp commented on #1009
Doesn't fail on a fresh `donejs add app`, could be a dep you are using. Going to try again with your deps.

[2017-08-11 14:41] matthewp commented on #1009
@nriesco can you post your devDependencies as well?

[2017-08-11 14:45] nriesco commented on #1009
@matthewp

[code]

[2017-08-11 14:46] matthewp commented on #1009
@nriesco looks like your pasting got cut off?

[2017-08-11 14:47] nriesco commented on #1009
This is the whole package.json file:
[code]

[2017-08-11 19:56] matthewp commented on #1009
Hey @nriesco, so first thing is that the stache template is missing a viewModel export. You want to add:

[code]

Were you missing this in your app?  I got a different error than you, so I suspect not.

[2017-08-12 04:36] nriesco commented on #1009
@matthewp that line (or equivalent one) was in the original project and at some point when I started removing stuff I deleted it.

The strange thing is that when I added it to the very simple project that fixed the error (good, that's a starting point) but the problem is that after removing it again I got a different error (reasonable error, see below).

So
1. project working
2. new install won't

[2017-08-12 04:39] nriesco commented on #1009
On another project, I had an error that was presumably related to npm's cache. It might be related to what happened here. I'll keep trying to replicate/fix the error.

[2017-08-12 04:56] nriesco commented on #1009
On the new clean install that has the error ('ReferenceError: Node is not defined') I ran `npm list --depth=0` and got this:

[code]

[2017-08-12 05:59] nriesco commented on #1009
This is the most basic failing project I could create
[fail1.zip](https://github.com/donejs/donejs/files/1219535/fail1.zip)

The combination of importing (not even using) a component and an input with a binding to the enter event will trigger the error. If you comment any of those it will work.

index.stache
[code]

fail.component
[code]

app.js
[code]

package.json
[code]

[2017-08-14 12:10] matthewp commented on #1009
Will be fixing here: https://github.com/canjs/can-vdom/issues/22

[2017-08-14 12:25] matthewp commented on #1009
@nriesco fixed in https://github.com/canjs/can-vdom/releases/tag/v3.2.0 . Will reopen if you are still having problems. Thanks for the awesome bug report!

[2017-08-14 12:25] #1009 closed, assigned to matthewp

[2017-08-14 22:19] nriesco commented on #1009
Thanks @matthewp for such a quick fix. It seems to work now, we'll do more tests during this week but 99% sure it's ok now

[2017-08-14 23:59] matthewp commented on #1009
Awesome!

[2017-08-16 19:41] frank-dspeed commented on #997
Will implament via nativ pouchdb support
- https://github.com/direktspeed/can-connect-pouchdb
- Instructions about Web and Service worker support of PouchDB -> https://github.com/pouchdb-community/worker-pouch
- Example app using Couchbase PouchDB Sync for Offline First Apps Progressiv web Apps. -> https://blog.couchbase.com/introduction-offline-data-storage-sync-pouchdb-couchbase/

[2017-08-17 16:05] bmomberger-bitovi commented on #997
@frank-dspeed I started on service worker support a long time ago but my work may not be relevant or useful. https://github.com/canjs/can-connect/pull/9/files

[2017-08-17 16:19] pYr0x commented on #997
next week i planing to work on service worker support for stealjs using https://github.com/GoogleChrome/sw-precache

[2017-08-17 21:19] Alfredo-Delgado opened #1010 "Proposal: generate bidirectionally bound html form from map"
I'm interested in a particular use case that's beneficial for demoing modlets to clients and can also aide in isolated development, debugging, and testing. However, since the underlying technology that'd be generated from implementing this is generally applicable, this issue can serve as a central rallying point.

# simple use case
Every modlet has a demo file that instantiates its component. In a

[2017-08-18 17:14] whdigger opened #1011 "Bug generate donejs donejs-chat"
__How often can you reproduce it?__

- [x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__
I try generate new application use guide https://donejs.com/Guide.html but don't work correct, get error message. I try use Ubuntu 14.04.4 LTS and also does not work
[code]

__Steps to reproduce:__

1. curl -sL https://deb.nodesource.com/setup_8.x | sudo bash -
2. sudo a

[2017-08-18 17:55] matthewp commented on #1011
Hey, I was able to get it to work:

<img width="1020" alt="screen shot 2017-08-18 at 1 56 15 pm" src="https://user-images.githubusercontent.com/361671/29471103-bf372b22-841c-11e7-87c3-52e21835e083.png">

The thing I would suggest doing is not use the Ubuntu-provided Node.js, because it is usually out of date.  Instead I would recommend installing [nvm](https://github.com/creationix/nvm) and use a

[2017-08-18 20:49] matthewp commented on #1011
Closing for now.

[2017-08-18 20:49] #1011 closed, assigned to matthewp

[2017-08-19 07:31] frank-dspeed commented on #997
@bmomberger-bitovi your code is usefull but not for the level that i want to implament i will implament pouchdb that supports service workers already and can connect will use pouchdb

this will be then the final step to make donejs Production ready complet for Offline Applications and so Called Progressiv Web Apps Definition.

will also add that example then to the
- https://hnpwa.com - Hacker New

[2017-08-19 16:16] chasenlehara opened #1012 "“can-types.iterator is deprecated” warning when building"
I’m not sure where to file this because the issue happens during the `steal-tools` transpile but is a CanJS warning.

__How often can you reproduce it?__

Always

__Description:__

When I build my DoneJS app, I get the following warning multiple times while transpiling: `WARN: can-types.iterator is deprecated, use canSymbol.iterator || canSymbol.for("iterator") instead.`

__Steps to reproduce:__

[2017-08-22 18:58] chasenlehara commented on #1012
This `steal-tools` release fixes the warnings: https://github.com/stealjs/steal-tools/releases/tag/v1.8.3

@pYr0x @phillipskevin

[2017-08-22 18:58] #1012 closed, assigned to nobody

[2017-08-31 13:31] matthewp opened #1013 "Verify Quick start guide works"
Given https://github.com/stealjs/steal/issues/1261 it's worth taking a couple of hours to run through the quick start guide to make sure it is working.

Was failing before: https://travis-ci.org/donejs/donejs/jobs/269686410#L5448

[2017-08-31 13:32] matthewp commented on #1013
Also will follow this build: https://travis-ci.org/donejs/donejs/builds/270411595

[2017-08-31 14:49] matthewp opened #1014 "Improve live-reload performance"
Live-reload (hot module swapping) is an important feature when working on a donejs application. We should make sure it stays performant.

# The Problem

live-reload being so important, needs to remain performant. When DoneJS was first released I tested live-reload as occuring sub 200ms. Compared to other solutions it was among the fastest.

Recently I noticed some performance regressions when usin

[2017-08-31 14:56] #1013 closed, assigned to matthewp

[2017-09-06 00:06] chasenlehara opened #1016 "Console error when loading the site"
I see the warning and error below when I load the site with Chrome:

[code]

[2017-09-11 01:53] greenkeeper[bot] opened #1017 "An in-range update of mocha is breaking the build 🚨"
## Version **3.5.2** of [mocha](https://github.com/mochajs/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/donejs/donejs/compare/greenkeeper%2Fmocha-3.5.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mocha
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2017-09-11 18:19] greenkeeper[bot] opened #1018 "An in-range update of rimraf is breaking the build 🚨"
## Version **2.6.2** of [rimraf](https://github.com/isaacs/rimraf) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/donejs/donejs/compare/greenkeeper%2Frimraf-2.6.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      rimraf
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versio

[2017-09-11 22:13] chasenlehara opened #1019 "Advertise the community survey on donejs.com"

[2017-09-14 18:06] chasenlehara opened #1020 "donejs add saucelabs"
A generator that did the following would be really handy:

- Prompts you for what platforms you want to support
- Adds [test-saucelabs](https://github.com/bitovi/test-saucelabs) or equivalent script(s)
- Adds Travis config
- Adds badge to README

\* or `donejs add sauce-labs`?

[2017-09-18 15:49] imaustink opened #1021 "The CLI should warn if passed invalid arguments"
__How often can you reproduce it?__

- [x] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__
Running invalid commands exits without any warning. In my opion, this should at least output help.

__Steps to reproduce:__
Run `donejs app add some-app`.

![donejs-cli-no-error](https://user-images.githubusercontent.com/6282922/30550905-b2ece868-9c4d-11e7-9af7-febaa8db6

[2017-09-19 20:56] greenkeeper[bot] opened #1023 "Tests breaking in CI 🚨"
## Version **0.3.7** of [guide-automation](https://www.npmjs.com/package/guide-automation) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/donejs/donejs/compare/greenkeeper%2Fguide-automation-0.3.7">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      guide-automation
    </td>
  </tr>
  <

[2017-09-19 22:33] bgando opened #1025 "Fix asterisks on framework/feature comparison on website"
There are a few issues:
1. There is an out-of-place asterisk above the DoneJS column.
2. There is no key that tells you what the asterisk means.
3. Some asterisks at the bottom of the table are clickable with a tooltip, while others aren't.
This section is found here: https://donejs.com/Features.html#feature-comparison
![image](https://user-images.githubusercontent.com/3348231/30618435-55bbea9c-9d

[2017-09-20 12:22] #1017 closed, assigned to nobody

[2017-09-20 12:22] #1018 closed, assigned to nobody

[2017-09-20 12:22] matthewp commented on #1023
Not related to guide-automation, just using this for testing what is up.

[2017-09-20 13:25] matthewp commented on #1023
This is caused by the same issue as https://github.com/bitovi/testee/issues/157

See the logs: https://travis-ci.org/donejs/donejs/jobs/277745843#L9939

[code]

[2017-09-20 15:54] #1023 closed, assigned to matthewp

[2017-09-28 12:23] frank-dspeed commented on #1010
Little Importent information about that as i am doing the same but i am not finish with a fully generic one you need to add the propertys with fild types! the modlet aka component needs to create filds not with only the definiton of the name so you need to pass
[code]
and so on to have a fully generic component that all can use if you open a repo i can contribute back

then to make it more easy we

[2017-09-29 00:21] chasenlehara commented on #1019
https://github.com/donejs/bit-docs-donejs-theme/releases/tag/v1.3.0

[2017-09-29 00:21] #1019 closed, assigned to chasenlehara

[2017-09-30 05:26] leoj3n opened #1032 "Website generation is broken"
![image](https://user-images.githubusercontent.com/990216/31042812-d567850c-a575-11e7-8de8-8582ef3dc1e2.png)

Because of PR merge #1030.

[2017-09-30 05:31] leoj3n commented on #1032
Reverting to before that and the generation works:

![image](https://user-images.githubusercontent.com/990216/31042844-9d15db12-a576-11e7-839c-9c18658c4424.png)

Probably has something to do with the Steal 1.X upgrade in `bit-docs-generate-html`.

[2017-10-04 17:43] matthewp opened #1035 "Server Side Rendering Guide"
Create a server-side rendering guide, and use React as the example. This will build a server-rendering app using React with incremental rendering, and done-ssr 1.2.0-beta, using zones as the glue mechanism.

The guide will go under Guides on donejs.com. This issue tracks not-so-smooth aspects of this, as @BigAB will be working on it some as well.

[2017-10-04 17:45] matthewp commented on #1035
# Issues

* [ ] - Docs don't appear on the donejs site. Why!?
* [x] - React's build process creates hashes in the file names, so something like `main.js` becomes `main-2dfs23ff.js`. So if you write some HTML to include this module... you have to know what the hash is going to be. Right now I'm just hard-coding the hash in but that is bad for obvious reasons. Need a better way.
* [x] - The `render`

[2017-10-05 14:35] matthewp commented on #1035
# Branch

https://github.com/donejs/donejs/tree/ssr-zones

# Guide

**docs/guides/react-ssr.md**

[2017-10-09 10:28] marshallswain opened #1036 "can-zone seems to be swallowing errors."
When I make a mistake in my code, like adding a getter that references a variable that doesn't exist, yet, the zone plugin swallows the error and gives no indication of the problem.  I only discover the error when I step into the code and it goes to the error handler for can zone.

To test this out, generate a new app, open `app.js` and create a new attribute that references an undeclared variable

[2017-10-11 14:44] matthewp commented on #1036
[code]

When I start up the app I get:

[code]

And ditto in the browser.  If this happens after the browser is already loaded (live-reload), I get the same error in the console. What am I doing differently?

[2017-10-11 15:29] marshallswain commented on #1036
I've seen this happen on three projects, now.  In my personal project, I had a Session model that I was using in the page without having imported it, first.  Nothing would happen.  No error at all.  Then I put in a breakpoint and stepped in and it went into some can-zone error handler.  Similar errors have occurred on both of my current client projects.  In another scenario, there was an error wit

[2017-10-13 18:47] matthewp commented on #1035
After talking about the guide with @justinbmeyer and @BigAB we decided to make a change to incremental rendering reattachment to make it done automatically without development interaction. These issues track changes we are working on:

# Issues

* [x] - [Prevent evaled code in can-zone-jsdom](https://github.com/canjs/can-zone-jsdom/issues/6) from being leaking global variables.
* [x] - [Make pushM

[2017-10-16 15:34] matthewp opened #1037 "SSR Zone Epic"
done-ssr 1.2.0 includes new Zones that bring the power of SSR out of its internals and exposed so that people can use them directly. Note that this might be part of another project eventually.

In working on an SSR React presentation it was decided to change the API for incremental rendering, so that the user doesn't have to call a reattachment function. This changed the API, so a few things need

[2017-10-18 20:10] matthewp commented on #1037
@BigAB I have added the basic SSR stuff to the `ssr` branch in my fork: https://github.com/matthewp/react-with-steal-and-ssr-demo/tree/ssr

I'm now working on incremental rendering.

[2017-10-19 07:06] frank-dspeed commented on #1035
@matthewp idea about loading of iles with dynamic names via a smal loader file that requires the hashed file name.

```<script src="requiring.js">```

[2017-10-19 18:45] greenkeeper[bot] opened #1038 "An in-range update of q is breaking the build 🚨"
## Version **1.5.1** of [q](https://github.com/kriskowal/q) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/donejs/donejs/compare/greenkeeper%2Fq-1.5.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      q
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version
    </td>
    <

[2017-10-19 19:12] matthewp commented on #1037
@BigAB this commit: https://github.com/matthewp/react-with-steal-and-ssr-demo/commit/289fa1de55ebaaca0bc3b671acc84bc39e719bbd

Contains everything needed for incremental rendering. Mostly just using pushMutations() and donejs-spdy.

I'm going to work on some of the other issues now (you're app should be unblocked though).

[2017-10-19 20:59] Psykoral opened #1039 "can-dynamic-import tag breaks auto-reload in the modlet"
__How often can you reproduce it?__

- [X] Always
- [ ] Sometimes
- [ ] Rarely
- [ ] Unable
- [ ] I didn’t try

__Description:__
Using `<can-dynamic-import>` to import a modlet effectively disables the build from watching files in the imported modlet for changes.

__Steps to reproduce:__

In `index.stache` we use `<can-dynamic-import>` to import a myapp/components/footer/ modlet:
[code]

- If chan

[2017-10-20 14:54] matthewp opened #1040 "The website throws an error related to the donejs survey component"
I am experiencing this locally as well.

[code]

[2017-10-23 13:02] matthewp commented on #1037
@frank-dspeed I honestly don't understand what you're asking for, but it sounds like you want to discuss some compile-to-HTML idea that you have. That's cool, but this issue isn't the right place for that. If you want to open a new issue about this compile-to-HTML idea we can discuss it there.

[2017-10-23 16:34] chasenlehara commented on #1040
I think this is the relevant line that’s causing the error:

<img width="515" alt="screen shot 2017-10-23 at 9 31 37 am" src="https://user-images.githubusercontent.com/10070176/31901022-2467527e-b7d5-11e7-9354-8af64ade28ff.png">

It looks like that is causing the control to be called as a function ([here’s where the control is exported](https://github.com/donejs/survey-ad/blob/b4d430ca5e60eb5a5886

[2017-10-23 16:35] matthewp commented on #1040
@chasenlehara  I have a fix in https://github.com/donejs/survey-ad/pull/2

[2017-10-23 16:48] chasenlehara commented on #1040
That’s what I get for sequentially responding to my emails. 😂

Thanks for the fix; is this issue breaking anything on the site? If not, I’ll update/release/deploy everything next week when we’re prepping for the second survey.

[2017-10-23 18:25] chasenlehara commented on #1036
@Xitstrategies mentioned having this same/similar issue: https://gitter.im/canjs/canjs?at=59e912a1b20c64242923ac83

[2017-10-23 20:00] marshallswain commented on #1036
I believe @justinbmeyer was able to reproduce a similar issue with @bgando.

[2017-10-23 20:54] chasenlehara opened #1041 "New apps shouldn’t have warnings"
When a user generates a new app, there should be no warnings in the browser console, e.g. https://github.com/stealjs/steal/issues/1285

Could we add a test that checks whether a newly-generated app has any warnings?

[2017-10-23 21:02] matthewp commented on #1036
No, I believe the issue she had was because of using socket.io-client rather than steal-socket.io.

[2017-10-24 18:07] frank-dspeed commented on #1008
can be closed i think it was some kind of node_modules mix up latest versions that never happend again

[2017-10-24 18:07] #1008 closed, assigned to nobody

[2017-10-27 17:13] #1035 closed, assigned to BigAB

[2017-10-30 17:02] matthewp commented on #1037
This issue is complete and now tracking in https://github.com/donejs/donejs/issues/787

[2017-10-30 17:02] #1037 closed, assigned to nobody

[2017-10-30 17:03] matthewp commented on #834
Going to close in favor of https://github.com/donejs/donejs/issues/787, of course we will being making future streaming enhancements in the future.